@model ISOStd.Models.QualitySurveyModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Air/Water/Noise Quality Test Survey Info</h4>
    </div>

    <div class="card-body">
        <p>
            Survey Date:
            @if (Model.Survey_date != null && Model.Survey_date > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.Survey_date.ToString("dd/MM/yyyy")
                </code>
            }
            Survey For:<code>
                @Html.DisplayFor(model => model.Survey_for)
            </code>
        </p>
        <p>
            Third Party:<code>
                @Html.DisplayFor(model => model.ThirdParty)
            </code>
            Conducted By:<code>
                @Html.DisplayFor(model => model.ConductedBy)
            </code>
        </p>
        <p>
            Acceptance Criteria:<code>
                @Html.DisplayFor(model => model.Criteria)
            </code>
            Expiry Date:
            @if (Model.ExpDate != null && Model.ExpDate > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.ExpDate.ToString("dd/MM/yyyy HH:mm")
                </code>
            }
        </p>
        <p>
            Review Date:
            @if (Model.ReviewDate != null && Model.ReviewDate > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.ReviewDate.ToString("dd/MM/yyyy HH:mm")
                </code>
            }
            Location:<code>@Html.DisplayFor(model => model.Location) </code>
        </p>
        <p>
            Is it within acceptance criteria:<code>
                @Html.DisplayFor(model => model.IsLimit)
            </code>
            Verified By:<code> @Html.DisplayFor(model => model.VerifiedBy) </code>
        </p>
        @if (Model.IsLimit.ToLower() == "no")
        {

            <p>                
                Remarks:<code> @Html.DisplayFor(model => model.Remarks) </code>
            </p>
        }

    </div>
</div>