@model ISOStd.Models.ReportPDFModels
@{
    ViewBag.Title = "CustComplaintPDFReportFormat";
}

<style>
    .editor-label {
        font-weight: bold;
    }
</style>
@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("CustomerComplaintList", "CustComplaint", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Customer Complaints</span>
                    </a>
                    <span class="breadcrumb-item active">Report Setting</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("CustComplaintPDFReportFormat", "CustComplaint", FormMethod.Post,
                     new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" id="id_complaint" name="id_complaint" value="@ViewBag.id_complaint" />
    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Report Formatting</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <h4 style="text-align:center">Please tick the section requierd in report</h4>
                <br />
                <table class="table table-lg" style="text-align:center;">
                    <tr class="row">
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.review_assign)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.review_assign == "Yes")
                                {
                                    <input type="checkbox" id="review_assign" name="review_assign" value="Yes" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="review_assign" name="review_assign" value="No" />
                                }

                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.immediate_action)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.immediate_action == "Yes")
                                {
                                    <input type="checkbox" id="immediate_action" name="immediate_action" value="Yes" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="immediate_action" name="immediate_action" value="No" />
                                }

                            </div>
                        </td>
                    </tr>
                    @*<tr class="row">
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.team)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.team == "Yes")
                                {
                                    <input type="checkbox" id="team" name="team" value="Yes" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="team" name="team" value="No" />
                                }

                            </div>
                        </td>
                    </tr>*@
                    <tr class="row">
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.rca)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.rca == "Yes")
                                {
                                    <input type="checkbox" id="rca" name="rca" value="Yes" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="rca" name="rca" value="No" />
                                }

                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ca)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.ca == "Yes")
                                {
                                    <input type="checkbox" id="ca" name="ca" value="Yes" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="ca" name="ca" value="No" />
                                }

                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.verification)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.verification == "Yes")
                                {
                                    <input type="checkbox" id="verification" name="verification" value="Yes" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="verification" name="verification" value="No" />
                                }

                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.cust_response)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.cust_response == "Yes")
                                {
                                    <input type="checkbox" id="cust_response" name="cust_response" value="Yes" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="cust_response" name="cust_response" value="No" />
                                }

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            @Html.ActionLink("Back to List", "CustomerComplaintDetails", "CustComplaint",new { id_complaint=ViewBag.id_complaint }, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
            <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400"><i class="icon-checkmark3 mr-2"></i>Generate Report</button>
        </div>
    </div>
}


@section Scripts {
    <script>
        $("input[type=checkbox]").change(function () {
            if ($(this).prop("checked")) {
                $(this).val("Yes");
            } else {
                $(this).val("No");
            }
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


