@model ISOStd.Models.CustEnquiryModels
@{
    Layout = null;
}
<h4 style="text-align:center;border-bottom:1px solid #808080">Customer Enquiry Info</h4>
<p>
    <label><b>Mode of Enquiry:</b></label>@Html.DisplayFor(model => model.mode_enquiry)
    <label><b>Date of Enquiry:</b></label>
    @if (Model.date_enquiry != null && Model.date_enquiry > Convert.ToDateTime("01/01/0001"))
    {
        @Model.date_enquiry.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>Company Name:</b></label>@Html.DisplayFor(model => model.companyname)
    <label><b>Project Name:</b></label>@Html.DisplayFor(model => model.projectname)
</p>
<p>
    <label><b>Location:</b></label>@Html.DisplayFor(model => model.location)
    <label><b>Telephone No:</b></label>@Html.DisplayFor(model => model.telno)
</p>
<p>
    <label><b>Incharge Name:</b></label>@Html.DisplayFor(model => model.incharge)
    <label><b>Sales Incharge:</b></label>@Html.DisplayFor(model => model.sales_incharge)
</p>
<p>
    <label><b>Amount:</b></label>@Html.DisplayFor(model => model.amt)
    <label><b>Date of quoted fax:</b></label>
    @if (Model.date_fax != null && Model.date_fax > Convert.ToDateTime("01/01/0001"))
    {
        @Model.date_fax.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>Ref No:</b></label>@Html.DisplayFor(model => model.ref_no)
    <label><b>Date of LPO Received:</b></label>
    @if (Model.date_lpo != null && Model.date_lpo > Convert.ToDateTime("01/01/0001"))
    {
        @Model.date_lpo.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>LPO No:</b></label>@Html.DisplayFor(model => model.lpo_no)
    <label><b>LPO Amount:</b></label>@Html.DisplayFor(model => model.lpo_amt)
</p>
<p>
    <label><b>Status:</b></label>@Html.DisplayFor(model => model.status)
    
</p>
<p>
    <label><b>Description:</b></label> @Html.Raw(HttpUtility.HtmlDecode(Model.description))
</p>


