@using System.Data
@{
    DataSet dsMasterDoc = new DataSet();

    if (ViewBag.dsMasterDocList != null)
    {
        dsMasterDoc = ViewBag.dsMasterDocList;
    }
    // DataRow[] drRow;
    object drRow = new object();
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
@using (Html.BeginForm("MasterDocumentPrintPdf", "Reports", FormMethod.Post, new { id = "form1", name = "form1" }))
{
    <div class="editor-field" style="float: left;">

        <span id="tab" style="color:#31b0d5;font-weight: bold; padding: 10px;">Search by Company</span>

        <select id="Company" name="Company" multiple style="height: 100px; width: 180px;">
            <option value='' hidden>Select</option>
            @if (ViewBag.Company != null)
            {
                foreach (var item in ViewBag.Company)
                {
                    <option value='@item.Value'>@item.Text</option>

                }
            }
        </select>

        <button type="submit" name="button1" class="btn btn-info" onclick="ProgressIconFunction('#form1')">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
        <button type="submit" name="button2" class="
            " style="width: 85px; height: 33px;background-color: #449d44 !important; padding: 0px;">
            <span class="glyphicon glyphicon-print"></span>Print
        </button>
        <p style="float:right;"><img src="@Url.Content("~/Images/excel.png")" title="Export as Excel" style="cursor:pointer; " id="downloadLink" />Download</p>
    </div>
}
<br />
<br />
<br />

<div id="divPrint" name="divPrint">

    @*<div id="divHeader" style="vertical-align: middle;">

            <table>
                <tr>
                    <td>
                        <p style="float:left;"><img src="@Url.Content("~/Images/excel.png")" title="Export as Excel" style="cursor:pointer; " id="downloadLink" />Download</p>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div id="logo" style="padding-left: 30px;">
                            <img src="@Url.Content(@dsMasterDoc.Tables[0].Rows[0]["logo"].ToString())" style="width: 100px;height: 100px;" />
                        </div>
                    </td>
                    <td style="text-align: center; font-weight: bold;width: 80%;font-size: 16px;">
                        <span>@dsMasterDoc.Tables[0].Rows[0]["CompanyName"].ToString()</span>
                        <br />
                        <span>Master List of Management System Documents‎</span>
                    </td>
                </tr>
            </table>
        </div>*@


    @if (ViewBag.count > 0)
            {
                foreach (var doclevel in ViewBag.lstDocLevels)
                {
            <br />
                <div class="editor-label">
                    <label for="Levels" style="background-color: #4cc4dd; width: 100%; color: white; padding-left: 5px; text-align: center;">Level @doclevel</label>
                </div>
                    <table id="tableReport">
                        <tr style="font-weight: bold;">
                            <th>Company‎</th>
                            <th>Doc‎. ‎Ref‎.‎</th>
                            <th>Document Name‎‎</th>
                            <th>Issue ‎No‎.‎‎</th>
                            <th>Rev‎. No‎.‎‎</th>

                            <th>Document‎ Date‎</th>
                            @*<th>Reviewed Date‎</th>*@
                            <th>Resp Person‎‎</th>
                            <th>Document</th>
                        </tr>
                        @foreach (DataRow data in @dsMasterDoc.Tables[0].Select("doclevels='" + doclevel + "'"))
                        {
                            <tr>
                                <td>@data["Company"].ToString()</td>
                                <td>@data["docref"].ToString()</td>
                                <td>@data["docname"].ToString()</td>
                                <td>@data["issueno"].ToString()</td>
                                <td>@data["revno"].ToString()</td>


                                <td>@Convert.ToDateTime(data["docdate"].ToString()).ToString("dd/MM/yyyy")</td>
                                @*<td>

                                        @if (@data["ReviewedDate"] != null)
                                        {
                                            @Convert.ToDateTime(data["ReviewedDate"].ToString()).ToString("dd/MM/yyyy")
                                        }

                                    </td>*@
                                <td>@data["Resp_person"].ToString()</td>
                                <td>
                                    @if (data["DocUploadPath"].ToString() != "")
                                    {
                                        <a href='@Url.Action("DisplayDocument", "Reports", new { Document = data["DocUploadPath"] })' target="_blank">Preview</a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
        }
    }
    else
    {
        <table>
            <tr>
                <td style="width: 1600px; min-width: 1600px; max-width: 1600px;">
                    <div style="text-align: center;">
                        <h4 style="color: grey;">No data exists</h4>
                    </div>
                </td>
            </tr>
        </table>
    }


</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    function downloadInnerHtml(filename, elId) {
        var $table = $('#tableReport');
        $rows = $table.find('tr');

        var csvData = "";

        for (var i = 0; i < $rows.length; i++) {
            var $cells = $($rows[i]).children('th,td'); //header or content cells

            for (var y = 0; y < $cells.length; y++) {
                if (y > 0) {
                    csvData += ",";
                }

                var txt = ($($cells[y]).text()).toString().trim();

                if (txt.indexOf(',') >= 0 || txt.indexOf('\"') >= 0 || txt.indexOf('\n') >= 0) {
                    txt = "\"" + txt.replace(/\"/g, "\"\"") + "\"";
                }
                csvData += txt;
            }
            csvData += '\n';
        }


        var elHtml = csvData;
        var link = document.createElement('a');
        mimeType = 'application/csv;charset=utf-8';

        link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType + ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click();
    }

    var fileName = 'DashboardSummary.csv'; // You can use the .txt extension if you want

    $('#downloadLink').click(function () {
        downloadInnerHtml(fileName, 'content');
    });



    </script>
}