@model ISOStd.Models.MgmtDocumentsModels
@{
    Layout = null;
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Internal Documents Info</h4>  
    </div>

    <div class="card-body">
     
        <p>
            Division:<code>@Html.DisplayFor(model => model.branch)</code>
            Department:<code>@Html.DisplayFor(model => model.Department)</code>
            Location:<code>@Html.DisplayFor(model => model.Location)</code>
            @if (Model.dcr_no != "")
            {
                <text>DCR Number:</text><code>@Html.DisplayFor(model => model.dcr_no)</code>
            }
            Document Level:<code>@Html.DisplayFor(model => model.DocLevels)</code>
            Document Type:<code>@Html.DisplayFor(model => model.Doctype)</code>
            Document Retention Period:<code>@Html.DisplayFor(model => model.DocRetention)</code>
            Standards:<code>@Html.DisplayFor(model => model.ISOStds)</code>
            Applicable Clauses:<code> @Html.DisplayFor(model => model.AppClauses)</code>
            Document Ref:<code>@Html.DisplayFor(model => model.DocRef)</code>
            Document Name:<code>@Html.DisplayFor(model => model.DocName)</code>
            Issue No:<code>@Html.DisplayFor(model => model.IssueNo)</code>
            Rev No:<code>@Html.DisplayFor(model => model.RevNo)</code>
            Preparer:<code>@Html.DisplayFor(model => model.PreparedBy)</code>
            Reviewer:<code>@Html.DisplayFor(model => model.ReviewedBy)</code>
            Document Date:<code>
                @if (Model.DocDate != null && Model.DocDate > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.DocDate.ToString("dd/MM/yyyy")
                }
            </code> <br />
            Approved Date:<code>
                @if (Model.ApprovedDate != null && Model.ApprovedDate > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.ApprovedDate.ToString("dd/MM/yyyy")
                }
            </code>
            Reviewed Date:<code>
                @if (Model.ReviewedDate != null && Model.ReviewedDate > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.ReviewedDate.ToString("dd/MM/yyyy")
                }
            </code>
            Approver:<code>@Html.DisplayFor(model => model.ApprovedBy)</code><br />

            Approved Status:<code>@Html.DisplayFor(model => model.Approved_Status)</code>
            Uploaded By:<code>@Html.DisplayFor(model => model.UploadedBy)</code>
            Division:<code>@Html.DisplayFor(model => model.branch)</code>
        </p>
    </div>
</div>

