@model ISOStd.Models.DocumentTrackingModels
@{
    ViewBag.Title = "DocTrackingInfo";
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Internal Document Status Tracking Info</h4>
    </div>

    <div class="card-body">
        <p>
            Division:<code>
                @Html.DisplayFor(model => model.branch)
            </code>
        </p>
        <p>Department:<code>@Html.DisplayFor(model => model.Department) </code></p>
        <p>Location:<code>@Html.DisplayFor(model => model.Location) </code></p>
        <p>Type of Document:<code>@Html.DisplayFor(model => model.doctype) </code></p>
        <p>Name of Document:<code>@Html.DisplayFor(model => model.docname) </code></p>
        <p>
            Issue Date:<code>
                @if (Model.issue_date != null && Model.issue_date > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.issue_date.ToString("dd/MM/yyyy")
                }
            </code>
        </p>
        <p>
            Expiry Date:<code>
                @if (Model.exp_date != null && Model.exp_date > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.exp_date.ToString("dd/MM/yyyy")
                }
            </code>
        </p>
        <p>
            Issue Authority</b><code>
                @Html.DisplayFor(model => model.issue_autority)
            </code>
        </p>
        <p>Notification To:<code>@Html.DisplayFor(model => model.NotificationPerson) </code></p>
        <p>
            Notification Period:<code>
                @Html.DisplayFor(model => model.NotificationValue)
                @Html.DisplayFor(model => model.NotificationPeriod)
            </code>
        </p>


    </div>
</div>
