@model ISOStd.Models.LegalRegisterModel

@{
    ViewBag.Title = "ComplianceEvaluationEdit";
    

    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    ISOStd.Models.LegalRegisterModelsList LRList = new ISOStd.Models.LegalRegisterModelsList();
    int itemcount = 0;

    if (ViewBag.Law_article != null)
    {
        LRList = ViewBag.Law_article;
        itemcount = LRList.LegalRegisterMList.Count;
    }
}

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("ComplianceList", "LegalRegister", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Legal Register</span>
                    </a>
                    <span class="breadcrumb-item active">Compliance Evaluation History</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Settings
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
}
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

 

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Compliance Evaluation History</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.branch)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.branch)
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.deptid)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.deptid)
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.Eve_date)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.Eve_date != null && Model.Eve_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Html.DisplayFor(model => model.Eve_date)
                                }
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.Location)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Location)
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-4 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.lawNo)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.lawNo)
                            </div>
                        </td>
                        <td class="col-xs-4 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.lawTitle)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.lawTitle)
                            </div>
                        </td>
                    </tr>
                </table>
                <hr />
                <div> <b>Law Article Details:</b> </div>
                <br />

                <div class="card is-visible" id="hidden_card_count">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Compliance Evaluation Details</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                     
                        <div class="card card-table table-responsive shadow-0 mb-0">
                            <table class="table" id="team-list-count">
                                <tr class="bg-blue">
                                   
                                    <th>Article Date</th>
                                    <th>Article Number</th>
                                    <th>Article Details</th>
                                    <th>Compliance Status</th>
                                    <th>Description</th>
                                    <th>Action To Be Taken</th>
                                    <th>Target Date</th>
                                    <th>Report Date</th>
                                    <th>Personnel Responsible</th>
                                    <th>Upload Document</th>
                                </tr>
                                @if (LRList.LegalRegisterMList != null && LRList.LegalRegisterMList.Count > 0)
                                {
                                    for (int index = 0; index < LRList.LegalRegisterMList.Count; index++)
                                    {
                                        <tr>
                                           
                                            <td>
                                              
                                                <input type='hidden' id='article_date @index' name="article_date @index" value='@LRList.LegalRegisterMList[index].article_date.ToString("yyyy-MM-dd")'>@LRList.LegalRegisterMList[index].article_date.ToString("yyyy-MM-dd")
                                            </td>
                                            <td>
                                                <input type='hidden' id='article_no @index' name="article_no @index" value='@LRList.LegalRegisterMList[index].article_no'>@LRList.LegalRegisterMList[index].article_no
                                            </td>
                                            <td>
                                                <input type='hidden' id='article_detail @index' name="article_detail @index" value='@LRList.LegalRegisterMList[index].article_detail'>@LRList.LegalRegisterMList[index].article_detail
                                            </td>
                                            <td>
                                                @Obj.GetDropdownitemById(LRList.LegalRegisterMList[index].compliance_status)
                                               
                                            </td>
                                            <td>
                                                @LRList.LegalRegisterMList[index].article_desc
                                               
                                            </td>
                                            <td>
                                                @LRList.LegalRegisterMList[index].action_taken
                                              
                                                
                                            </td>
                                            <td>
                                                @if (LRList.LegalRegisterMList[index].target_date != null && LRList.LegalRegisterMList[index].target_date > Convert.ToDateTime("01/01/0001"))
                                                {
                                                   @LRList.LegalRegisterMList[index].target_date.ToString("yyyy-MM-dd")
                                                }
                                                
                                                
                                            </td>
                                            <td>
                                                @if (LRList.LegalRegisterMList[index].report_date != null && LRList.LegalRegisterMList[index].report_date > Convert.ToDateTime("01/01/0001"))
                                                {
                                                    @LRList.LegalRegisterMList[index].report_date.ToString("yyyy-MM-dd")
                                                }

                                            
                                            </td>
                                            <td>
                                                @Obj.GetEmpHrNameById(LRList.LegalRegisterMList[index].person_resp)
                                               
                                            </td>
                                            <td>
                                               
                                                @if (LRList.LegalRegisterMList[index].article_upload != "")
                                                {
                                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = LRList.LegalRegisterMList[index].article_upload })' target="_blank">Preview</a>
                                                }
                                               
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            @Html.ActionLink("Back to List", "ComplianceList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
            <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')" @*onclick="Validationstatus()"*@><i class="icon-checkmark3 mr-2"></i> Add</button>
        </div>
    </div>
    <div id="dvItems" style="overflow: auto; display: none;">
        <table id="team-list" style="width: 100%">
            <tr>
                <th>Upload</th>
            </tr>
        </table>
    </div>


@section Scripts {
    <script>

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}



