@model ISOStd.Models.SupplierDiscrepencyLogModels
@{
    Layout = null;
}
<h4 style="text-align:center;border-bottom:1px solid #808080">Supplier Discrepancy Info</h4>
<p><label><b>Supplier Name:</b></label>@Html.DisplayFor(model => model.SupplierId)</p>
<p><label><b>Discrepency Logged Date:</b></label>
     @if (Model.Discrepency_LoggedDate != null && Model.Discrepency_LoggedDate > Convert.ToDateTime("01/01/0001"))
             {
                 @Model.Discrepency_LoggedDate.ToString("dd/MM/yyyy")
             }
</p>
<p><label><b>PO Number:</b></label>@Html.DisplayFor(model => model.PONo)</p>
<p><label><b>Description of Supplier Discrepancies:</b></label>@Html.DisplayFor(model => model.Discrepency_Desc)</p>
<p><label><b>Action Taken:</b></label>@Html.DisplayFor(model => model.ActionTaken)</p>
