@model ISOStd.Models.MgmtDocumentsModels

@{
    ViewBag.Title = "AnnexureDetails";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
}

@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("MgmtDocumentsList", "MgmtDocuments", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Internal Documents</span>
                    </a>
                    <span class="breadcrumb-item active">Annexure Details </span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>


}

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Annexure Details</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>

        <div class="card-body">

            <div class="mt-2 mt-sm-0">

                @if (Obj.GetCurrentUserSession().InternalDoc.Contains("3"))
                {
                    <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("AnnexureEdit", "MgmtDocuments", new { idAnnexure = Model.idAnnexure })' title="ADd Annexure" onclick="HyperLinkProgressIconFunction()">
                        <b>  <i class="icon-add-to-list"></i></b> Edit
                    </a>
                }
                <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("AnnexureList", "MgmtDocuments", new { idMgmt = Model.idMgmt.ToString() })' title="View Annexure List" onclick="HyperLinkProgressIconFunction()">
                    <b>  <i class="icon-list3"></i></b> Back to List
                </a>


            </div>
        </div>

        <div class="container-fluid">
            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                <thead></thead>
                <tbody>
                    <tr>
                        <th colspan="4">
                            <h5>For Document: @ViewBag.GetDocType</h5>
                            <input type="hidden" id="idMgmt" name="idMgmt" value="@ViewBag.idMgmt" />
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.DocRef)
                            </p>
                        </td>
                        <td>
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.DocRef)
                            </span>
                        </td>

                        <td>
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.DocName)
                            </p>
                        </td>
                        <td>
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.DocName)
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.IssueNo)
                            </p>
                        </td>
                        <td>
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.IssueNo)
                            </span>
                        </td>
                        <td>
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.RevNo)
                            </p>
                        </td>
                        <td>
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.RevNo)
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="bg-brown py-1 px-2 rounded nowrap">
                                @Html.DisplayNameFor(model => model.PreparedBy)
                            </p>
                        </td>
                        <td>
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.PreparedBy)
                            </span>
                        </td>
                        <td>
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ApprovedBy)
                            </p>
                        </td>
                        <td>
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ApprovedBy)
                            </span>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.DocDate)
                            </p>
                        </td>
                        <td>
                            <span class="bg-dark py-1 px-2 rounded">
                                @if (Model.DocDate != null && Model.DocDate > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Model.DocDate.ToString("dd/MM/yyyy")
                                }
                            </span>
                        </td>

                        @if (Obj.GetCurrentUserSession().InternalDoc.Contains("4"))
                        {
                            <td>
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.DocUploadPath)
                                </p>
                            </td>
                            <td>
                                @if (Model.DocUploadPath != "")
                                {
                                    <span class="bg-dark py-1 px-2 rounded">
                                        <a href='@Url.Action("DisplayDocument", "Reports", new { Document = Model.DocUploadPath })' target="_blank" class="text-orange-800">Preview</a>
                                    </span>
                                }
                            </td>
                        }
                    </tr>
                </tbody>

            </table>

        </div>
    </div>






        @section Scripts {
            <script>
                      //----zzz
    $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });
    //zzz----


            </script>

        }
