
@using ISOStd.Models;

@{
    ViewBag.Title = "IncidentReportPDF";

    ISOStd.Models.ManHourModels obj = new ISOStd.Models.ManHourModels();

    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    if (ViewBag.Manpower != null)
    {
        obj = ViewBag.Manpower;
    }
}

<STYLE TYPE="text/css">
    .breakhere {
        page-break-after: always
    }
</STYLE>

<div class="bp-header__main">
    <img style="width:250px; height:70px;" src='@Url.Content("~/Images/companylogo.png")' />
</div>



<div>

    <h1 class="mb-0 text-center">Resource Consumption Report</h1>
    <table class="table table-lg">
        <tr>
            <td>
                <b>
                    Month
                </b>
            </td>
            <td>
                <div>
                    @obj.t_month
                </div>
            </td>
            <td>
                <b>
                    Year
                </b>
            </td>
            <td>
                <div>
                    @obj.t_year
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Location
                </b>
            </td>
            <td>
                <div>
                    @obj.location
                </div>
            </td>
            <td>
                <b>
                    Project
                </b>
            </td>
            <td>
                <div>
                    @obj.project
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Numbers of Employees
                </b>
            </td>
            <td>
                <div>
                    @obj.man_power
                </div>
            </td>
            <td>
                <b>
                    Total hrs worked (Regular) Hrs/Days
                </b>
            </td>
            <td>
                <div>
                    @obj.man_hour
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Total hrs worked (OT) Hrs/Days
                </b>
            </td>
            <td>
                <div>
                    @obj.man_hour
                </div>
            </td>
            <td>
                <b>
                    Restricted /Modified Days
                </b>
            </td>
            <td>
                <div>
                    @obj.restrict_days
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Fuel Consumption
                </b>
            </td>
            <td>
                <div>
                    @obj.fuel_consump
                    @obj.fuelunit
                </div>
            </td>

            <td>
                <b>
                    Water Consumption
                </b>
            </td>
            <td>
                <div>
                    @obj.water_consump
                    @obj.waterunit
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Paper Consumption
                </b>
            </td>
            <td>
                <div>
                    @obj.paper_consump
                    @obj.paperunit
                </div>
            </td>
     
            <td>
                <b>
                    Qty of solid based
                </b>
            </td>
            <td colspan="3">
                <div>
                    @obj.qty_solid
                    @obj.solidunit
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Electricity Consumption
                </b>
            </td>
            <td colspan="3">
                <div>
                    @obj.electricity_consump
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Prepared By
                </b>
            </td>
            <td>
                <div>
                    @obj.preparedby
                </div>
            </td>
            <td>
                <b>
                    Reviewed By
                </b>
            </td>
            <td>
                <div>
                    @obj.reviewedby
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Comments
                </b>
            </td>
            <td  colspan="3">
                <div>
                    @obj.comments
                </div>
            </td>

        </tr>

    </table>
</div>