@model ISOStd.Models.SalaryAdvanceDeductionModels

@{
    ViewBag.Title = "SalaryAdvanceDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Salary Advance Details </span>
</div>
<div class = "ActionLink">
    @Html.ActionLink("Edit", "SalaryAdvanceEdit", new { EmpId= ViewBag.EmpId, Advance_AmtId= Model.Advance_AmtId }, new { @class = "ActionLink" })
    @Html.ActionLink("Back to List", "SalaryAdvanceList", new { EmpId= ViewBag.EmpId}, new { @class = "ActionLink" })
</div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green;">@TempData["Successdata"]</span>
        }
    </div>

<fieldset>
    <legend>SalaryAdvanceDeductionModels</legend>
    <div id="content">
        <table id="tabcontent">
            <tr>
                <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.EmpId)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EmpId)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Adv_Amt)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Adv_Amt)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Num_Installment)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Num_Installment)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Deduction_Amt)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Deduction_Amt)
                    </div>
                </td>
            </tr>

            <tr>

                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Balance_Amt)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Balance_Amt)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.TransDate)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Model.TransDate.ToString("yyyy/MM/dd")
                    </div>
                </td>
            </tr>

            <tr>

                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ProcessedBy)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ProcessedBy)
                    </div>

                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Details)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Details)
                    </div>

                </td>
            </tr>
        </table>
    </div>
</fieldset>
