@model ISOStd.Models.RiskRegisterActivityEvaluationModels

@{
    ViewBag.Title = "AddRiskRegisterActivityEvaluation";
}
@section featured {




    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>


        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                 
                    <a class="breadcrumb-item" onclick="HyperLinkProgressIconFunction();" href='@Url.Action("RiskRegisterActivityEvaluationList", "RiskRegisterActivity", new  {   Risk_Reg_Activity_Id = ViewBag.ActivityId  } )'>
                        <span class="breadcrumb-item">  Risk Register Activity Evaluation List</span>
                    </a>
                    <span class="breadcrumb-item active"> Add Risk Register Activity Evaluation</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}





@using (Html.BeginForm("AddRiskRegisterActivityEvaluation", "RiskRegisterActivity", FormMethod.Post, new { id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">Add Risk Register Activity Evaluation</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">


            <input type="hidden" id="Risk_Reg_Activity_Id" name="Risk_Reg_Activity_Id" value="@ViewBag.ActivityId" />
            <table class="table table-lg">

                <tbody>

                    <tr class="row">
                        <td class="col" colspan="4" style="background-color: #4cc4dd; color: #fff; font-weight: bold;">Risk Activity Details</td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="display-label">
                                @Html.LabelFor(model => model.DeptId)
                            </div>
                        </td>
                        <td class="col">
                            <div class="display-field">
                                <b>   @Html.DisplayFor(model => model.DeptId)</b>
                            </div>
                        </td>

                        @*  <td>
            <div class="display-label">
                @Html.LabelFor(model => model.Activity_No)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Activity_No)
            </div>
        </td>*@
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="display-label">
                                @Html.LabelFor(model => model.Activity)
                            </div>
                        </td>
                        <td class="col">
                            <div class="display-field">
                                <b>   @Html.DisplayFor(model => model.Activity)</b>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="display-label">
                                @Html.LabelFor(model => model.Activity_Category)
                            </div>
                        </td>
                        <td class="col">
                            <div class="display-field">
                                <b>    @Html.DisplayFor(model => model.Activity_Category)</b>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="display-label">
                                @Html.LabelFor(model => model.Risk_Type)
                            </div>
                        </td>
                        <td class="col">
                            <div class="display-field">
                                <b>       @Html.DisplayFor(model => model.Risk_Type)</b>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="display-label">
                                @Html.LabelFor(model => model.Activity_Status)
                            </div>
                        </td>
                        <td class="col">
                            <div class="display-field">
                                <b>      @Html.DisplayFor(model => model.Activity_Status)
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col" colspan="4" style="background-color: #4cc4dd; color: #fff; font-weight: bold;">Risk Activity Evaluation</td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.hazard)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="hazard" name="hazard"></textarea>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Consequence)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="Consequence" name="Consequence"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Severity)<text style="color:red;">*</text>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="Severity" name="Severity" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.RiskSeverity != null)
                                    {
                                        foreach (var item in ViewBag.RiskSeverity)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Probability)<text style="color:red;">*</text>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="Probability" name="Probability" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.RiskProbability != null)
                                    {
                                        foreach (var item in ViewBag.RiskProbability)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td colspan="4" class="col">
                            <div class="editor-label">
                                <a href="#" data-toggle="popover" data-trigger="hover">Environmental Matrix</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Cur_Opt_Ctrl)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="Cur_Opt_Ctrl" name="Cur_Opt_Ctrl"></textarea>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Appl_law)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="Appl_law" name="Appl_law">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.ApplLaw != null)
                                    {
                                        foreach (var item in ViewBag.ApplLaw)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Action_TakenBy)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="Action_TakenBy" name="Action_TakenBy" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.EmpLists != null)
                                    {
                                        foreach (var item in ViewBag.EmpLists)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Eval_Date)<text style="color:red;">*</text>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="date" id="Eval_Date" name="Eval_Date" required class="form-control" />
                            </div>
                        </td>

                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ReEval_Date)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="date" id="ReEval_Date" name="ReEval_Date" class="form-control" onchange="checkDate2();" />

                            </div>
                        </td>
                        
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Reviewer_QHSE)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="Reviewer_QHSE" name="Reviewer_QHSE" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.Employee != null)
                                    {
                                        foreach (var item in ViewBag.Employee)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ApprovedBy)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="ApprovedBy" name="ApprovedBy" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.Employee != null)
                                    {
                                        foreach (var item in ViewBag.Employee)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>

                    </tr>


</table>
        </div>

    </div>
    

    <div class="card-footer bg-white d-flex justify-content-between align-items-center">

        @Html.ActionLink("Back to List", "RiskRegisterActivityEvaluationList", new { Risk_Reg_Activity_Id = ViewBag.ActivityId }, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })

        <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Save</button>

       
    </div>
</div>
  
}


@section Scripts {

    <script>



        //----zzz
    $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });
    //zzz----


        $(document).ready(function () {

            $('[data-toggle="popover"]').popover({

                title: setData,
                html: true,
                placement: 'right',
                container: 'body'
            });

            function setData() {
                var set_data = '';
                var element = $(this);

                $.ajax({
                    url: '@Url.Action("EnvironmentalMatrix", "RiskRegisterActivity")',
                    methos: "post",
                    async: false,
                    success: function (data) {
                        set_data = data;
                    }

                });
                return set_data;
            }
       });
       

         

         




        function checkDate() {


            var dt2 = document.getElementById("Due_Date").value;
            var dt1 = document.getElementById("Eval_Date").value;

            if (new Date(dt2).getTime() < new Date(dt1).getTime()) {

                bootbox.alert({
                    title: 'Due date',
                    message: 'Due date cannot be before Evalaution date.'
                });
                $('#Due_Date').val("");
            }
        }



        function checkDate2() {


            var dt2 = document.getElementById("ReEval_Date").value;
            var dt1 = document.getElementById("Eval_Date").value;

            if (new Date(dt2).getTime() < new Date(dt1).getTime()) {

                bootbox.alert({
                    title: 'Re Evaluation Date',
                    message: 'Re Evaluation date cannot be before Evaluation Date.'
                });
                $('#ReEval_Date').val("");
            }
        }
    
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
