@model ISOStd.Models.NCRCAPAModels
@using System.Data

@{
    ViewBag.Title = "NCRDetails";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
}


@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("NCRActionList", "NCRCAPA",  new { CAR_ID = Model.CAR_ID })" class="breadcrumb-item">
                        <span class="breadcrumb-item"> NCR Action  List</span>
                    </a>
                    <span class="breadcrumb-item active"> NCR Action Details</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">NCR Action Details</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                    <thead></thead>
                    <tbody>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.NCR_CORRECTION_DESC)
                                </p>
                            </td>
                            <td class="col" colspan="3">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.NCR_CORRECTION_DESC)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">

                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Correction_taken_on)
                                </p>

                            </td>
                            <td class="col">

                                @if (Model.Correction_taken_on != null && Model.Correction_taken_on > Convert.ToDateTime("01/01/0001"))
                                {
                                    <span class="bg-dark py-1 px-2 rounded">
                                        @Html.Label(Model.Correction_taken_on.ToString("dd/MM/yyyy"))
                                    </span>
                                }


                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">

                                    @Html.DisplayNameFor(model => model.Correction_taken_by)
                                </p>
                            </td>
                            <td class="col">
                                <span class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Correction_taken_by)
                                </span>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.RootCause_Invtiresult)
                                </p>
                            </td>
                            <td class="col" colspan="3">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.RootCause_Invtiresult)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">

                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.CAPA_Need)
                                </p>
                            </td>
                            <td class="col">
                                <span class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.CAPA_Need)
                                </span>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.CAPA_DESC)
                                </p>
                            </td>
                            <td class="col" colspan="3">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.CAPA_DESC)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">

                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.CA_Impl_On)
                                </p>
                            </td>
                            <td class="col">

                                @if (Model.CA_Impl_On != null && Model.CA_Impl_On > Convert.ToDateTime("01/01/0001"))
                                {
                                    <span class="bg-dark py-1 px-2 rounded">
                                        @Html.Label(Model.CA_Impl_On.ToString("dd/MM/yyyy"))
                                    </span>
                                }

                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.CA_Proposed_By)
                                </p>

                            </td>
                            <td class="col">
                                <span class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.CA_Proposed_By)
                                </span>
                            </td>

                        </tr>
                        @if (Obj.GetCurrentUserSession().RaiseNc.Contains("4"))
                        {
                            <tr class="row">
                                <td class="col-xs-3 col-md-2">
                                    <p class="bg-brown py-1 px-2 rounded">
                                        @Html.DisplayNameFor(model => model.upload)
                                    </p>

                                </td>
                                <td class="col">

                                    @if (Model.upload != null && Model.upload != "" && Model.upload.Length > 0)
                                    {
                                        foreach (var docs in Model.upload.Trim(',').Split(','))
                                        {
                                            <p>
                                                <span class="bg-dark py-1 px-2 rounded">

                                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank" style="color: orange;">
                                                        @System.IO.Path.GetFileName(docs)
                                                    </a>
                                                </span>
                                            </p>
                                        }
                                    }

                                </td>

                            </tr>
                        }

                    </tbody>

                </table>

            </div>
        </div>

    </div>




    @section scripts {


        <script type="text/javascript">

                        //----zzz
    $(document).ready(function () {

        @if (TempData["alertdata"] != null ) {

           @: new Noty({
           @:     text: '@TempData["alertdata"]',
           @:     type: 'error'
           @: }).show();
        }

        @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
         @:       text: '@TempData["Successdata"]',
         @:       type: 'success'
         @:   }).show();
        }
    });
    //zzz----


        </script>

    }
