@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">                  
                    <span class="breadcrumb-item active"><i class="icon-stats-dots mr-2"> </i>Performance Dashboard</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                  <div class="breadcrumb justify-content-center">
                    <div class="float-right">
                        <a class="btn btn-outline bg-orange text-orange border-orange btn-ladda btn-ladda-progress ladda-button" data-style="radius" href="@Url.Action("Index", "Home", null)" title="QHSE Planner">
                            <i class="icon-calendar mr-2"> </i> QHSE Planner
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-outline bg-orange text-orange border-orange btn-ladda btn-ladda-progress ladda-button" data-style="radius" href="@Url.Action("Documents", "Documents", null)" title="Document Dashboard">
                            <i class="icon-archive mr-2"> </i> Document Dashboard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
}


<div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
        Management System Summary
    </h6>

</div>
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-blue-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="empcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Active Employees</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-people icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-indigo-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="auditcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Internal Audits</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-profile icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-success-400 has-bg-image">
            <div class="media">


                <div class="media-body">
                    <h3 id="nccnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Open NCS</span>
                </div>

                <div class="mr-3 align-self-center">
                    <i class="icon-drawer icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-danger-400 has-bg-image">
            <div class="media">

                <div class="media-body">
                    <h3 id="riskcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Identified Risks</span>
                </div>
                <div class="mr-3 align-self-center">
                    <i class="icon-warning22 icon-3x opacity-75"></i>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-teal-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="doccnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Number Of Documents</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-stack icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-orange-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="custcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Number Of Customers</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-users4 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-slate-400 has-bg-image">
            <div class="media">

                <div class="media-body">
                    <h3 id="supcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Approved Suppliers</span>
                </div>

                <div class="mr-3 align-self-center">
                    <i class="icon-truck icon-3x opacity-75"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-violet-400 has-bg-image">
            <div class="media">

                <div class="media-body">
                    <h3 id="Evesupcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Evaluated Suppliers</span>
                </div>

                <div class="mr-3 align-self-center">
                    <i class="icon-reading icon-3x opacity-75"></i>
                </div>

            </div>
        </div>
    </div>
</div>


<hr />
<div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
        Action Tracking Summary
    </h6>
</div>
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-brown-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="extauditcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">External Audit</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-stack3 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-green-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="incidentcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Incident Reports</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-accessibility2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-grey-400 has-bg-image">
            <div class="media">


                <div class="media-body">
                    <h3 id="interauditcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Internal Audit</span>
                </div>

                <div class="mr-3 align-self-center">
                    <i class="icon-stack2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-pink-400 has-bg-image">
            <div class="media">

                <div class="media-body">
                    <h3 id="meetingcnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Meetings</span>
                </div>
                <div class="mr-3 align-self-center">
                    <i class="icon-users4 icon-3x opacity-75"></i>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-danger-400 has-bg-image">
            <div class="media">

                <div class="media-body">
                    <h3 id="nearmisscnt" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Near Miss</span>
                </div>
                <div class="mr-3 align-self-center">
                    <i class="icon-strategy icon-3x opacity-75"></i>
                </div>

            </div>
        </div>
    </div>
</div>


<hr />

<!-- Basic donut with legend -->
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card card-body text-center">
            <h6 class="font-weight-semibold mb-0 mt-1">
                Documents(By Document Type)
            </h6>
            <div class="svg-center" id="donut_basic_legend"></div>
        </div>

    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body text-center">
            <h6 class="font-weight-semibold mb-0 mt-1">
                Trainings
            </h6>


            <div class="svg-center" id="donut_basic_legend2"></div>
        </div>
    </div>



    <div class="col-sm-6 col-xl-3">

        <div class="card card-body text-center">
            <h6 class="font-weight-semibold mb-0 mt-1">
                Non Conformances(By Department)
            </h6>


            <div class="svg-center" id="donut_basic_legend3"></div>
        </div>
    </div>
</div>

<!-- /basic donut with legend -->
@*<div class="card text-primary border-primary">
        <div class="card-header">
            Non Conformances(By Department)
        </div>
        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="ncchart"></div>
            </div>
        </div>
    </div>*@
@*<div class="card text-primary border-primary">
        <div class="card-header">
            Documents(By Document Type)
        </div>
        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="docchart"></div>
            </div>
        </div>
    </div>*@



<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"> Customer Complaints (By Monthly)</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="chart-container">
            <div class="chart has-fixed-height" id="complchart"></div>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">HSE INDICATORS</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>

                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <ul class="nav nav-tabs  nav-justified border-0">
            <li class="nav-tabs"><a href="#solid-justified-tab1" class="nav-link active" data-toggle="tab">HSE Inspection</a></li>
            <li class="nav-tabs"><a href="#solid-justified-tab2" class="nav-link" data-toggle="tab">Leading HSE Indicator</a></li>
            <li class="nav-tabs"><a href="#solid-justified-tab3" class="nav-link" data-toggle="tab">Lagging HSE Indicator</a></li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="solid-justified-tab1">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="hseinsp"></div>
                </div>
            </div>

            <div class="tab-pane fade" id="solid-justified-tab2">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="hseleading"></div>
                </div>
            </div>

            <div class="tab-pane fade" id="solid-justified-tab3">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="hselagging"></div>
                </div>
            </div>


        </div>
    </div>
</div>


@*<div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">  Leading HSE Indicator</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="hseleading"></div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">  Lagging HSE Indicator</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="hselagging"></div>
            </div>
        </div>
    </div>*@



@*<div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"> Customer Complaints (By Monthly)</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="hseobjectv"></div>
            </div>
        </div>
    </div>*@

@*<div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">HSE Inspection</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="hseinsp"></div>
            </div>
        </div>
    </div>*@
@*<div class="card-deck bg-secondary py-2">

        <div class="card text-primary border-primary">
            <div class="card-header">
                Risk Management
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="risk"></div>
                </div>
            </div>
        </div>
        <div class="card text-primary border-primary">
            <div class="card-header">
                HSE Inspection
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="hseinsp"></div>
                </div>
            </div>
        </div>
    </div>*@


<div class="card-body">
    <div class="chart-container">

        <ul class="nav nav-tabs  nav-justified border-0">
            <li class="nav-tabs"><a href="#solid-justified-tabs1" class="nav-link active" data-toggle="tab">BreakDown and Preventive Maintenances</a></li>
            <li class="nav-tabs"><a href="#solid-justified-tabs2" class="nav-link" data-toggle="tab">Calibration</a></li>
        </ul>

        @*<div class="chart has-fixed-height" id="BPMaintenanceV"></div>*@

        <div class="tab-content">
            <div class="tab-pane fade show active" id="solid-justified-tabs1">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="BPMaintenanceV"></div>
                </div>
            </div>

            <div class="tab-pane fade" id="solid-justified-tabs2">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id=""></div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">   BreakDown and Preventive Maintenance</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="BPMaintenanceV"></div>
            </div>
        </div>
    </div>*@

@*<div class="card text-primary border-primary">
        <div class="card-header">
            Trainings
        </div>
        <div class="card-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="Trainingchart"></div>
            </div>
        </div>
    </div>*@

@*<div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">QUALITY CONTROL</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs  nav-justified border-0">
                <li class="nav-tabs"><a href="#solid-justified-tab1" class="nav-link active" data-toggle="tab">Mix Designs</a></li>
                <li class="nav-tabs"><a href="#solid-justified-tab2" class="nav-link" data-toggle="tab">Materials Tests Charts</a></li>
                <li class="nav-tabs"><a href="#solid-justified-tab3" class="nav-link" data-toggle="tab">Concrete Cubes Register</a></li>
                <li class="nav-tabs"><a href="#solid-justified-tab4" class="nav-link" data-toggle="tab">Concrete Load Inspections</a></li>
                <li class="nav-tabs"><a href="#solid-justified-tab5" class="nav-link" data-toggle="tab">Technicians Scheduling</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="solid-justified-tab1">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="QC1"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="solid-justified-tab2">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="QC2"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="solid-justified-tab3">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="QC3"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="solid-justified-tab4">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="QC4"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="solid-justified-tab5">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="QC5"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>*@


@*<hr />
<div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
        Quality Control
    </h6>
</div>
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-brown-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="qc1" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Mix Designs</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-stack3 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-green-400 has-bg-image">
            <div class="media">
                <div class="media-body">
                    <h3 id="qc2" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Materials Tests Charts</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-accessibility2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-grey-400 has-bg-image">
            <div class="media">


                <div class="media-body">
                    <h3 id="qc3" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Concrete Cubes Register</span>
                </div>

                <div class="mr-3 align-self-center">
                    <i class="icon-stack2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-pink-400 has-bg-image">
            <div class="media">

                <div class="media-body">
                    <h3 id="qc4" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Concrete Load Inspections</span>
                </div>
                <div class="mr-3 align-self-center">
                    <i class="icon-users4 icon-3x opacity-75"></i>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-6 col-xl-3">
        <div class="card card-body bg-danger-400 has-bg-image">
            <div class="media">

                <div class="media-body">
                    <h3 id="qc5" class="mb-0"></h3>
                    <span class="text-uppercase font-size-xs">Technicians Scheduling</span>
                </div>
                <div class="mr-3 align-self-center">
                    <i class="icon-strategy icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>
</div>*@


@section Scripts {

    <script>

       var summary = {
           summaryUrl: '@Url.Action("GetSummaryReport","Home")'
        }



    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src='@Url.Content("~/Charts/js/dashboard.js")'></script>

}
