@model ISOStd.Models.RoleModels


@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>

        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("RoleList", "Role", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Roles</span>
                    </a>
                    <span class="breadcrumb-item active">Update Role</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i>All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}


@using (Html.BeginForm("RoleEdit", "Role", FormMethod.Post,
                         new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <input type="hidden" id="Id" name="Id" value="@Model.Id" />

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Update Role </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">

                <table class="table table-lg">
                   
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                               Role Name<text style="color: red;">*</text>
                            </div>
                        </td>
                        <td class="col-xs-9 col-md-4">
                            <div class="editor-field">
				               <input class="form-control" type="text" id="RoleName" name="RoleName" value="@Model.RoleName" required />
                            </div>
                        </td>      
                         @*<td class="col-xs-3 col-md-2">
                                            <div class="editor-label">
                                               Applicable to all Branches<text style="color:red;">*</text>
                                            </div>
                                       </td>
                                       <td class="col">
                                             <div class="editor-field">
                                                 @if (ViewBag.YesNo != null)
                                                {
                                                    foreach (var item in ViewBag.YesNo)
                                                    {
                                                        if (item == Model.appl_branch)
                                                        {
                                                             <input type="radio" name="appl_branch" id="appl_branch" data-name='@item' value='@item' checked required /> @item
                                                        }
                                                        else
                                                        {
                                                             <input type="radio" name="appl_branch" id="appl_branch" data-name='@item' value='@item'  required /> @item
                                                        }
                                                       
                                                    }
                                                }
                                             </div>
                                        </td>*@                
                    </tr>
                
                </table>
            </div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            @Html.ActionLink("Back to List", "RoleList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })

            <button type="submit" id="btnCreate" value="Update" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i>Update</button>
        </div>
    </div>
}

   @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
             </script>

    }
