@model ISOStd.Models.AuditProcessModels

@{
    ViewBag.Title = "AuditPlan";
}




@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("AuditProcessList", "AuditProcess", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">External Auditor List</span>
                    </a>
                    <span class="breadcrumb-item active">Add External Auditor </span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

}

@using (Html.BeginForm("", "AuditProcess", FormMethod.Post,
                     new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Audit Plan Creation</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">

                <table class="table table-lg">
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Auditor Number <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            First Name <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Middle Name <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Last Name <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Emirates Id No <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>

                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Entity <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Email_Id <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Contact No <text style="color: red;">*</text>
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            Alternative Contact No
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <input class="form-control" type='text' id='AuditDate' name="AuditDate" />

                            </div>
                        </td>

                    </tr>





                    @*<tr class="row" id="justifyrow" style="display:none">
                <td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.justify)
                    </div>
                </td>

                <td class="col">
                    <div class="editor-field">
                        <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="justify" name="justify"></textarea>
                    </div>
                </td>
            </tr>*@
                </table>

                <br />
                @*Audit team Details*@

                <fieldset class="border p-2">
                    <legend class="font-weight-semibold"><i class="icon-file-text mr-2"></i>Competence Details</legend>
                    <table class="table table-lg" id="table1">

                        <tbody>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    Academic Qualification
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader"  type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    Years of Experience
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader"  type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </fieldset>
                <fieldset class="border p-2">
                    <legend class="font-weight-semibold"><i class="icon-file-text mr-2"></i>LA Certificates</legend>
                    <table class="table table-lg" id="table1">

                        <tbody>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 9001
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 14001
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 27001
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 45001
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 31000
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 39001
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 50001
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">
                                    ISO 55001
                                </td>
                                <td class="col-xs-6 col-md-4">
                                    <div class="editor-field">
                                        <input class="bootstrap-uploader" type='file' id='AuditDate' name="AuditDate" />

                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </fieldset>

            </div>


            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                @Html.ActionLink("Back to List", "ExternalAuditorList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
                <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400"><i class="icon-checkmark3 mr-2"></i> Save Details</button>
            </div>
        </div>
    </div>
}




