@model ISOStd.Models.RiskMgmtModels

@{
    ViewBag.Title = "";
    DateTime today = DateTime.Now;
}

<script src='@Url.Content("~/global_assets/js/demo_pages/Riskmgmt_form_wizard.js")'></script>

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("RiskList", "RiskMgmt", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Quality Related Risk</span>
                    </a>
                    <span class="breadcrumb-item active">Report Quality Related Risk</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}
<!-- Basic setup -->
@using (Html.BeginForm("AddRisk", "RiskMgmt", FormMethod.Post,
                                 new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">Report Quality Related Risk</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
  
                    <table class="table table-lg">
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                @Html.DisplayNameFor(model => model.branch_id)<text style="color: red;">*</text>
                            </td>
                            <td class="col">
                                <select class="form-control-select3" data-fouc id="branch_id" name="branch_id" multiple="multiple" onchange="GetDeptList()" required>
                                    @if (ViewBag.Branch != null)
                                    {
                                        foreach (var data in ViewBag.Branch)
                                        {
                                            if (Array.IndexOf(Model.branch_id.ToString().Split(','), data.Value) >= 0)
                                            {
                                                <option value='@data.Value' selected>@data.Text</option>
                                            }
                                            else
                                            {
                                                <option value='@data.Value'>@data.Text</option>
                                            }
                                        }
                                    }
                                </select>

                            </td>
                            <td class="col-xs-3 col-md-2">
                                @Html.DisplayNameFor(model => model.dept)<text style="color: red;">*</text>
                            </td>
                            <td class="col">
                                <select class="form-control-select3" data-fouc id="dept" name="dept" multiple="multiple" @*onchange="GetEmployeeList()"*@ required>
                                    @if (ViewBag.Department != null)
                                    {
                                        foreach (var data in ViewBag.Department)
                                        {
                                            if (Array.IndexOf(Model.dept.ToString().Split(','), data.Value) >= 0)
                                            {
                                                <option value='@data.Value' selected>@data.Text</option>
                                            }
                                            else
                                            {
                                                <option value='@data.Value'>@data.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </td>

                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Location)<text style="color:red;">*</text>
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <select class="form-control-select3" data-fouc id="Location" name="Location" multiple="multiple" @*onchange="GetEmployeeList()"*@ required>
                                        @if (ViewBag.Location != null)
                                        {
                                            foreach (var item in ViewBag.Location)
                                            {
                                                if (Array.IndexOf(Model.Location.ToString().Split(','), item.Value) >= 0)
                                                {
                                                    <option value='@item.Value' selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item.Value'>@item.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                @Html.DisplayNameFor(model => model.source_id)<text style="color: red;">*</text>
                            </td>
                            <td class="col">
                                <select class="select-search1" data-fouc id="source_id" name="source_id" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.source_id != null)
                                    {
                                        foreach (var item in ViewBag.source_id)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.DisplayNameFor(model => model.Issue)
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <select class="select-search1" data-fouc id="Issue" name="Issue" onchange="GetIssueDescription()">
                                        @*<option value='' hidden>Select</option>
                                        @if (ViewBag.Issue != null)
                                        {
                                            foreach (var item in ViewBag.Issue)
                                            {
                                                if (item.Text == Model.Issue)
                                                {
                                                    <option value='@item.Value' selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item.Value'>@item.Text</option>
                                                }
                                            }
                                        }*@

                                         @if (Model.Issue != null)
                                         {
                                             if (ViewBag.Issue != null)
                                             {
                                                 foreach (var item in ViewBag.Issue)
                                                 {
                                                     if (item.Value == Model.Issue)
                                                     {
                                                        <option value='@item.Value' selected>@item.Text</option>
                                                     }
                                                     else
                                                     {
                                                        <option value='@item.Value'>@item.Text</option>
                                                     }
                                                 }
                                             }
                                         }
                                         else
                                         {
                                            <option value='' hidden>Select</option>
                                             if (ViewBag.Issue != null)
                                             {
                                                 foreach (var item in ViewBag.Issue)
                                                 {
                                                     if (item.Value == Model.Issue)
                                                     {
                                                        <option value='@item.Value' selected>@item.Text</option>
                                                     }
                                                     else
                                                     {
                                                        <option value='@item.Value'>@item.Text</option>
                                                     }
                                                 }
                                             }
                                         }

                                    </select>
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.DisplayNameFor(model => model.origin_risk)
                                </div>
                            </td>
                            <td class="col">
                               <input type="text" class="form-control" id="origin_risk" name="origin_risk" />
                            </td>
                            </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                @Html.DisplayNameFor(model => model.Risk_Type)<text style="color: red;">*</text>
                            </td>
                            <td class="col-xs-3 col-md-4">
                                <select class="select-search1" data-fouc id="Risk_Type" name="Risk_Type" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.Risk_Type != null)
                                    {
                                        foreach (var item in ViewBag.Risk_Type)
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                </select>
                            </td>


                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.DisplayNameFor(model => model.risk_desc)<text style="color: red;">*</text>
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="risk_desc" name="risk_desc" required></textarea>
                                </div>
                            </td>
                            @*<td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        @Html.DisplayNameFor(model => model.opp_desc)
                    </div>
                </td>
                <td class="col">
                    <div class="editor-field">
                        <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="opp_desc" name="opp_desc"></textarea>
                    </div>
                </td>*@
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.DisplayNameFor(model => model.consequences)
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="consequences" name="consequences"></textarea>
                                </div>
                            </td>


                            @*<td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        @Html.DisplayNameFor(model => model.impact_id)<text style="color: red;">*</text>
                    </div>
                </td>
                <td class="col">
                    <div class="editor-field">
                        <select class="form-control-select3" data-fouc id="impact_id" name="impact_id" required onchange="GetRiskRating()">
                            <option value='' hidden>Select</option>
                            @if (ViewBag.impact_id != null)
                            {
                                foreach (var item in ViewBag.impact_id)
                                {
                                    <option value='@item.Value'>@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </td>*@

                        </tr>
                        @*<tr class="row">
                <td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        @Html.DisplayNameFor(model => model.like_id)<text style="color: red;">*</text>
                    </div>
                </td>
                <td class="col">
                    <div class="editor-field">
                        <select class="form-control-select3" data-fouc id="like_id" name="like_id" required onchange="GetRiskRating()">
                            <option value='' hidden>Select</option>
                            @if (ViewBag.like_id != null)
                            {
                                foreach (var item in ViewBag.like_id)
                                {

                                    <option value='@item.Value'>@item.Text</option>

                                }
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        Risk Rating
                    </div>
                </td>
                <td class="col">
                    <div class="editor-field">
                        <input class="form-control" type="text" id="rating" name="rating" style="display:none;" readonly />
                    </div>
                </td>
                <td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        <a href="#" data-toggle="popover" data-trigger="hover">Risk Matrix</a>
                    </div>
                </td>

            </tr>*@
                        @*<tr class="row">
                <td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        @Html.DisplayNameFor(model => model.notes)
                    </div>
                </td>
                <td class="col">
                    <div class="editor-field">
                        <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="notes" name="notes"></textarea>

                    </div>
                </td>

            </tr>*@
                        @*<tr class="row">
                <td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        @Html.DisplayNameFor(model => model.risk_status_id)<text style="color: red;">*</text>
                    </div>
                </td>
                <td class="col">
                    <div class="editor-field">
                        <select class="form-control-select3" data-fouc id="risk_status_id" name="risk_status_id" required>
                            <option value='' hidden>Select</option>
                            @if (ViewBag.risk_status_id != null)
                            {
                                foreach (var item in ViewBag.risk_status_id)
                                {
                                    <option value='@item.Value'>@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </td>
            </tr>*@
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.DisplayNameFor(model => model.risk_owner)<text style="color: red;">*</text>
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <select class="select-search1" data-fouc id="risk_owner" name="risk_owner" required>
                                        <option value='' hidden>Select</option>
                                        @if (ViewBag.EmpList != null)
                                        {
                                            foreach (var item in ViewBag.EmpList)
                                            {
                                                <option value='@item.Value'>@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            @*<td class="col-xs-3 col-md-2">
                    <div class="editor-label">
                        @Html.DisplayNameFor(model => model.risk_manager)<text style="color: red;">*</text>
                    </div>
                </td>
                <td class="col">
                    <div class="editor-field">
                        <select class="form-control-select3" data-fouc id="risk_manager" name="risk_manager" required>
                            <option value='' hidden>Select</option>
                            @if (ViewBag.Approver != null)
                            {
                                foreach (var item in ViewBag.Approver)
                                {
                                    <option value='@item.Value'>@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </td>*@

                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.DisplayNameFor(model => model.notified_to)
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <select class="form-control-select3" data-fouc id="notified_to" name="notified_to" multiple onchange="GetNotifiedDetails()" >
                                        @if (ViewBag.EmpList != null)
                                        {
                                            foreach (var item in ViewBag.EmpList)
                                            {
                                                <option value='@item.Value'>@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div id="estdiv">
                        <div class="card-body">
                            <input type="hidden" id="itemcnt1" name="itemcnt1" value="0" />

                            <div class="card card-table table-responsive shadow-0 mb-0">
                                <table class="table" id="team-list1">
                                    <tr class="bg-blue">
                                        <th>Action</th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Division</th>
                                        <th>Department</th>
                                        <th>Email</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
               

        </div>
       
    </div>
    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
        @Html.ActionLink("Back to List", "RiskList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })

        <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Add</button>
    </div>
</div>
<!-- /basic setup -->
}
<script src='@Url.Content("~/global_assets/js/plugins/forms/wizards/steps2.min.js")'></script>
<script>
       var summary = {
           summaryUrl: '@Url.Action("AddRisk", "RiskMgmt")'

       };

       var $ = jQuery.noConflict();

</script>





@section Scripts {
    <script>


             //----zzz


     $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }

    //zzz----
     -

            $('[data-toggle="popover"]').popover({

                html: true,
                content: setData,
                container: 'body'
            });

            function setData() {
                var set_data = '';
                var element = $(this);

                $.ajax({
                    url: '@Url.Action("RiskMatrix", "RiskMgmt")',
                    methos: "post",
                    async: false,
                    success: function (data) {
                        set_data = data;
                    }
                });
                return set_data;
            }
         });

        function SetRiskType() {

            var RiskType = $('#Risk_Type option:selected').text();

            if (RiskType == "Opportunity") {
                $('#impact_id').prop('disabled', true).trigger('change');
                $('#like_id').prop('disabled', true).trigger('change');

                $("#impact_id").val('').trigger('change');
                $("#like_id").val('').trigger('change');

                document.getElementById("rating").value = "";
            }
            else {
                $('#impact_id').prop('disabled', false).trigger('change');
                $('#like_id').prop('disabled', false).trigger('change');

            }
            }

        function GetRiskRating() {

            var impact = $('#impact_id').val();
            var like = $('#like_id').val();

            if (impact != "" && like != "") {
                jQuery.ajax({
                    url: '@Url.Action("FunGetRiskRating", "RiskMgmt")',
                    type: 'POST',
                    dataType: "json",
                    //data: { impact: impact, like: like },
                    data: { like: like, impact: impact },
                    success: function (result) {
                        if (result != null) {

                            document.getElementById("rating").style.display = 'block';
                            document.getElementById("rating").value = result;
                        }
                    }
                });
            }
            }

      function GetDeptList() {
             $("#dept").empty();
             var sStd = $('#branch_id').val();
                jQuery.ajax({
                    url: '@Url.Action("FunGetDeptList", "EmployeeDetails")',
                    type: 'POST',
                    dataType: "json",
                    data: { 'branch': sStd },
                    success: function (result) {

                        if (result != null && result.length > 0) {
                            $("#dept").append("<option value=''>" + "Select" + "</option>");
                            $.each(result, function (index, item) {
                                $("#dept").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                                $("#dept").trigger('change');
                            });
                            return;
                        }
                        else {
                            bootbox.alert({
                                title: 'Group Code',
                                message: 'Please add group code to this directorate selected'
                            });
                            return;
                        }
                    }
                });
        }1

        function GetNotifiedDetails() {
            var notified_to = $('#notified_to').val();
            if (notified_to != "" && notified_to != null) {
                jQuery.ajax({
                    url: '@Url.Action("FunGetEmpDetails", "EmployeeDetails")',
                    type: 'POST',
                    dataType: "json",
                    data: { 'semp_no': notified_to },
                    success: function (result) {
                        if (result != null) {

                            var nempno = $('#notified_to option:Selected').val();
                            var nempid = result.emp_id;
                            var nempname = result.empname;
                            var nempdiv = result.division;
                            var nempdept = result.department;
                            var nempemail = result.EmailId;

                            var cnt = document.getElementById("itemcnt1").value;

                            document.getElementById("itemcnt1").value = cnt;
                            // Find a <table> element with id="myTable":
                            var table = document.getElementById("team-list1");

                            // Create an empty <tr> element and add it to the 1st position of the table:
                            var row = table.insertRow();


                            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                            var cell0 = row.insertCell(0);
                            var cell1 = row.insertCell(1);
                            var cell2 = row.insertCell(2);
                            var cell3 = row.insertCell(3);
                            var cell4 = row.insertCell(4);
                            var cell5 = row.insertCell(5);

                            cell0.innerHTML = "<span class='badge badge-info' onclick='deleteRow1(this)' style='cursor:pointer;'>Delete</span> <input type = 'hidden' id = 'nempno " + cnt + "' name = 'nempno " + cnt + "' value = '" + nempno + "'>";
                            cell1.innerHTML = "<input type='hidden' id='nempid " + cnt + "' name='nempid " + cnt + "' value='" + nempid + "'>" + nempid;
                            cell2.innerHTML = "<input type='hidden' id='nempname " + cnt + "' name='nempname " + cnt + "' value='" + nempname + "'>" + nempname;
                            cell3.innerHTML = "<input type='hidden' id='nempdiv " + cnt + "' name='nempdiv " + cnt + "' value='" + nempdiv + "'>" + nempdiv;
                            cell4.innerHTML = "<input type='hidden' id='nempdept " + cnt + "' name='nempdept " + cnt + "' value='" + nempdept + "'>" + nempdept;
                            cell5.innerHTML = "<input type='hidden' id='nempemail " + cnt + "' name='nempemail " + cnt + "' value='" + nempemail + "'>" + nempemail;

                            cnt++;
                            document.getElementById("itemcnt1").value = cnt;

                            $("#notified_to").val('').trigger('change');
                        }
                    }
                });
            }
        }

        function deleteRow1(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}