@model ISOStd.Models.ExtProviderDiscrepencyLogModels
@{
    Layout = null;
}

<h4 style="text-align:center;border-bottom:1px solid #808080">Discrepancy Register Info</h4>
<p><label><b>Division:</b></label>@Html.DisplayFor(model => model.branch)</p>
<p><label><b>Department:</b></label>@Html.DisplayFor(model => model.Department)</p>
<p><label><b>Location:</b></label>@Html.DisplayFor(model => model.Location)</p>

<p><label><b>Discrepancy Number:</b></label>@Html.DisplayFor(model => model.discrepancy_no)</p>
<p><label><b>External Provider Name:</b></label>@Html.DisplayFor(model => model.ext_provider_name)</p>
<p>
    <label><b>Discrepancy Registered On:</b></label> @if (Model.discre_registerd_date != null && Model.discre_registerd_date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.discre_registerd_date.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>Discrepancy Identified / Reported On:</b></label> @if (Model.discre_reported_date != null && Model.discre_reported_date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.discre_reported_date.ToString("dd/MM/yyyy")
    }
</p>
<p><label><b>Delivery Note Number:</b></label>@Html.DisplayFor(model => model.delivery_note_no)</p>
<p><label><b>Our PO number to External Provider:</b></label>@Html.DisplayFor(model => model.po_no)</p>
<p><label><b>Discrepancy details:</b></label>@Html.DisplayFor(model => model.discre_detail)</p>
<p>
    <label>
        <b>
            Discrepancy related to:
        </b>
    </label>@Html.DisplayFor(model => model.discre_relatedto)
</p>
<p><label><b>Containment actions initiated :</b></label>@Html.DisplayFor(model => model.actions)</p>
<p><label><b>Impact on our performance due to discrepancy:</b></label>@Html.DisplayFor(model => model.impact)</p>
<p><label><b>Need of raising NCR to External Provider?:</b></label>@Html.DisplayFor(model => model.ncr_required)</p>


