@model ISOStd.Models.TUVCustomerContactsModels
@{
    ViewBag.Title = "AddCustomerContact";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Add Customer Contact</span>
</div>
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red; font-weight: bold;">@TempData["alertdata"]</span>
    }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
    }
</div>

@using (Html.BeginForm("AddCustomerContact", "TUV", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CustomerModels</legend>
        <input type="hidden" id="CustID" name="CustID" value="@Model.CustID" />
        <div id="content">
            <table id="tabcontent">
                <tr>

                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ContactPerson)
                        </div>
                    </td>

                    <td>
                        <div class="editor-field">
                            <input type="text" id="ContactPerson" name="ContactPerson" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EmailId)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="email" id="EmailId" name="EmailId" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.PhoneNumber)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="text" id="PhoneNumber" name="PhoneNumber" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.MobileNumber)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="text" id="MobileNumber" name="MobileNumber" />
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <br />
        <div style="width: 100%; text-align: center;">
            @Html.ActionLink("Back to List", "CustomerList", null, new { @class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
            <input type="submit" value="Save" onclick="ProgressIconFunction()" />
        </div>
    </fieldset>
}
