@model ISOStd.Models.CustEnquiryModels

@{
    ViewBag.Title = "CustEnquiryDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Customer Enquiry Detail </span>
</div>

<div class="ActionLink">
    @Html.ActionLink("Edit", "CustEnquiryEdit", new { id_enquiry = Model.id_enquiry.ToString() }, new { @class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
    @Html.ActionLink("Back to List", "CustEnquiryList", null, new { @class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
</div>
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
    }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
    }
</div>
<br /><br />

<fieldset>
    <legend>CustomerVisitModels</legend>
    <table id="tabcontent">
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.mode_enquiry)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.mode_enquiry)
                </div>
            </td>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.date_enquiry)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (Model.date_enquiry > Convert.ToDateTime("01/01/0001"))
                    {
                        @Html.Label(Model.date_enquiry.ToString("dd/MM/yyyy"))
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.companyname)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.companyname)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.projectname)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.projectname)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.location)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.location)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.telno)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.telno)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.incharge)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.incharge)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.sales_incharge)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.sales_incharge)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.amt)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.amt)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.date_fax)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (Model.date_fax > Convert.ToDateTime("01/01/0001"))
                    {
                        @Html.Label(Model.date_fax.ToString("dd/MM/yyyy"))
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ref_no)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ref_no)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.date_lpo)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (Model.date_lpo > Convert.ToDateTime("01/01/0001"))
                    {
                        @Html.Label(Model.date_lpo.ToString("dd/MM/yyyy"))
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.lpo_no)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.lpo_no)
                </div>
            </td>

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.lpo_amt)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.lpo_amt)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.status)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.status)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.upload)
                </div>
            </td>
            <td>
                @if (Model.upload != "" && Model.upload != null && Model.upload.Length > 0)
                {
                    foreach (var docs in Model.upload.Trim(',').Split(','))
                    {
                        <p style="margin: 0px;">
                            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs})' style="color: orange;" target="_blank"> @*@System.IO.Path.GetFileName(docs)*@preview</a>
                        </p>
                    }                    
                }               
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.description)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.description))
                </div>
            </td>
        </tr>
    </table>
</fieldset>

