@using System.Data
@using ISOStd.Models;
@{
    ViewBag.Title = "PerformAuditReport";

    clsGlobal objGlobaldata = new clsGlobal();
    ISOStd.Models.GenerateAuditChecklistModels objChecklist = new ISOStd.Models.GenerateAuditChecklistModels();
    ISOStd.Models.AuditElementsModels obj = new ISOStd.Models.AuditElementsModels();

    DataSet dsrating = new System.Data.DataSet();

    if (ViewBag.AuditRating != null)
    {
        dsrating = ViewBag.AuditRating;
    }

    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}


<style>




</style>




<fieldset >
    <h1 class="mb-0 text-center">Audit Checklist</h1>

    <table class="table table-lg">
        <tr>
            <td>

                <b>AuditCriteria</b>

            </td>
            <td>

                <input type="text" class="form-control" />

            </td>
            <td>

                <b>AuditNo</b>

            </td>
            <td>

                <input type="text" class="form-control" />

            </td>
        </tr>
        <tr>
            <td>

                <b>AuditDate</b>

            </td>
            <td>
                <input type="text" class="form-control" />
            </td>


            <td>

                <b>Department</b>

            </td>
            <td>

                <input type="text" class="form-control" />

            </td>
        </tr>
        <tr>

            <td>

                <b>Auditors</b>

            </td>
            <td>

                <input type="text" class="form-control" />

            </td>
            <td>

                <b>Auditee</b>

            </td>
            <td>

                <input type="text" class="form-control" />

            </td>
        </tr>
    </table>
    <table class="table table-lg">
        <tr>
            <th style="background-color: #e5eafe; color: #0099ff;">
                Sr. No.
            </th>
            <th style="background-color: #e5eafe; color: #0099ff;">
                Element Checked
            </th>
            @if (dsrating.Tables.Count > 0 && dsrating.Tables[0].Rows.Count > 0)
            {
                for (int item = 0; item < dsrating.Tables[0].Rows.Count; item++)
                {
                    <th style="background-color: #e5eafe; color: #0099ff;">
                        @dsrating.Tables[0].Rows[item]["Options"].ToString()
                    </th>
                }
            }
            <th style="background-color: #e5eafe; color: #0099ff;">Comment


        </tr>
        @if (ViewBag.AuditElements != null)
        {
            int iSrno = 0, itmctn = 0;
            foreach (var item in ViewBag.AuditElements)
            {
                iSrno = iSrno + 1;
                itmctn = itmctn + 1;
                <tr>
                    <td>
                        @iSrno
                    </td>
                    <td>
                        @item.Text
                        <input type="hidden" id="Audit_Elements @item.Value" name="Audit_Elements @item.Value" value="@item.Value" />
                    </td>
                    @if (dsrating.Tables.Count > 0 && dsrating.Tables[0].Rows.Count > 0)
                    {

                        for (int rating = 0; rating < dsrating.Tables[0].Rows.Count; rating++)
                        {
                            <td>
                                <input type="checkbox" id="id_auditratings @item.Value"
                                       name="id_auditratings @item.Value"
                                       class="id_auditratings @item.Value form-control" value="@dsrating.Tables[0].Rows[rating]["id_auditratings"].ToString()" required />
                            </td>
                        }
                    }
                    <td>

                        <input class="form-control" type="text" id="comment @itmctn" name="comment @itmctn" />
                    </td>


                </tr>

            }

        }
        <tr>
            <td class="col" colspan="6">
                <div class="display-label">
                    <b>Notes</b> 
                </div>
            </td>
        </tr>
        <tr>
            <td class="col" colspan="6">

                <textarea class="form-control" cols="8" rows="8" id="Notes" name="Notes">
    
            </textarea>
            </td>
        </tr>
        <tr>
            <td class="col" colspan="6">
                <div class="display-label">
                    <b>Remarks</b>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col" colspan="6">
                @*<input class="form-control" type="text" id="Remarks" name="Remarks"  />*@

                <textarea class="form-control" cols="8" rows="8" id="Remarks" name="Remarks">
    
            </textarea>
            </td>
        </tr>
    </table>

</fieldset>
   



