@model ISOStd.Models.EmergencyPlanNRecordModels

@{
    ViewBag.Title = "Emergency Plan and Record";
    ISOStd.Models.EmergencyPlanNRecordModelsList objEmergencyList = new ISOStd.Models.EmergencyPlanNRecordModelsList();
    int icnt = 0;
    if (ViewBag.objEmergency != null)
    {
        objEmergencyList = ViewBag.objEmergency;
        icnt = objEmergencyList.lstEmergencyPlanNRecord.Count;
    }
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
}

@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("EmergencyPlanNRecordList", "EmergencyPlanNRecord", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Emergency Evacuation Plan</span>
                    </a>
                    <span class="breadcrumb-item active">Emergency Evacuation Plan Details</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Emergency Evacuation Plan Details</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>

        <div>
            <div class="card-header bg-white header-elements-sm-inline">

                <div class="header-elements">

                    @if (Obj.GetCurrentUserSession().EmergPlan.Contains("3"))
                    {
                        <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("EmergencyPlanNRecordEdit", "EmergencyPlanNRecord", new { Emergency_Plan_Id = Model.Emergency_Plan_Id.ToString() })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                            <b>  <i class="icon-add-to-list"></i></b> Edit
                        </a>
                    }
                    @Html.ActionLink("Back to List", "EmergencyPlanNRecordList", null, new { @class = "btn btn-outline bg-orange text-orange border-orange ml-3", onclick = "HyperLinkProgressIconFunction()" })
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                    <thead></thead>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.branch)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.branch)
                            </p>
                        </td>   
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Department)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Department)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Location)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Location)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.emp_id)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.emp_id)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Plan_From)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.Plan_From > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Model.Plan_From.ToString("dd/MM/yyyy")
                                }
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Plan_To)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.Plan_To > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Model.Plan_To.ToString("dd/MM/yyyy")
                                }
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Emergency_Type)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Emergency_Type)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Plan_Date_Time)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.Plan_Date_Time > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Model.Plan_Date_Time.ToString("dd/MM/yyyy")
                                }
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Incharge)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Incharge)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Drill_Location)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Drill_Location)
                            </p>
                        </td>

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Need_Reporting)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Need_Reporting)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        @*<td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Plan_Status)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Plan_Status)
                            </p>
                        </td>*@
                        @*<td class="col-xs-3 col-md-2">
        <p class="bg-brown py-1 px-2 rounded">
            @Html.DisplayNameFor(model => model.Performance)
        </p>
    </td>
    <td class="col">
        <p class="bg-dark py-1 px-2 rounded">
            @Html.DisplayFor(model => model.Performance)
        </p>
    </td>*@
                    </tr>
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ReportNo)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ReportNo)
                            </p>
                        </td>
                        @*<td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Upload_Report)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.Upload_Report != null && Model.Upload_Report != "")
                                {
                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = Model.Upload_Report })' target="_blank" style="color: orange;">
                                        @System.IO.Path.GetFileName(Model.Upload_Report)
                                    </a>
                                }
                            </p>

                        </td>*@
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Remarks)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Remarks)
                            </p>
                        </td>
                        @*<td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.No_Emp)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.No_Emp)
                            </p>
                        </td>*@
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ReviewedBy)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ReviewedBy)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ApprovedBy)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ApprovedBy)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Observation)
                            </p>
                        </td>
                        <td class="col" colspan="3">
                            <p class="bg-dark py-1 px-2 rounded">
                                <textarea name="editor-readonly" id="editor-readonly" rows="3" cols="3" disabled>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Observation))
                        </textarea>

                            </p>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                @if (@objEmergencyList.lstEmergencyPlanNRecord != null && @objEmergencyList.lstEmergencyPlanNRecord.Count > 0)
                {

                    <h2 class="bg-dark pl-sm-2">  Accident Details</h2>


                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover datatable-responsive" id="table1">
                            <thead>
                                <tr class="bg-brown">
                                    <th>Corrective Action</th>
                                    <th>Target Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int index = 0; index < objEmergencyList.lstEmergencyPlanNRecord.Count; index++)
                                {
                                    <tr>
                                        <td>
                                            @objEmergencyList.lstEmergencyPlanNRecord[index].Corrrective_action

                                        </td>
                                        <td>
                                            @if (objEmergencyList.lstEmergencyPlanNRecord[index].Target_date.ToString() != "" && objEmergencyList.lstEmergencyPlanNRecord[index].Target_date.ToString() != null)
                                            {
                                                @Convert.ToDateTime(objEmergencyList.lstEmergencyPlanNRecord[index].Target_date.ToString()).ToString("dd/MM/yyyy")
                                            }
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }


            </div>
        </div>
    </div>

        @section Scripts {
            <script type="text/javascript">
                    //----zzz


     $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });

    //zzz----
                
                    // Setup
                    var editorReadOnly = CKEDITOR.replace('editor-readonly', {
                        height: 300,
                        removePlugins: 'toolbar',

                    });

            </script>

        }
