@model ISOStd.Models.KPIModels

@{
    ViewBag.Title = "KPIEvaluationEdit";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Edit KPI Evaluation </span>
</div>

<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
    }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
    }
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>KPIModels</legend>
        <div class="display-label">
            <input type="hidden" id="EvalId" name="EvalId" value="@ViewBag.EvalId" />
        </div>

        <table id="tabcontent">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Dept)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <select id="Dept" name="Dept" required="">
                            @if (ViewBag.Dept != null)
                            {
                                foreach (var data in ViewBag.Dept)
                                {
                                    if (data.Text == Model.Dept)
                                    {
                                <option value='@data.Text' selected>@data.Text</option>
                                    }
                                    else
                                    {
                                <option value='@data.Text'>@data.Text</option>
                                    }
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Dept)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Dept_Head)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Dept_Head)
                        @Html.ValidationMessageFor(model => model.Dept_Head)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.KPI_Ref)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.KPI_Ref)
                        @Html.ValidationMessageFor(model => model.KPI_Ref)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Freq_of_Eval)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <select id="Freq_of_Eval" name="Freq_of_Eval" required="">
                            <option value='' hidden>Select</option>
                            @if (ViewBag.Freq_of_Eval != null)
                            {
                                foreach (var data in ViewBag.Freq_of_Eval)
                                {
                                    if (data == Model.Freq_of_Eval)
                                    {
                                <option value='@data' selected>@data</option>
                                        }
                                        else
                                        {
                                <option value='@data'>@data</option>
                                        }
                                    }
                                }
                        </select>
                        @Html.ValidationMessageFor(model => model.Freq_of_Eval)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SubProcess_InCharge)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SubProcess_InCharge)
                        @Html.ValidationMessageFor(model => model.SubProcess_InCharge)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.KPI_Estd_On)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input type="text" id="KPI_Estd_On" name="KPI_Estd_On" value="@Model.KPI_Estd_On.ToString("dd/MM/yyyy")" required readonly/>
                        @Html.ValidationMessageFor(model => model.KPI_Estd_On)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.KPI_No)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.KPI_No)
                        @Html.ValidationMessageFor(model => model.KPI_No)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Key_Perf_Indicator)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Key_Perf_Indicator)
                        @Html.ValidationMessageFor(model => model.Key_Perf_Indicator)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Measurable_Value)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Measurable_Value)
                        @Html.ValidationMessageFor(model => model.Measurable_Value)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.KPI_Monitoring_Mechanism)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.KPI_Monitoring_Mechanism)
                        @Html.ValidationMessageFor(model => model.KPI_Monitoring_Mechanism)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.KPI_Status_eval_on)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input type="text" id="KPI_Status_eval_on" name="KPI_Status_eval_on"  value="@Model.KPI_Status_eval_on.ToString("dd/MM/yyyy")" required readonly/>
                        @Html.ValidationMessageFor(model => model.KPI_Status_eval_on)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.KPI_Eval_Record)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.KPI_Eval_Record)
                        @Html.ValidationMessageFor(model => model.KPI_Eval_Record)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NCR_Ref)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.NCR_Ref)
                        @Html.ValidationMessageFor(model => model.NCR_Ref)
                    </div>
                </td>
            </tr>
        </table>
        
    </fieldset>
     <div style="width: 100%; text-align: center;">
        @Html.ActionLink("Back to List", "KPIEvaluationList", "KPI")
        <input type="submit" value="Update" />
    </div>
}


@section Scripts {
    <script>
        $(function () {

            $('#KPI_Status_eval_on').datepicker({
                dateFormat: "dd/mm/yy",
                buttonImageOnly: true,
                buttonImage: '../Images/Calender.png',
                showOn: 'both',
                changeMonth: true,
                changeYear: true,
                minDate: 0
            });

            $('#KPI_Estd_On').datepicker({
                dateFormat: "dd/mm/yy",
                buttonImageOnly: true,
                buttonImage: '../Images/Calender.png',
                showOn: 'both',
                changeMonth: true,
                changeYear: true,
                minDate: 0,
                onClose: function () {
                    var dt1 = $('#KPI_Status_eval_on').datepicker('getDate');
                    var dt2 = $('#KPI_Estd_On').datepicker('getDate');
                    //check to prevent a user from entering a date below date of dt1
                    if (dt2 < dt1) {
                        jAlert("KPI established date cannot be before KPI status evaluated date");
                        $('#KPI_Estd_On').val("");
                    }
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}