@model ISOStd.Models.KPIModels

@{
    ViewBag.Title = "KPIEvaluationDetails";
}


<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">KPI Evaluation Details </span>
</div>
<div class = "ActionLink">
    @Html.ActionLink("Edit", "KPIEvaluationEdit", new { EvalId = Model.EvalId },new { @class = "ActionLink" })
    @Html.ActionLink("Back to List", "KPIEvaluationList", null, new { @class = "ActionLink" })
</div>
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
</div>
<br /><br />
<fieldset>
    <legend>KPIModels</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.EvalId): @Html.DisplayFor(model => model.EvalId)
    </div>*@
    <table id="tabcontent">
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Dept)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Dept)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Dept_Head)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Dept_Head)
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.KPI_Ref)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.KPI_Ref)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Freq_of_Eval)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Freq_of_Eval)
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.SubProcess_InCharge)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.SubProcess_InCharge)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.KPI_Estd_On)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.KPI_Estd_On.ToString("dd/MM/yyyy")
                </div>
            </td>   
             </tr>
        <tr>        
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Key_Perf_Indicator)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Key_Perf_Indicator)
                </div>
            </td>
        

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Measurable_Value)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Measurable_Value)

                </div>
            </td>
            </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.KPI_Monitoring_Mechanism)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.KPI_Monitoring_Mechanism)
                </div>
            </td>
       

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.KPI_Status_eval_on)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.KPI_Status_eval_on.ToString("dd/MM/yyyy")
                </div>
            </td>
             </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.KPI_Eval_Record)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.KPI_Eval_Record)
                </div>
            </td>
       

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.NCR_Ref)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.NCR_Ref)
                </div>
            </td>
        </tr>
    </table>
</fieldset>

