@model ISOStd.Models.SuppliedMaterialModels
@{
    ViewBag.Title = "SuppliedMaterialInfo";
    Layout = null;
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Purchase Details Info</h4>
    </div>

    <div class="card-body">
        <p>
            Division:<code>
                @Html.DisplayFor(model => model.branch)
            </code>           
        </p>
        <p>
            Department:<code>
                @Html.DisplayFor(model => model.Department)
            </code>
            Location:<code>
                @Html.DisplayFor(model => model.Location)
            </code>
        </p>
        <p>
            Order Number:<code>
                @Html.DisplayFor(model => model.orderno)
            </code>
            Order Date:
            @if (Model.order_date != null && Model.order_date > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.order_date.ToString("dd/MM/yyyy")
                </code>
            }
        </p>

        <p>
            Provider Type:<code>
                @Html.DisplayFor(model => model.provider_type)
            </code>
            Provider Name:<code>
                @Html.DisplayFor(model => model.supplier_name)
                @Html.DisplayFor(model => model.customer_name)
            </code>
        </p>

        <p>
            Remark:<code>
                @Html.DisplayFor(model => model.remark)
            </code>
            Details of the material received:<code>
                @Html.DisplayFor(model => model.remark)
            </code>
        </p>

    </div>
</div>



