@model ISOStd.Models.CustomerVisitModels
@{
    Layout = null;
}
<h4 style="text-align:center;border-bottom:1px solid #808080">Customer Visits Info</h4>

<p><label><b>Division:</b></label>@Html.DisplayFor(model => model.Branch)
 <label><b>Department:</b></label>@Html.DisplayFor(model => model.Department)</p>
<p>
    <label><b>Planned Date:</b></label>
    @if (Model.PlannedDate != null && Model.PlannedDate > Convert.ToDateTime("01/01/0001"))
    {
        @Model.PlannedDate.ToString("dd/MM/yyyy")
    }
    <label><b>Location:</b></label>@Html.DisplayFor(model => model.Location)

</p>
<p>
    <label><b>Visit Date:</b></label>
    @if (Model.DateOfVisit != null && Model.DateOfVisit > Convert.ToDateTime("01/01/0001"))
    {
        @Model.DateOfVisit.ToString("dd/MM/yyyy")
    }
    <label><b>Customer Name:</b></label>@Html.DisplayFor(model => model.CustomerName)
</p>
<p>
    <label><b>Contact Person:</b></label>@Html.DisplayFor(model => model.ContactPerson)
    <label><b>Designation:</b></label>@Html.DisplayFor(model => model.Designation)
</p>
<p>
    <label><b>Contact Number:</b></label>@Html.DisplayFor(model => model.ContactNumber)
    <label><b>Email Id:</b></label>@Html.DisplayFor(model => model.EmailID)
</p>
<p>
    <label><b>Address:</b></label>@Html.DisplayFor(model => model.Address)
    <label><b>City:</b></label>@Html.DisplayFor(model => model.City)
</p>
<p>
    <label><b>Product:</b></label>@Html.DisplayFor(model => model.Product)
    <label><b>Followup date:</b></label>
    @if (Model.FollowUp_Date != null && Model.FollowUp_Date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.FollowUp_Date.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>Outcome of Visit:</b></label>@Html.DisplayFor(model => model.Outcomeof_Visit)
    <label><b>Remarks:</b></label>@Html.DisplayFor(model => model.Remarks)
</p>
<p><label><b>Processed By:</b></label>@Html.DisplayFor(model => model.ProcessedBy)</p>
