@model ISOStd.Models.NCModels
@{
    Layout = null;
    ViewBag.Title = "NCinfo";

    //ISOStd.Models.SupplierPerpRatingModelsList objList = new ISOStd.Models.SupplierPerpRatingModelsList();

    //if (ViewBag.PerformanceElement != null)
    //{
    //    objList = ViewBag.PerformanceElement;
    //} 
}
<h4 style="text-align:center;border-bottom:1px solid #808080">Nonconformance Information</h4>
<p>
    <label><b>NC No.:</b></label>@Html.DisplayFor(model => model.nc_no)
</p>
<p>
    <label><b>NC detected on:</b></label>
    @if (Model.nc_detected_date != null && Model.nc_detected_date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.nc_detected_date.ToString("dd/MM/yyyy")
    }
    <label><b>NC reported on:</b></label>
    @if (Model.nc_reported_date != null && Model.nc_reported_date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.nc_reported_date.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>NC reported by:</b></label>@Html.DisplayFor(model => model.nc_reportedby)
    <label><b>NC Issued To:</b></label>@Html.DisplayFor(model => model.nc_issueto)
</p>
<p>
    <label><b>NC Raised due to:</b></label>@Html.DisplayFor(model => model.nc_raise_dueto)
    <label><b>NC Category:</b></label>@Html.DisplayFor(model => model.nc_category)
</p>
<p>
    <label><b>NC description in detail:</b></label>@Html.DisplayFor(model => model.nc_description)
</p>
<p>
    <label><b>Activity where NC observed:</b></label>@Html.DisplayFor(model => model.nc_activity)
    <label><b>Location or Area where Activity performed:</b></label>@Html.DisplayFor(model => model.nc_performed)
</p>

<p>
    <label><b>Why it is NC or PNC?:</b></label>@Html.DisplayFor(model => model.nc_pnc)
    <label><b>NC Impact:</b></label>@Html.DisplayFor(model => model.nc_impact)
</p>
<p>
    <label><b>Risk due to NC:</b></label>@Html.DisplayFor(model => model.nc_risk)
    <label><b>Risk level:</b></label>@Html.DisplayFor(model => model.risklevel)
</p>
<p>
    <label><b>NC notified to:</b></label>@Html.DisplayFor(model => model.nc_notifiedto)
    @if (Model.nc_issuedto_statusId == "1")
    {
        <label><b>NC Status:</b></label>@Html.DisplayFor(model => model.nc_issuedto_status)
    }
</p>

@*<table style="width: 90%;">
    <tr>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Sr. No.
        </th>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Questions
        </th>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Rating
        </th>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Weightage
        </th>
    </tr>
    @if (ViewBag.PerformanceElement != null)
    {
        int iSrno = 0;
        foreach (var item in objList.PerpList)
        {
            iSrno = iSrno + 1;
            Weightage = Weightage + Convert.ToInt16(item.SQ_Weightage);
            <tr>
                <td>
                    @iSrno
                </td>
                <td style="width: 500px; min-width: 500px; max-width: 500px;">
                    @item.SQId
                </td>
                <td style="width: 100px; min-width: 100px; max-width: 100px;">
                    @item.SQ_OptionsId
                </td>
                <td style="width: 100px; min-width: 100px; max-width: 100px;">
                    @item.SQ_Weightage
                </td>
            </tr>
        }
        {
            TotalScore = Weightage * 100 / (iSrno * 10);
        }
    }
</table>*@


