@using System.Data
@model ISOStd.Models.NCModels

@{
    ViewBag.Title = "NCPDF";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    ISOStd.Models.NCModelsList objNCList = new ISOStd.Models.NCModelsList();
    ISOStd.Models.NCModels objModel = new ISOStd.Models.NCModels();


    if (ViewBag.NonConfirmance != null)
    {
        objModel = ViewBag.NonConfirmance;
    }
    if (ViewBag.NcRelatedList != null)
    {
        objNCList = ViewBag.NcRelatedList;
    }

    DataSet Disposition = new DataSet();
    DataSet DispAction = new DataSet();
    DataSet Team = new DataSet();
    DataSet RCA = new DataSet();
    DataSet CA = new DataSet();
    DataSet CAList = new DataSet();
    DataSet Verification = new DataSet();
    DataSet VerificationList = new DataSet();

    //Disposition
    if (ViewBag.Disposition != null)
    {
        Disposition = ViewBag.Disposition;
    }
    if (ViewBag.DispAction != null)
    {
        DispAction = ViewBag.DispAction;
    }
    DataSet dsCompany = new DataSet();
    if (ViewBag.CompanyInfo != null)
    {
        dsCompany = ViewBag.CompanyInfo;
    }

    //Team
    if (ViewBag.Team != null)
    {
        Team = ViewBag.Team;
    }

    //RCA
    if (ViewBag.RCA != null)
    {
        RCA = ViewBag.RCA;
    }

    //CA
    if (ViewBag.CA != null)
    {
        CA = ViewBag.CA;
    }
    if (ViewBag.CAList != null)
    {
        CAList = ViewBag.CAList;
    }

    //Verification
    if (ViewBag.Verification != null)
    {
        Verification = ViewBag.Verification;
    }
    if (ViewBag.VerificationList != null)
    {
        VerificationList = ViewBag.VerificationList;
    }

    Layout = "~/Views/Shared/_PrintLayout.cshtml";


}
    <style type="text/css">

            .page {
                page-break-before: always !important;
            }

        * {
            overflow: visible !important;
        }
        .page-breaker {
            display: block;
            clear: both;
            page-break-after: always;
        }

        .page_break_inside_avoid {
            page-break-inside: avoid !important;
        }

    </style>
    

@Html.Partial("_RptHeader", dsCompany)
<div style="background-color:white">

    <div>
        <table class="table table-lg table-bordered">
            @*<tr class="row">
                <td colspan="4">
                    <h3>Report Details</h3>
                </td>
            </tr>*@
            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    <div class="editor-label">
                        NC detected on
                    </div>
                </td>
                <td class="font-size-lg">
                    <div class="editor-field">
                        @if (objModel.nc_detected_date > Convert.ToDateTime("01/01/0001"))
                        {
                            @objModel.nc_detected_date.ToString("dd/MM/yyyy")
                        }
                    </div>
                </td>
                <td class="font-size-lg font-weight-bold">
                    NC reported on
                </td>
                <td class="font-size-lg">
                    <div class="editor-field">
                        @if (objModel.nc_reported_date > Convert.ToDateTime("01/01/0001"))
                        {
                            @objModel.nc_reported_date.ToString("dd/MM/yyyy hh:mm:ss")
                        }
                    </div>
                </td>
            </tr>
            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    NC reported by
                </td>
                <td class="font-size-lg" colspan="3">
                    @objModel.nc_reportedby <br />
                    Email  Id : @Obj.GetMultiHrEmpEmailIdById(objModel.emp_id)
                </td>
            </tr>

            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    NC issued to
                </td>
                <td class="font-size-lg" colspan="3">
                    @objModel.nc_issueto <br />
                    Email  Id : @Obj.GetMultiHrEmpEmailIdById(objModel.nc_issuetoId)
                </td>
            </tr>

            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    NC Raised due to
                </td>
                <td class="font-size-lg" colspan="3">
                    @objModel.nc_raise_dueto
                </td>
            </tr>

            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    NC description in detail
                </td>
                <td class="font-size-lg" colspan="3">
                    @objModel.nc_description
                </td>
            </tr>
            @if (objModel.oa_no != "" || objModel.model_code != "" && objModel.part_name != "" && objModel.stage != "" && objModel.nc_resp_pers != "" && objModel.supplier_name != "" && objModel.supplier_dc != "" && objModel.dc_po != "" && objModel.batch_qty != "" && objModel.nc_qty != "")
            {
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">
                       
                            OA No
                        
                    </td>
                    <td class="font-size-lg">
                       
                            @objModel.oa_no
                       
                    </td>
                    <td class="font-size-lg font-weight-bold">
                       
                            Model code
                       
                    </td>
                    <td class="font-size-lg">
                      
                            @objModel.model_code
                        
                    </td>
                </tr>
                        <tr class="row">
                            <td class="font-size-lg font-weight-bold">
                                
                                    Part Name
                               
                            </td>
                            <td class="font-size-lg">
                                
                                    @objModel.part_name
                               
                            </td>
                            <td class="font-size-lg font-weight-bold">
                               
                                    Stage
                                
                            </td>
                            <td class="font-size-lg">
                                
                                    @objModel.stage
                                
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="font-size-lg font-weight-bold">
                               
                                    Responsible person
                                
                            </td>
                            <td class="font-size-lg">
                               
                                    @objModel.nc_resp_pers
                                
                            </td>
                            <td class="font-size-lg font-weight-bold">
                                
                                    Supplier name
                                
                            </td>
                            <td class="font-size-lg">
                                
                                    @objModel.supplier_name
                                
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="font-size-lg font-weight-bold">
                             
                                    Supplier DC
                                
                            </td>
                            <td class="font-size-lg">
                               
                                    @objModel.supplier_dc
                               
                            </td>
                            <td class="font-size-lg font-weight-bold">
                               
                                    DC/PO
                                
                            </td>
                            <td class="font-size-lg">
                                
                                    @objModel.dc_po
                               
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="font-size-lg font-weight-bold">
                                
                                    Batch qty
                               
                            </td>
                            <td class="font-size-lg">
                               
                                    @objModel.batch_qty
                                
                            </td>
                            <td class="font-size-lg font-weight-bold">
                              
                                    NC qty
                               
                            </td>
                            <td class="font-size-lg">
                              
                                    @objModel.nc_qty
                               
                            </td>
                        </tr>
            }
            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    Activity where NC observed
                </td>
                <td class="font-size-lg">
                    @objModel.nc_activity
                </td>
                <td class="font-size-lg font-weight-bold">
                    Location or Area where Activity performed
                </td>
                <td class="font-size-lg">
                    @objModel.nc_performed
                </td>
            </tr>
            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    <div class="editor-label">
                        NC Category
                    </div>
                </td>
                <td class="font-size-lg">
                    <div class="editor-field">
                        @objModel.nc_category

                    </div>
                </td>
                <td class="font-size-lg font-weight-bold">
                    Upload documents
                </td>
                <td class="font-size-lg">
                    @if (objModel.nc_upload != null && objModel.nc_upload != "" && objModel.nc_upload.Length > 0)
                    {
                        foreach (var docs in objModel.nc_upload.Trim(',').Split(','))
                        {
                            <p style="margin: 0px;">
                                <span class="bg-dark py-1 px-2 rounded">
                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs})' target="_blank">Preview</a>
                                </span>
                            </p>
                        }
                    }
                </td>
            </tr>
            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    NC impact
                </td>
                <td class="font-size-lg">
                    @objModel.nc_impact
                </td>
                <td class="font-size-lg font-weight-bold">
                    Impact in detail
                </td>
                <td class="font-size-lg">
                    @objModel.Impact_detail
                </td>
            </tr>
            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    Why it is NC or PNC?
                </td>
                <td colspan="3" class="font-size-lg">
                    @objModel.nc_pnc
                </td>
                @*<td class="font-size-lg font-weight-bold">
                    NC impact
                </td>
                <td class="font-size-lg">
                    @objModel.nc_impact
                </td>*@
            </tr>
            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    Risk due to NC
                </td>
                <td class="font-size-lg">
                    @objModel.nc_risk
                </td>
                <td class="font-size-lg font-weight-bold">
                    Risk level
                </td>
                <td class="font-size-lg">
                    @objModel.risklevel
                </td>
            </tr>

            <tr class="row">
                <td class="font-size-lg font-weight-bold">
                    NC notified to
                </td>
                <td colspan="3" class="font-size-lg">
                    @objModel.nc_notifiedto
                    <br />
                    Email  Id : @Obj.GetMultiHrEmpEmailIdById(objModel.nc_notifiedtoId)
                </td>
            </tr>
        </table>
    </div>    

    <div class="mt-5 page_break_inside_avoid">

        <div>
            @if (objNCList.lstNC != null && objNCList.lstNC.Count > 0)
            {
                <h2>NC Related to Details</h2>

                <div>
                    <table class="table table-lg table-bordered">

                        <tr class="bg-blue font-weight-bold">
                            <td>Sl No</td>
                            <td>Which aspect(s)?</td>
                            <td>Brief explanation</td>
                            <td>Document reference</td>
                        </tr>

                        <tbody>
                            @for (int index = 0; index < objNCList.lstNC.Count; index++)
                            {
                                <tr class="row">

                                    <td>@(index + 1)</td>
                                    <td>@objNCList.lstNC[index].nc_related_aspect</td>
                                    <td>@objNCList.lstNC[index].nc_related_explain</td>
                                    <td>@objNCList.lstNC[index].nc_related_doc</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <br />
    </div>

    @*<div class="page-breaker">.....</div>*@

    @*Disposition*@
    @if (ViewBag.ncimmediate_action == "Yes" && Disposition.Tables.Count > 0 && Disposition.Tables[0].Rows.Count > 0)
    {
        if (Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != null && Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != "" && Convert.ToDateTime(Disposition.Tables[0].Rows[0]["disp_notifeddate"]) > Convert.ToDateTime("01/01/0001"))
        {
        <div class="card-body">
            <div class="container-fluid">
                <div class="page_break_inside_avoid">
                    <h2 class="bg-dark pl-sm-2">Immediate Action (Disposition) </h2>
                    <table class="table table table-lg table-bordered">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Are actions effective to resolve NC?
                                </td>
                                <td class="font-size-lg">

                                    @Obj.GetDropdownitemById(Disposition.Tables[0].Rows[0]["disp_action_taken"].ToString())

                                </td>
                                <td class="font-size-lg font-weight-bold">
                                    Brief explanation
                                </td>
                                <td class="font-size-lg">
                                    @Disposition.Tables[0].Rows[0]["disp_explain"].ToString()
                                </td>
                            </tr>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Notified to
                                </td>
                                <td class="font-size-lg">

                                    @Obj.GetMultiHrEmpNameById(Disposition.Tables[0].Rows[0]["disp_notifiedto"].ToString())

                                </td>

                                <td class="font-size-lg font-weight-bold">
                                    Notified on
                                </td>
                                <td class="font-size-lg">
                                    @if (Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != null && Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != "")
                                    {
                                        @Convert.ToDateTime(Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString()).ToString("dd/MM/yyyy")
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Upload Document
                                </td>
                                <td class="font-size-lg">
                                    @if (Disposition.Tables[0].Rows[0]["disp_upload"].ToString() != null && Disposition.Tables[0].Rows[0]["disp_upload"].ToString() != "" && Disposition.Tables[0].Rows[0]["disp_upload"].ToString().Length > 0)
                                    {
                                        foreach (var docs in Disposition.Tables[0].Rows[0]["disp_upload"].ToString().Trim(',').Split(','))
                                        {
                                            <p class="bg-dark py-1 px-2 rounded" style="margin: 0px;">
                                                <span class="bg-dark py-1 px-2 rounded">
                                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank">Preview</a>
                                                </span>
                                            </p>
                                        }
                                    }
                                </td>
                            </tr>
                     </table>
                </div>
                    @if (DispAction != null && DispAction.Tables.Count > 0 && DispAction.Tables[0].Rows.Count > 0)
                    {
                        <div class="page_break_inside_avoid">
                            @*<h2 class="bg-dark pl-sm-2">Immediate Action(Dispostion)Details</h2>*@
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover datatable-responsive">
                                    <thead>
                                        <tr class="bg-brown">
                                            <th>Sl No</th>
                                            <th>Action Taken/To be Taken</th>
                                            <th>Person Responsible</th>
                                            <th>Action completed on / Target date to complete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0, j = 1; i < DispAction.Tables[0].Rows.Count; i++, j++)
                                        {
                                            <tr>

                                                <td>
                                                    @j
                                                </td>
                                                <td>
                                                    @(DispAction.Tables[0].Rows[i]["disp_action"].ToString())
                                                </td>
                                                <td>
                                                    @Obj.GetMultiHrEmpNameById(DispAction.Tables[0].Rows[i]["disp_resp_person"].ToString())
                                                </td>
                                                <td>
                                                    @Convert.ToDateTime(DispAction.Tables[0].Rows[i]["disp_complete_date"].ToString()).ToString("dd/MM/yyyy")
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }


    @*Team*@
    @if (ViewBag.ncteam == "Yes" &&  Team.Tables.Count > 0 && Team.Tables[0].Rows.Count > 0)
    {
        if (Team.Tables[0].Rows[0]["team_targetdate"].ToString() != null && Team.Tables[0].Rows[0]["team_targetdate"].ToString() != "" && Convert.ToDateTime(Team.Tables[0].Rows[0]["team_targetdate"].ToString()) > Convert.ToDateTime("01/01/0001"))
        {
        <div class="card-body">
            <div class="container-fluid">
                <div class="mt-2 pt-2 page_break_inside_avoid">
                    <h2 class="bg-dark pl-sm-2">Team</h2>
                    <table class="table table table-lg table-bordered">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Team
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetMultiHrEmpNameById(Team.Tables[0].Rows[0]["nc_team"].ToString())
                                </td>
                                <td class="font-size-lg font-weight-bold">
                                    Team Apporved By
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetMultiHrEmpNameById(Team.Tables[0].Rows[0]["team_approvedby"].ToString())
                                </td>
                            </tr>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Notified to
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetMultiHrEmpNameById(Team.Tables[0].Rows[0]["team_notifiedto"].ToString())
                                </td>
                                
                                <td class="font-size-lg font-weight-bold">
                                    Target date to complete the Root Cause Analysis
                                </td>
                                <td class="font-size-lg">
                                    @if (Team.Tables[0].Rows[0]["team_targetdate"].ToString() != null && Team.Tables[0].Rows[0]["team_targetdate"].ToString() != "")
                                    {
                                        @Convert.ToDateTime(Team.Tables[0].Rows[0]["team_targetdate"].ToString()).ToString("dd/MM/yyyy")
                                    }
                                </td>
                            </tr>
                    </table>
                </div>
                </div>
            </div>
        }
    }


    @*RCA*@
    @if (ViewBag.ncrca == "Yes" && RCA.Tables.Count > 0 && RCA.Tables[0].Rows.Count > 0)
    {
        if (RCA.Tables[0].Rows[0]["rca_details"].ToString() != null && RCA.Tables[0].Rows[0]["rca_details"].ToString() != "")
        {
        <div class="card-body">
            <div class="container-fluid">
                <div class="mt-2 pt-2 page_break_inside_avoid">
                    <h2 class="bg-dark pl-sm-2">Root Cause Analysis</h2>
                    <table class="table table table-lg table-bordered">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    RCA Started On
                                </td>
                                <td class="font-size-lg">
                                    @if (RCA.Tables[0].Rows[0]["rca_startedon"].ToString() != null && RCA.Tables[0].Rows[0]["rca_startedon"].ToString() != "")
                                    {
                                        @Convert.ToDateTime(RCA.Tables[0].Rows[0]["rca_startedon"].ToString()).ToString("dd/MM/yyyy")
                                    }
                                </td>
                                <td class="font-size-lg font-weight-bold">
                                    Techniques adopted
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetDropdownitemById(RCA.Tables[0].Rows[0]["rca_technique"].ToString())
                                </td>
                            </tr>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Details of root causes analysis
                                </td>
                                <td class="font-size-lg">
                                    @RCA.Tables[0].Rows[0]["rca_details"].ToString()
                                </td>
                            </tr>
                            <tr>
                               
                                <td class="font-size-lg font-weight-bold">
                                    Upload documents
                                </td>
                                <td class="font-size-lg">
                                    @if (RCA.Tables[0].Rows[0]["rca_upload"].ToString() != null && RCA.Tables[0].Rows[0]["rca_upload"].ToString() != "" && RCA.Tables[0].Rows[0]["rca_upload"].ToString().Length > 0)
                                    {
                                        foreach (var docs in RCA.Tables[0].Rows[0]["rca_upload"].ToString().Trim(',').Split(','))
                                        {
                                            <p class="bg-dark py-1 px-2 rounded" style="margin: 0px;">
                                                <span class="bg-dark py-1 px-2 rounded">
                                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank">Preview</a>
                                                </span>
                                            </p>
                                        }
                                    }
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="font-size-lg font-weight-bold">
                                    Need of corrective action
                                </td>
                                <td class="font-size-lg">
                                    @RCA.Tables[0].Rows[0]["rca_action"].ToString()
                                </td>
                                <td class="font-size-lg font-weight-bold">
                                    If No, justify
                                </td>
                                <td class="font-size-lg">
                                    @RCA.Tables[0].Rows[0]["rca_justify"].ToString()
                                </td>
                            </tr>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    RCA Completed By
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetMultiHrEmpNameById(RCA.Tables[0].Rows[0]["rca_reportedby"].ToString())
                                </td>
                                <td class="font-size-lg font-weight-bold">
                                    RCA Completed / Reported On
                                </td>
                                <td class="font-size-lg">
                                    @if (RCA.Tables[0].Rows[0]["rca_reporteddate"].ToString() != null && RCA.Tables[0].Rows[0]["rca_reporteddate"].ToString() != "")
                                    {
                                        @Convert.ToDateTime(RCA.Tables[0].Rows[0]["rca_reporteddate"].ToString()).ToString("dd/MM/yyyy")
                                    }
                                </td>                                
                            </tr>
                            <tr class="row">
                                <td class="font-size-lg font-weight-bold">
                                    Notified to
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetMultiHrEmpNameById(RCA.Tables[0].Rows[0]["rca_notifiedto"].ToString())
                                </td>
                            </tr>
                    </table>
                </div>
                </div>
            </div>
        }
    }

    @*CA*@
    @if (ViewBag.ncca == "Yes" && CA.Tables.Count > 0 && CA.Tables[0].Rows.Count > 0)
    {
        if (CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != null && CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != "" && Convert.ToDateTime(CA.Tables[0].Rows[0]["ca_notifed_date"].ToString()) > Convert.ToDateTime("01/01/0001"))
        {
        <div class="card-body">
            <div class="container-fluid">
                <div class="mt-2 pt-2 page_break_inside_avoid">
                    <h2 class="bg-dark pl-sm-2">Corrective Action</h2>
                    <table class="table table table-lg table-bordered">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Verification due date
                                </td>
                                <td class="font-size-lg">
                                    @if (CA.Tables[0].Rows[0]["ca_verfiry_duedate"].ToString() != null && CA.Tables[0].Rows[0]["ca_verfiry_duedate"].ToString() != "")
                                    {
                                        @Convert.ToDateTime(CA.Tables[0].Rows[0]["ca_verfiry_duedate"].ToString()).ToString("dd/MM/yyyy")
                                    }
                                </td>
                                <td class="font-size-lg font-weight-bold">
                                    To be verified by
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetMultiHrEmpNameById(CA.Tables[0].Rows[0]["ca_proposed_by"].ToString())
                                </td>
                            </tr>
                            <tr>
                                <td class="font-size-lg font-weight-bold">
                                    Notified to
                                </td>
                                <td class="font-size-lg">
                                    @Obj.GetMultiHrEmpNameById(CA.Tables[0].Rows[0]["ca_notifiedto"].ToString())
                                </td>

                                <td class="font-size-lg font-weight-bold">
                                    Notified Date
                                </td>
                                <td class="font-size-lg">
                                    @if (CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != null && CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != "")
                                    {
                                        @Convert.ToDateTime(CA.Tables[0].Rows[0]["ca_notifed_date"].ToString()).ToString("dd/MM/yyyy")
                                    }
                                </td>
                            </tr>
                    </table>
                </div>
                @if (CAList != null && CAList.Tables.Count > 0 && CAList.Tables[0].Rows.Count > 0)
                {
                    <br />
                    <div class="page_break_inside_avoid">
                        @*<h2 class="bg-dark pl-sm-2">Corrective Action Details</h2>*@
                        <div>
                            <table class="table table-lg table-bordered table-striped">
                                <thead>
                                    <tr class="bg-brown">
                                        <th>Sl No</th>
                                        @*<th>Division</th>
                                        <th>Location</th>
                                        <th>Department</th>
                                        <th>Root cause </th>*@
                                        <th>Corrective action</th>
                                        <th>Resource required</th>
                                        <th>Target date</th>
                                        <th>Person responsible</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0, j = 1; i < CAList.Tables[0].Rows.Count; i++, j++)
                                    {
                                        <tr>
                                            <td>
                                                @j
                                            </td>
                                            @*<td>
                                                @Obj.GetCompanyBranchNameById(CAList.Tables[0].Rows[i]["ca_div"].ToString())
                                            </td>
                                            <td>
                                                @Obj.GetDivisionLocationById(CAList.Tables[0].Rows[i]["ca_loc"].ToString())
                                            </td>
                                            <td>
                                                @Obj.GetDeptNameById(CAList.Tables[0].Rows[i]["ca_dept"].ToString())
                                            </td>
                                            <td>
                                                @(CAList.Tables[0].Rows[i]["ca_rootcause"].ToString())
                                            </td>*@
                                            <td>
                                                @(CAList.Tables[0].Rows[i]["ca_ca"].ToString())
                                            </td>
                                            <td>
                                                @(CAList.Tables[0].Rows[i]["ca_resource"].ToString())
                                            </td>
                                            <td>
                                                @Convert.ToDateTime(CAList.Tables[0].Rows[i]["ca_target_date"].ToString()).ToString("dd/MM/yyyy")
                                            </td>
                                            <td>
                                                @Obj.GetMultiHrEmpNameById(CAList.Tables[0].Rows[i]["ca_resp_person"].ToString())
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                    </div>
                </div>
        }
    }

    @*Verification*@
    @if (ViewBag.ncverification == "Yes" && Verification.Tables.Count > 0 && Verification.Tables[0].Rows.Count > 0)
    {
        if (Verification.Tables[0].Rows[0]["v_status"].ToString() != null && Verification.Tables[0].Rows[0]["v_status"].ToString() != "")
        {
            <div class="card-body">
                <div class="container-fluid">
                    <div class="mt-2 pt-2 page_break_inside_avoid">
                        <h2 class="bg-dark pl-sm-2">Verification</h2>
                        <table class="table table table-lg table-bordered">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td class="font-size-lg font-weight-bold">
                                        Are proposed actions implemented effectively?
                                    </td>
                                    <td class="font-size-lg">
                                        @Obj.GetDropdownitemById(Verification.Tables[0].Rows[0]["v_implement"].ToString())
                                    </td>
                                    <td class="font-size-lg font-weight-bold">
                                        Brief explanation
                                    </td>
                                    <td class="font-size-lg">
                                        @(Verification.Tables[0].Rows[0]["v_implement_explain"].ToString())
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-size-lg font-weight-bold">
                                        Is RCA process effective?
                                    </td>
                                    <td class="font-size-lg">
                                        @(Verification.Tables[0].Rows[0]["v_rca"].ToString())
                                    </td>
                                    <td class="font-size-lg font-weight-bold">
                                        Brief explanation
                                    </td>
                                    <td class="font-size-lg">
                                        @(Verification.Tables[0].Rows[0]["v_rca_explain"].ToString())
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-size-lg font-weight-bold">
                                        Similar discrepancies detected from date of implementing corrective action?
                                    </td>
                                    <td class="font-size-lg">
                                        @(Verification.Tables[0].Rows[0]["v_discrepancies"].ToString())
                                    </td>

                                    <td class="font-size-lg font-weight-bold">
                                        Brief explanation
                                    </td>
                                    <td class="font-size-lg">
                                        @(Verification.Tables[0].Rows[0]["v_discrep_explain"].ToString())
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-size-lg font-weight-bold">
                                        Upload Documents
                                    </td>
                                    <td class="font-size-lg">
                                        @if (Verification.Tables[0].Rows[0]["v_upload"].ToString() != null && Verification.Tables[0].Rows[0]["v_upload"].ToString() != "" && Verification.Tables[0].Rows[0]["v_upload"].ToString().Length > 0)
                                        {
                                            foreach (var docs in Verification.Tables[0].Rows[0]["v_upload"].ToString().Trim(',').Split(','))
                                            {
                                                <span class="bg-dark py-1 px-2 rounded">
                                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank">Preview</a>
                                                </span>
                                            }
                                        }
                                    </td>

                                    <td class="font-size-lg font-weight-bold">
                                        NC Status
                                    </td>
                                    <td class="font-size-lg">
                                        @Obj.GetDropdownitemById(Verification.Tables[0].Rows[0]["v_status"].ToString())
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-size-lg font-weight-bold">
                                        Closed Date
                                    </td>
                                    <td class="font-size-lg">
                                        @if (Verification.Tables[0].Rows[0]["v_closed_date"].ToString() != null && Verification.Tables[0].Rows[0]["v_closed_date"].ToString() != "")
                                        {
                                            @Convert.ToDateTime(Verification.Tables[0].Rows[0]["v_closed_date"].ToString()).ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                    <td class="font-size-lg font-weight-bold">
                                        Verified by
                                    </td>
                                    <td class="font-size-lg">
                                        @Obj.GetMultiHrEmpNameById(Verification.Tables[0].Rows[0]["v_notifiedto"].ToString())
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-size-lg font-weight-bold">
                                        Verified On
                                    </td>
                                    <td class="font-size-lg">
                                        @if (Verification.Tables[0].Rows[0]["v_verified_date"].ToString() != null && Verification.Tables[0].Rows[0]["v_verified_date"].ToString() != "")
                                        {
                                            @Convert.ToDateTime(Verification.Tables[0].Rows[0]["v_verified_date"].ToString()).ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                    <td class="font-size-lg font-weight-bold">
                                        Notified To
                                    </td>
                                    <td class="font-size-lg">
                                        @Obj.GetMultiHrEmpNameById(Verification.Tables[0].Rows[0]["v_notifiedto"].ToString())
                                    </td>
                                </tr>
                        </table>
                    </div>
                    @if (VerificationList != null && VerificationList.Tables.Count > 0 && VerificationList.Tables[0].Rows.Count > 0)
                    {

                        <div class="page_break_inside_avoid">
                            @*<h2 class="bg-dark pl-sm-2">Verification Details</h2>*@
                            <div>
                                <table class="table table-lg table-bordered table-striped">
                                    <thead>
                                        <tr class="bg-brown">
                                            <th>Sl No</th>
                                            @*<th>Division</th>
                                            <th>Location</th>
                                            <th>Department</th>*@
                                            <th>Corrective Action Proposed</th>
                                            <th>Implementation status</th>
                                            <th>Is Corrective Action effective?</th>
                                            <th>If No, reasons</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0, j = 1; i < VerificationList.Tables[0].Rows.Count; i++, j++)
                                        {
                                            <tr>

                                                <td>
                                                    @j
                                                </td>
                                                @*<td>
                                                    @Obj.GetCompanyBranchNameById(VerificationList.Tables[0].Rows[i]["ca_div"].ToString())
                                                </td>
                                                <td>
                                                    @Obj.GetDivisionLocationById(VerificationList.Tables[0].Rows[i]["ca_loc"].ToString())
                                                </td>
                                                <td>
                                                    @Obj.GetDeptNameById(VerificationList.Tables[0].Rows[i]["ca_dept"].ToString())
                                                </td>*@
                                                <td>
                                                    @(VerificationList.Tables[0].Rows[i]["ca_ca"].ToString())
                                                </td>
                                                <td>
                                                    @(VerificationList.Tables[0].Rows[i]["implement_status"].ToString())
                                                </td>
                                                <td>
                                                    @(VerificationList.Tables[0].Rows[i]["ca_effective"].ToString())
                                                </td>
                                                <td>
                                                    @(VerificationList.Tables[0].Rows[i]["reason"].ToString())
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    }
                </div>
                </div>
        }
    }

</div>
