@model ISOStd.Models.NCRCAPAModels
@using System.Data
@{
    Layout = null;
    DataSet dsCAPA = ViewBag.CAPADetails;
    ISOStd.Models.clsGlobal obj = new ISOStd.Models.clsGlobal();
}


<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">NCR Info</h4>
    </div>


    <div class="card-body">

        <p>AudNCR/PNCR number:<code>@Html.DisplayFor(model => model.NC_Num)</code>
       Audit No:<code>@Html.DisplayFor(model => model.AuditNum)</code></p>
        <p>
            Issued on:
            @if (Model.IssuedOn != null && Model.IssuedOn > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.IssuedOn.ToString("dd/MM/yyyy")
                </code>
            }
            Issued by:<code>@Html.DisplayFor(model => model.IssuedBy)</code>
        </p>
        <p>
            Issued to:<code>
                @Html.DisplayFor(model => model.issuedTo)
            </code>
            Discrepancy related to:
            <code>
                @Html.DisplayFor(model => model.Discrepancy_Related)
            </code>
        </p>
        <p>
            Details of detected discrepancy:
            <code>
                @Html.DisplayFor(model => model.Discrepancy_Details)
            </code>
            Finding type:<code>
                @Html.DisplayFor(model => model.FindingType)
            </code>
        </p>

        @if (dsCAPA != null && dsCAPA.Tables.Count > 0 && dsCAPA.Tables[0].Rows.Count > 0)
        {

            <div class="w-100 bg-primary"><h5>NCR Status Details</h5></div>

            <table class="xs table-bordered">
                <thead class="bg-blue">
                    <tr>

                        <th>NC Number</th>
                        <th>Correction Taken By</th>
                        <th>Correction Take on</th>
                        <th>CAPA</th>
                        <th>CAPA Implemented On</th>
                        <th>Action Proposed By</th>
                        <th>Status</th>
                        <th>Closed On</th>
                        <th>Verified By</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < dsCAPA.Tables[0].Rows.Count; i++)
                    {
                        <tr>
                            <td>
                                @dsCAPA.Tables[0].Rows[i]["NC_Num"].ToString()
                            </td>
                            <td>
                                @obj.GetEmpHrNameById(dsCAPA.Tables[0].Rows[i]["Correction_taken_by"].ToString())
                            </td>
                            <td>
                                @if (dsCAPA.Tables[0].Rows[i]["Correction_taken_on"].ToString() != null && dsCAPA.Tables[0].Rows[i]["Correction_taken_on"].ToString() != "")
                                {
                                    @Convert.ToDateTime(dsCAPA.Tables[0].Rows[i]["Correction_taken_on"].ToString()).ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @dsCAPA.Tables[0].Rows[i]["CAPA_Need"].ToString()
                            </td>
                            <td>
                                @if (dsCAPA.Tables[0].Rows[i]["CA_Impl_On"].ToString() != null && dsCAPA.Tables[0].Rows[i]["CA_Impl_On"].ToString() != "")
                                {
                                    @Convert.ToDateTime(dsCAPA.Tables[0].Rows[i]["CA_Impl_On"].ToString()).ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @obj.GetEmpHrNameById(dsCAPA.Tables[0].Rows[i]["CA_Proposed_By"].ToString())
                            </td>
                            <td>
                                @dsCAPA.Tables[0].Rows[i]["NCR_Status"].ToString()
                            </td>
                            <td>
                                @if (dsCAPA.Tables[0].Rows[i]["Report_Closed_On"].ToString() != null && dsCAPA.Tables[0].Rows[i]["Report_Closed_On"].ToString() != "")
                                {
                                    @Convert.ToDateTime(dsCAPA.Tables[0].Rows[i]["Report_Closed_On"].ToString()).ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @obj.GetEmpHrNameById(dsCAPA.Tables[0].Rows[i]["VerifiedBy"].ToString())
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }

    </div>

</div>