@model ISOStd.Models.CustComplaintModels
@using System.Data;
@{
    ViewBag.Title = "NCDetails";

    DataSet Disposition = new DataSet();
    DataSet DispAction = new DataSet();
    DataSet Team = new DataSet();
    DataSet RCA = new DataSet();
    DataSet CA = new DataSet();
    DataSet CAList = new DataSet();
    DataSet Verification = new DataSet();
    DataSet VerificationList = new DataSet();

    ISOStd.Models.CustComplaintModels ObjModel = new ISOStd.Models.CustComplaintModels();
    ISOStd.Models.clsGlobal ObjGlobal = new ISOStd.Models.clsGlobal();

    //Disposition
    if (ViewBag.Disposition != null)
    {
        Disposition = ViewBag.Disposition;
    }
    if (ViewBag.DispAction != null)
    {
        DispAction = ViewBag.DispAction;
    }

    //Team
    if (ViewBag.Team != null)
    {
        Team = ViewBag.Team;
    }

    //RCA
    if (ViewBag.RCA != null)
    {
        RCA = ViewBag.RCA;
    }

    //CA
    if (ViewBag.CA != null)
    {
        CA = ViewBag.CA;
    }
    if (ViewBag.CAList != null)
    {
        CAList = ViewBag.CAList;
    }

    //Verification
    if (ViewBag.Verification != null)
    {
        Verification = ViewBag.Verification;
    }
    if (ViewBag.VerificationList != null)
    {
        VerificationList = ViewBag.VerificationList;
    }

    //string login_user = ObjGlobal.GetCurrentUserSession().empid;
}

<style>
    #TextDiv {
        font-size: 2em;
        text-align: center;
        margin: 0 auto;
    }
</style>
@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("CustomerComplaintList", "CustComplaint", new { id_complaint = Model.id_complaint })" class="breadcrumb-item">
                        <span class="breadcrumb-item">Customer Complaint</span>
                    </a>                   
                    <span class="breadcrumb-item active">Customer Complaint Nonconformance & Corrective Action Details</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>  
        </div>
    </div>
}


    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Customer Complaint Nonconformance & Corrective Action Details</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div>
            <div class="card-header bg-white header-elements-sm-inline">

                <div class="header-elements">
                    <div class="mt-2 mt-sm-0">                       
                        @Html.ActionLink("Back to List", "CustomerComplaintList", null, new { @class = "btn btn-outline bg-orange text-orange border-orange", onclick = "HyperLinkProgressIconFunction()" })
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                    <thead></thead>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ComplaintNo)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ComplaintNo)
                            </span>
                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ReceivedDate)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @if (Model.ReceivedDate != null && Model.ReceivedDate > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Html.Label(Model.ReceivedDate.ToString("dd/MM/yyyy"))
                                }
                            </span>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.registered_on)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @if (Model.registered_on != null && Model.registered_on > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Html.Label(Model.registered_on.ToString("dd/MM/yyyy"))
                                }
                            </span>
                        </td>
                    </tr>

                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.CustomerName)
                            </span>
                        </td>

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.branch)
                            </p>
                        </td>
                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.branch)
                            </span>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Department)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Department)
                            </span>
                        </td>

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Location)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Location)
                            </span>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ProjectName)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ProjectName)
                            </span>
                        </td>
                    </tr>
                    <tr class="row"><td class="col" style="text-align:center"> Reported By</td> </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @*@Html.DisplayNameFor(model => model.ReportedBy)*@
                                Name
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ReportedBy)
                            </span>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @*@Html.DisplayNameFor(model => model.reportedby_email)*@
                                Email
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.reportedby_email)
                            </span>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @*@Html.DisplayNameFor(model => model.reportedby_desig)*@
                                Designation
                            </p>
                        </td>
                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.reportedby_desig)
                            </span>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @*@Html.DisplayNameFor(model => model.reportedby_no)*@
                                Contact Number
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.reportedby_no)
                            </span>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.CustomerRef)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.CustomerRef)
                            </span>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ModeOfComplaint)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ModeOfComplaint)
                            </span>
                        </td>

                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ForwardTo)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ForwardTo)
                            </span>
                        </td>
                    </tr>


                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Details)
                            </p>
                        </td>
                        <td class="col" colspan="3">
                            @* <span class="bg-dark py-1 px-2 rounded">*@
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Details))

                            @* </span>*@
                        </td>

                    </tr>
                    @*@if (objGlobal.GetCurrentUserSession().Complaints.Contains("4"))
        {*@
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @*@Html.DisplayNameFor(model => model.Document)*@
                                Uploaded Document
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @if (Model.Document != "" && Model.Document != null && Model.Document.Length > 0)
                                {
                                    foreach (var docs in Model.Document.Trim(',').Split(','))
                                    {
                                        <span class="bg-dark py-1 px-2 rounded">
                                            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank">Preview</a>
                                        </span>
                                    }
                                }
                                else
                                {

                                    <span class="bg-dark py-1 px-2 rounded text-danger">No File</span>
                                }
                            </span>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.ComplaintStatus)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.ComplaintStatus)
                            </span>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.LoggedBy)
                            </p>
                        </td>

                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.LoggedBy)
                            </span>
                        </td>
                    </tr>
                    <tbody>                      
                </table>                
            </div>
        </div>

        <hr />
      
          @*Disposition*@
            @if (Disposition.Tables.Count > 0 && Disposition.Tables[0].Rows.Count > 0)
            {
                if (Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != null && Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != "" && Convert.ToDateTime(Disposition.Tables[0].Rows[0]["disp_notifeddate"]) > Convert.ToDateTime("01/01/0001"))
                {
                    <h2 class="bg-dark pl-sm-2"> Immediate Action(Disposition)</h2>

                    <div class="card-body">
                        <div class="container-fluid">
                            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                                <thead></thead>
                                <tbody>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.disp_action_taken)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetDropdownitemById(Disposition.Tables[0].Rows[0]["disp_action_taken"].ToString())
                                            </p>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.disp_explain)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @*@Html.DisplayFor(model => model.disp_explain)*@
                                                @Disposition.Tables[0].Rows[0]["disp_explain"].ToString()
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.disp_notifiedto)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @*@Html.DisplayFor(model => model.disp_notifiedto)*@
                                                @ObjGlobal.GetMultiHrEmpNameById(Disposition.Tables[0].Rows[0]["disp_notifiedto"].ToString())
                                            </p>
                                        </td>

                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.disp_notifeddate)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <span class="bg-dark py-1 px-2 rounded">
                                                @if (Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != null && Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(Disposition.Tables[0].Rows[0]["disp_notifeddate"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @*@Html.DisplayNameFor(model => model.disp_upload)*@
                                                Uploaded Document
                                            </p>
                                        </td>
                                        <td class="col">
                                            @if (Disposition.Tables[0].Rows[0]["disp_upload"].ToString() != null && Disposition.Tables[0].Rows[0]["disp_upload"].ToString() != "" && Disposition.Tables[0].Rows[0]["disp_upload"].ToString().Length > 0)
                                            {
                                                foreach (var docs in Disposition.Tables[0].Rows[0]["disp_upload"].ToString().Trim(',').Split(','))
                                                {
                                                    <p class="bg-dark py-1 px-2 rounded" style="margin: 0px;">
                                                        <span class="bg-dark py-1 px-2 rounded">
                                                            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank">Preview</a>
                                                        </span>
                                                    </p>
                                                }
                                            }
                                        </td>
                                    </tr>
                            </table>
                            @if (DispAction != null && DispAction.Tables.Count > 0 && DispAction.Tables[0].Rows.Count > 0)
                            {
                                @*<br />
                                <h2 class="bg-dark pl-sm-2">Immediate Action(Dispostion) Details</h2>*@
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover datatable-responsive" id="table1">
                                        <thead>
                                            <tr class="bg-brown">
                                                <th>Sl No</th>
                                                <th>Action Taken/To be Taken</th>
                                                <th>Person Responsible</th>
                                                <th>Action completed on / Target date to complete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0, j = 1; i < DispAction.Tables[0].Rows.Count; i++, j++)
                                            {
                                                <tr>

                                                    <td>
                                                        @j
                                                    </td>
                                                    <td>
                                                        @(DispAction.Tables[0].Rows[i]["disp_action"].ToString())
                                                    </td>
                                                    <td>
                                                        @ObjGlobal.GetMultiHrEmpNameById(DispAction.Tables[0].Rows[i]["disp_resp_person"].ToString())
                                                    </td>
                                                    <td>
                                                        @Convert.ToDateTime(DispAction.Tables[0].Rows[i]["disp_complete_date"].ToString()).ToString("dd/MM/yyyy")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            @*Team*@
            @if (Team.Tables.Count > 0 && Team.Tables[0].Rows.Count > 0)
            {
                if (Team.Tables[0].Rows[0]["team_targetdate"].ToString() != null && Team.Tables[0].Rows[0]["team_targetdate"].ToString() != "" && Convert.ToDateTime(Team.Tables[0].Rows[0]["team_targetdate"].ToString()) > Convert.ToDateTime("01/01/0001"))
                {
                    <h2 class="bg-dark pl-sm-2">Team</h2>

                    <div class="card-body">
                        <div class="container-fluid">
                            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                                <thead></thead>
                                <tbody>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.nc_team)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetMultiHrEmpNameById(Team.Tables[0].Rows[0]["nc_team"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.team_targetdate)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <span class="bg-dark py-1 px-2 rounded">
                                                @if (Team.Tables[0].Rows[0]["team_targetdate"].ToString() != null && Team.Tables[0].Rows[0]["team_targetdate"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(Team.Tables[0].Rows[0]["team_targetdate"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </span>
                                        </td>
                                    </tr>
                             </table>
                        </div>
                    </div>
                }
            }


            @*RCA*@
            @if (RCA.Tables.Count > 0 && RCA.Tables[0].Rows.Count > 0)
            {
                if (RCA.Tables[0].Rows[0]["rca_details"].ToString() != null && RCA.Tables[0].Rows[0]["rca_details"].ToString() != "")
                {
                    <h2 class="bg-dark pl-sm-2">Root Cause Analysis</h2>

                    <div class="card-body">
                        <div class="container-fluid">
                            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                                <thead></thead>
                                <tbody>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_startdate)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <span class="bg-dark py-1 px-2 rounded">
                                                @if (RCA.Tables[0].Rows[0]["rca_startdate"].ToString() != null && RCA.Tables[0].Rows[0]["rca_startdate"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(RCA.Tables[0].Rows[0]["rca_startdate"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </span>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_technique)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetDropdownitemById(RCA.Tables[0].Rows[0]["rca_technique"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_details)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @RCA.Tables[0].Rows[0]["rca_details"].ToString()
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_technique)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetDropdownitemById(RCA.Tables[0].Rows[0]["rca_technique"].ToString())
                                            </p>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_upload)
                                            </p>
                                        </td>
                                        <td class="col">
                                            @if (RCA.Tables[0].Rows[0]["rca_upload"].ToString() != null && RCA.Tables[0].Rows[0]["rca_upload"].ToString() != "" && RCA.Tables[0].Rows[0]["rca_upload"].ToString().Length > 0)
                                            {
                                                foreach (var docs in RCA.Tables[0].Rows[0]["rca_upload"].ToString().Trim(',').Split(','))
                                                {
                                                    <p class="bg-dark py-1 px-2 rounded" style="margin: 0px;">
                                                        <span class="bg-dark py-1 px-2 rounded">
                                                            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank">Preview</a>
                                                        </span>
                                                    </p>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_action)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @RCA.Tables[0].Rows[0]["rca_action"].ToString()
                                            </p>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_justify)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @RCA.Tables[0].Rows[0]["rca_justify"].ToString()
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_reportedby)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetMultiHrEmpNameById(RCA.Tables[0].Rows[0]["rca_reportedby"].ToString())
                                            </p>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_reporteddate)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <span class="bg-dark py-1 px-2 rounded">
                                                @if (RCA.Tables[0].Rows[0]["rca_reporteddate"].ToString() != null && RCA.Tables[0].Rows[0]["rca_reporteddate"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(RCA.Tables[0].Rows[0]["rca_reporteddate"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.rca_notifiedto)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <span class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetMultiHrEmpNameById(RCA.Tables[0].Rows[0]["rca_notifiedto"].ToString())
                                            </span>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                }
            }

            @*CA*@
           @if (CA.Tables.Count > 0 && CA.Tables[0].Rows.Count > 0)
            {
                if (CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != null && CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != "" && Convert.ToDateTime(CA.Tables[0].Rows[0]["ca_notifed_date"].ToString()) > Convert.ToDateTime("01/01/0001"))
                {
                    <h2 class="bg-dark pl-sm-2">Corrective Action</h2>

                    <div class="card-body">
                        <div class="container-fluid">
                            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                                <thead></thead>
                                <tbody>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.ca_verfiry_duedate)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @if (CA.Tables[0].Rows[0]["ca_verfiry_duedate"].ToString() != null && CA.Tables[0].Rows[0]["ca_verfiry_duedate"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(CA.Tables[0].Rows[0]["ca_verfiry_duedate"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </p>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.ca_proposed_by)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetMultiHrEmpNameById(CA.Tables[0].Rows[0]["ca_proposed_by"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.ca_notifiedto)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetMultiHrEmpNameById(CA.Tables[0].Rows[0]["ca_notifiedto"].ToString())
                                            </p>
                                        </td>

                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.ca_notifed_date)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @if (CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != null && CA.Tables[0].Rows[0]["ca_notifed_date"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(CA.Tables[0].Rows[0]["ca_notifed_date"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </p>
                                        </td>
                                    </tr>
                            </table>
                            @if (CAList != null && CAList.Tables.Count > 0 && CAList.Tables[0].Rows.Count > 0)
                            {
                                @*<br />
                                <h2 class="bg-dark pl-sm-2">Corrective Action Details</h2>*@
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover datatable-responsive" id="table1">
                                        <thead>
                                            <tr class="bg-brown">
                                                <th>Sl No</th>
                                                @*<th>Division</th>
                                                <th>Location</th>
                                                <th>Department</th>
                                                <th>Root cause </th>*@
                                                <th>Corrective action</th>
                                                <th>Person responsible</th>
                                                <th>Target date</th>
                                                <th>Resource required</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0, j = 1; i < CAList.Tables[0].Rows.Count; i++, j++)
                                            {
                                                <tr>

                                                    <td>
                                                        @j
                                                    </td>
                                                    @*<td>
                                                        @ObjGlobal.GetCompanyBranchNameById(CAList.Tables[0].Rows[i]["ca_div"].ToString())
                                                    </td>
                                                    <td>
                                                        @ObjGlobal.GetDivisionLocationById(CAList.Tables[0].Rows[i]["ca_loc"].ToString())
                                                    </td>
                                                    <td>
                                                        @ObjGlobal.GetDeptNameById(CAList.Tables[0].Rows[i]["ca_dept"].ToString())
                                                    </td>
                                                    <td>
                                                        @(CAList.Tables[0].Rows[i]["ca_rootcause"].ToString())
                                                    </td>*@
                                                    <td>
                                                        @(CAList.Tables[0].Rows[i]["ca_ca"].ToString())
                                                    </td>
                                                     <td>
                                                        @ObjGlobal.GetMultiHrEmpNameById(CAList.Tables[0].Rows[i]["ca_resp_person"].ToString())
                                                    </td>                                                   
                                                    <td>
                                                        @Convert.ToDateTime(CAList.Tables[0].Rows[i]["ca_target_date"].ToString()).ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @(CAList.Tables[0].Rows[i]["ca_resource"].ToString())
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
            }


            @*Verification*@
            @if (Verification.Tables.Count > 0 && Verification.Tables[0].Rows.Count > 0)
            {

                if (Verification.Tables[0].Rows[0]["v_status"].ToString() != null && Verification.Tables[0].Rows[0]["v_status"].ToString() != "")
                {
                    <h2 class="bg-dark pl-sm-2">Verification</h2>
                    <div class="card-body">
                        <div class="container-fluid">
                            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                                <thead></thead>
                                <tbody>
                                    <tr class="row">

                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_implement)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetDropdownitemById(Verification.Tables[0].Rows[0]["v_implement"].ToString())
                                            </p>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_implement_explain)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @(Verification.Tables[0].Rows[0]["v_implement_explain"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_rca)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @(Verification.Tables[0].Rows[0]["v_rca"].ToString())
                                            </p>
                                        </td>

                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_rca_explain)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @(Verification.Tables[0].Rows[0]["v_rca_explain"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_discrepancies)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @(Verification.Tables[0].Rows[0]["v_discrepancies"].ToString())
                                            </p>
                                        </td>

                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_discrep_explain)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @(Verification.Tables[0].Rows[0]["v_discrep_explain"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_upload)
                                            </p>
                                        </td>
                                        <td class="col">
                                            @if (Verification.Tables[0].Rows[0]["v_upload"].ToString() != null && Verification.Tables[0].Rows[0]["v_upload"].ToString() != "" && Verification.Tables[0].Rows[0]["v_upload"].ToString().Length > 0)
                                            {
                                                foreach (var docs in Verification.Tables[0].Rows[0]["v_upload"].ToString().Trim(',').Split(','))
                                                {
                                                    <p style="margin: 0px;" class="bg-dark py-1 px-2 rounded">
                                                        <span class="bg-dark py-1 px-2 rounded">
                                                            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank">Preview</a>
                                                        </span>
                                                    </p>
                                                }
                                            }
                                        </td>

                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_status)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetDropdownitemById(Verification.Tables[0].Rows[0]["v_status"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_closed_date)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @if (Verification.Tables[0].Rows[0]["v_closed_date"].ToString() != null && Verification.Tables[0].Rows[0]["v_closed_date"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(Verification.Tables[0].Rows[0]["v_closed_date"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </p>
                                        </td>
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_verified_date)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @if (Verification.Tables[0].Rows[0]["v_verified_date"].ToString() != null && Verification.Tables[0].Rows[0]["v_verified_date"].ToString() != "")
                                                {
                                                    @Convert.ToDateTime(Verification.Tables[0].Rows[0]["v_verified_date"].ToString()).ToString("dd/MM/yyyy")
                                                }
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_verifiedto)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetMultiHrEmpNameById(Verification.Tables[0].Rows[0]["v_verifiedto"].ToString())
                                            </p>
                                        </td>
                                       
                                        <td class="col-xs-3 col-md-2">
                                            <p class="bg-brown py-1 px-2 rounded">
                                                @Html.DisplayNameFor(model => model.v_notifiedto)
                                            </p>
                                        </td>
                                        <td class="col">
                                            <p class="bg-dark py-1 px-2 rounded">
                                                @ObjGlobal.GetMultiHrEmpNameById(Verification.Tables[0].Rows[0]["v_notifiedto"].ToString())
                                            </p>
                                        </td>
                                    </tr>
                            </table>
                            @if (VerificationList != null && VerificationList.Tables.Count > 0 && VerificationList.Tables[0].Rows.Count > 0)
                            {
                                @*<br />
                                <h2 class="bg-dark pl-sm-2">Verification Details</h2>*@
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover datatable-responsive" id="table1">
                                        <thead>
                                            <tr class="bg-brown">
                                                <th>Sl No</th>
                                                @*<th>Division</th>
                                                <th>Location</th>
                                                <th>Department</th>*@
                                                <th>Corrective Action Proposed</th>
                                                <th>Implementation status</th>
                                                <th>Is Corrective Action effective?</th>
                                                <th>If No, reasons</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0, j = 1; i < VerificationList.Tables[0].Rows.Count; i++, j++)
                                            {
                                                <tr>

                                                    <td>
                                                        @j
                                                    </td>
                                                    @*<td>
                                                        @ObjGlobal.GetCompanyBranchNameById(VerificationList.Tables[0].Rows[i]["ca_div"].ToString())
                                                    </td>
                                                    <td>
                                                        @ObjGlobal.GetDivisionLocationById(VerificationList.Tables[0].Rows[i]["ca_loc"].ToString())
                                                    </td>
                                                    <td>
                                                        @ObjGlobal.GetDeptNameById(VerificationList.Tables[0].Rows[i]["ca_dept"].ToString())
                                                    </td>*@
                                                    <td>
                                                        @(VerificationList.Tables[0].Rows[i]["ca_ca"].ToString())
                                                    </td>
                                                    <td>
                                                        @(VerificationList.Tables[0].Rows[i]["implement_status"].ToString())
                                                    </td>
                                                    <td>
                                                        @(VerificationList.Tables[0].Rows[i]["ca_effective"].ToString())
                                                    </td>
                                                    <td>
                                                        @(VerificationList.Tables[0].Rows[i]["reason"].ToString())
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

     $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
        });

        function FileFormatValidation(file) {
            var ext = file.value.split(".").pop().toLowerCase();
            if ($.inArray(ext, ["doc", "pdf", "docx", "jpg", "jpeg", "gif", "png","xlx","xlsx"]) == -1) {
                file.value = "";


                bootbox.alert({
                    title: 'File Format',
                    message: 'Invalid file format, please upload only doc, pdf, docx, jpg, jpeg, gif, png, xls,xlsx format.'
                });
            }
        }     
    </script>
}
