@model ISOStd.Models.LegalRegisterModel
@{
    Layout = null;
}

<div>
    <h4 style="text-align:center;border-bottom:1px solid #808080">@*Compliance*@ Legal Register Info</h4>
    <p><label><b>Division:</b></label> @Model.branch</p>
    <p><label><b>Department:</b></label> @Model.deptid</p>
    <p><label><b>Location:</b></label> @Model.Location</p>
    <p><label><b>Lawno:</b></label> @Model.lawNo</p>
    <p><label><b>Law Title:</b></label> @Model.lawTitle</p>
    <p><label><b>Law Issued Authority:</b></label> @Model.law_issue_authority</p>
    <p><label><b>Law Issued By:</b></label> @Model.law_issued_by</p>
    <p><label><b>Law Relevant to:</b></label> @Model.law_relevant_to</p>
    <p><label><b>Url:</b></label> @Model.url</p>
    <p>
        <label><b>Issue Date:</b></label>
        @if (Model.Eve_date != null && Model.Eve_date > Convert.ToDateTime("01/01/0001"))
        {
            @Model.Eve_date.ToString("dd/MM/yyyy")
        }
    </p>
    <p><label><b>Revision No:</b></label> @Model.Revision_No</p>
    @*<p>
            <label><b>Revision Date:</b></label>
            @if (Model.Revision_Date != null && Model.Revision_Date > Convert.ToDateTime("01/01/0001"))
            {
                @Model.Revision_Date.ToString("dd/MM/yyyy")
            }
        </p>*@

    <p><label><b>Frequency of evaluation:</b></label> @Model.frequency_eval</p>
    <p><label><b>Notified To:</b></label> @Model.notified_to</p>
</div>