@model ISOStd.Models.LegalRegisterModel
@{
    Layout = null;
}

<div>
    <h4 style="text-align:center;border-bottom:1px solid #808080">@*Compliance*@ Legal Register Info</h4>
    <p><label><b>Division:</b></label> @Model.branch</p>
    <p><label><b>Department:</b></label> @Model.deptid</p>
    <p><label><b>Location:</b></label> @Model.Location</p>
    <p><label><b>Lawno:</b></label> @Model.lawNo</p>
    <p><label><b>Standard:</b></label> @Model.Isostd</p>
    <p><label><b>Law Title:</b></label> @Model.lawTitle</p>
    <p><label><b>Compliance:</b></label> @Model.compliance</p>
    <p><label><b>Url:</b></label> @Model.url</p>
    <p><label><b>Revision No:</b></label> @Model.Revision_No</p>
    <p>
        <label><b>Revision Date:</b></label>
        @if (Model.Revision_Date != null && Model.Revision_Date > Convert.ToDateTime("01/01/0001"))
        {
            @Model.Revision_Date.ToString("dd/MM/yyyy")
        }
    </p>
    <p>
        <label><b>Evaluation Date:</b></label>
        @if (Model.Eve_Date != null && Model.Eve_Date > Convert.ToDateTime("01/01/0001"))
        {
            @Model.Eve_Date.ToString("dd/MM/yyyy")
        }
    </p>

</div>