
@model ISOStd.Models.ExtProviderPerformanceModels
@{
    Layout = null;
    ViewBag.Title = "ExtProviderPerformanceInfo";
}


<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">
            Performance Evaluation Information
        </h4>
    </div>

    <div class="card-body">
        <p>
            Division:<code>@Html.DisplayFor(model => model.branch)</code>
        </p>
        <p>
          Department:<code>
                @Html.DisplayFor(model => model.Department)
            </code>

           Location:<code>@Html.DisplayFor(model => model.Location)</code>
        </p>
        <p>
            Report Number:<code>
                @Html.DisplayFor(model => model.ReportNo)
            </code>

            Audit Number:<code>@Html.DisplayFor(model => model.Ext_Provider_Name)</code>
        </p>

        <p>
            Evaluation Date:
            @if (Model.Eval_Date != null && Model.Eval_Date > Convert.ToDateTime("01/01/0001"))
            {<code>

                    @Model.Eval_Date.ToString("dd/MM/yyyy")
                </code>
            }
            Scope of Supplies:<code>
                @Html.DisplayFor(model => model.Scope_ofSupplies)
            </code>
        </p>
        <p>
            Evaluation From Date:
            @if (Model.Eval_FromDate != null && Model.Eval_FromDate > Convert.ToDateTime("01/01/0001"))
            {<code>

                    @Model.Eval_FromDate.ToString("dd/MM/yyyy")
                </code>
            }
            Evaluation To Date:
            @if (Model.Eval_ToDate != null && Model.Eval_ToDate > Convert.ToDateTime("01/01/0001"))
            {<code>

                    @Model.Eval_ToDate.ToString("dd/MM/yyyy")
                </code>
            }
        </p>
        <p>
            Total number of POs issued:<code>
                @Html.DisplayFor(model => model.PO_Issued)
            </code>
            Total number of POs completed:<code>
                @Html.DisplayFor(model => model.PO_Completed)
            </code>
        </p>

        <p>
            Total number of quality issues:<code>
                @Html.DisplayFor(model => model.Quality_Issue)
            </code>

            Total number of delivery issues::<code>
                @Html.DisplayFor(model => model.Delivery_Issue)
            </code>
        </p>
        <p>
            Quality rating:<code>
                @Html.DisplayFor(model => model.QualityRate)
            </code>

            Delivery rating:<code>
                @Html.DisplayFor(model => model.DeliveryRate)
            </code>
        </p>
        <p>
            External Provider Performance Rating:<code>
                @Html.DisplayFor(model => model.Perfp_rate)
            </code>

            Actions based on performance rating:<code>
                @Html.DisplayFor(model => model.Perfp_rate_action)
            </code>
        </p>
        <p>
            Schedule By:<code>
                @Html.DisplayFor(model => model.Scheduled_by)
            </code>
            Approved By:<code>
                @Html.DisplayFor(model => model.Approved_by)
            </code>
        </p>

    </div>
</div>


