@model ISOStd.Models.EquipmentDetailModels
@using System.Data

@{
  
}

 <html>
     <body>
<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Equipment Details</span>
</div>
<br />
<div>
        
         @Html.ActionLink("Back to List", "TrailerList", null, new {@class="ActionLink", onclick="HyperLinkProgressIconFunction()"})
</div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
 </div>
<br />
<fieldset>
    <legend>BiddingModels</legend>
   
  
    <div id="div2">
         <table style="width: 100%"><tr>
     <th colspan="4" style="background-color: #4cc4dd; color: #fff; font-weight: bold; font-size: 14px;">Equipment Details</th>
                </tr>
            <tr>   
                <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.Cat_name)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.Cat_name)
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.trailerno)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.trailerno)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.trailerreg)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.trailerreg)
                       
                    </div>
                </td>
            </tr>
              <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.reg_date)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @if (Model.reg_date != null && Model.reg_date > Convert.ToDateTime("01/01/0001"))
                        {
                            @Html.Label(Model.reg_date.ToString("dd/MM/yyyy"))
                        }
                    </div>
                </td>
                <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.exp_date)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    
                        @if (Model.exp_date != null && Model.exp_date > Convert.ToDateTime("01/01/0001"))
                        {
                            @Html.Label(Model.exp_date.ToString("dd/MM/yyyy"))
                        }
                        
                       
                    </div>
                </td>
            </tr>
             <tr>
                  <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.passing_date)
                    </div>
                </td>
                <td>
                   <div class="display-field">
                    
                        @if (Model.passing_date != null && Model.passing_date > Convert.ToDateTime("01/01/0001"))
                        {
                            @Html.Label(Model.passing_date.ToString("dd/MM/yyyy"))
                        }
                    </div>
                </td>
                   <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.cur_location)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.cur_location)
                    </div>
                </td>
             </tr>
             <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.yom)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.yom)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.chasisno)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.chasisno)
                       
                    </div>
                </td>
            </tr>
             <tr>
                  <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.trailerlen)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.trailerlen)
                       
                    </div>
                </td>
                  <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.trailertype)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.trailertype)
                       
                    </div>
                </td>
             </tr>
             <tr>
                   <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.height)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.height)
                       
                    </div>
                </td>
                 <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.company)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.company)
                       
                    </div>
                </td>
             </tr>
              <tr>
                   <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.GVW)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.GVW)
                       
                    </div>
                </td>
                 <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.suspensiontype)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.suspensiontype)
                       
                    </div>
                </td>
             </tr>
              <tr>
                   <td>
                    <div class="display-label">
                 
                           @Html.DisplayNameFor(model => model.remarks)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    

                         @Html.DisplayFor(model => model.remarks)
                       
                    </div>
                </td>
                 
             </tr>
        </table>
    </div>
</fieldset>

</body>
 </html>  

@section Scripts {
    <script>
       
         </script>
    @Scripts.Render("~/bundles/jqueryval")
}
