@model ISOStd.Models.HazardNotificationModels
@{
    Layout = null;
    ViewBag.Title = "HazardNotificationInfo";
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">HSE Hazard/Aspect Notification Info</h4>
    </div>
    <div class="card-body">
        <p>
            Control No:<code>
                @Html.DisplayFor(model => model.control_no)
            </code>
            Date:
            @if (Model.notify_date != null && Model.notify_date > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.notify_date.ToString("dd/MM/yyyy")
                </code>
            }           
        </p>
        <p>
            Observed By:<code>
                @Html.DisplayFor(model => model.observed_by)
            </code>
            Reported By:<code>@Html.DisplayFor(model => model.reported_by)</code>
        </p>
        <p>
            Division:<code>@Html.DisplayFor(model => model.branch)</code>
            Department:<code>
                @Html.DisplayFor(model => model.dept)
            </code>

        </p>
        <p>
            Location:<code>
                @Html.DisplayFor(model => model.location)
            </code>
            Activity Type:<code>@Html.DisplayFor(model => model.activity_type)</code>
        </p>
        <p>
            DESCRIPTION OF ACTIVITY/OPERATION:<code>
                @Html.DisplayFor(model => model.description)
            </code>
        </p>
        <p>
            HAZARD /ASPECT:<code>
                @Html.DisplayFor(model => model.hazard_aspect)
            </code>
        </p>    
    </div>
</div>

