@model ISOStd.Models.DieselConsumptionModels

@{
    ViewBag.Title = "DieselConsumptionEdit";
}

<h2>DieselConsumptionEdit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DieselConsumptionModels</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Consumption_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Consumption_Id)
            @Html.ValidationMessageFor(model => model.Consumption_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diesel_Equip_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diesel_Equip_Id)
            @Html.ValidationMessageFor(model => model.Diesel_Equip_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Qty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Qty)
            @Html.ValidationMessageFor(model => model.Qty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Issued_Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Issued_Date)
            @Html.ValidationMessageFor(model => model.Issued_Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Issued_By)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Issued_By)
            @Html.ValidationMessageFor(model => model.Issued_By)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoggedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoggedBy)
            @Html.ValidationMessageFor(model => model.LoggedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoggedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoggedDate)
            @Html.ValidationMessageFor(model => model.LoggedDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
