@using System.Data

@{
    DataSet dsDelivery = new DataSet();

    ISOStd.Models.TrainingsModels objTraining = new ISOStd.Models.TrainingsModels();
    if (ViewBag.objTraining != null)
    {
        objTraining = ViewBag.objTraining;
    }
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<fieldset class="border p-2">
    <legend class="font-weight-semibold text-center font-size-lg">Training Request</legend>


  <div>
        <table class="table table-lg">
                   <tr>
            <td colspan="4">
                <br />
                <div class="editor-label">
                    <label for="Discrepancy_Details" style="background-color: #4cc4dd; width: 100%; color: white;">Training Request</label>
                </div>
            </td>
        </tr>     
        <tr>
            <td>
                <div class="display-label">
                    Training Topic
                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.Training_Topic
                </div>
            </td>
            <td>
                <div class="display-label">
                    Attendees
                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.Attendees
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">

                    Traning Before Date
                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.Traning_BeforeDate.ToString("dd/MM/yyyy")
                </div>
            </td>
            <td>
                <div class="display-label">
                    Justification for Training

                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.Reasonfor_Training
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Training Requested By

                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.Training_Requested_By
                </div>
            </td>
            <td>
                <div class="display-label">
                    Approver

                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.ApprovedBy
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Request Status

                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.RequestStatus
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="4">
                <br />
                <div class="editor-label">
                    <label for="Discrepancy_Details" style="background-color: #4cc4dd; width: 100%; color: white;">Training Plan Details</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Training Planned Date

                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (objTraining.Training_Planned_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @objTraining.Training_Planned_Date
                    }
                </div>
            </td>
            <td>
                <div class="display-label">
                    Expected Duration (Days / Hours)

                </div>
            </td>
            <td>
                <div class="display-field">

                    @objTraining.Expected_Duration
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Training Start Date
                    @objTraining.Training_Start_Date
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (objTraining.Training_Start_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @objTraining.Training_Start_Date
                    }
                </div>
            </td>

            <td>

                <div class="display-label">
                    Expected Date of Completion

                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (objTraining.Expected_Date_Completion > Convert.ToDateTime("01/01/0001"))
                    {
                        @objTraining.Expected_Date_Completion
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Source of Training

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Sourceof_Training
                </div>
            </td>
            <td>
                <div class="display-label">
                    Trainer(s) Name

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Trainer_Name
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Training Venue

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Venue
                </div>
            </td>

            <td>
                <div class="display-label">
                    Training Status

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Training_Status
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <br />
                <div class="editor-label">
                    <label for="Discrepancy_Details" style="background-color: #4cc4dd; width: 100%; color: white;">Training Details</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Training Certificate(s) Status

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Training_Cert_Status
                </div>
            </td>
            <td>
                <div class="display-label">
                    Training Status

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Training_Status
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Reasons for Not Completed

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Reasons_for_Not_Completed
                </div>
            </td>


            <td>
                <div class="display-label">
                    Training Re-Schedule Date

                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (objTraining.Training_ReSchedule_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @objTraining.Training_ReSchedule_Date.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="display-label">
                    Actual Training Date

                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (objTraining.Training_Actual_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @objTraining.Training_Actual_Date.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
            <td>
                <div class="display-label">

                    Actual Training Completion Date

                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (objTraining.Training_Actual_Completion_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @objTraining.Training_Actual_Completion_Date.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="display-label">
                    Training Effectiveness Evaluation Method

                </div>
            </td>
            <td>
                <div class="display-field">
                    @objTraining.Training_Effect_Eval_Method
                </div>
            </td>
            <td>
                <div class="display-label">
                    Training Effectiveness Evaluation Planned Date

                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (objTraining.Training_Effect_Eval_Plan_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @objTraining.Training_Effect_Eval_Plan_Date.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
        </tr>    
	</table>
  </div>
</fieldset>