@model ISOStd.Models.ActionTrackingRegisterModels
@{
    Layout = null;
}

<h4 style="text-align:center;border-bottom:1px solid #808080">Quality Action Tracking Register Info</h4>
<p><label><b>Action to be taken:</b></label>@Html.DisplayFor(model => model.Action_name)</p>
<p><label><b>Target Date:</b></label>
   @if (Model.Target_date != null && Model.Target_date > Convert.ToDateTime("01/01/0001"))
             {
                 @Model.Target_date.ToString("dd/MM/yyyy")
             }
</p>
@*<p><label><b>Due Date:</b></label>
   @if (Model.Due_date != null && Model.Due_date > Convert.ToDateTime("01/01/0001"))
             {
                 @Model.Due_date.ToString("dd/MM/yyyy")
             }
</p>*@
<p><label><b>Completion Date:</b></label>
   @if (Model.Completion_date != null && Model.Completion_date > Convert.ToDateTime("01/01/0001"))
             {
                 @Model.Completion_date.ToString("dd/MM/yyyy")
             }
</p>
<p><label><b>Action By:</b></label>@Html.DisplayFor(model => model.ActionBy)</p>
<p><label><b>Status:</b></label>@Html.DisplayFor(model => model.Status)</p>
<p><label><b>Remarks:</b></label>
    @Html.DisplayFor(model => model.Remarks)
</p>
<p><label><b>Email Notification Period:</b></label>
    @Html.DisplayFor(model => model.NotificationPeriod)
     @Html.DisplayFor(model => model.NotificationValue)
</p>
<p>
    <label><b>Source ID:</b></label>
    @Html.DisplayFor(model => model.source_id)
</p>
<p>
    <label><b>Report No:</b></label>
    @Html.DisplayFor(model => model.report_no)
</p>

