@model ISOStd.Models.HseIndModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Hse Ind Info</h4>
    </div>
    <div class="card-body">
        <p>
            Date and Timing:
            @if (Model.Hse_DateTime != null && Model.Hse_DateTime > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.Hse_DateTime.ToString("dd/MM/yyyy HH:mm")
                </code>
            }
            Project:<code>@Html.DisplayFor(model => model.Project)</code>
        </p>
        <p>
            Location:<code>
                @Html.DisplayFor(model => model.Location)
            </code>
            Report No:<code>@Html.DisplayFor(model => model.ReportNo)</code>
        </p>
        <p>
            Type of person HSE Indution given to:

            @if (Model.EmpType == "Yes")
            {
                <code>
                    @Html.DisplayNameFor(model => model.Employee)
                </code>
            }
            else if (Model.EmpType == "No")
            {
                <code>
                    @Html.DisplayNameFor(model => model.Visitors)
                </code>
            }

            General Behavior:<code>@Html.DisplayFor(model => model.General_Behavior)</code>
        </p>
        <p>
            Employee/Visitors:<code>
    @Html.DisplayFor(model => model.Employee)
    @Html.DisplayFor(model => model.Visitors)
    @Html.DisplayFor(model => model.Others)
</code>
            Department:<code>@Html.DisplayFor(model => model.Dept)</code>
        </p>

        <p>
            Site Details & Responsibilities:<code>
                @Html.DisplayFor(model => model.Site_Details_Responsibilities)
            </code>
            Personal Protective Equipments & Compliance:<code>@Html.DisplayFor(model => model.Personal_Protective_Equipments_Compliance)</code>
        </p>
        <p>
            First Aid:<code>
                @Html.DisplayFor(model => model.First_Aid)
            </code>
            Emergency Assistance:<code>@Html.DisplayFor(model => model.Emergency_Assistance)</code>
        </p>
        <p>
            IMS - requirements for compliance:<code>
                @Html.DisplayFor(model => model.IMS)
            </code>
            Equipments & Procedures:<code>@Html.DisplayFor(model => model.Equipments_Procedures)</code>
        </p>

        <p>
            Remarks:<code>
                @Html.DisplayFor(model => model.Remarks)
            </code>
            Induction given by:<code>@Html.DisplayFor(model => model.Induction_given_by)</code>
        </p>



    </div>
</div>

