@model ISOStd.Models.ToolboxTalkModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">ToolBox Talk Info</h4>
    </div>
    <div class="card-body">
        <p>            
            Division:<code>@Html.DisplayFor(model => model.branch) </code>
        </p>
        <p>
            Department:<code>@Html.DisplayFor(model => model.Department) </code>
            Location:<code>
                @Html.DisplayFor(model => model.Location)
            </code>
        </p>
        <p>
            Date and Timing:
            @if (Model.Talk_DateTime != null && Model.Talk_DateTime > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.Talk_DateTime.ToString("dd/MM/yyyy HH:mm")
                </code>
            }
            Toolbox Talk Conducted By:<code>@Html.DisplayFor(model => model.Conducted_By) </code>
        </p>
        <p>
            Topic:<code>
                @Html.DisplayFor(model => model.Topic)
            </code>
            @*<label><b>Number of Personnel Attended:</b></label>@Html.DisplayFor(model => model.Attendee_No)</p>*@
            Activity Type:<code>@Html.DisplayFor(model => model.Activity_type) </code>
        </p>
        <p>
            Report Number:<code>
                @Html.DisplayFor(model => model.Report_No)
            </code>
            Project:<code>@Html.DisplayFor(model => model.Project) </code>
        </p>
        <p>
            Method/Procdeure Identified:<code>
                @Html.DisplayFor(model => model.Identified_method)
            </code>
            @*PTW:<code>@Html.DisplayFor(model => model.ptw) </code>*@
        </p>
        @*<p>
            Complying with PPE:<code>
                @Html.DisplayFor(model => model.Comply_ppe)
            </code>
            Identified Hazard:<code>@Html.DisplayFor(model => model.Identified_hazard) </code>
        </p>*@

        @*<p>
            Attended By:<code> @Html.DisplayFor(model => model.Attended_by) </code>
        </p>*@
        <p>
            TBT feedback:<code>
                @Html.DisplayFor(model => model.feedback_tbt)
            </code>
            TBT Outcome:<code>@Html.DisplayFor(model => model.outcome_tbt) </code>
        </p>
    </div>
</div>
