@model ISOStd.Models.WasteManagementModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Waste Management Info</h4>
    </div>
    <div class="card-body">
        <p>
            Wate_type:<code>
    @Model.Wate_type
</code>
    Quantity:<code> @Model.Quantity</code>
</p>
        <p>Units:<code> @Model.Units</code>
        Collection Method:<code>
    @Model.Collection_Method
</code></p>
    <p>Location:<code> @Model.Location</code>
    Destination:<code>
    @Model.Destination
</code></p>
    <p>
        Recv facility:<code> @Model.Recv_facility</code>
        Waste Collected From:<code>
            @Model.Collected_by
        </code>
    </p>
    <p>
       Date:
        @if (Model.Disposal_date != null && Model.Disposal_date > Convert.ToDateTime("01/01/0001"))
        {<code>
    @Model.Disposal_date.ToString("dd/MM/yyyy")
</code>
    }
    Remarks:<code> @Model.Remarks</code>
</p>


</div>
</div>
