@model ISOStd.Models.PortalModels

@{
    ViewBag.Title = "PortalAuthorizationDetails";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
}

@section featured {
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("PortalAuthorizationList", "Portal", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Access Request</span>
                        </a>
                    @*<span class="breadcrumb-item active">Access Request Details</span>*@
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}

<style>
    .hidden {
        display: none !important;
    }
</style>

<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">Access Request Details</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div>
        <div class="card-header bg-white header-elements-sm-inline">
            <div class="header-elements">
                @if (Obj.GetCurrentUserSession().access_portal.Contains("3"))
                {
                <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("PortalAuthorizationEdit", "Portal", new { id_authorization = Model.id_authorization.ToString(), View = ViewBag.View })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                    <b>  <i class="icon-add-to-list"></i></b> Edit
                </a>
                }
                @Html.ActionLink("Back to List", "PortalAuthorizationList", new { View = ViewBag.View }, new { @class = "btn btn-outline bg-orange text-orange border-orange ml-3", onclick = "HyperLinkProgressIconFunction()" })
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="container-fluid">
            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                <tbody>

                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.portal_category)
                            </p>
                        </td>
                        <td class="col">
                            @if (ViewBag.View == "1")
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    Government
                                </p>
                            }
                            else if (ViewBag.View == "2")
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    Principal
                                </p>
                            }
                            else if (ViewBag.View == "3")
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    Customer
                                </p>
                            }
                            else if (ViewBag.View == "5")
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    Supplier
                                </p>
                            }
                            else if (ViewBag.View == "5")
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    Others
                                </p>
                            }
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.access_no)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.access_no)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.request_date)
                            </p>
                        </td>
                        <td class="col">
                            @if (Model.request_date > Convert.ToDateTime("01/01/0001"))
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Model.request_date.ToString("dd/MM/yyyy")
                                </p>
                            }
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.access_date)
                            </p>
                        </td>
                        <td class="col">
                            @if (Model.access_date > Convert.ToDateTime("01/01/0001"))
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Model.access_date.ToString("dd/MM/yyyy")
                                </p>
                            }
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.valid_date)
                            </p>
                        </td>
                        <td class="col">
                            @if (Model.valid_date > Convert.ToDateTime("01/01/0001"))
                            {
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Model.valid_date.ToString("dd/MM/yyyy")
                                </p>
                            }
                        </td>
                    </tr>
                    @if (ViewBag.View == "1")
                    {
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.subcr_no)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.subcr_no)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.commercial_name)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.commercial_name)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.activities)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.activities)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.portal_name)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.portal_name)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.ministry_name)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.ministry_name)
                                </p>
                            </td>
                        </tr>
                    }
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.division)
                                </p>
                            </td>
                            <td class="col" colspan="3">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.division)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.department)
                                </p>
                            </td>
                            <td class="col" colspan="3">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.department)
                                </p>
                            </td>
                        </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.nominated_emp)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.nominated_emp)
                            </p>
                        </td>
                    </tr>
                    @*</table>

        <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">*@
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.access_purpose)
                            </p>
                        </td>
                        <td class="col" colspan="3">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.access_purpose)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.justification)
                            </p>
                        </td>
                        <td class="col" colspan="3">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.justification)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.requested_by)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.requested_by)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.upload)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.upload != null && Model.upload != "")
                                {
                                    foreach (var docs in Model.upload.Trim(',').Split(','))
                                    {
                                        <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank" class="text-orange">
                                            Preview
                                        </a>
                                    }
                                }
                            </p>
                        </td>
                    </tr>
                    @*Recommended By*@
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.recommended_by)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.recommended_by)
                            </p>
                        </td>
                    </tr>

                    @if (Model.access_date != null && Model.access_date > Convert.ToDateTime("01/01/0001"))
                    {
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Comments
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.recommend_comments)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Appoved Date
                                </p>
                            </td>
                            <td class="col">
                                @if (Model.approve_recommed_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.approve_recommed_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </td>
                        </tr>
                    }

                    @*Initial Approver*@
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.approve_ceo)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.approve_ceo)
                            </p>
                        </td>
                    </tr>

                    @if (Model.approve_ceo_date != null && Model.approve_ceo_date > Convert.ToDateTime("01/01/0001"))
                    {
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Comments
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.ceo_comments)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Appoved Date
                                </p>
                            </td>
                            <td class="col">
                                @if (Model.approve_ceo_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.approve_ceo_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </td>
                        </tr>
                    }

                    @*VP*@
                    @if (Model.approve_vp != "" && Model.approve_vp != null)
                    {
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.approve_vp)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.approve_vp)
                                </p>
                            </td>
                        </tr>
                    }

                    @if (Model.approve_vp_date != null && Model.approve_vp_date > Convert.ToDateTime("01/01/0001"))
                    {
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Comments
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.vp_comments)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Appoved Date
                                </p>
                            </td>
                            <td class="col">
                                @if (Model.approve_vp_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.approve_vp_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </td>
                        </tr>
                    }

                    @*Final Approver Chiarman*@
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.approve_chairman)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.approve_chairman)
                            </p>
                        </td>
                    </tr>

                    @if (Model.approve_chairman_date != null && Model.approve_chairman_date > Convert.ToDateTime("01/01/0001"))
                    {
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Comments
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.chairman_comments)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Appoved Date
                                </p>
                            </td>
                            <td class="col">
                                @if (Model.approve_chairman_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.approve_chairman_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </td>
                        </tr>
                    }
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.apporved_status)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.apporved_status)
                            </p>
                        </td>
                    </tr>
                    @if (Model.apporved_statusId == "4")
                    {
                        <tr class="row">
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Reason for Rejection
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.reject_comments)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    Rejected Date
                                </p>
                            </td>
                            <td class="col">
                                @if (Model.rejected_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.rejected_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </td>
                        </tr>
                    }
</table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
     
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}

