@model ISOStd.Models.TrainingProgram

@{
    ViewBag.Title = "TrainingProgramAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="max-width: 80%; padding-left: 200px;">
    <div class="groupedassets margin10">
        <span class="groupedassetshead margin10 onestphdcolor">Training Calender @*Program*@ Add </span>
    </div>
    
    </div>


    <hr />
    @using (Html.BeginForm("TrainingProgramAdd", "TrainingProgram", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)



        <br />
        <div id="content" style="width: 50%;">
            <div id="checkboxes">
                <table id="tabcontent">


                    <tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.topic_id)
                            </div>
                        </td>


                        <td>

                            <div class="display-field">
                                <select class="chosen-select" id="Training_Topic" required multiple name="Training_Topic" style="width:120%;">
                                    @if (ViewBag.Topics != null)
                                    {
                                        foreach (var item2 in ViewBag.Topics)
                                        {
                                            <option value='@item2.Value'>@item2.Text</option>
                                        }
                                    }
                                </select>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Jan)

                            </div>
                        </th>
                        <td>
                            <input type="checkbox" id="Jan" name="Jan" checked value="Jan" />

                        </td>

                    </tr>
                    <tr>

                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Feb)

                            </div>
                        </td>

                        <td>
                            <input type="checkbox" id="Feb" name="Feb" checked value="Feb" />

                        </td>
                    </tr>
                    <tr>

                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Mar)
                            </div>
                        </th>
                        <td>
                            <input type="checkbox" id="Mar" name="Mar" checked value="Mar" />

                        </td>


                    </tr>
                    <tr>
                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Apr)
                            </div>
                        </th>

                        <td>
                            <input type="checkbox" id="Apr" name="Apr" checked value="Apr" />

                        </td>

                    </tr>
                    <tr>



                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.May)
                            </div>
                        </th>
                        <td>
                            <input type="checkbox" id="May" name="May" checked value="May" />

                        </td>


                    </tr>
                    <tr>

                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.June)
                            </div>
                        </th>
                        <td>
                            <input type="checkbox" id="June" name="June" checked value="June" />

                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Jul)
                            </div>
                        </th>


                        <td>
                            <input type="checkbox" id="Jul" name="Jul" value="Jul" />

                        </td>


                    </tr>
                    <tr>
                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Aug)
                            </div>
                        </th>

                        <td>
                            <input type="checkbox" id="Aug" name="Aug" value="Aug" />

                        </td>

                    </tr>
                    <tr>

                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Sept)
                            </div>
                        </th>
                        <td>
                            <input type="checkbox" id="Sept" name="Sept" checked value="Sept" />

                        </td>
                    </tr>
                    <tr>



                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Oct)
                            </div>
                        </th>
                        <td>
                            <input type="checkbox" id="Oct" name="Oct" checked value="Oct" />

                        </td>

                    </tr>
                    <tr>

                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Nov)
                            </div>
                        </th>

                        <td>
                            <input type="checkbox" id="Nov" name="Nov" checked value="Nov" />

                        </td>
                    </tr>
                    <tr>

                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Dec)
                            </div>
                        </th>
                        <td>
                            <input type="checkbox" id="Dec" name="Dec" checked value="Dec" />

                        </td>


                    </tr>
                    <tr>


                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Status)
                            </div>
                        </th>
                        <td>OPEN</td>
                    </tr>
                    <tr>
                        <th>
                            <div class="editor-label">
                                @*@Html.LabelFor(model => model.remark)*@
                                Remarks
                            </div>
                        </th>

                        <td>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.remark, new { @class = "ckeditor" })
                            </div>
                        </td>

                    </tr>
                    <tr>

                        <th>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.year)
                            </div>
                        </th>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.year, new { htmlAttributes = new { @required = "required", @maxlength = "4" } })

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Planned_Date)
                            </div>
                        </td>

                        <td>
                            <div class="editor-field">
                                <input type="text" id="Planned_Date" name="Planned_Date" readonly />
                            </div>
                        </td>
                    </tr>


                </table>







                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" onclick="ProgressIconFunction('#form1')" />
                    </div>
                </div>
            </div>
        </div>


        <div>
            @Html.ActionLink("Back to List", "TrainingProgramList")
        </div>


    }

    <script>
        $(function () {
            $("#Training_Topic").chosen();
            $(".chosen-select").chosen();
            $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select)" });


        });



        $('#Planned_Date').datepicker({
            dateFormat: "dd/mm/yy",
            buttonImageOnly: true,
            buttonImage: '../Images/Calender.png',
            showOn: 'both',
            changeMonth: true,
            changeYear: true


        });
    </script>




































































