@model ISOStd.Models.TrainingStaffModels
@{
    ViewBag.Title = "TrainingStaffInfo";
    Layout = null;
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Staff Training Info</h4>
    </div>

    <div class="card-body">
        <p>
            Employee:<code>
                @Html.DisplayFor(model => model.employee)
            </code>
            Date:
            @if (Model.date_taining != null && Model.date_taining > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.date_taining.ToString("dd/MM/yyyy")
                </code>
            }
        </p>

        <p>
            Division:<code>
                @Html.DisplayFor(model => model.division)
            </code>
            Department :<code>
                @Html.DisplayFor(model => model.dept)
            </code>
        </p>

        <p>
            Designation:<code>
                @Html.DisplayFor(model => model.designation)
            </code>
            Department Head:<code>
                @Html.DisplayFor(model => model.dept_head)
            </code>
        </p>

        <p>
            @*Comments:<code>
                @Html.DisplayFor(model => model.comments)
            </code>*@
            Comments of Dept Head:<code>
                @Html.DisplayFor(model => model.comment_head)
            </code>
        </p>

    </div>
</div>



