@model ISOStd.Models.ObjectivesModels
@{
    Layout = null;
    ViewBag.Title = "ObjectivesDetails";

    ISOStd.Models.ObjectivesModels obj = new ISOStd.Models.ObjectivesModels();
    ISOStd.Models.clsGlobal objGlobal = new ISOStd.Models.clsGlobal();
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Objectives Info</h4>
    </div>
    <div class="card-body">
        <p>
            Mgmt System Std(s):<code>@Html.DisplayFor(model => model.Audit_Criteria)</code>
            Established by:<code>@Html.DisplayFor(model => model.Estld_by)</code>
        </p>
        <p>
            Objective Level:<code>@Html.DisplayFor(model => model.objective_level)</code>
            Division:<code>@Html.DisplayFor(model => model.branch)</code>
        </p>
        <p>
            Department:<code>@Html.DisplayFor(model => model.Dept)</code>
            Location:<code>@Html.DisplayFor(model => model.Location)</code>
        </p>
        <p>
            Objective Reference:<code>@Html.DisplayFor(model => model.Obj_Ref)</code>
            Established On:<code>@Html.DisplayFor(model => model.Obj_Estld_On)</code>
        </p>
        <p>
            Objective Description:<code>@Html.DisplayFor(model => model.Objectives_val)</code>
            Base Line Value:<code>@Html.DisplayFor(model => model.Base_Line_Value)</code>
        </p>
        <p>
            Source of Baseline Data:<code>@Html.DisplayFor(model => model.baseline_data)</code>
        </p>
        <p>
            Target Value:<code>@Html.DisplayFor(model => model.Obj_Target)</code>
            Accepted Value:<code>@Html.DisplayFor(model => model.Accepted_Value)</code>
        </p>
        <p>
            Unit of measurement:<code>@Html.DisplayFor(model => model.unit)</code>
            Target Date to Achieve:<code>@Html.DisplayFor(model => model.Target_Date)</code>
        </p>
        <p>
            Frequency of Evaluation:<code>@Html.DisplayFor(model => model.Freq_of_Eval)</code>
            Monitoring Parameters:<code>@Html.DisplayFor(model => model.Monitoring_Mechanism)</code>
        </p>
        <p>
            Objective Inline With:<code>@Html.DisplayFor(model => model.obj_inline)</code>
            Risk, if not achieved:<code>@Html.DisplayFor(model => model.Risk_ifObjFails)</code>
        </p>
        <p>
            To be approved by:<code>@Html.DisplayFor(model => model.Approved_By)</code>
            Target Date to Achieve:<code>@Html.DisplayFor(model => model.Target_Date)</code>
        </p>
    </div>
</div>