@model ISOStd.Models.AccidentReportModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Incident Report Info</h4>
    </div>

    <div class="card-body">
        <p>
            Division:<code>
                @Html.DisplayFor(model => model.branch)
            </code>

            Department:<code>@Html.DisplayFor(model => model.Department)</code>
        </p>
        <p>
            Report No:<code>
                @Html.DisplayFor(model => model.report_no)
            </code>

            Incident investigation Report No:<code>@Html.DisplayFor(model => model.invest_reportno)</code>
        </p>
        <p>
            Date & Timing of Incident:
            @if (Model.acc_date != null && Model.acc_date > Convert.ToDateTime("01/01/0001"))
            {<code>

                    @Model.acc_date.ToString("dd/MM/yyyy")
                </code>
            }
            Reported on:
            @if (Model.reported_date != null && Model.reported_date > Convert.ToDateTime("01/01/0001"))
            {<code>

                    @Model.reported_date.ToString("dd/MM/yyyy")
                </code>
            }
        </p>

        <p>
            Reported by:<code>
                @Html.DisplayFor(model => model.reported_by)
            </code>
            Location or area of accident:<code>
                @Html.DisplayFor(model => model.location)
            </code>
        </p>

        <p>
            Details of accident:<code>
                @Html.DisplayFor(model => model.details)
            </code>
            Consequences:<code>
                @Html.DisplayFor(model => model.damage)
            </code>
        </p>

        <p>
            Need of thorough investigation?:<code>
                @Html.DisplayFor(model => model.invest_need)
            </code>
            @if (Model.invest_need == "Yes")
            {
                Justify:<code>
                    @Html.DisplayFor(model => model.justify)
                </code>
            }
        </p>
        <p>
            Immediate actions taken(containment action):<code>
                @Html.DisplayFor(model => model.Actions_Taken)
            </code>
        </p>

    </div>
</div>

