@model ISOStd.Models.CustSatisfactionModels

@{
    ViewBag.Title = "";
    ISOStd.Models.CustSatisfactionModelsList objQList = new ISOStd.Models.CustSatisfactionModelsList();

    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    int icnt1 = 0;

    if (ViewBag.objQList != null)
    {
        objQList = ViewBag.objQList;
        icnt1 = objQList.CSList.Count;
    }
}
@section featured {
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("CustSatisfactionList", "CustSatisfaction", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Customer Satisfaction Assessment List</span>
                    </a>
                    <span class="breadcrumb-item active">Improvement Actions Status Update</span>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ImprovementActionStatusUpdate", "CustSatisfaction", FormMethod.Post,
                                                                                                                                 new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Improvement Actions Status Update</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <input type="hidden" id="id_cust_satisfaction" name="id_cust_satisfaction" value="@Model.id_cust_satisfaction" />
                <input type="hidden" id="itemcnt1" name="itemcnt1" value="@icnt1" />

                <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.branch)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.branch)
                            </p>
                        </td>

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Department)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Department)
                            </p>
                        </td>

                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Location)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Location)
                            </p>
                        </td>

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.cust_name)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.cust_name)
                            </p>
                        </td>

                    </tr>


                    <tr class="row">
                        <td class="col-md-12">
                            Survey Period
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.LabelFor(model => model.frm_date)
                                </p>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.frm_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.frm_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.LabelFor(model => model.to_date)
                                </p>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.to_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.to_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.prod_delivered)
                                </p>
                            </div>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.prod_delivered)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.contact_details)
                                </p>
                            </div>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.contact_details)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.LabelFor(model => model.eval_date)
                                </p>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.eval_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <p class="bg-dark py-1 px-2 rounded">
                                        @Model.eval_date.ToString("dd/MM/yyyy")
                                    </p>
                                }
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.complaint)
                                </p>
                            </div>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.complaint)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.LabelFor(model => model.cust_satisfied)
                                </p>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-4">
                            <div class="editor-field">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.cust_satisfied)
                                </p>
                            </div>
                        </td>

                    </tr>
                </table>



             

                <div class="card">

                    <div class="card-body scrollbar-container">

                        <div class="card card-table table-responsive shadow-0 mb-0">
                            <table class="table">
                                <tr class="bg-blue">

                                    <th>Action to be taken</th>
                                    <th>Personnel Responsible</th>
                                    <th>Target Date</th>
                                    <th>Resources required </th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                    <th>Update date</th>
                                </tr>
                                @if (objQList.CSList != null && objQList.CSList.Count > 0)
                                {
                                    for (int index = 0; index < objQList.CSList.Count; index++)
                                    {
                                        <tr>

                                            <td>
                                                <input type="hidden" id="id_act @(index)" name="id_act @(index)" value="@objQList.CSList[index].id_act" />
                                                @objQList.CSList[index].action_taken
                                            </td>
                                            <td>
                                                @Obj.GetMultiHrEmpNameById(objQList.CSList[index].pers_resp)

                                            </td>
                                            <td>
                                                @if (objQList.CSList[index].target_date > Convert.ToDateTime("01/01/0001"))
                                                {
                                                    @objQList.CSList[index].target_date.ToString("yyyy-MM-dd")

                                                }

                                            </td>
                                            <td>
                                                @objQList.CSList[index].resource_req
                                            </td>
                                            <td>
                                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="act_status @index" name="act_status @index" required>
                                                    <option value='' hidden>Select</option>
                                                    @if (ViewBag.Status != null)
                                                    {
                                                        foreach (var item in ViewBag.Status)
                                                        {
                                                            if (item.Value == objQList.CSList[index].act_status)
                                                            {
                                                                <option value='@item.Value' selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value='@item.Value'>@item.Text</option>
                                                            }
                                                        }
                                                    }
                                                </select>

                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="remarks @index" name="remarks @index" value="@objQList.CSList[index].remarks" required />
                                                @*<textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="remarks @index" name="remarks @index">@objQList.CSList[index].remarks</textarea>*@
                                            </td>

                                            <td>
                                                @if (objQList.CSList[index].update_date != null && objQList.CSList[index].update_date > Convert.ToDateTime("01/01/0001"))
                                                {
                                                    <input class="form-control" type="date" id="update_date @index" name="update_date @index" value="@objQList.CSList[index].update_date.ToString("yyyy-MM-dd")" required />
                                                }
                                                else
                                                {
                                                    <input class="form-control" type="date" id="update_date @index" name="update_date @index" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>

                    </div>
                </div>






            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                @Html.ActionLink("Back to List", "CustSatisfactionList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
                <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Save</button>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {

            @if (TempData["alertdata"] != null)
            {
                     @: new Noty({
                                                                                                     @:     text: '@TempData["alertdata"]',
                                                                                                     @:     type: 'error'
                                                                                                     @: }).show();
        }


            @if (@TempData["Successdata"] != null)
            {

            @:new Noty({
                                                                               @:text: '@TempData["Successdata"]',
                                                                               @: type: 'success'
                                                                               @: }).show();
        }

        });




     
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}