@using PagedList;
@using PagedList.Mvc;

@model List<ISOStd.Models.RoleModels>

@{
    ViewBag.Title = "";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
}

@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <span class="breadcrumb-item active">Roles</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}

@using (Html.BeginForm("AddRole", "Role", FormMethod.Post,
                     new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Add Role</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">

                <table class="table table-lg">

                    <tr class="row">
                    
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                Role Name<text style="color:red;">*</text>
                            </div>
                        </td>
                        <td class="col-xs-9 col-md-4">
                            <div class="editor-field">
    				<input class="form-control" type="text" id="RoleName" name="RoleName" required />		
                              
                            </div>
                        </td>
                       
                  
                                       @*<td class="col-xs-3 col-md-3">
                                            <div class="editor-label">
                                               Applicable to all Divisions<text style="color:red;">*</text>
                                            </div>
                                       </td>
                                       <td class="col">
                                             <div class="editor-field">
                                                 @if (ViewBag.YesNo != null)
                                                {
                                                    foreach (var item in ViewBag.YesNo)
                                                    {
                                                        <input type="radio" name="appl_branch" id="appl_branch" data-name='@item' value='@item'  required /> @item
                                                    }
                                                }
                                             </div>
                                        </td>*@                                   
                                  </tr>
                </table>
            </div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Add</button>
        </div>
    </div>

       
        }


<div class="card">
<div class="card-body">
                <table class="table table-bordered table-striped table-hover datatable-responsive" id="cert">
                    <thead>

                        <tr>
                         <th>
                            Sl.No
                        </th>
                        <th>
                             Role
                        </th>
                            @*<th class="not-export-column">JD Report</th>
                            <th class="not-export-column">JD</th>*@
                        <th class="not-export-column">Edit</th>
                           
                                <th class="not-export-column">Delete</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            int i = 0;
                            foreach (var item in Model)
                            {
                                i = i + 1;
                                <tr>
                                    <td>
                                        @i
                                    </td>
                        <td>@Html.DisplayFor(modelItem => item.RoleName)</td>

                                    @*<td>
                                       
                                                                                        @if (item.approve_status == "4" && item.jd_report != "")
                                                                                        {
                                                                                            <span class="bg-dark py-1 px-2 rounded">
                                                                                                <a href='@Url.Action("DisplayDocument", "Reports", new { Document = item.jd_report })' target="_blank" class="text-orange">Preview</a>
                                                                                                </span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span class="bg-dark py-1 px-2 rounded">No Report</span>
                                                                                        }
</td>
                                    <td>
                                        <a href='@Url.Action("RoleJD", "Role", new { RoleId= item.Id })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                                            <span class="badge badge-info">JD</span>
                                        </a>
                                    </td>*@
                    <td>
  			<a href='@Url.Action("RoleEdit", "Role", new { RoleId= item.Id })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                          <span class="badge badge-info">Edit</span>
                        </a>
                    </td>
                              
                                        <td>

                                            <span class="badge badge-danger" title="Delete" onclick="DeleteItems(@item.Id)" style="cursor:pointer;">Delete</span>
                                        </td>
                                    
              </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

</div>
@section Scripts {
    <script>

        $(document).ready(function () {

        @if (TempData["alertdata"] != null ) {

           @: new Noty({
                                               @:     text: '@TempData["alertdata"]',
                                               @:     type: 'error'
                                               @: }).show();
                                      }

        @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
                                             @:       text: '@TempData["Successdata"]',
                                             @:       type: 'success'
         @:}).show();
        }
        });


        var cert = function () {


            //
            // Setup module components
            //

            // Basic Datatable examples
            var _componentDatatableBasic = function () {
                if (!$().DataTable) {
                    console.warn('Warning - datatables.min.js is not loaded.');
                    return;
                }

                //Setting datatable defaults
                $.extend($.fn.dataTable.defaults, {
                    autoWidth: false,
                    responsive: true,
                    columnDefs: [{
                        orderable: false,
                        width: 100,
                        targets: []
                    }],

                    colReorder: false,
                    dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                    //dom: 'lBfrtip',
                    language: {
                        search: '<span>Filter:</span> _INPUT_',
                        searchPlaceholder: 'Type to filter...',
                        lengthMenu: '<span>Show:</span> _MENU_',
                        paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                    }
                });


                var table = $('#cert').DataTable({
                   
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    colReorder: {
                        fixedColumnsLeft: 1
                    },
                    stateSave: true,
                    //orderCellsTop: true,
                    //fixedHeader: {
                    //    header: true,

                    //},
                    //scrollX: true,
                    scrollY: '350px',
                    scrollCollapse: true,
                    //fixedHeader:true,
                    //fixedColumns: true,

                    //responsive: {
                    //    details: {
                    //        type: 'column',
                    //        target: -1
                    //    }
                    //},
                    //columnDefs: [
                    //    {
                    //        className: 'control',
                    //        orderable: false,
                    //        targets: -1
                    //    },
                    //    {
                    //        width: "100px",
                    //        targets: [5]
                    //    },
                    //    {
                    //        orderable: false,
                    //        targets: [5]
                    //    }
                    //],

                    keys: {
                        className: 'focus focus-success'
                    },

                    buttons: {
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                className: 'btn btn-light',
                                title: 'certificate Data export',
                                exportOptions: {
                                    columns: ':visible :not(.not-export-column)'
                                },
                            },
                            {
                                extend: 'excelHtml5',
                                className: 'btn btn-light',
                                title: 'certificate Data export',
                                exportOptions: {
                                    columns: ':visible :not(.not-export-column)'
                                },

                            },
                            {
                                extend: 'pdfHtml5',
                                className: 'btn btn-light',
                                title: 'certificate Data export',
                                exportOptions: {
                                    columns: ':visible :not(.not-export-column)'
                                },
                            },
                            {
                                extend: 'csvHtml5',
                                className: 'btn btn-light',
                                title: 'certificate Data export',
                                exportOptions: {
                                    columns: ':visible :not(.not-export-column)'
                                },
                            },
                            {
                                extend: 'print',
                                className: 'btn btn-light',
                                title: 'certificate Data export',
                                exportOptions: {
                                    columns: ':visible :not(.not-export-column)'
                                },
                            },

                            {
                                extend: 'colvis',
                                text: '<i class="icon-three-bars"></i>',
                                className: 'btn bg-blue btn-icon dropdown-toggle'
                            }
                        ]
                    }
                });
                // Adjust columns on window resize
                setTimeout(function () {
                    $(window).on('resize', function () {
                        table.columns.adjust();
                    });
                }, 100);


                //Redraw table on click toggle. -------table.columns.adjust doesn't work properly upon calling after toggle (width increase/decrease = redraw table.).
                $('.sidebar-control').on('click', function () {

                    setTimeout(function () {
                        //alert("gii");

                        table.columns.adjust().draw();
                        $("#cert").resize();
                    }, 100);

                });
                //}

                $('#cert').on('page.dt', function () {
                    //table.draw();
                    //alert("zzz1");
                    $("#cert").resize();

                });

                $('#cert').on('column-visibility.dt', function () {
                    //table.draw();
                    //alert("zzz2");
                    $("#cert").resize();

                });

                $('#cert').on('order.dt', function () {
                    //table.draw();
                    //alert("zzz3");
                    $("#cert").resize();

                });


                $('#cert').on('responsive-display.dt', function () {
                    //table.draw();
                    //alert("zzz4");
                    $("#cert").resize();

                });


                $('#cert').on('responsive-resize.dt', function () {
                    //table.draw();
                    //alert("zzz4");
                    $("#cert").resize();

                });


                //.on('order.dt', function () {
                //    table.columns.adjust().draw();
                //    $("#qhse").resize(); })
                //.on('search.dt', function () {
                //    table.columns.adjust().draw();
                //    $("#qhse").resize(); })

                //.on('column-visibility.dt', function () {
                //    table.columns.adjust().draw();
                //    $("#qhse").resize();
                //})



            };

            // Select2 for length menu styling
            var _componentSelect2 = function () {
                if (!$().select2) {
                    console.warn('Warning - select2.min.js is not loaded.');
                    return;
                }

                // Initialize
                $('.dataTables_length select').select2({
                    minimumResultsForSearch: Infinity,
                    dropdownAutoWidth: true,
                    width: 'auto'
                });
            };


            //
            // Return objects assigned to module
            //

            return {
                init: function () {
                    _componentDatatableBasic();
                    _componentSelect2();
                }
            }
        }();


        // Initialize module
        // ------------------------------

        document.addEventListener('DOMContentLoaded', function () {
            cert.init();
        });

        function DeleteItems(Id) {
            bootbox.confirm({
                title: 'Confirm dialog',
                message: 'Are you Sure you want to Delete the current Record?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-link'
                    }
                },
                callback: function (r) {
                    if (r == true) {
                        jQuery.ajax({

                            url: '@Url.Action("RoleDelete", "Role")',
                            type: 'POST',
                            dataType: "json",
                            data: { 'Id': Id },
                            success: function (result) {


                                //// Add new params to the querystring dictionary


                                window.location.href =
                                    window.location.protocol + "//" +
                                    window.location.host +
                                    window.location.pathname

                            }
                        });
                        return true;
                    }
                    else if (r == false) {
                        bootbox.hideAll();
                        return false;
                    }

                }
            });
        }


    </script>
    @Scripts.Render("~/bundles/jqueryval")
}