@model ISOStd.Models.AuditScheduleModels
@{
    Layout = null;
    ViewBag.Title = "AuditScheduleInfo";
}


<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">
           Audit Planning or Scheduling Info
        </h4>
    </div>

    <div class="card-body">
        <p>
            Division:<code>
                @Html.DisplayFor(model => model.branch)
            </code>
        </p>
        <p>
            Typeof Audit:<code>
                @Html.DisplayFor(model => model.audit_type)
            </code>

            Audit Number:<code>@Html.DisplayFor(model => model.audit_no)</code>
        </p>
  

        @*<p>
            Entity Type:<code>
                @Html.DisplayFor(model => model.entity_type)
            </code>
            Entity Number:<code>
                @Html.DisplayFor(model => model.entity_no)
            </code>
        </p>*@

        <p>
            Audit Scope:<code>
                @Html.DisplayFor(model => model.audit_scope)
            </code>

            @*Contractual Agreement:
               
                    @if (Model.contractual_agreement != null && Model.contractual_agreement != "" && Model.contractual_agreement.Length > 0)
                    {
                        foreach (var docs in Model.contractual_agreement.Trim(',').Split(','))
                        {
                <p class="bg-dark py-1 px-2 rounded">

                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank" style="color: orange;">
                        Preview
                    </a>
                </p>
            }
        }*@      

                    <p>
                        Audit Criticallty:<code>
                            @Html.DisplayFor(model => model.audit_criticallty)
                        </code>

                        Audit Criteria:<code>
                            @Html.DisplayFor(model => model.audit_criteria)
                        </code>
                    </p>
                    <p>
                        Schedule By:<code>
                            @Html.DisplayFor(model => model.schedule_by)
                        </code>
                        Final schedule to be Approved By:<code>
                            @Html.DisplayFor(model => model.approvedby)
                        </code>
                    </p>

                </div>
</div>


