@model ISOStd.Models.EmployeeCompetenceEvalModels
@{
    Layout = null;
}

<h5 style="text-align:center;border-bottom:1px solid #808080">Competency Evaluation Info</h5>
<p><label><b>Employee Name:</b></label>@Html.DisplayFor(model => model.Name)
<label><b>Evaluation Date:</b></label>
      @if (Model.Evaluation_DoneOn != null && Model.Evaluation_DoneOn > Convert.ToDateTime("01/01/0001"))
             {
                 @Model.Evaluation_DoneOn.ToString("dd/MM/yyyy")
             }
</p>
<p><label><b>Evaluation Frequency:</b></label>@Html.DisplayFor(model => model.Evaluated_Freq)
<label><b>Evaluation By:</b></label>@Html.DisplayFor(model => model.Evalaution_Done_By)</p>
<h5 style="text-align:center;border-bottom:1px solid #808080">Academic Qualification</h5>
<p><label><b>Minimum Competence Details as required by the Position:</b></label>@Html.DisplayFor(model => model.Academic_MinComp_Details)
<label><b>Employee Competence Details:</b></label>@Html.DisplayFor(model => model.Academic_EmpComp_Details)</p>
<p><label><b>Evaluation Output:</b></label>@Html.DisplayFor(model => model.Academic_EvalOutput)</p>
<h5 style="text-align:center;border-bottom:1px solid #808080">Years of Experience</h5>
<p><label><b>Minimum Competence Details as required by the Position:</b></label>@Html.DisplayFor(model => model.YrExp_MinComp_Details)
<label><b>Employee Competence Details:</b></label>@Html.DisplayFor(model => model.YrExp_EmpComp_Details)</p>
<p><label><b>Evaluation Output:</b></label>@Html.DisplayFor(model => model.YrExp_EvalOutput)</p>
<h5 style="text-align:center;border-bottom:1px solid #808080">Relevant Training</h5>
<p><label><b>Minimum Competence Details as required by the Position:</b></label>@Html.DisplayFor(model => model.Relevant_MinComp_Details)
<label><b>Employee Competence Details:</b></label>@Html.DisplayFor(model => model.Relevant_EmpComp_Details)</p>
<p><label><b>Evaluation Output:</b></label>@Html.DisplayFor(model => model.Relevant_EvalOutput)</p>
<h5 style="text-align:center;border-bottom:1px solid #808080">Skills</h5>
<p><label><b>Minimum Competence Details as required by the Position:</b></label>@Html.DisplayFor(model => model.Skills_MinComp_Details)
<label><b>Employee Competence Details:</b></label>@Html.DisplayFor(model => model.Skills_EmpComp_Details)</p>
<p><label><b>Evaluation Output:</b></label>@Html.DisplayFor(model => model.Skills_EvalOutput)</p>
<h5 style="text-align:center;border-bottom:1px solid #808080">Evaluatiion</h5>
<p><label><b>Is employee suitable to hold the position?:</b></label>@Html.DisplayFor(model => model.Emp_Suit_Hold_Pos)
<label><b>Is employee competent to be promoted to next position?:</b></label>@Html.DisplayFor(model => model.Emp_Prom_Nxt_Pos)</p>
<p><label><b>Need of trainings to enhance the competence:</b></label>@Html.DisplayFor(model => model.Need_Of_Trainings)
<label><b>If employee is not competent to hold the position, actions to be taken:</b></label>@Html.DisplayFor(model => model.Emp_Not_Competent_Action)</p>
<p><label><b>Evaluation Reviewed By:</b></label>@Html.DisplayFor(model => model.Eval_ReviewedBy)
<label><b>Evaluation Approved By:</b></label>@Html.DisplayFor(model => model.Eval_ApprovedBy)</p>
