@model ISOStd.Models.TUVAuditModels
@using System.Data

@{
    ViewBag.Title = "CustomerDetails";
    DataSet dsAudit = ViewBag.Audit;
    ISOStd.Models.TUVSupplierModels objSup = new ISOStd.Models.TUVSupplierModels();
    
}
<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Audit Details</span>
</div>
<div>
        @Html.ActionLink("Edit",  "AuditEdit", new { id_audit = Model.id_audit }, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
        @Html.ActionLink("Back to List", "AuditList", null, new {@class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
 </div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>
<br />
<fieldset>
    <legend>CustomerModels</legend>

    <div>
        <table style="width: 100%">
            <tr>
                 
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.CustID)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.CustID)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Project_no)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Project_no)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Audit_cycle)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Audit_cycle)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Audit_criteria)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Audit_criteria)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Location)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Location)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Audit_date)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                         @if (Model.Audit_date > Convert.ToDateTime("01/01/0001"))
                             {
                            @Model.Audit_date.ToString("dd/MM/yyyy")
                             }
                    </div>
                </td>
            </tr>
          
        </table>
    </div>
</fieldset>

@if (dsAudit != null && dsAudit.Tables.Count > 0 && dsAudit.Tables[0].Rows.Count > 0)
{
    <div id="Items">
        <div class="editor-label">
            <label for="Audit Details" style="background-color: #4cc4dd; width: 100%; color: white; padding-left: 5px;">Audit Details</label>
        </div>
        <table id="team-list">
            <tr>
                 <th>Supplier</th>
                <th>From time</th>
                <th>To time</th>
                <th>Audit Team</th>
                <th>Auditee</th>
                <th>Scheduled Date</th>
                <th>Status</th>
                <th>Perform Audit</th>
            </tr>
            @for (int i = 0; i < dsAudit.Tables[0].Rows.Count; i++)
            {
                <tr>
                  
                    <td>
                        @objSup.GetSupplierByID(dsAudit.Tables[0].Rows[i]["SupplierName"].ToString())
                    </td>
                    <td>
                        @dsAudit.Tables[0].Rows[i]["fromAuditTime"].ToString()
                    </td>
                    <td>
                        @dsAudit.Tables[0].Rows[i]["toAuditTime"].ToString()
                    </td>
                    <td>
                        @dsAudit.Tables[0].Rows[i]["Audit_team"].ToString()
                    </td>
                    <td>
                        @dsAudit.Tables[0].Rows[i]["Auditee"].ToString()
                    </td>
                    <td>
                        @if (dsAudit.Tables[0].Rows[i]["Scheduled_date"].ToString() != null && dsAudit.Tables[0].Rows[i]["Scheduled_date"].ToString() != "")
                        {
                            @Convert.ToDateTime(dsAudit.Tables[0].Rows[i]["Scheduled_date"].ToString()).ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td>
                        @dsAudit.Tables[0].Rows[i]["Audit_status"].ToString()
                    </td>
                    <td>
                         <a href='@Url.Action("PerformAudit", "TUV", new { id_audit_trans = dsAudit.Tables[0].Rows[i]["id_audit_trans"].ToString() })'  title="Perform Audit" onclick="HyperLinkProgressIconFunction()">
                               <span class="glyphicon glyphicon glyphicon-user iocnstatus-edit" onclick="HyperLinkProgressIconFunction()"></span>
                         </a>
                          <a href='@Url.Action("PerformAuditList", "TUV", new { id_audit_trans = dsAudit.Tables[0].Rows[i]["id_audit_trans"].ToString()  })'  title="Audit List" onclick="HyperLinkProgressIconFunction()" >
                               <span class="glyphicon glyphicon glyphicon-menu-hamburger iocnstatus-edit" onclick="HyperLinkProgressIconFunction()"></span>
                          </a> 
                    </td>
                </tr>
            }
        </table>
    </div>
}

 