@model ISOStd.Models.TUVSupplierModels

@{
    ViewBag.Title = "SupplierDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Supplier Details </span>
</div>
<br />
<div>
    @Html.ActionLink("Edit", "SupplierEdit", new { SupplierId = Model.SupplierId }, new {@class="ActionLink", onclick="HyperLinkProgressIconFunction()" })
    @Html.ActionLink("Back to List", "SupplierList", new {id_project=Model.id_project }, new { @class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
</div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>


<fieldset>
    <legend>SupplierModels</legend>   

    <div id="content">
            <table id="tabcontent">
                <tr>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.SupplierCode)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.SupplierCode)                           
                        </div>
                    </td>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.SupplierName)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.SupplierName)                           
                        </div>
                    </td>
                </tr>
                <tr>
                      <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.RefNo)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.RefNo)                           
                        </div>
                    </td>
                     <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Supplier_type)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Supplier_type)                           
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.SupplyScope)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.SupplyScope)                           
                        </div>
                    </td>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.ApprovalCriteria)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.ApprovalCriteria)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.SupportingDoc)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @if (Model.SupportingDoc != null && Model.SupportingDoc != "" && Model.SupportingDoc.Length > 0)
                        {
                            foreach (var docs in Model.SupportingDoc.Trim(',').Split(','))
                            {
                            <p style="margin: 0px;">
                               
                                <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs })' target="_blank" style="color: orange;">
                                 @System.IO.Path.GetFileName(docs)</a>
                            </p>
                              }
                        }
                        </div>
                    </td>
               
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Added_Updated_By)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Added_Updated_By)
                        </div>
                    </td>
                    </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.UpdatedOn)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @if (Model.UpdatedOn > Convert.ToDateTime("01/01/0001"))
                            {
                                @Model.UpdatedOn.ToString("dd/MM/yyyy")
                            }
                        </div>
                    </td>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Remarks)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Remarks)
                        </div>
                    </td>
                </tr>
                <tr>
                      <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Email)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </td>

                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.VatNo)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.VatNo)
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Payment_term)
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Payment_term)
                        </div>
                    </td>
                </tr>
            </table>
        </div>

   
</fieldset>

