@model ISOStd.Models.PPEIssueLogModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">PPE Info</h4>
    </div>

    <div class="card-body">
        <p>
            Division:<code>
                @Html.DisplayFor(model => model.branch)
            </code>
            Department:<code>@Html.DisplayFor(model => model.Department) </code>
        </p>
        <p>
            Date of Issue:
            @if (Model.Issue_Date != null && Model.Issue_Date > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.Issue_Date.ToString("dd/MM/yyyy")
                </code>
            }
            Receiver Name:<code>@Html.DisplayFor(model => model.Receiver_Name) </code>
        </p>
        <p>
            Customer Project Name:<code>
                @Html.DisplayFor(model => model.Cust_Project_Name)
            </code>
            Location:<code>@Html.DisplayFor(model => model.Work_Location) </code>
        </p>
        <p>
            PPE Issued:<code>
                @Html.DisplayFor(model => model.PPE_Issued)
            </code>
            Last Date on which PPE Issued:
            @if (Model.PPE_Issued_Last_Date != null && Model.PPE_Issued_Last_Date > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.PPE_Issued_Last_Date.ToString("dd/MM/yyyy")
                </code>
            }
        </p>
        <p>
            Issued By:<code>
                @Html.DisplayFor(model => model.Issued_By)
            </code>
            Logged By:<code>@Html.DisplayFor(model => model.LoggedBy) </code>
        </p>

    </div>
</div>