@model ISOStd.Models.TrainingStaffModels
@{
    ViewBag.Title = "TrainingStaffDetails";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    ISOStd.Models.TrainingStaffModelsList objList = new ISOStd.Models.TrainingStaffModelsList();

    if (ViewBag.TrainDetails != null)
    {
        objList = ViewBag.TrainDetails;
    }
}

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("TrainingStaffList", "TrainingStaff", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Staff Training</span>
                    </a>
                    <span class="breadcrumb-item active">Staff Training Details</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">

                    @using (Html.BeginForm("TrainingStaffPDF", "TrainingStaff", FormMethod.Post, new { id = "form1", name = "form1" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <input type="hidden" id="id_training" name="id_training" value="@Model.id_training" />

                            <button type="submit" class="dropdown-item">
                                <i class="icon-printer2"></i> Report
                            </button>

                        </div>
                    }

                    @*<div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">
            Staff Training Details
        </h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div>
        <div class="card-header bg-white header-elements-sm-inline">
            <div class="header-elements">
                <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("TrainingStaffEdit", "TrainingStaff", new { id_training = Model.id_training.ToString()  })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                    <b>  <i class="icon-add-to-list"></i></b> Edit
                </a>
                @Html.ActionLink("Back to List", "TrainingStaffList", null, new { @class = "btn btn-outline bg-orange text-orange border-orange ml-3", onclick = "HyperLinkProgressIconFunction()" })
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="container-fluid">
            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                <thead></thead>
                <tbody>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.employee)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.employee)
                            </p>
                        </td>

                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.date_taining)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.date_taining > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Model.date_taining.ToString("dd/MM/yyyy")
                                }
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.dept_head)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.dept_head)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                Division
                                </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.division)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                Department
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.dept)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                Designation
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.designation)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        @*<td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.comments)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.comments)
                            </p>
                        </td>*@
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.comment_head)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.comment_head)
                            </p>
                        </td>
                    </tr>
</table>

            @if (objList.TrainList != null &&objList.TrainList.Count > 0)
            {
                <h2 class="bg-dark pl-sm-2"> Training Details</h2>
                <div class="table-responsive">
                      <table class="table-sm table-dark table-bordered table-striped table-hover">

                        <thead>
                            <tr class="bg-brown">
                                <th>Training Type</th>
                                <th>Scheduled Date</th>
                                <th>Justification</th>
                                <th>Acceptance</th>
                                <th>Suggestion</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int index = 0; index <objList.TrainList.Count; index++)
                            {
                            <tr>
                                <td>@Obj.GetDropdownitemById(objList.TrainList[index].training_type)</td>
                                <td>
                                    @if (objList.TrainList[index].scheduled_date > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @objList.TrainList[index].scheduled_date.ToString("dd-MM-yyyy")
                                    }
                                </td>
                                <td>@objList.TrainList[index].justification</td>
                                <td>@objList.TrainList[index].acceptance</td>
                                <td>@objList.TrainList[index].suggestion</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">



     $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
        });

    </script>
}


