@model ISOStd.Models.MgmtDocumentsModels
@{
    Layout = null;
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Annexure Info</h4>
    </div>

    <div class="card-body">
        <p>
            Document Ref:<code>
                @Html.DisplayFor(model => model.DocRef)
            </code><br />
            Document Name:<code>
                @Html.DisplayFor(model => model.DocName)
            </code><br />

            Issue No:<code>
                @Html.DisplayFor(model => model.IssueNo)
            </code><br />
            Rev No:<code>
                @Html.DisplayFor(model => model.RevNo)
            </code><br />
            Prepared By:<code>
                @Html.DisplayFor(model => model.PreparedBy)
            </code><br />
            Approved By:<code>
                @Html.DisplayFor(model => model.ApprovedBy)
            </code><br />
            Document Date:
            @if (Model.DocDate != null && Model.DocDate > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.DocDate.ToString("dd/MM/yyyy")
                </code><br />
            }


        </p>
    </div>
</div>
