
@using System.Data
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    ISOStd.Models.ExtProviderDiscrepencyLogModels objModel = new ISOStd.Models.ExtProviderDiscrepencyLogModels();
    if (ViewBag.Supplier != null)
    {
        objModel = ViewBag.Supplier;
    }
   
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
}

<div>
    <div>
        <table class="table table-lg table-bordered">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Division
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.branch
                        </h4>

                    </td>
                </tr>

                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Department
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.Department
                        </h4>

                    </td>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Location
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.Location
                        </h4>

                    </td>
                </tr>

                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Discrepancy Number
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.discrepancy_no
                        </h4>

                    </td>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            External Provider Name
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.ext_provider_name
                        </h4>

                    </td>
                </tr>

                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Discrepancy identified on
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @if (objModel.discre_registerd_date > Convert.ToDateTime("01/01/0001"))
                            {
                                @objModel.discre_registerd_date.ToString("dd/MM/yyyy")
                            }
                        </h4>
                    </td>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Discrepancy reported on
                        </h4>
                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @if (objModel.discre_reported_date > Convert.ToDateTime("01/01/0001"))
                            {
                                @objModel.discre_reported_date.ToString("dd/MM/yyyy")
                            }
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Delivery Challan/Invoice No
                        </h4>
                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.delivery_note_no
                        </h4>

                    </td>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Our PO number to External Provider
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.po_no
                        </h4>

                    </td>
                </tr>
                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Discrepancy details
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.discre_detail
                        </h4>

                    </td>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Discrepancy related to
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.discre_relatedto
                        </h4>

                    </td>
                </tr>
                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Containment actions initiated
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.actions
                        </h4>

                    </td>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Impact on our performance due to discrepancy
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.impact
                        </h4>

                    </td>
                </tr>
                <tr>
                    <td class="font-size-lg font-weight-bold">
                        <h4>
                            Need of raising NCR to External Provider?
                        </h4>

                    </td>
                    <td class="font-size-lg">
                        <h4>
                            @objModel.ncr_required
                        </h4>

                    </td>

                </tr>
        </table>





    </div>

</div>















