@model ISOStd.Models.QHSEPlannerModels

@{
    ViewBag.Title = "EditQHSEPlanner";
}





    @section featured {




        <div class="page-header page-header-light">

            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

                </div>


            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">

                        <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                            <span class="breadcrumb-item"> Home</span>
                        </a>
                        <a href="@Url.Action("QHSEPlannerList", "QHSEPlanner", null)" class="breadcrumb-item">
                            <span class="breadcrumb-item"> Event Planner List</span>
                        </a>
                        <span class="breadcrumb-item active">Event Planner Edit</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">


                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Settings
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">

                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }

    @using (Html.BeginForm("QHSEPlannerEdit", "QHSEPlanner", FormMethod.Post,
                         new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="card">
            <div class="card-header header-elements-inline bg-primary">
                <h5 class="card-title">Event Planner Details</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <input type="hidden" id="id_qhse" name="id_qhse" value="@Model.id_qhse" />
                    <table class="table table-lg">


                        <tbody>
                            <tr class="row">
                                @*<td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.QHSE_name)<text style="color: red;">*</text>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select class="chosen-select" id="QHSE_name" name="QHSE_name" required multiple style="height:200px;width:200px">

                                @if (ViewBag.Standards != null)
                                {
                                    foreach (var item in ViewBag.Standards)
                                    {
                                        if (Array.IndexOf(Model.QHSE_name.ToString().Split(','), item.Value) >= 0)
                                        {
                                            <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else
                                        {
                                        <option value='@item.Value'>@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                    </td>*@
                                <td class="col-xs-3 col-md-2">

                                    @Html.LabelFor(model => model.Activity_name)<text style="color: red;">*</text>

                                </td>
                                <td class="col">

                                    <textarea maxlength="225" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="Activity_name" name="Activity_name" required>@Model.Activity_name</textarea>



                                </td>
                                <td class="col-xs-3 col-md-2">

                                    @Html.LabelFor(model => model.NotificationPeriod)

                                </td>
                                <td class="col">
                                    <div class="form-group form-group-float">
                                        <select class="form-control select-search select2-hidden-accessible" id="NotificationPeriod" name="NotificationPeriod" data-fouc required>
                                            @if (ViewBag.NotificationPeriod != null)
                                            {
                                                foreach (var data in ViewBag.NotificationPeriod)
                                                {
                                                    if (data.Key == Model.NotificationPeriod)
                                                    {
                                                        <option value='@data.Key' selected>@data.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value='@data.Key'>@data.Value</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group form-group-float">
                                        <input class="form-control" type="number" id="NotificationValue" name="NotificationValue" value="@Model.NotificationValue" max="3" />

                                        <span class="form-text text-muted"><code>(Alert on or before Target date)</code></span>


                                    </div>


                                </td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-3 col-md-2">

                                    @Html.LabelFor(model => model.Planned_date)<text style="color: red;">*</text>

                                </td>
                                <td class="col">
                                    <div class="editor-field">

                                        <input type="date" class="form-control" id="Planned_date" name="Planned_date" value="@Model.Planned_date.ToString("yyyy-MM-dd")" required>
                                    </div>

                                </td>
                                <td class="col-xs-3 col-md-2">

                                    @Html.LabelFor(model => model.Person_responsible)<text style="color:red;">*</text>

                                </td>
                                <td class="col">
                                    <select class="form-control select-fixed-multiple" multiple="multiple" data-fouc id="Person_responsible" name="Person_responsible" required>

                                        @if (ViewBag.EmpList != null)
                                        {
                                            foreach (var data in ViewBag.EmpList)
                                            {
                                                if (Array.IndexOf(Model.Person_responsible.ToString().Split(','), data.Value) >= 0)
                                                {
                                                    <option value='@data.Value' selected>@data.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@data.Value'>@data.Text</option>
                                                }
                                            }
                                        }
                                    </select>

                                </td>
                            </tr>
                            <tr class="row">

                                <td class="col-xs-3 col-md-2">

                                    @Html.LabelFor(model => model.Target_date)<text style="color: red;">*</text>

                                </td>
                                <td class="col">


                                    <input type="date" class="form-control" id="Target_date" name="Target_date" onchange="checkDate();" value="@Model.Target_date.ToString("yyyy-MM-dd")" required>

                                </td>
                               
                            </tr>
                            <tr class="row">
                                <td class="col-xs-3 col-md-2">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Remarks)
                                    </div>
                                </td>
                                <td class="col">
                                    <div class="editor-field">

                                        <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="Remarks" name="Remarks">@Model.Remarks</textarea>
                                    </div>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">

                @Html.ActionLink("Back to List", "QHSEPlannerList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
                <button type="submit" id="btnCreate" value="Update" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Update</button>
            
            </div>
         


        </div>
    }
    @section Scripts {
        <script>
        //----zzz
    $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });
    //zzz----
        function checkDate() {


                var dt2 = document.getElementById("Target_date").value;
                var dt1 = document.getElementById("Planned_date").value;

                if (new Date(dt1).getTime() > new Date(dt2).getTime()) {

                    bootbox.alert({
                        title: 'Target Date',
                        message: 'Target date should not be lesser than the planned date.'
                    });
                    $('#Target_date').val("");
                }
            }

        </script>
        @Scripts.Render("~/bundles/jqueryval")
    }
