@model ISOStd.Models.SupplierModels
@{
    /**/

    Layout = null;
}

<h4 style="text-align:center;border-bottom:1px solid #808080">Suppliers Information</h4>
<p><label><b>Division:</b></label>@Html.DisplayFor(model => model.branch)</p>
<p><label><b>Department:</b></label>@Html.DisplayFor(model => model.Department)</p>
<p><label><b>Location:</b></label>@Html.DisplayFor(model => model.Location)</p>

<p><label><b>Supplier Code:</b></label>@Html.DisplayFor(model => model.SupplierCode)</p>
<p><label><b>Supplier Name:</b></label>@Html.DisplayFor(model => model.SupplierName)</p>
<p><label><b>Approval Reference No:</b></label>@Html.DisplayFor(model => model.RefNo)</p>
<p><label><b>Supplier Origin:</b></label>@Html.DisplayFor(model => model.Supplier_type)</p>
<p><label><b>Supplier Type:</b></label>@Html.DisplayFor(model => model.Supplier_Work_Nature)</p>
<p><label><b>Scope of Supply:</b></label>@Html.DisplayFor(model => model.SupplyScope)</p>
<p><label><b>Approval Criteria:</b></label>@Html.DisplayFor(model => model.ApprovalCriteria)</p>
<p><label><b>Approved By:</b></label>@Html.DisplayFor(model => model.ApprovedBy)</p>
<p><label><b>Approved Status:</b></label>@Html.DisplayFor(model => model.ApprovedStatus)</p>
<p><label><b>Remarks:</b></label>@Html.DisplayFor(model => model.Remarks)</p>
<p><label><b>Email Address:</b></label>@Html.DisplayFor(model => model.Email)</p>
<p><label><b>Vat No:</b></label>@Html.DisplayFor(model => model.VatNo)</p>
<p><label><b>Payment Term:</b></label>@Html.DisplayFor(model => model.Payment_term)</p>
<p>
    <label><b>License Expiry Date:</b></label> @if (Model.License_Expires != null && Model.License_Expires > Convert.ToDateTime("01/01/0001"))
    {
        @Model.License_Expires.ToString("dd/MM/yyyy")
    }
</p>
<p><label><b>Supplier Criticality:</b></label>@Html.DisplayFor(model => model.Criticality)</p>
<p>
    <label><b>Notification Period</b></label>
    @Html.DisplayFor(model => model.NotificationValue)
    @Html.DisplayFor(model => model.NotificationPeriod)
</p>