@model IEnumerable < ISOStd.Models.IssuesModels>
@{
    Layout = null;
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Internal & External Issues Info</h4>
    </div>

    <div class="card-body">
        @foreach (var item in Model)
        {
            <p>
                Division:<code>
                    @item.branch
                </code>
                Location:<code> @item.Location         </code>
            </p>
            <p>
                Issued Reported Date<code>
                    @if (item.issue_date != null && item.issue_date > Convert.ToDateTime("01/01/0001"))
                    {
                        @item.issue_date.ToString("dd/MM/yyyy")
                    }
                </code>

                Department:<code> @item.Deptid         </code>
            </p>
            <p>
                Issues Ref:<code>
                    @item.Issue_refno
                </code>
                Issues:<code>
                    @item.Issue
                </code>
            </p>
            <p>
                Issues Type:<code>
                    @item.IssueType
                </code>
                Issues Category:<code> @item.Issue_Category </code>

            </p>

            <p>
                Effect:<code>
                    @item.Effect
                </code>
                Impact:<code> @item.Impact         </code>
            </p>

            <p>
               
                Impact Detail:<code> @item.Impact_detail         </code>
            </p>


            <p>
                Reporting To:<code>
                    @item.reporting_to
                </code>
                Notified To:<code> @item.notified_to         </code>
            </p>

        }
    </div>

</div>
