@model IEnumerable < ISOStd.Models.IssuesModels>
@{
    Layout = null;
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Internal & External Issues Info</h4>
    </div>

    <div class="card-body">
        @foreach (var item in Model)
        {
            <p>
                Issues Ref:<code>
                    @item.Issue_refno
                </code>
                Division:<code>
                    @item.branch
                </code>
            </p>
            <p>
                Department:<code> @item.Deptid         </code>
                Location:<code> @item.Location         </code>
            </p>
            <p>
                Issued Reported Date<code>
                    @if (item.issue_date != null && item.issue_date > Convert.ToDateTime("01/01/0001"))
                    {
                        @item.issue_date.ToString("dd/MM/yyyy")
                    }
                </code>

                Reporting To:<code>
                    @item.reporting_to
                </code>
            </p>
            <p>

                Issues:<code>
                    @item.Issue
                </code>
                Effect:<code>
                    @item.Effect
                </code>
            </p>
            <p>
                Repetitive Issues :<code>
                    @item.Repet_Issue
                </code>
                Repetitive Issues Detail:<code> @item.Repet_Issue_detail </code>

            </p>
            <p>
                Issues Type:<code>
                    @item.IssueType
                </code>
                Issues Category:<code> @item.Issue_Category </code>

            </p>

            <p>              
                Impact Level:<code> @item.Impact         </code> 
                Impact Detail:<code> @item.Impact_detail         </code>
            </p>


            <p>
                Additional Details:<code> @item.additional_details         </code>
                Notified To:<code> @item.notified_to         </code>
            </p>

        }
    </div>

</div>
