@model ISOStd.Models.SupplierPerformanceModels
@{
    Layout = null;
    string Action = "", Rating = "";
    if (Model.Action_sup.Contains("&"))
    {
        Action = Model.Action_sup.Split('&')[0];
        Rating = Model.Action_sup.Split('&')[1];
    } 
}
<h4 style="text-align:center;border-bottom:1px solid #808080">External Provider Performance Information</h4>
<p><label><b>External Provider Name:</b></label>@Html.DisplayFor(model => model.Supplier_Name)</p>
<p>
    <label><b>Evaluation Date:</b></label>
    @if (Model.Eval_FromDate != null && Model.Eval_FromDate > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Eval_FromDate.ToString("dd/MM/yyyy")
    }

    <label><b>Evaluation Year:</b></label>@Html.DisplayFor(model => model.Eval_ToDate)
</p>

<p><label><b>total_delv:</b></label>@Html.DisplayFor(model => model.total_delv)
<label><b>Accepted No of deliveries:</b></label>@Html.DisplayFor(model => model.accept_delv)</p>
<p><label><b>No of delivery on time:</b></label>@Html.DisplayFor(model => model.ontime_delv)
<label><b>lowest net price:</b></label>@Html.DisplayFor(model => model.lowest_price)</p>
<p><label><b>External Provider net price:</b></label>@Html.DisplayFor(model => model.supp_price)
@*<label><b>Number of SHE compliance:</b></label>@Html.DisplayFor(model => model.SHE_total)</p>*@
<p><label><b>QUALITY:</b></label>@Html.DisplayFor(model => model.QUALITY)%
<label><b>PRICE:</b></label>@Html.DisplayFor(model => model.PRICE)%</p>
<p><label><b>SERVICE:</b></label>@Html.DisplayFor(model => model.SERVICE)%
<label><b>Safety,Health & Environment(SHE) compliance:</b></label>@Html.DisplayFor(model => model.SHE)%</p>
<p><label><b>Rating:</b></label>@Html.DisplayFor(model => model.rating)%
<label><b>Action to be taken:</b></label>@Action</p>
<p><label><b>Rating:</b></label>@Rating</p>