
@model ISOStd.Models.KnowledgeBaseModels
@using System.Data;
@{
    ViewBag.Title = "KnowledgeBaseEdit";
}
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/adapters/jquery.js"></script>
<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Knowledge Base Edit </span>
</div>

@*<div class="ActionLink">
    @Html.ActionLink("Add New", "AddKnowledgeBase", null, new { id_knowledge_base = ViewBag.id_knowledge_base }, new { @class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
</div>*@
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
    }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
    }
    <br />

    @using (Html.BeginForm("KnowledgeBaseEdit", "KnowledgeBase", FormMethod.Post,
                                     new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    @*@Html.PagedListPager(Model, page => Url.Action("DisplayKnowledgeBase",
        new
        {
            page,
            SearchText = Request.QueryString["SearchText"]
        }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })*@
    <fieldset>
        <div id="content">
            <table id="table1">


                <thead>

                    <tr>

                        <th style="width:450px;min-width:450px; max-width:450px; text-align : center">
                            @Html.DisplayNameFor(model => model.id_knowledge_base)
                        </th>
                        <th style="width:450px;min-width:450px; max-width:450px; text-align : center">
                            @Html.DisplayNameFor(model => model.topic)
                        </th>

                        <th style="width:450px;min-width:450px; max-width:450px; text-align : center">
                            @Html.DisplayNameFor(model => model.Evidence)
                        </th>

                        @*<th>Action</th>*@
                    </tr>



                    @*<tr>
                        <th style="width:550px;min-width:550px; max-width:550px;">
                            @Html.DisplayNameFor(model => model.details)
                        </th>*@

                </thead>
                <tbody>
                 

                            <tr>

                                
                                    <td colspan="2">
                                        <div class="editor-field" style="text-align:center">
                                            @Html.TextAreaFor(modelItem => Model.id_knowledge_base, new { @value = "Model.id_knowledge_base" , @readonly ="true"}  )
                                        </div>
                                    </td>

                                    <td colspan="4">
                                        <div class="editor-field" style="text-align:center; width : 100%">
                                            @Html.TextAreaFor(modelItem => Model.topic, new { @value = "Model.topic" })
                                        </div>
                                    </td>
                                    <td>

                                        <input type="file" name="Evidence" id="Evidence" title="Objective Evidence" onchange="FileFormatValidation(this)" accept=".pdf, .doc, .docx,image/*"
                                               style="height: 38px;" />



                                        @if (Model.Evidence != "")
                                        {
                                            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = Model.Evidence, @class = "ckeditor", @value = "Model.id_knowledge_base" })' target="_blank">Preview</a>
                                        }

                                    </td>

</tr>



                            <tr>


                               
                                    <td colspan="10">
                                        <div class="editor-field">
                                            @Html.TextAreaFor(modelItem => Model.details, new { @class = "ckeditor" })
                                        </div>
                                       </td>
                              
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">
                                <div style="text-align: center;">
                                    <h4 style="color: grey;">No data exists</h4>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>


            </table>
        </div>

        <div style="width: 100%; text-align: center;">
            <input type="submit" value="Update" onclick="ProgressIconFunction('#form1')" />
            
        </div>

    </fieldset>

    }



    @section scripts {

        <script type="text/javascript">




            function FileFormatValidation(file) {

                var ext = file.value.split(".").pop().toLowerCase();

                if ($.inArray(ext, ["pdf", "jpg", "jpeg", "gif", "png"]) == -1) {

                    file.value = "";

                    jAlert("Invalid file format, please upload only pdf, jpg, jpeg, gif, png format");

                }
            }




                function downloadInnerHtml(filename, elId) {
                    var $table = $('#table1');
                    $rows = $table.find('tr');

                    var csvData = "";

                    for (var i = 0; i < $rows.length; i++) {
                        var $cells = $($rows[i]).children('th,td'); //header or content cells

                        for (var y = 0; y < $cells.length; y++) {
                            if (y > 0) {
                                csvData += ",";
                            }

                            var txt = ($($cells[y]).text()).toString().trim();

                            if (txt.indexOf(',') >= 0 || txt.indexOf('\"') >= 0 || txt.indexOf('\n') >= 0) {
                                txt = "\"" + txt.replace(/\"/g, "\"\"") + "\"";
                            }
                            csvData += txt;
                        }
                        csvData += '\n';
                    }


                    var elHtml = csvData;
                    var link = document.createElement('a');
                    mimeType = 'application/csv;charset=utf-8';

                    link.setAttribute('download', filename);
                    link.setAttribute('href', 'data:' + mimeType + ';charset=utf-8,' + encodeURIComponent(elHtml));
                    link.click();
                }
                var fileName = 'KnowledgeBase.csv'; // You can use the .txt extension if you want

                $('#downloadLink').click(function () {
                    downloadInnerHtml(fileName, 'content');
                });

        </script>
        @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/ckeditor")
@Scripts.Render("~/bundles/ckeditor/adapters")
    }
