@model ISOStd.Models.SupplierReevalutionModels
@{
    Layout = null;
    ViewBag.Title = "SupplierReevalutionInfo";

    ISOStd.Models.SupplierReevalutionModelsList objList = new ISOStd.Models.SupplierReevalutionModelsList();

    if (ViewBag.ObjQuestList != null)
    {
        objList = ViewBag.ObjQuestList;
    }

}
<h4 style="text-align:center;border-bottom:1px solid #808080">Supplier Reevaluation Info</h4>
<p>
<p>
    <label><b>Division:</b></label>@Html.DisplayFor(model => model.branch)
    <label><b>Department:</b></label>@Html.DisplayFor(model => model.Department)
</p>
</p>
<p>

    <label><b>Performance Preview Year:</b></label>@Html.DisplayFor(model => model.perf_review_year)
    <label><b>Location:</b></label>@Html.DisplayFor(model => model.Location)
    @*@if (Model.evalu_date != null && Model.evalu_date > Convert.ToDateTime("01/01/0001"))
        {
            @Model.evalu_date.ToString("dd/MM/yyyy")
        }*@
</p>
<p>
    <label><b>Supplier Name:</b></label>@Html.DisplayFor(model => model.supplier)
</p>
<p>
    <label><b>Supplier Code:</b></label>@Html.DisplayFor(model => model.supp_code)
    <label><b>Supplier Scope:</b></label>@Html.DisplayFor(model => model.supp_scope)
</p>


<table style="width: 90%;">
    <tr>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Sr. No.
        </th>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Questions
        </th>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Rating
        </th>       
    </tr>
    @if (ViewBag.ObjQuestList != null)
    {
        int iSrno = 0;
        foreach (var item in objList.EvalList)
        {
            iSrno = iSrno + 1;
            <tr>
                <td>
                    @iSrno
                </td>
                <td style="width: 500px; min-width: 500px; max-width: 500px;">
                    @item.SQId
                </td>
                <td style="width: 100px; min-width: 100px; max-width: 100px;">
                    @item.SQ_OptionsId
                </td>               
            </tr>
        }      
    }
</table>




