@model ISOStd.Models.NCRLogModels

@{
    ViewBag.Title = "NCRLogDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">NCR-Log Details </span>
</div>

<div class = "ActionLink">
        @Html.ActionLink("Edit", "NCRLogEdit",  new { idt_NCR_Log=Model.idt_NCR_Log }, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
        @Html.ActionLink("Back to List", "NCRLogList", new {  CAR_ID = @ViewBag.CAR_ID }, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
    </div>
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
</div>

<fieldset>
    <legend>NCRLogModels</legend>

    <table id="tabcontent">
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.NCRNo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.NCRNo)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Ncr_logDate)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @if (Model.Ncr_logDate > Convert.ToDateTime("01/01/0001"))
                        {
                            @Model.Ncr_logDate.ToString("dd/MM/yyyy")
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.NCR_Details)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.NCR_Details)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.NCR_Dept)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                       @Html.DisplayFor(model => model.NCR_Dept)
                    </div>
                </td>
            </tr>
         <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Correction_Details)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Correction_Details)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Correction_Date)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                       @Html.DisplayFor(model => model.Correction_Date)                        
                    </div>
                </td>
            </tr>
         <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Corrective_Action_date)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                         @Html.DisplayFor(model => model.Corrective_Action_date)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.FollowupDate)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                         @Html.DisplayFor(model => model.FollowupDate)
                    </div>
                </td>
            </tr>
         <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ReportStatus)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ReportStatus)
                    </div>
                </td>
              @if (Model.ReportStatus != null && Model.ReportStatus.ToLower() == "closed")
              {
                  <td>
                      <div class="display-label">
                          @Html.DisplayNameFor(model => model.Report_Close_Date)
                      </div>
                  </td>
                <td>
                    <div class="display-field">
                       @Html.DisplayFor(model => model.Report_Close_Date)
                    </div>
                </td>
              }
            </tr>
        </table> 
</fieldset>
