@model IEnumerable<ISOStd.Models.RiskRegisterActivityModels>
    @{
        Layout = null;
    }

    <div class="card alpha-success border-success">
        <div class="card-header bg-info text-white">
            <h4 class="text-center">Risk Register Activity Info</h4>
        </div>

        <div class="card-body">

            @foreach (var item in Model)
            {
                <p>
                    Division:<code> @item.branch</code>
                    Location:<code> @item.Location</code>
                </p>
                <p>
                    Activity:<code> @item.Activity</code>
                    @*
                <p><label><b>Activity No:</b></label> @item.Activity_No</p>*@
                    Department:<code> @item.DeptId</code>
                </p>
                <p>
                    Activity Category:<code>
                        @item.Activity_Category
                    </code>
                    Risk Type:<code> @item.Risk_Type</code>
                </p>
                <p>
                    Activity Status:<code>
                        @item.Activity_Status
                    </code>
                    Logged By:<code> @item.LoggedBy</code>
                </p>

            }
        </div>

    </div>


