@model ISOStd.Models.EmpPerformanceEvalModels

@{
    ViewBag.Title = "AddEmployeeCompetenceEval";

    ISOStd.Models.EmpPerformanceElementsModelsList objEmpPerformanceEvalList = new ISOStd.Models.EmpPerformanceElementsModelsList();
    int iSrno = 0;
    decimal TotalScore = 0;
    var SectionId = "";
    if (ViewBag.PerformanceElement != null)
    {
        objEmpPerformanceEvalList = ViewBag.PerformanceElement;
    }

    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    //ISOStd.Models.EmpPerformanceElementsModels ObjElement = new ISOStd.Models.EmpPerformanceElementsModels();
    string user = Obj.GetCurrentUserSession().empid;

    System.Data.DataSet ObjMaxRate = new System.Data.DataSet();
    if (ViewBag.MaxRate != null)
    {
        ObjMaxRate = ViewBag.MaxRate;
    }

    int sObjMaxRate = 0;
}

@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("EmployeePerformanceEvalList", "EmployeePerformanceEval", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Performance Evaluation</span>
                    </a>
                    <span class="breadcrumb-item active">Performance Evaluation Details</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                    @if (Obj.GetCurrentUserSession().EmpPerfEval.Contains("4"))
                    {
                        using (Html.BeginForm("EmployeePerformanceEvalPDF", "EmployeePerformanceEval", FormMethod.Post, new { id = "form1", name = "form1" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="breadcrumb-elements-item dropdown p-0">
                                <input type="hidden" id="Performance_EvalId" name="Performance_EvalId" value="@Model.Performance_EvalId" />
                                <button type="submit" class="dropdown-item">
                                    <i class="icon-printer2"></i> Report
                                </button>
                            </div>
                        }
                    }

                    @*<div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i>All settings</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
}


<div class="card">

    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">Performance Evaluation Details</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div>
        <div class="card-header bg-white header-elements-sm-inline">

            <div class="header-elements">
                <div class="mt-2 mt-sm-0">

                    @if (Obj.GetCurrentUserSession().EmpPerfEval.Contains("3"))
                    {                       

                        if ((Model.Comment_JrMgr == "" && user == Model.Eval_DoneById))
                        {                            
                            <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("EmployeePerformanceEvalEdit", "EmployeePerformanceEval", new { Performance_EvalId = Model.Performance_EvalId })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                                <b><i class="icon-add-to-list"></i></b>Edit
                            </a>
                        }
                        if ((Model.Comment_JrMgr == "" && user == Model.JrMgr) || (Model.Comment_JrMgr != "" && Model.Comment_SrMgr == "" && (user == Model.JrMgr || user == Model.SrMgr)) || (Model.Comment_JrMgr != "" && Model.Comment_SrMgr != "" && user == Model.SrMgr))
                        {                           
                            <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("EmployeePerformanceEvalMgrEdit", "EmployeePerformanceEval", new { Performance_EvalId = Model.Performance_EvalId })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                                <b><i class="icon-add-to-list"></i></b>Edit
                            </a>
                        }
                    }
                    @Html.ActionLink("Back to List", "EmployeePerformanceEvalList", null, new { @class = "btn btn-outline bg-orange text-orange border-orange", onclick = "HyperLinkProgressIconFunction()" })
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">
        <div class="container-fluid">

            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.emp_id)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.emp_id)
                        </span>
                    </td>
                    <td class="col-xs-3 col-md-2">

                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Evaluation_DoneOn)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @if (Model.Evaluation_DoneOn != null && Model.Evaluation_DoneOn > Convert.ToDateTime("01/01/0001"))
                            {
                                @Html.Label(Model.Evaluation_DoneOn.ToString("dd/MM/yyyy"))
                            }
                        </span>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Evaluated_From)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @if (Model.Evaluated_From != null && Model.Evaluated_From > Convert.ToDateTime("01/01/0001"))
                            {
                                @Html.Label(Model.Evaluated_From.ToString("dd/MM/yyyy"))
                            }
                        </span>
                    </td>
                    <td class="col-xs-3 col-md-2">

                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Evaluated_To)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @if (Model.Evaluated_To != null && Model.Evaluated_To > Convert.ToDateTime("01/01/0001"))
                            {
                                @Html.Label(Model.Evaluated_To.ToString("dd/MM/yyyy"))
                            }
                        </span>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Eval_DoneBy)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Eval_DoneBy)
                        </span>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Weakness)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Weakness)
                        </span>
                    </td>
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Strengths)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Strengths)
                        </span>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Training_Reqd)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Training_Reqd)
                        </span>
                    </td>
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.Actions_Taken)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Actions_Taken)
                        </span>
                    </td>
                </tr>
                <tr class="row">
                    @*<td class="col-xs-3 col-md-2">
                <p class="bg-brown py-1 px-2 rounded">
                    @Html.LabelFor(model => model.Eval_ReviewedBy)
                </p>
            </td>
            <td class="col">
                <span class="bg-dark py-1 px-2 rounded">
                    @Html.DisplayFor(model => model.Eval_ReviewedBy)
                </span>
            </td>*@
                    @if (Obj.GetCurrentUserSession().EmpPerfEval.Contains("4"))
                    {
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.LabelFor(model => model.DocUploadPath)
                            </p>
                        </td>
                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @if (Model.DocUploadPath != "")
                                {
                                    <span class="bg-dark py-1 px-2 rounded">
                                        <a href='@Url.Action("DisplayDocument", "Reports", new { Document = Model.DocUploadPath })' target="_blank">Preview</a>
                                    </span>
                                }
                                else
                                {
                                    <span class="bg-dark py-1 px-2 rounded text-danger">No File</span>
                                }
                            </span>
                        </td>
                    }
                </tr>

                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.JrMgr)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.JrMgr)
                        </span>
                    </td>
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.SrMgr)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.SrMgr)
                        </span>
                    </td>
                </tr>
                @if (Model.Comment_JrMgr != "")
                {
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.LabelFor(model => model.JrMgr_Comment_Date)
                            </p>
                        </td>
                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @if (Model.JrMgr_Comment_Date != null && Model.JrMgr_Comment_Date > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Html.Label(Model.JrMgr_Comment_Date.ToString("dd/MM/yyyy"))
                                }
                            </span>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.LabelFor(model => model.Comment_JrMgr)
                            </p>
                        </td>
                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Comment_JrMgr)
                            </span>
                        </td>
                    </tr>
                }
                @if (Model.Comment_SrMgr != "")
                {
                    <tr class="row">

                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.LabelFor(model => model.SrMgr_Comment_Date)
                            </p>
                        </td>
                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @if (Model.SrMgr_Comment_Date != null && Model.SrMgr_Comment_Date > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Html.Label(Model.SrMgr_Comment_Date.ToString("dd/MM/yyyy"))
                                }
                            </span>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.LabelFor(model => model.Comment_SrMgr)
                            </p>
                        </td>
                        <td class="col">
                            <span class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Comment_SrMgr)
                            </span>
                        </td>
                    </tr>
                }

                <tr class="row">

                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                           Status
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.sstatus)
                        </span>
                    </td>
                    
                </tr>
            </table>

            @if (ViewBag.PerformanceElement != null)
            {
                <br />
                <h2 class="bg-dark pl-sm-2">Employee Performance</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover datatable-responsive" id="">
                        <thead>
                            <tr class="bg-brown">

                                <th>Sr. No.</th>
                                <th>Element</th>
                                <th>Rating</th>
                                <th>Weightage</th>

                            </tr>
                        </thead>
                        <tbody>
                           @if(ObjMaxRate.Tables.Count > 0)
                           {
                               sObjMaxRate = Convert.ToInt32(ObjMaxRate.Tables[0].Rows[0]["Weightage"].ToString());
                           }

                            @{
                                int Weightage = 0; int Sq_No = 0; decimal GrandTotal = 0; int Sectionrate = 0;string Msg = "";
                            }
                            @foreach (var item in objEmpPerformanceEvalList.lstEmpPerformanceElements)
                            {
                                iSrno = iSrno + 1;
                                Sq_No = Sq_No + 1;

                                if (iSrno == 1)
                                {
                                    Weightage = Convert.ToInt32(item.SQ_Weightage);
                                }


                                if (iSrno != 1 && SectionId != item.Section)
                                {

                                    TotalScore = Weightage * Sectionrate / ((Sq_No - 1) * sObjMaxRate);
                                    <tr>
                                        <td>Section Weightage</td>
                                        <td>@Weightage</td>
                                    </tr>
                                    <tr>
                                        <td>Total Score of above section (Weightage:@Sectionrate)</td>
                                        <td>@TotalScore (out of @Sectionrate)</td>
                                    </tr>
                                    GrandTotal = GrandTotal + TotalScore;
                                }

                                if (iSrno == 1 || SectionId != item.Section)
                                {
                                    <tr>

                                        <td colspan="4" style="font:bolder">
                                            @Obj.GetEmpPerformaceSectionById(item.Section) &nbsp;&nbsp;&#45;&nbsp;&nbsp;Weightage&#58;&nbsp;&nbsp;
                                            @item.Section_Weightage
                                        </td>
                                    </tr>
                                    {
                                        Sq_No = 1;
                                    }

                                }

                                <tr>
                                    <td>
                                        @*@iSrno*@
                                        @Sq_No
                                    </td>
                                    <td>
                                        @item.SQId
                                    </td>
                                    <td>
                                        @item.SQ_OptionsId
                                    </td>
                                    <td>
                                        @item.SQ_Weightage
                                    </td>
                                </tr>

                                if (iSrno != 1 && SectionId != item.Section)
                                {
                                    Weightage = Convert.ToInt32(item.SQ_Weightage);
                                }
                                if (SectionId == item.Section)
                                {
                                    Weightage = Weightage + Convert.ToInt32(item.SQ_Weightage);
                                }
                                SectionId = (item.Section);
                                Sectionrate = Convert.ToInt32(item.Section_Weightage);

                            }
                            <tr>
                                @{
                                    TotalScore = Weightage * Sectionrate / (Sq_No * sObjMaxRate);
                                    GrandTotal = GrandTotal + TotalScore;
                                }


                            <tr>
                                <td>Section Weightage</td>
                                <td>@Weightage</td>
                            </tr>
                            <tr>
                                <td>Total Score of above section (Weightage:@Sectionrate)</td>
                                <td>@TotalScore (out of @Sectionrate)</td>
                            </tr>

                            @if(GrandTotal == 100)
                            {
                                Msg = "Outstanding";
                            }
                            else if(GrandTotal >= 80 && GrandTotal < 99)
                            {
                                Msg = "Excellent";
                            }                            
                            else if (GrandTotal >= 60 && GrandTotal < 79)
                            {
                                Msg = "Good";
                            }
                            else if (GrandTotal >= 40 && GrandTotal < 59)
                            {
                                Msg = "Moderate";
                            }
                            else if (GrandTotal >= 20 && GrandTotal < 39)
                            {
                                Msg = "Average";
                            }
                            else if (GrandTotal >= 1 && GrandTotal < 19)
                            {
                                Msg = "Poor";
                            }
                            <tr>
                                <td>Overall Weightage</td>
                                <td>@GrandTotal % &nbsp;&nbsp;&#45;&nbsp;&nbsp;( @Msg )</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>

</div>


@section scripts {
    <script>
          //----zzz
                    $(document).ready(function () {

        @if (TempData["alertdata"] != null ) {

           @: new Noty({
                                               @:     text: '@TempData["alertdata"]',
                                               @:     type: 'error'
                                               @: }).show();
                                                                }

        @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
                                             @:       text: '@TempData["Successdata"]',
                                             @:       type: 'success'
         @:}).show();
        }
                    });
                    //zzz----

    </script>


}