@model ISOStd.Models.LegalRegisterModel

@{
    ViewBag.Title = "LegalRegisterEvaluationDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Legal Register Evaluation Details</span>
</div>

<div class = "ActionLink">
     @Html.ActionLink("Edit", "LegalRegisterEvaluationEdit", new {  legalregister_evaluation_Id=Model.legalregister_evaluation_Id }, new { @class = "ActionLink", 
    onclick="HyperLinkProgressIconFunction()" })
    @Html.ActionLink("Back","LegalRegisterEvaluationList", new {   id_requirements = Model.id_requirements, LegalRequirement_Id= Model.LegalRequirement_Id }, 
    new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
</div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>
<br /><br />

<fieldset>
    <legend>LegalRegisterModel</legend>

   
    <table id="tabcontent">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.LegalRegister_Eval_On)
                </div>
            </td>
            <td>

                <div class="editor-field">
                    @Model.LegalRegister_Eval_On.ToString("dd/MM/yyyy")
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.comply)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.comply)
                </div>
            </td>
        </tr>

        <tr>
            <td>


                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.Duedate)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Model.Duedate.ToString("dd/MM/yyyy")
                </div>
            </td>
              <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.yes_comply_reason)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.yes_comply_reason)
                </div>
            </td>
           
        </tr>

        <tr>

            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.no_comply_reason)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.no_comply_reason)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.Comply_action)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Comply_action)
                </div>
            </td>
        </tr>
        <tr>
                  <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.personel_responsible)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.personel_responsible)
                </div>
            </td>
      
        </tr>
    </table>
</fieldset>
