@model ISOStd.Models.RiskRegisterActivityEvaluationModels
@{
    Layout = null;
    string Riskrating = "";
    if (Model.Risk_Rating.Contains("&"))
    {
        Riskrating = Model.Risk_Rating.Split('&')[0];
    }
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Risk Register Activity Info</h4>
    </div>

    <div class="card-body">




        <p>
            Description of Hazard:<code> @Model.hazard</code>
            Severity:<code>@Model.Severity</code>
        </p>


        <p>
            Probability:<code>@Model.Probability</code>
            Exposure:<code> @Model.Exposure_id</code>
        </p>


        <p>
            Risk_Rating:<code>@Riskrating</code>
            Evaluation Status:<code> @Model.Evaluation_status</code>
        </p>


        <p>
            Control Measure:<code>@Model.Cur_Opt_Ctrl</code>
            Person Responsible:<code>@Model.Person_resp</code>
        </p>


        <p>
            Evaluation Date:<code>
                @if (Model.Eval_Date > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.Eval_Date.ToString("dd/MM/yyyy")
                }
            </code>

            Re-Evaluation Date:<code>
                @if (Model.ReEval_Date > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.ReEval_Date.ToString("dd/MM/yyyy")
                }
            </code>
        </p>




        <p>
            QHSE Reviewer:<code>@Model.Reviewer_QHSE</code>
            Approved By:<code>@Model.ApprovedBy</code>
        </p>


        <p>
            Prepared by:<code>@Model.Action_TakenBy</code>
            Approve Status:<code>@Model.Approve_status</code>
        </p>

    </div>

</div>
