@model ISOStd.Models.RiskRegisterActivityEvaluationModels

@{
    ViewBag.Title = "AddRiskRegisterActivityEvaluation";

    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();

    string sColorCode = "#fff", Riskrating = "";
    if (Model.Risk_Rating.Contains("&"))
    {
        Riskrating = Model.Risk_Rating.Split('&')[0];
        sColorCode = Model.Risk_Rating.Split('&')[1];
    }
}


@section featured {


    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>


        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>

                    <a class="breadcrumb-item" onclick="HyperLinkProgressIconFunction();" href='@Url.Action("RiskRegisterActivityEvaluationList", "RiskRegisterActivity", new  {   Risk_Reg_Activity_Id = ViewBag.ActivityId  } )'>
                        <span class="breadcrumb-item"> Risk Register HRR Evaluation List</span>
                    </a>
                    <span class="breadcrumb-item active"> Risk Register Activity Evaluation details</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Risk Register Activity Evaluation details</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>

        <div>
            <div class="card-header bg-white header-elements-sm-inline">

                <div class="header-elements">
              
              
                    <div class="mt-2 mt-sm-0">
                        @if (Obj.GetCurrentUserSession().HazardRiskReg.Contains("3"))
                        {
                            <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("RiskRegisterActivityEvaluationEdit", "RiskRegisterActivity", new { Reg_Activity_eval_Id = Model.Reg_Activity_eval_Id.ToString() })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                                <b>  <i class="icon-add-to-list"></i></b> Edit
                            </a>
                        }
                        @Html.ActionLink("Back to List", "RiskRegisterActivityEvaluationList", new { Risk_Reg_Activity_Id = @ViewBag.ActivityId }, new { @class = "btn btn-outline bg-orange text-orange border-orange", onclick = "HyperLinkProgressIconFunction()" })

                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                    <thead></thead>
                    <tbody>

                        <tr class="row">
                            <td class="col" colspan="4" style="background-color: #4cc4dd; color: #fff; font-weight: bold;">Risk Activity Details</td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.DeptId)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.DeptId)
                                </p>
                            </td>
                            @*  <td>
            <div class="display-label">
                @Html.LabelFor(model => model.Activity_No)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Activity_No)
            </div>
        </td>*@
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Activity)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Activity)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Activity_Category)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Activity_Category)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Risk_Type)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Risk_Type)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Activity_Status)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Activity_Status)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col" colspan="4" style="background-color: #4cc4dd; color: #fff; font-weight: bold;">Risk Activity Evaluation</td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.hazard)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.hazard)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Consequence)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Consequence)
                                </p>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Severity)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Severity)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Probability)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Probability)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Risk_Rating)
                                </p>
                            </td>
                            <td class="col" >
                                <p class="py-1 px-2 rounded" style="font-weight:bold; background-color:@sColorCode;">@Riskrating</p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    <a class="text-orange" href="#" data-toggle="popover" data-trigger="hover">Environmental Matrix</a>
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Cur_Opt_Ctrl)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Cur_Opt_Ctrl)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Appl_law)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Appl_law)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Eval_Date)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @if (Model.Eval_Date > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @Model.Eval_Date.ToString("dd/MM/yyyy")
                                    }
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.ReEval_Date)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @if (Model.ReEval_Date > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @Model.ReEval_Date.ToString("dd/MM/yyyy")
                                    }
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Action_TakenBy)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Action_TakenBy)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Reviewer_QHSE)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Reviewer_QHSE)
                                </p>
                            </td>
                        </tr>

                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.ApprovedBy)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.ApprovedBy)
                                </p>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Comments)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Comments)
                                </p>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.Approve_status)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.Approve_status)
                                </p>
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

            @section Scripts {
                <script>

                   //----zzz
    $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });
    //zzz----


        $(document).ready(function () {

            $('[data-toggle="popover"]').popover({

                title: setData,
                html: true,
                placement: 'right',
                container: 'body'
            });

            function setData() {
                var set_data = '';
                var element = $(this);

                $.ajax({
                    url: '@Url.Action("EnvironmentalMatrix", "RiskRegisterActivity")',
                    methos: "post",
                    async: false,
                    success: function (data) {
                        set_data = data;
                    }

                });
                return set_data;
            }
 });
                </script>
                @Scripts.Render("~/bundles/jqueryval")
            }
