@model ISOStd.Models.CertificationBodyModels

@{
    ViewBag.Title = "CertificationBodyDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Certification Body Details</span>
</div>

<div class = "ActionLink">
    @Html.ActionLink("Edit", "CertificationBodyEdit", new {  CertID=Model.CertID }, new { @class = "ActionLink" })
    @Html.ActionLink("Back to List", "CertificationBodylist", null, new { @class = "ActionLink" })
</div>
<div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>
<br /><br />


<fieldset>
    <legend>CertificationBodyModels</legend>

    <table id="tabcontent">
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.CertName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CertName)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Location)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.address)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.address)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.emailaddress)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.emailaddress)
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.contact_name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.contact_name)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FaxNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.FaxNumber)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
