@model ISOStd.Models.AuditProcessModels

@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("AuditType", "AuditProcess", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Audit Type List</span>
                    </a>
                    <span class="breadcrumb-item active">Edit Audit Type</span>
                </div>
            </div>
        </div>
    </div>

}


@using (Html.BeginForm("AuditTypeEdit", "AuditProcess", FormMethod.Post,
                                                             new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="hidden" id="id_audit_type" name="id_audit_type" value="@Model.id_audit_type" />

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Edit Audit Type</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">

                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            Audit Type<text style="color:red;">*</text>
                        </td>

                        <td class="col">
                            <select class="form-control select-fixed-multiple" data-fouc id="audit_type" name="audit_type" required>
                                <option value=''>Select</option>
                                @if (ViewBag.Audit != null)
                                {
                                    foreach (var item in ViewBag.Audit)
                                    {
                                        if (item.Value == Model.audit_type)
                                        {
                                            <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else if(item.Text != "Management System Audit")
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                }
                            </select>

                        </td>
                        <td class="col-xs-3 col-md-2">

                            Audit Code<text style="color:red;">*</text>

                        </td>
                        <td class="col">
                            <input class="form-control" type="text" id="audit_code" name="audit_code" value="@Model.audit_code" required onchange="checkAuditCode()"/>
                        </td>

                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            Audit Description<text style="color:red;">*</text>
                        </td>
                        <td class="col">
                            <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="audit_desc" name="audit_desc" required>@Model.audit_desc</textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            @Html.ActionLink("Back to List", "AuditType", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
            <button type="submit" id="btnCreate" value="Update" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i>Update</button>
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
            //----zzz
          $(document).ready(function () {



                @if (TempData["alertdata"] != null ) {

           @: new Noty({
                                                   @:     text: '@TempData["alertdata"]',
                                                   @:     type: 'error'
                                                   @: }).show();
                                        }

                @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
                                                 @:       text: '@TempData["Successdata"]',
                                                 @:       type: 'success'
                                                 @:   }).show();
                                        }
          });
        function checkAuditCode() {
            var audit_code = document.getElementById("audit_code").value;
            if (audit_code != "") {
                jQuery.ajax({
                    url: '@Url.Action("FunCheckAuditCodeExsists", "AuditProcess")',
                    type: 'POST',
                    dataType: "json",
                    data: { 'audit_code': audit_code },
                    success: function (result) {
                        if (result == true) {
                            document.getElementById("audit_code").value = "";
                            bootbox.alert({
                                title: '',
                                message: 'Audit Code Already Exists'
                            });
                        }
                    }
                });
            }
        }
    </script>
}