@model ISOStd.Models.NearMissModels

@{
    ViewBag.Title = "AddNearMiss";
}




@section featured {




    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>


        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("NearMissList", "NearMiss", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Near Miss List</span>
                    </a>
                    <span class="breadcrumb-item active">Edit Near Miss Action </span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("NearMissActionEdit", "NearMiss", FormMethod.Post,
                     new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Add Near Miss Action</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <input type="hidden" id="id_nearmiss_action" name="id_nearmiss_action" value="@Model.id_nearmiss_action" />
                <input type="hidden" id="id_nearmiss" name="id_nearmiss" value="@Model.id_nearmiss" />
                <table class="table table-lg">
                    <tbody>
                        <tr class="row">
                            <td class="col" colspan="4">

                                <label for="correction" style="background-color: #4cc4dd; width: 100%; color: white; padding-left: 5px;">Immediate Correction Taken<text style="color:red;">*</text></label>

                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col" colspan="4">

                                @Html.TextAreaFor(model => model.correction, new { @required = "required", @maxlength = "2000", @placeholder = "Textarea", @style = "overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;", @rows = "4", @cols = "4", @class = "form-control elastic maxlength-badge-position" })

                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col" colspan="4">

                                <label for="action" style="background-color: #4cc4dd; width: 100%; color: white; padding-left: 5px;">Corrective Action proposed</label>

                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col" colspan="4">

                                @Html.TextAreaFor(model => model.action, new {  @maxlength = "2000", @placeholder = "Textarea", @style = "overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;", @rows = "4", @cols = "4", @class = "form-control elastic maxlength-badge-position" })

                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">

                                @Html.LabelFor(model => model.hazard)

                            </td>
                            <td class="col">

                                <select class="form-control select-search select2-hidden-accessible" id="hazard" name="hazard">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.Hazard != null)
                                    {
                                        foreach (var item in ViewBag.Hazard)
                                        {
                                            if (item == Model.hazard)
                                            {
                                                <option value='@item' selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value='@item'>@item</option>
                                            }

                                        }
                                    }
                                </select>


                            </td>
                            <td class="col-xs-3 col-md-2">

                                @Html.LabelFor(model => model.verified_by)

                            </td>
                            <td class="col">

                                <select class="form-control select-search select2-hidden-accessible" id="verified_by" name="verified_by">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.EmpList != null)
                                    {
                                        foreach (var item in ViewBag.EmpList)
                                        {
                                            if (item.Text == Model.verified_by)
                                            {
                                                <option value='@item.Value' selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value='@item.Value'>@item.Text</option>
                                            }
                                        }
                                    }
                                </select>

                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">

                                @Html.LabelFor(model => model.reviewed_by)

                            </td>
                            <td class="col">

                                <select class="form-control select-search select2-hidden-accessible" id="reviewed_by" name="reviewed_by">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.EmpList != null)
                                    {
                                        foreach (var item in ViewBag.EmpList)
                                        {
                                            if (item.Text == Model.reviewed_by)
                                            {
                                                <option value='@item.Value' selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value='@item.Value'>@item.Text</option>
                                            }
                                        }
                                    }
                                </select>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
  
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">


            @Html.ActionLink("Back to List", "NearMissList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
            <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Save</button>
        </div>

    </div>
}
@section Scripts {
    <script>

      //----zzz
    $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });
    //zzz----
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}

