@model ISOStd.Models.EmmetModels
@{
    ViewBag.Title = "";
}
<div style="max-width: 80%; padding-left: 200px;">
    <div class="groupedassets margin10">
        <span class="groupedassetshead margin10 onestphdcolor">Return Stock Edit</span>
    </div>
    <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red; font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>

    @using (Html.BeginForm("ReturnStockEdit", "Emmet", FormMethod.Post,
            new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend></legend>
            <input type="hidden" id="id_stock_issue" name="id_stock_issue" value="@Model.id_stock_issue" />
              <input type="hidden" id="id_stock_issue_trans" name="id_stock_issue_trans" value="@Model.id_stock_issue_trans" />
               <input type="hidden" id="id_stock_return" name="id_stock_return" value="@Model.id_stock_return" />

            <table id="tabcontent">
                <tr>
                     <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.return_date)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                           @if (Model.return_date != null && Model.return_date > Convert.ToDateTime("01/01/0001"))
                        {
                            <input type="text" id="return_date" name="return_date" value="@Model.return_date.ToString("dd/MM/yyyy")" readonly />
                        }
                        else
                        {
                            <input type="text" id="return_date" name="return_date" readonly required />
                        }
                        </div>
                    </td>
                      <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.return_qty)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="number" id="return_qty" name="return_qty" value="@Model.return_qty" required />
                        </div>
                    </td>
              
                     
                </tr>
                <tr>
                       <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.return_status)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <select class="chosen-select" id="return_status" name="return_status" required>                         
                                <option value='' hidden>Select</option>
                                @if (ViewBag.Status != null)
                                {
                                    foreach (var item in ViewBag.Status)
                                    {
                                        if(item.Value == Model.return_status)
                                        {
                                              <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else
                                        {
                                              <option value='@item.Value'>@item.Text</option>
                                        }                                      
                                    }
                                }
                            </select>
                        </div>
                </td>  
                </tr>
             
            </table>
        </fieldset>

        <div style="width: 100%; text-align: center;">
            @Html.ActionLink("Back to List", "ReturnStockList",new { id_stock_issue_trans = Model.id_stock_issue_trans,id_stock_issue=Model.id_stock_issue_trans }, new { Class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
            <input type="submit" value="Save" onclick="ProgressIconFunction('#form1')" />
        </div>
    }
</div>
@section Scripts {
    <script>  
        $(function () {
            $("#return_status").chosen();
            $.validator.setDefaults({ ignore: ":hidden:not('.chosen-select')" });

            $('#return_date').datepicker({
                dateFormat: "dd/mm/yy",
                buttonImageOnly: true,
                buttonImage: '../Images/Calender.png',
                showOn: 'both',
                changeMonth: true,
                changeYear: true,
            });

        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
