@model ISOStd.Models.EmployeeDependentModels

@{
    ViewBag.Title = "";
}

@section featured {

    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("EmployeeList", "EmployeeDetails", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Employee Management</span>
                    </a>
                    <span class="breadcrumb-item active">Add Employee Dependents</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">

                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}


@using (Html.BeginForm("AddEmployeeDependents", "EmployeeDetails", FormMethod.Post,
                     new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<input type="hidden" id="emp_no" name="emp_no" value='@Model.emp_no' />
    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Add Employee Dependents</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-lg">

                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.FirstName)<text style="color: red;">*</text>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="text" id="FirstName" name="FirstName" />
                                <span class="field-validation-error"><span id="FirstName-message" style="display: none;">FirstName field is required.</span></span>

                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.LastName)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="text" id="LastName" name="LastName" />

                            </div>
                        </td>

                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.DOB)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="date" id="DOB" name="DOB" />
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Gender)<text style="color: red;">*</text>
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="Gender" name="Gender">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.Gender != null)
                                    {
                                        foreach (var item in ViewBag.Gender)
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                </select>
                                <span class="field-validation-error"><span id="Gender-message" style="display: none;">Gender field is required.</span></span>

                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Relationship)<text style="color: red;">*</text>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <div class="editor-field">
                                <select class="form-control select-search select2-hidden-accessible" data-fouc id="Relationship" name="Relationship">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.EmpRel != null)
                                    {
                                        foreach (var item in ViewBag.EmpRel)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                                <span class="field-validation-error"><span id="Relationship-message" style="display: none;">Relationship field is required.</span></span>

                            </div>
                        </td>

                    </tr>
                    @*<tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.PassportNo)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="text" id="PassportNo" name="PassportNo" />
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.PassportExpDate)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="date" id="PassportExpDate" name="PassportExpDate" />
                            </div>
                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.VisaNo)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="text" id="VisaNo" name="VisaNo" />
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.VisaExpDate)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="date" id="VisaExpDate" name="VisaExpDate" />
                            </div>
                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.EIDNo)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="text" id="EIDNo" name="EIDNo" />
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.EIDExpDate)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="date" id="EIDExpDate" name="EIDExpDate" />
                            </div>
                        </td>

                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.HealthInsProvider)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="text" id="HealthInsProvider" name="HealthInsProvider" />
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.HealthInsExp)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input class="form-control" type="date" id="HealthInsExp" name="HealthInsExp" />
                            </div>
                        </td>

                    </tr>*@



                </table>
	    </div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            @Html.ActionLink("Back to List", "EmployeeList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })

            <button type="button"  value="Save" class="btn bg-indigo-400" onclick="AddDependent()"><i class="icon-checkmark3 mr-2"></i> Add</button>
            <button type="submit" id="btnCreate" value="Save" style="display:none;" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i>Save</button>
        </div>
    </div>

        <div class="card invisible" id="hidden card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Dependent Detail</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">

            <input type="hidden" id="itemcnt" name="itemcnt" value="0" />

            <div class="card card-table table-responsive shadow-0 mb-0">
                <table class="table" id="team-list">
                    <tr class="bg-blue">
                        <th>Action</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date Of Birth</th>
                        <th>Gender</th>
                        <th>Relationship</th>
                        @*<th>Passport No</th>
                        <th>Passport ExpDate</th>
                        <th>Visa No</th>
                        <th>Visa ExpDate</th>
                        <th>EID No</th>
                        <th>EID ExpDate</th>
                        <th>Health ins</th>
                        <th>Health Ins ExpDate</th>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script>


        $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
                        @:     text: '@TempData["alertdata"]',
                        @:     type: 'error'
                        @: }).show();
                               }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
                        @:       text: '@TempData["Successdata"]',
                        @:       type: 'success'
        @:}).show();
                   }
        });



        var showClass = 'is-visible';
        var hideClass = 'invisible';
        function Validation() {
            var validflg = true;
            var ssnMessage = "";
            if (document.getElementById("FirstName").value == "") {
                ssnMessage = $('#FirstName-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#FirstName-message');
                ssnMessage.hide();
            }
            if (document.getElementById("Gender").value == "") {
                ssnMessage = $('#Gender-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#Gender-message');
                ssnMessage.hide();
            }
            if (document.getElementById("Relationship").value == "") {
                ssnMessage = $('#Relationship-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#Relationship-message');
                ssnMessage.hide();
            }

            return validflg;
        }
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
        function AddDependent() {

            if (Validation() == true) {

             
                var cnt = document.getElementById("itemcnt").value;

                document.getElementById("itemcnt").value = cnt;
                // Find a <table> element with id="myTable":
                var table = document.getElementById("team-list");


                // Create an empty <tr> element and add it to the 1st position of the table:
                var row = table.insertRow();

                // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                var cell0 = row.insertCell(0);
                var cell1 = row.insertCell(1);
                var cell2 = row.insertCell(2);
                var cell3 = row.insertCell(3);
                var cell4 = row.insertCell(4);
                var cell5 = row.insertCell(5);
                //var cell6 = row.insertCell(6);
                //var cell7 = row.insertCell(7);
                //var cell8 = row.insertCell(8);
                //var cell9 = row.insertCell(9);
                //var cell10 = row.insertCell(10);
                //var cell11 = row.insertCell(11);
                //var cell12 = row.insertCell(12);
                //var cell13 = row.insertCell(13);


                var FirstName = $('#FirstName').val();
                var LastName = $('#LastName').val();
                var DOB = $('#DOB').val();

                var Gender = $('#Gender').val();
                var sGender = document.getElementById("Gender");
                var GenderText = sGender.options[sGender.selectedIndex].text;

                var Relationship = $('#Relationship').val();
                var sRelationship = document.getElementById("Relationship");
                var RelationshipText = sRelationship.options[sRelationship.selectedIndex].text;

                var PassportNo = $('#PassportNo').val();
                var PassportExpDate = $('#PassportExpDate').val();
                var VisaNo = $('#VisaNo').val();
                var VisaExpDate = $('#VisaExpDate').val();
                var EIDNo = $('#EIDNo').val();
                var EIDExpDate = $('#EIDExpDate').val();
                var HealthInsProvider = $('#HealthInsProvider').val();
                var HealthInsExp = $('#HealthInsExp').val();

                cell0.innerHTML = " <img src='@Url.Content("~/images/cancel.png")' onclick='deleteRow(this)' style='cursor:pointer; padding-right: 5px;'/>";
                cell1.innerHTML = "<input type='hidden' id='FirstName" + cnt + "' name='FirstName" + cnt + "' value='" + FirstName + "'>" + FirstName;
                cell2.innerHTML = "<input type='hidden' id='LastName" + cnt + "' name='LastName" + cnt + "' value='" + LastName + "'>" + LastName;
                cell3.innerHTML = "<input type='hidden' id='DOB" + cnt + "' name='DOB" + cnt + "' value='" + DOB + "'>" + DOB;
                cell4.innerHTML = "<input type='hidden' id='Gender" + cnt + "' name='Gender" + cnt + "' value='" + Gender + "'>" + GenderText;
                cell5.innerHTML = "<input type='hidden' id='Relationship" + cnt + "' name='Relationship" + cnt + "' value='" + Relationship + "'>" + RelationshipText;
                //cell6.innerHTML = "<input type='hidden' id='PassportNo" + cnt + "' name='PassportNo" + cnt + "' value='" + PassportNo + "'>" + PassportNo;
                //cell7.innerHTML = "<input type='hidden' id='PassportExpDate" + cnt + "' name='PassportExpDate" + cnt + "' value='" + PassportExpDate + "'>" + PassportExpDate;
                //cell8.innerHTML = "<input type='hidden' id='VisaNo" + cnt + "' name='VisaNo" + cnt + "' value='" + VisaNo + "'>" + VisaNo;
                //cell9.innerHTML = "<input type='hidden' id='VisaExpDate" + cnt + "' name='VisaExpDate" + cnt + "' value='" + VisaExpDate + "'>" + VisaExpDate;
                //cell10.innerHTML = "<input type='hidden' id='EIDNo" + cnt + "' name='EIDNo" + cnt + "' value='" + EIDNo + "'>" + EIDNo;
                //cell11.innerHTML = "<input type='hidden' id='EIDExpDate" + cnt + "' name='EIDExpDate" + cnt + "' value='" + EIDExpDate + "'>" + EIDExpDate;
                //cell12.innerHTML = "<input type='hidden' id='HealthInsProvider" + cnt + "' name='HealthInsProvider" + cnt + "' value='" + HealthInsProvider + "'>" + HealthInsProvider;
                //cell13.innerHTML = "<input type='hidden' id='HealthInsExp" + cnt + "' name='HealthInsExp" + cnt + "' value='" + HealthInsExp + "'>" + HealthInsExp;


                cnt++;
                document.getElementById("itemcnt").value = cnt;
                document.getElementById("hidden card").classList.remove(hideClass);
                document.getElementById("hidden card").classList.add(showClass);
                document.getElementById("btnCreate").style.display = "";
                ResetControl();
            }
        }
        function ResetControl() {
            $("#Gender").val('').trigger('change');
            $("#Relationship").val('').trigger('change');
            document.getElementById("FirstName").value = "";
            document.getElementById("LastName").value = "";
            document.getElementById("DOB").value = "";
            document.getElementById("PassportNo").value = "";
            document.getElementById("PassportExpDate").value = "";
            document.getElementById("VisaNo").value = "";
            document.getElementById("VisaExpDate").value = "";
            document.getElementById("EIDNo").value = "";
            document.getElementById("EIDExpDate").value = "";
            document.getElementById("HealthInsProvider").value = "";
            document.getElementById("HealthInsExp").value = "";

            var ssnMessage = $('#FirstName-message');
            ssnMessage.hide();
            ssnMessage = $('#Gender-message');
            ssnMessage.hide();
            ssnMessage = $('#Relationship-message');
            ssnMessage.hide();
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
