@using System.Data;
@{
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    DataSet dsSupplier = new DataSet();
    ISOStd.Models.SupplierModels objSuppl = new ISOStd.Models.SupplierModels();
    if (ViewBag.SupplierList!=null)
    {
        dsSupplier = ViewBag.SupplierList;
    }
}
@section featured {
        <div class="page-header page-header-light">

            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">

                        <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                            <span class="breadcrumb-item">Home</span>
                        </a>
                        <a href="@Url.Action("ReportList", "Reports", null)" class="breadcrumb-item">
                            <span class="breadcrumb-item">Reports </span>
                        </a>
                        <span class="breadcrumb-item active">Approved External Provider List</span>
                    </div>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                @*<div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Settings
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    }

<div class="card">

 	   <div class="card-header header-elements-inline bg-primary">
                <h5 class="card-title">Approved External Provider List</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>
 	  
<div class="card-body">
                <table class="table table-bordered table-striped table-hover datatable-responsive" id="supplier">
                <thead>    
                        <tr>
                             <th>
                            Sl No
                        </th>
                 <th>
                    Supplier Name
                </th>
                <th>
                    Supply Scope
                </th>
                <th>
                    Approved On
                </th>
                <th>
                    Approval Criteria‎‎
                </th>    
              </tr>
                    </thead> 
                    <tbody>
                      @for (int i = 0, j = 1; i < dsSupplier.Tables[0].Rows.Count; i++, j++)
                      {
                         
                                <tr>
                                   <td>
                                         @j
                                   </td>
                             <td>
                        @dsSupplier.Tables[0].Rows[i]["SupplierName"].ToString()

                    </td>
                    <td>
                        @dsSupplier.Tables[0].Rows[i]["SupplyScope"].ToString()

                    </td>

                    <td>
                         @if (dsSupplier.Tables[0].Rows[i]["ApprovedOn"].ToString() != "" && dsSupplier.Tables[0].Rows[i]["ApprovedOn"].ToString() != null)
                         {
                         @Convert.ToDateTime(dsSupplier.Tables[0].Rows[i]["ApprovedOn"].ToString()).ToString("dd/MM/yyyy")
                         }
                    </td>
                    <td>
                        @Obj.GetDropdownitemById(dsSupplier.Tables[0].Rows[i]["ApprovalCriteria"].ToString())
                    </td> 

                                </tr>
                      }
                        
</tbody>
                   
                </table>
            </div>
</div>

@section scripts {
                <script type="text/javascript">

                    $(document).ready(function () {

        @if (TempData["alertdata"] != null ) {

           @: new Noty({
                                   @:     text: '@TempData["alertdata"]',
                                   @:     type: 'error'
                                   @: }).show();
                                       }

        @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
                                 @:       text: '@TempData["Successdata"]',
                                 @:       type: 'success'
         @:}).show();
                               }
                    });

                    function setData(id) {

                        var set_data = '';
                        var element = $(this);
                        var id = element.attr("id");
                        $.ajax({
                            url: '@Url.Action("SupplierInfo", "Supplier")',
                            methos: "post",
                            async: false,
                            data: { id: id },
                            success: function (data) {
                                set_data = data;

                            }

                        });

                        return set_data;
                    }
                    var supplier = function () {


                        //
                        // Setup module components
                        //

                        // Basic Datatable examples
                        var _componentDatatableBasic = function () {
                            if (!$().DataTable) {
                                console.warn('Warning - datatables.min.js is not loaded.');
                                return;
                            }

                            //Setting datatable defaults
                            $.extend($.fn.dataTable.defaults, {
                                autoWidth: false,
                                responsive: true,
                                columnDefs: [{
                                    orderable: false,
                                    width: 100,
                                    targets: [0,1]
                                }],

                                colReorder: false,
                                dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                                //dom: 'lBfrtip',
                                language: {
                                    search: '<span>Filter:</span> _INPUT_',
                                    searchPlaceholder: 'Type to filter...',
                                    lengthMenu: '<span>Show:</span> _MENU_',
                                    paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                                }
                            });


                            var table = $('#supplier').DataTable({
                                drawCallback: function () {
                                    $('[data-toggle="popover"]').popover({

                                        html: true,
                                        content: setData,
                                        container: 'body'
                                        //data: setData,


                                    });
                                },
                                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                                colReorder: {
                                    fixedColumnsLeft: 1
                                },
                                stateSave: true,
                                //orderCellsTop: true,
                                //fixedHeader: {
                                //    header: true,

                                //},
                                //scrollX: true,
                                scrollY: '350px',
                                scrollCollapse: true,
                                //fixedHeader:true,
                                //fixedColumns: true,

                                //responsive: {
                                //    details: {
                                //        type: 'column',
                                //        target: -1
                                //    }
                                //},
                                //columnDefs: [
                                //    {
                                //        className: 'control',
                                //        orderable: false,
                                //        targets: -1
                                //    },
                                //    {
                                //        width: "100px",
                                //        targets: [5]
                                //    },
                                //    {
                                //        orderable: false,
                                //        targets: [5]
                                //    }
                                //],

                                keys: {
                                    className: 'focus focus-success'
                                },

                                buttons: {
                                    buttons: [
                                        {
                                            extend: 'copyHtml5',
                                            className: 'btn btn-light',
                                            title: 'supplier Data export',
                                            exportOptions: {
                                                columns: ':visible :not(.not-export-column)'
                                            },
                                        },
                                        {
                                            extend: 'excelHtml5',
                                            className: 'btn btn-light',
                                            title: 'supplier Data export',
                                            exportOptions: {
                                                columns: ':visible :not(.not-export-column)'
                                            },

                                        },
                                        {
                                            extend: 'pdfHtml5',
                                            className: 'btn btn-light',
                                            title: 'supplier Data export',
                                            exportOptions: {
                                                columns: ':visible :not(.not-export-column)'
                                            },
                                        },
                                        {
                                            extend: 'csvHtml5',
                                            className: 'btn btn-light',
                                            title: 'supplier Data export',
                                            exportOptions: {
                                                columns: ':visible :not(.not-export-column)'
                                            },
                                        },
                                        {
                                            extend: 'print',
                                            className: 'btn btn-light',
                                            title: 'supplier Data export',
                                            exportOptions: {
                                                columns: ':visible :not(.not-export-column)'
                                            },
                                        },

                                        {
                                            extend: 'colvis',
                                            text: '<i class="icon-three-bars"></i>',
                                            className: 'btn bg-blue btn-icon dropdown-toggle'
                                        }
                                    ]
                                }
                            });
                            // Adjust columns on window resize
                            setTimeout(function () {
                                $(window).on('resize', function () {
                                    table.columns.adjust();
                                });
                            }, 100);


                            //Redraw table on click toggle. -------table.columns.adjust doesn't work properly upon calling after toggle (width increase/decrease = redraw table.).
                            $('.sidebar-control').on('click', function () {

                                setTimeout(function () {
                                    //alert("gii");

                                    table.columns.adjust().draw();
                                    $("#supplier").resize();
                                }, 100);

                            });
                            //}

                            $('#supplier').on('page.dt', function () {
                                //table.draw();
                                //alert("zzz1");
                                $("#supplier").resize();

                            });

                            $('#supplier').on('column-visibility.dt', function () {
                                //table.draw();
                                //alert("zzz2");
                                $("#supplier").resize();

                            });

                            $('#supplier').on('order.dt', function () {
                                //table.draw();
                                //alert("zzz3");
                                $("#supplier").resize();

                            });


                            $('#supplier').on('responsive-display.dt', function () {
                                //table.draw();
                                //alert("zzz4");
                                $("#supplier").resize();

                            });


                            $('#supplier').on('responsive-resize.dt', function () {
                                //table.draw();
                                //alert("zzz4");
                                $("#supplier").resize();

                            });


                            //.on('order.dt', function () {
                            //    table.columns.adjust().draw();
                            //    $("#qhse").resize(); })
                            //.on('search.dt', function () {
                            //    table.columns.adjust().draw();
                            //    $("#qhse").resize(); })

                            //.on('column-visibility.dt', function () {
                            //    table.columns.adjust().draw();
                            //    $("#qhse").resize();
                            //})



                        };






                        // Select2 for length menu styling
                        var _componentSelect2 = function () {
                            if (!$().select2) {
                                console.warn('Warning - select2.min.js is not loaded.');
                                return;
                            }

                            // Initialize
                            $('.dataTables_length select').select2({
                                minimumResultsForSearch: Infinity,
                                dropdownAutoWidth: true,
                                width: 'auto'
                            });
                        };


                        //
                        // Return objects assigned to module
                        //

                        return {
                            init: function () {
                                _componentDatatableBasic();
                                _componentSelect2();
                            }
                        }
                    }();


                    // Initialize module
                    // ------------------------------

                    document.addEventListener('DOMContentLoaded', function () {
                        supplier.init();
                    });

                </script>

            }