@model ISOStd.Models.InternalAuditFindingsLog

@{
    ViewBag.Title = "InternalAuditFindingsLogDetails";
}




@section featured {




    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>


        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("InternalAuditFindingsLogList", "Audit", new {  AuditTransID = ViewBag.AuditTransID, AuditNum = ViewBag.AuditNum, AuditID = ViewBag.AuditID })" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Internal Audit Finding List</span>
                    </a>
                    <span class="breadcrumb-item active"> Internal Audit Findings Log Details</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}



<input type="hidden" id="AuditID" name="AuditID" value="@ViewBag.AuditID" />
<input type="hidden" id="AuditNum" name="AuditNum" value="@ViewBag.AuditNum" />

<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">Internal Audit Details</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>

            </div>
        </div>
    </div>

    <div class="card-header bg-white header-elements-sm-inline">

        <div class="header-elements">

            @Html.ActionLink("Back to List", "InternalAuditFindingsLogList", new { AuditTransID = ViewBag.AuditTransID, AuditNum = ViewBag.AuditNum, AuditID = ViewBag.AuditID }, new { @class = "btn btn-outline bg-orange text-orange border-orange", onclick = "HyperLinkProgressIconFunction()" })
        </div>
    </div>



    <div class="card-body">

        <div class="container-fluid">

            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                <thead></thead>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.LabelFor(model => model.ISOstandardID)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.ISOstandardID)
                        </span>
                    </td>


                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.NCRNo)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">

                            @Html.Raw(Html.DisplayFor(model => model.NCRNo))
                        </span>
                    </td>


                </tr>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.ISO_standard_clause)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.ISO_standard_clause)

                        </span>
                    </td>

                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.FindingCategory)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.FindingCategory)
                        </span>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.CorrectionDate)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Model.CorrectionDate.ToString("dd/MM/yyyy")
                        </span>
                    </td>

                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.Reviewed_by)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Reviewed_by)
                        </span>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="4">
                        <div class="editor-label">
                            <label class="rounded font-weight-bold bg-grey" for="Discrepancy_Details" style="width: 100%; color: white;">Non Conformity / Observation Details</label>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.CorrectiveActionDate)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Model.CorrectiveActionDate.ToString("dd/MM/yyyy")
                        </span>
                    </td>
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.Followupdate)
                        </p>
                    </td>
                    <td class="col">
                        <span class="bg-dark py-1 px-2 rounded">
                            @Model.Followupdate.ToString("dd/MM/yyyy")
                        </span>
                    </td>
                </tr>


                <tr class="row">
                    <td class="col-xs-3 col-md-2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.NCRDesc)
                        </p>
                    </td>
                    <td class="col" colspan="3">
                        <div class="display-field">

                            <textarea name="editor-readonly" id="editor-readonly" rows="3" cols="3" disabled>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.NCRDesc))
                        </textarea>

                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="4">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.Correctiontaken)
                        </p>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="4">
                        <p class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Correctiontaken)
                        </p>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="4">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.Resultsofinvestigation)
                        </p>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="4">
                        <p class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.Resultsofinvestigation)
                        </p>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.CorrectiveAction)
                        </p>
                    </td>

                    <td class="col" colspan="2">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.PreventiveAction)
                        </p>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="2">
                        <p class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.CorrectiveAction)
                        </p>
                    </td>
                    <td class="col" colspan="2">
                        <p class="bg-dark py-1 px-2 rounded">
                            @Html.DisplayFor(model => model.PreventiveAction)
                        </p>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col" colspan="4">
                        <p class="bg-brown py-1 px-2 rounded">
                            @Html.DisplayNameFor(model => model.VerificationofImplementation)
                        </p>                    </td>
                     </tr>
        <tr class="row">
            <td class="col" colspan="4">
                <p class="bg-dark py-1 px-2 rounded">
                    @Html.DisplayFor(model => model.VerificationofImplementation)
                </p>
            </td>
        </tr>
        <tr class="row">
            @*   <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ReportStatus)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ReportStatus)
                </div>
            </td>
            *@
            @if (Model.ReportStatus.ToLower() == "closed")
            {
                <td class="col-xs-3 col-md-2">
                    <p class="bg-brown py-1 px-2 rounded">
                        @Html.DisplayNameFor(model => model.ReportCloseDate)
                    </p>
                </td>
                <td class="col">
                    <p class="bg-dark py-1 px-2 rounded">
                        @if (Model.ReportCloseDate != null && Model.ReportCloseDate > Convert.ToDateTime("01/01/0001"))
                        {
                            @Html.DisplayFor(model => model.ReportCloseDate.ToString("dd/MM/yyyy"));
                        }
                    </p>
                </td>
            }
        </tr>
        </table>
    </div>
    </div>
</div>






@section scripts {
    <script>
    //----zzz


     $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });

    //zzz----
        // Setup
        var editorReadOnly = CKEDITOR.replace('editor-readonly', {
            height: 300,
            removePlugins: 'toolbar',

        });

    </script>


}

