@model ISOStd.Models.ObjectivesModels

@{
    ViewBag.Title = "ObjectiveEvaluationDetails";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Objective Evaluation Details</span>
</div>

<div class="ActionLink">
    @if (Obj.GetCurrentUserSession().Objectives.Contains("3"))
    {
        @Html.ActionLink("Edit", "ObjectiveEvaluationEdit", new {  ObjectivesEval_Id=Model.ObjectivesEval_Id, View= ViewBag.View }, new { @class = "ActionLink",
       onclick="HyperLinkProgressIconFunction()" })
    }
    @Html.ActionLink("Back","ObjectiveEvaluationList", new {   ObjectivesTrans_Id = Model.ObjectivesTrans_Id, Objectives_Id= Model.Objectives_Id, View = ViewBag.View },
    new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
</div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>
<br /><br />

<fieldset>
    <legend>ObjectivesModels</legend>

   
    <table id="tabcontent">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.Obj_Eval_On)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Model.Obj_Eval_On.ToString("dd/MM/yyyy")
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.Obj_Achieved_Val)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Obj_Achieved_Val)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.FromPeriod)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Model.FromPeriod.ToString("dd/MM/yyyy")
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.ToPeriod)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Model.ToPeriod.ToString("dd/MM/yyyy")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.Trend)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Trend)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.NCR_Ref)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.NCR_Ref)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
