@model ISOStd.Models.IncidentReportModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Incident Report Info</h4>
    </div>

    <div class="card-body">
        <p>
            Incident No:<code>
                @Html.DisplayFor(model => model.Incident_Num)
            </code>
            Reported On:
            @if (Model.Reported_On != null && Model.Reported_On > Convert.ToDateTime("01/01/0001"))
            {<code>

                    @Model.Reported_On.ToString("dd/MM/yyyy")
                </code>
            }
            Prepared By:<code>@Html.DisplayFor(model => model.PreparedBy)</code>
        </p>

        <p>
            Incident Type:<code>
                @Html.DisplayFor(model => model.Incident_Type)
            </code>
            Injuries:<code>
                @Html.DisplayFor(model => model.Injuries)
            </code>
            Incident Date & Timing:
            @if (Model.Incident_Datetime != null && Model.Incident_Datetime > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.Incident_Datetime.ToString("dd/MM/yyyy HH:mm")
                </code>
            }
        </p>

        <p>
            Location:<code>
                @Html.DisplayFor(model => model.Location)
            </code>
            @*Is incident occurred while on job?:<code>
                @Html.DisplayFor(model => model.Occurred_onJob)
            </code>
            Is incident occurred within the work premises?:<code>
                @Html.DisplayFor(model => model.InWork_Premises)
            </code>
            Is incident report To HSE?<code>@Html.DisplayFor(model => model.ReportToHSE) </code>*@
        </p>

        <p>
           Incident witnessed by (name and other detail):<code>
                @Html.DisplayFor(model => model.WitnessedBy)
            </code>
            Description of an Incident:<code>
                @Html.DisplayFor(model => model.Incident_Desc)
            </code>
            Consequences of an Incident:<code>@Html.DisplayFor(model => model.Consequences) </code>
        </p>

        <p>
            Any damages to the property :<code>
                @Html.DisplayFor(model => model.Damages)
            </code>
            Nature of Injury:<code>
                @Html.DisplayFor(model => model.Injury_Nature)
            </code>
            Number of fatalities:<code>@Html.DisplayFor(model => model.FatalitiesNo) </code>
        </p>

        <p>
            @*Immediate actions taken :<code>
                @Html.DisplayFor(model => model.Actions_Taken)
            </code>*@
            Reasons for Incident Occurrence:<code>
                @Html.DisplayFor(model => model.Incident_Reasons)
            </code>
            Corrective measures proposed :<code>@Html.DisplayFor(model => model.Corrective_Measures) </code>
        </p>

        <p>
            Corrective measures reviewed and approved by:<code>
                @Html.DisplayFor(model => model.Corrective_ApprovedBy_ReviewedBy)
            </code>
            Due date for the implementation of Corrective measures:
            @if (Model.DueDate != null && Model.DueDate > Convert.ToDateTime("01/01/0001"))
            {<code>

                    @Model.DueDate.ToString("dd/MM/yyyy")
                </code>
            }

            Report closed on:
            @if (Model.ClosedOn != null && Model.ClosedOn > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.ClosedOn.ToString("dd/MM/yyyy")
                </code>
            }
        </p>
        <p>
            Logged By:<code>
                @Html.DisplayFor(model => model.LoggedBy)
            </code>
            @*CAPA:<code>
            @Html.DisplayFor(model => model.CAPA)
        </code>
        CAPA Status:<code>
            @Html.DisplayFor(model => model.CAPA_Status)
        </code>
        Incident Cost:<code>
            @Html.DisplayFor(model => model.incident_cost)
        </code>*@
        </p>
    </div>
</div>

