@using System.Data;
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    ViewBag.Title = "";
    DataSet dsRole = new DataSet();
    ISOStd.Models.RoleModels objModel = new ISOStd.Models.RoleModels();
    ISOStd.Models.clsGlobal obj = new ISOStd.Models.clsGlobal();
    if (ViewBag.RoleModel != null)
    {
        objModel = ViewBag.RoleModel;
    }

    if (ViewBag.dsRole != null)
    {
        dsRole = ViewBag.dsRole;
    }
}



<div class="card">


    <div class="card-body">

        <div>
            <table class="table table-lg table-bordered">
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">
                        <div id="logo" style="padding-left: 30px;">
                            <img src="@Url.Content(dsRole.Tables[0].Rows[0]["logo"].ToString())" style="width: 150px;height: 100px;" />
                        </div>
                    </td>
                    <td class="font-size-lg font-weight-bold" style="text-align: center; font-weight: bold; width: 80%; font-size: 16px;">
                        <span>@dsRole.Tables[0].Rows[0]["CompanyName"].ToString()</span>
                        <br />
                        <span>JOB DESCRIPTION REPORT</span>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <table class="table table-lg table-bordered">
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">

                        Position Id

                    </td>
                    <td class="font-size-lg">

                        @objModel.role_id

                    </td>
                </tr>

                <tr class="row">
                    <td class="font-size-lg font-weight-bold">

                        Department

                    </td>
                    <td class="font-size-lg">

                        @objModel.deptid

                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">

                        Reports to

                    </td>
                    <td class="font-size-lg">

                        @objModel.report_to

                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">

                        Supervises

                    </td>
                    <td class="font-size-lg">

                        @objModel.supervises

                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold bg-grey-300" colspan="2">

                        Roles and Responsibilities

                    </td>

                </tr>
                <tr class="row">

                    <td class="font-size-lg" colspan="2">

                        @Html.Raw(objModel.responsibility)

                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold bg-grey-300" colspan="2">

                        Authorities (What authorities this position has)

                    </td>

                </tr>
                <tr class="row">

                    <td class="font-size-lg" colspan="2">

                        @objModel.authorities

                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold bg-grey-300" colspan="2">

                        Interfaces with internal department

                    </td>

                </tr>
                <tr class="row">

                    <td class="font-size-lg" colspan="2">

                        @objModel.interfaces_internal

                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold bg-grey-300" colspan="2">

                        External Interfaces

                    </td>

                </tr>
                <tr class="row">

                    <td class="font-size-lg" colspan="2">

                        @objModel.interfaces_external

                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold bg-grey-300" colspan="2">

                        Accountable for (liable for the consequences if failed to perform)

                    </td>

                </tr>
                <tr class="row">

                    <td class="font-size-lg" colspan="2">

                        @objModel.accountable

                    </td>
                </tr>
            </table>
            <br />
            <table class="table table-lg table-bordered">
                <tr class="row bg-grey-300">
                    <td class="font-size-lg font-weight-bold" colspan="3">

                        Minimum Competency Required to hold the position

                    </td>

                </tr>
                <tr class="row bg-grey-300">
                    <td class="font-size-lg font-weight-bold">
                        Competence Parameters
                    </td>
                    <td class="font-size-lg font-weight-bold">
                        Mandatory
                    </td>
                    <td class="font-size-lg font-weight-bold">
                        Optional
                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">
                        Academic qualification
                    </td>
                    <td class="font-size-lg">
                        @objModel.academic_mandatory
                    </td>
                    <td class="font-size-lg">
                        @objModel.academic_optional
                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">
                        Trade Certificate
                    </td>
                    <td class="font-size-lg">
                        @objModel.trade_mandatory
                    </td>
                    <td class="font-size-lg">
                        @objModel.trade_optional
                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">
                        Relevant experience
                    </td>
                    <td class="font-size-lg">
                        @objModel.experience_mandatory
                    </td>
                    <td class="font-size-lg">
                        @objModel.experience_optional
                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">
                        Relevant trainings
                    </td>
                    <td class="font-size-lg">
                        @objModel.trainings_mandatory
                    </td>
                    <td class="font-size-lg">
                        @objModel.trainings_optional
                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">
                        Skills (Wherever required)
                    </td>
                    <td class="font-size-lg">
                        @objModel.skills_mandatory
                    </td>
                    <td class="font-size-lg">
                        @objModel.skills_optional
                    </td>
                </tr>
            </table>
            <br />
            <table class="table table-lg table-bordered">
                <tr class="row bg-grey-300">
                    <td class="font-size-lg font-weight-bold" colspan="3">

                        Job description control status

                    </td>

                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">

                        <span class="font-size-lg font-weight-bold">Created On:</span>
                        @if (objModel.jd_date != null && objModel.jd_date > Convert.ToDateTime("01/01/0001"))
                        {
                            @objModel.jd_date.ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td class="font-size-lg font-weight-bold">

                        <span class="font-size-lg font-weight-bold">Revised On:</span>
                        @if (objModel.revised_date != null && objModel.revised_date > Convert.ToDateTime("01/01/0001"))
                        {
                            @objModel.revised_date.ToString("dd/MM/yyyy")
                        }
                    </td>
                </tr>
                <tr class="row bg-grey-300">
                    <td class="font-size-lg font-weight-bold">
                        Approved By
                    </td>
                    <td class="font-size-lg font-weight-bold">
                        Received By
                    </td>
                    <td class="font-size-lg font-weight-bold">
                        Received on
                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg">
                        <span class="font-size-lg font-weight-bold">Name:</span>@objModel.approved_by<br />
                        <span class="font-size-lg font-weight-bold">Position:</span><br />
                        <span class="font-size-lg font-weight-bold">Signature:</span><br /><br /><br /><br /><br />
                    </td>
                    <td class="font-size-lg"></td>
                    <td class="font-size-lg"></td>
                </tr>
            </table>
        </div>

    </div>
</div>


@section Scripts {
    <script>

    </script>
}
