@model ISOStd.Models.CustComplaintModels
@using System.Data
@{
    Layout = null;

    ISOStd.Models.CustComplaintModels obj = new ISOStd.Models.CustComplaintModels();
    ISOStd.Models.clsGlobal objGlobal = new ISOStd.Models.clsGlobal();
  
}
<h4 style="text-align:center;border-bottom:1px solid #808080">Customer Complaints Info</h4>
<p>
    <label><b>Complaint No:</b></label>@Html.DisplayFor(model => model.ComplaintNo)

</p>
<p>
    <label><b>Complaint Received Date:</b></label>
    @if (Model.ReceivedDate != null && Model.ReceivedDate > Convert.ToDateTime("01/01/0001"))
    {
        @Model.ReceivedDate.ToString("dd/MM/yyyy")
    }
    <label><b>Complaint Registered Date:</b></label>
    @if (Model.registered_on != null && Model.registered_on > Convert.ToDateTime("01/01/0001"))
    {
        @Model.registered_on.ToString("dd/MM/yyyy")
    }
</p>
<p>  
    <label><b>Customer Name:</b></label>@Html.DisplayFor(model => model.CustomerName)
    <label><b>Project Name:</b></label>@Html.DisplayFor(model => model.ProjectName)
</p>
<p>
    <label><b>Complaint Reported By:</b></label>@Html.DisplayFor(model => model.ReportedBy)
    <label><b>Complaint Reported person email:</b></label>@Html.DisplayFor(model => model.reportedby_email)
</p>
<p>
    <label><b>Complaint Reported person designation:</b></label>@Html.DisplayFor(model => model.reportedby_desig)
    <label><b>Complaint Reported person contact number:</b></label>@Html.DisplayFor(model => model.reportedby_no)
</p>
<p>
    <label><b>Customer Reference:</b></label>@Html.DisplayFor(model => model.CustomerRef)
    <label><b>Complaint Status:</b></label>@Html.DisplayFor(model => model.ComplaintStatus)
    
</p>
<p>
    <label><b>Details Of Complaint:</b></label> @Html.Raw(HttpUtility.HtmlDecode(Model.Details))
</p>
<p>
    <label><b>Mode Of Complaint:</b></label>@Html.DisplayFor(model => model.ModeOfComplaint)
    <label><b>Forwarded complaint to:</b></label>@Html.DisplayFor(model => model.ForwardTo)
</p>

<p>
    <label><b>Logged By:</b></label>@Html.DisplayFor(model => model.LoggedBy)
</p>

