<html style=" background-image: url(@Url.Content("~/Images/bg.png")); background-repeat: no-repeat; background-size: cover;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to MANAL</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
     <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
	
  
     <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
	
	<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap-select.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")">
    <link href="@Url.Content("~/Content/css/dropzone.css")" rel="stylesheet">
</head>
<body style=" background-image: url(@Url.Content("~/Images/bg.png")); background-repeat: no-repeat; background-size: cover;">
    <div>


<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">Sorry for Inconvinence File not Found.</h2>
</hgroup>

         </div>
    <footer class="footer">&copy;2016 AL MANAL MANAGEMENT SYSTEM. All rights reserved </footer>   
</body>
</html>