@model ISOStd.Models.TrainingsModels
@{
    Layout = null;
    ViewBag.Title = "TrainingEventsInfo";
}
<h4 style="text-align:center;border-bottom:1px solid #808080">TrainingEvent Info</h4>
<p>
    <label><b>Training Number:</b></label>@Html.DisplayFor(model => model.report_no)
</P>
<p>
    <label><b>Training Topic:</b></label>@Html.DisplayFor(model => model.Training_Topic)
    <label><b>Topic content:</b></label> @Html.Raw(HttpUtility.HtmlDecode(Model.TopicContent)) 
</p>
<p>
    <label><b>Training Start Date:</b></label>
    @if (Model.Training_Start_Date != null && Model.Training_Start_Date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Training_Start_Date.ToString("dd/MM/yyyy HH:mm:ss")
    }

    <label><b>Training End Date:</b></label>
    @if (Model.Expected_Date_Completion != null && Model.Expected_Date_Completion > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Expected_Date_Completion.ToString("dd/MM/yyyy HH:mm:ss")
    }
</p>
<p>
    <label><b>Training Total Duration:</b></label>
    @if (ViewBag.days != 0)
    {
        @ViewBag.days <lable>Days :</lable> @ViewBag.minutes <lable> Hrs :</lable>@ViewBag.seconds <lable> Min </lable>
    }
    else if (ViewBag.days != 0 && ViewBag.minutes != 0)
    {
        @ViewBag.minutes <lable> Hrs :</lable>@ViewBag.seconds <lable> Min </lable>
    }
    else
    {
     <lable> 8 Hrs : 00 Min </lable>
    }
</p>
<p>
    <label><b> Training Requested By:</b></label>@Html.DisplayFor(model => model.Training_Requested_By)
    <label><b>Approved By:</b></label>@Html.DisplayFor(model => model.ApprovedBy)
</p>
<p>
    <label><b>Category:</b></label>@Html.DisplayFor(model => model.Category)
    <label><b>Source Of Training:</b></label>@Html.DisplayFor(model => model.Sourceof_Training)
</p>
<p>
    <label><b>Service Provider:</b></label>@Html.DisplayFor(model => model.Service_provider)
   
</p>
<p>
    <label><b>Department:</b></label>@Html.DisplayFor(model => model.DeptId)
    <label><b>Attendies:</b></label>@Html.DisplayFor(model => model.Attendees)
</p>
<p>
    <label><b>Reason For Training:</b></label>@Html.DisplayFor(model => model.Reasonfor_Training)
    <label><b>Training venue:</b></label>@Html.DisplayFor(model => model.Venue)
</p>
<p>
    <label><b> Actual Training Start Date:</b></label>
    @if (Model.Training_Actual_Date != null && Model.Training_Actual_Date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Training_Actual_Date.ToString("dd/MM/yyyy HH:mm:ss")
    }
    <label><b> Actual Training Completion Date:</b></label>
    @if (Model.Training_Actual_Completion_Date != null && Model.Training_Actual_Completion_Date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Training_Actual_Completion_Date.ToString("dd/MM/yyyy HH:mm:ss")
    }

</p>
<p>
    <label><b>Internal Trainer Name:</b></label>@Html.DisplayFor(model => model.Trainer_Name)
    <label><b>External Trainer Name:</b></label>@Html.DisplayFor(model => model.Ext_Trainer_Name)
</p>
<p>
    <label><b>Training Effective Evaluation Plan Date:</b></label>
    @if (Model.Training_Effect_Eval_Plan_Date != null && Model.Training_Effect_Eval_Plan_Date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Training_Effect_Eval_Plan_Date.ToString("dd/MM/yyyy")
    }   
</p>



