<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to MANAL</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="alert, confirm, prompt, demo" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/ckeditor")

    <!-- Choosen Specific -->
    <link href="~/Content/choosen/chosen.min.css" rel="stylesheet" />
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href='@Url.Content("~/Content/menu/css/menustyle.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/css/style.css")' rel="stylesheet">


    <!-- news picker -->
    @*<link href='@Url.Content("~/Content/css/c_style.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/css/ticker-style.css")' rel="stylesheet">*@



    <!-- start: Below lines of code is required for Autocomplete, Spinner and Custom JAlert scripts to work,  -->
    <!-- be cautious before changing-->
    <script src='@Url.Content("~/Content/js/jquery.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Content/js/jquery.ui.draggable.js")' type="text/javascript"></script>

    <!-- start: Core files for JAlert -->
    <script src='@Url.Content("~/Content/js/jquery.alerts.js")' type="text/javascript"></script>
    <link href='@Url.Content("~/Content/css/jquery.alerts.css")' rel="stylesheet" type="text/css" media="screen" />
    <!-- JAlert ends -->

    <script src='@Url.Content("~/Content/js/jquery-1.11.1.min.js")'></script>

    <script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")'></script>

    <!--Order Ends -->

    <link href='@Url.Content("~/Content/site.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/css/bootstrap.min.css")' rel="stylesheet">
 
    <link type="text/css" rel="stylesheet" href='@Url.Content("~/Content/css/font-awesome.min.css")' />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/css/bootstrap-select.css")'>
    <link rel="stylesheet" href='@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")'>
    <link href='@Url.Content("~/Content/css/dropzone.css")' rel="stylesheet">
    <script type="text/javascript" src='@Url.Content("~/Content/js/jquery.leanModal.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/jspdf.min.js")'></script>

      <!--Data Tables -->
 
    @*<script type="text/javascript" src='@Url.Content("~/DataTables/datatables.min.js")'></script>*@
    <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.18/js/dataTables.jqueryui.min.js")'></script>
     <!--Responsive Data Tables -->
     <script type="text/javascript" src='@Url.Content("~/DataTables/dataTables.responsive.min.js")'></script>

    <!--Print/pdf/excel Data Tables -->

  @*  <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/media/js/jquery.dataTables.min.js")'></script>*@
      <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/Buttons/js/dataTables.buttons.min.js")'></script>
      <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/Buttons/js/buttons.flash.min.js")'></script>
     <script type="text/javascript" src='@Url.Content("~/Scripts/ajax/jszip.min.js")'></script>
     <script type="text/javascript" src='@Url.Content("~/Scripts/ajax/pdfmake.min.js")'></script>
     <script type="text/javascript" src='@Url.Content("~/Scripts/ajax/vfs_fonts.js")'></script>
     <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/Buttons/js/buttons.html5.min.js")'></script>
     <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/Buttons/js/buttons.print.min.js")'></script>

      <!--colreorder Data Tables -->
      <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/ColReorder/js/dataTables.colReorder.min.js")'></script>

       <!--column visibility -->
      <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/FixedHeader/js/dataTables.fixedHeader.min.js")'></script>
      <script type="text/javascript" src='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/Buttons/js/buttons.colVis.min.js")'></script>


      @* <link rel="stylesheet" type="text/css" href='@Url.Content("~/DataTables/datatables.min.css")'/>*@
  
     <link rel="stylesheet" type="text/css" href='@Url.Content("~/DataTables/DataTables-1.10.18/css/dataTables.jqueryui.min.css")'/>
   
      <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/themes/base/jquery-ui.css")'/>

         <link rel="stylesheet" type="text/css" href='@Url.Content("~/DataTables/responsive.dataTables.min.css")'/>

    
    <!--Print/pdf/excel Data Tables -->
   @*  <link rel="stylesheet" type="text/css" href='@Url.Content("~/DataTables/DataTables-1.10.19/media/css/jquery.dataTables.min.css")'/>*@
     <link rel="stylesheet" type="text/css" href='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/Buttons/css/buttons.dataTables.min.css")'/>

     <!--colreorder data table -->

     <link rel="stylesheet" type="text/css" href='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/ColReorder/css/colReorder.dataTables.min.css")'/>

     <!--column visibility -->
     <link rel="stylesheet" type="text/css" href='@Url.Content("~/DataTables/DataTables-1.10.19/extensions/FixedHeader/css/fixedHeader.dataTables.min.css")'/>

      <!--Data Tables ends -->


      <!--charts -->

    @* <script type="text/javascript" src='@Url.Content("~/Charts/js/columns_waterfalls.js")'></script>*@
     <script type="text/javascript" src='@Url.Content("~/Charts/js/echarts.min.js")'></script>
     <script type="text/javascript" src='@Url.Content("~/Charts/js/app.js")'></script>
     @*<script type="text/javascript" src='@Url.Content("~/Charts/js/blockui.min.js")'></script>*@
  @*   <script type="text/javascript" src='@Url.Content("~/Charts/js/bootstrap.bundle.min.js")'></script>*@

    @*  <link rel="stylesheet" type="text/css" href='@Url.Content("~/Charts/css/bootstrap.min.css")'/>*@
    @* <link rel="stylesheet" type="text/css" href='@Url.Content("~/Charts/css/bootstrap_limitless.min.css")'/>*@
     <link rel="stylesheet" type="text/css" href='@Url.Content("~/Charts/css/colors.min.css")'/>
    @* <link rel="stylesheet" type="text/css" href='@Url.Content("~/Charts/css/components.min.css")'/>*@
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Charts/css/components.css")'/>


     <!--charts end -->

    <style type="text/css">
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }

        .loading {
            font-family: Arial;
            font-size: 10pt;
            border: 5px solid #67CFF5;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 999;
        }

        .dropdown23-submenu {
            position: relative;
        }

            .dropdown23-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }
    </style>

</head>
<body>
    <header class=" ">
        @{
            ISOStd.Models.UserCredentials objUser = new ISOStd.Models.UserCredentials();
            ISOStd.Models.clsGlobal objGlobaldata = new ISOStd.Models.clsGlobal();
            ViewBag.VerNo = objGlobaldata.GetVersionNumber();
            ViewBag.Changes = objGlobaldata.GetVersionChanges();
            string role = "";
            if (HttpContext.Current.Session["UserCredentials"] != null)
            {
                objUser = (ISOStd.Models.UserCredentials)HttpContext.Current.Session["UserCredentials"];
                role = objGlobaldata.GetCurrentUserSession().role;
            }
            else
            {
                try
                {
                    Layout = null;
                    Session.Abandon();
                    Response.Redirect("~/Account/Login", false);
                }
                catch (Exception ex)
                {
                    objGlobaldata.AddFunctionalLog("Exception in Layout Page: " + ex.ToString());
                }

            }
        }


        <div class="container" id="topbar">
            <div style="float: left;">

                <a href="" target="_blank">
                    <img style="width:230px; height:50px;" src='@Url.Content("~/Images/companylogo.png")' />
                </a>
            </div>
            <div class="nav-no-collapse header-nav">

                <ul class="nav navbar-nav pull-right">

                    @*<li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">Help</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Content("~/DataUpload/MSMEuserguidepartial.pdf")" target="_blank">Documentation</a></li>
                            
                        </ul>

                    </li>*@
                    <!-- start: User Dropdown -->
                    <li class="dropdown" style="width: 260px;">
                        <a href="#" data-toggle="dropdown" class="btn account dropdown-toggle">
                            <div class="avatar">
                                @if (objUser != null && objUser.ProfilePic != null && objUser.ProfilePic != "")
                                {
                                    <img alt="@objUser.firstname" src="@Url.Content(objUser.ProfilePic)" onerror="this.src='/images/1.png'" width="100" height="120" />
                                }
                                else
                                {
                                    <img alt="@objUser.firstname" src="@Url.Content("~/images/1.png")" onerror="this.src=@Url.Content("~/images/1.png")" width="100" height="120" />
                                }

                                <i class="fa fa-caret-down fa-fw"></i>
                            </div>
                            <div class="user">
                                <span class="hello">Welcome </span>
                                @if (HttpContext.Current.Session["UserCredentials"] != null)
                                {
                                    if (objUser != null && objUser.firstname != null && objUser.firstname != "")
                                    {
                                        <span class="name">@objUser.firstname</span>
                                    }
                                }

                            </div>
                        </a>
                        <ul class="dropdown-menu" style="margin-top: 12px;">

                            <li style="width: 260px;">
                                <div class="ForgotLinknew">
                                    <a href='@Url.Action("EmployeeDetails", "Employee", new { EmpID = @objUser.empid ,View = "Profile"})' title="Profile details">View Profile</a>
                                </div>
                            </li>

                            <li style="width: 260px;">
                                <div class="ForgotLinknew">
                                    <a href='@Url.Action("ResetPassword", "Employee", new { EmpID = @objUser.empid })' title="Reset Password">Change Password</a>
                                </div>
                            </li>
                            <li style="width: 260px;">
                                <a href='@Url.Action("LogOff", "Account")' class="dropdown-menu-sub-footer">
                                    <img src="@Url.Content("~/images/logout-icon.png")" alt="logout">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            
        </div>
        <!--Menu items -->
        <div style="padding-top: 4px;height:38px;">
            @*<marquee style="color:black; font-size:16px;" height="18px" bgcolor="#fafafa"> <b>   @ViewBag.Changes </b></marquee>*@
            <nav>
                <ul class="menunav">

                    <li>
                        <a href="@Url.Action("Home", "Home", null)" style="float:right" class="icon home"
                           onclick="HyperLinkProgressIconFunction()"><span>Home</span></a>
                    </li>


                    <li class="dropdown @(ViewBag.Menutype == "Dashboard" ? "active" : "")">
                        <a id="penaprev">Approvals</a>
                        <ul style="background:#0793DA;">
                            <li class="@(ViewBag.SubMenutype == "Dashboard" ? "active" : "")">
                                <a href='@Url.Action("ListPendingForApproval", "Dashboard", null)' onclick="HyperLinkProgressIconFunction()">
                                    Pending For Approval<span class="badge badge-success" id="cntapprv"></span>
                                </a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "Dashboard" ? "active" : "")">
                                <a href='@Url.Action("ListPendingForReview", "Dashboard", null)' onclick="HyperLinkProgressIconFunction()">Pending For Review<span class="badge badge-success" id="cntreview"></span></a>
                            </li>
                        </ul>
                    </li>



                    @if (objGlobaldata.GetCurrentUserSession().DocMgmt.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.SubMenutype == "" ? "active" : "")">
                            <a href='@Url.Action("QHSEPlannerList", "QHSEPlanner", null)' onclick="HyperLinkProgressIconFunction()">Events</a>
                        </li>
                    }

                    @if (objGlobaldata.GetCurrentUserSession().DocMgmt.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "MgmtDocuments" ? "active" : "")">
                            <a>Documents</a>
                            <ul style="background:#0793DA;">
                                <li class="@(ViewBag.SubMenutype == "MgmtDocuments" ? "active" : "")">
                                    <a href='@Url.Action("MgmtDocumentsList", "MgmtDocuments", new { View = "1"})' onclick="HyperLinkProgressIconFunction()">
                                        Internal System Documents
                                    </a>
                                </li>
                                @*<li class="@(ViewBag.SubMenutype == "MgmtDocuments" ? "active" : "")">
                                    <a href='@Url.Action("MgmtDocumentsList", "MgmtDocuments", new { View = "2"})' onclick="HyperLinkProgressIconFunction()">
                                        Policy And Manual
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "MgmtDocuments" ? "active" : "")">
                                    <a href='@Url.Action("MgmtDocumentsList", "MgmtDocuments", new { View = "3"})' onclick="HyperLinkProgressIconFunction()">
                                        Procedure
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "MgmtDocuments" ? "active" : "")">
                                    <a href='@Url.Action("MgmtDocumentsList", "MgmtDocuments", new { View = "4"})' onclick="HyperLinkProgressIconFunction()">
                                        Forms
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "MgmtDocuments" ? "active" : "")">
                                    <a href='@Url.Action("MgmtDocumentsList", "MgmtDocuments", new { View = "5"})' onclick="HyperLinkProgressIconFunction()">
                                        Work Instruction
                                    </a>
                                </li>*@

                                <li class="@(ViewBag.SubMenutype == "External" ? "active" : "")">
                                    <a href='@Url.Action("MgmtExternalDocumentList", "MgmtExternalDocument", null)' onclick="HyperLinkProgressIconFunction()">
                                        External Documents
                                    </a>
                                </li>

                                <li class="@(ViewBag.SubMenutype == "External" ? "active" : "")">
                                    <a href='@Url.Action("RecordsList", "RecordsRetention", null)' onclick="HyperLinkProgressIconFunction()">
                                        Records Mgmt
                                    </a>
                                </li>

                                <li class="@(ViewBag.SubMenutype == "External" ? "active" : "")">
                                    <a href='@Url.Action("DocumentChangeRequestList", "DocumentChangeRequest", null)' onclick="HyperLinkProgressIconFunction()">
                                        Document Change Request
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Settings" ? "active" : "")">
                                    <a href='@Url.Action("DocTrackingList", "DocumentTracking")' onclick="HyperLinkProgressIconFunction()">
                                        Document Tracking
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }

                    @if (objGlobaldata.GetCurrentUserSession().ObjKPI.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Objectives" ? "active" : "")">
                            <a>
                                Objectives & KPI's
                            </a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "Objectives" ? "active" : "")">
                                    <a href='@Url.Action("ObjectivesList", "Objectives", null)' onclick="HyperLinkProgressIconFunction()">
                                        Objectives Mgmt
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "KPI" ? "active" : "")">
                                    <a href='@Url.Action("KPIEvaluationList", "KPIEvaluation", null)' onclick="HyperLinkProgressIconFunction()">
                                        KPI Mgmt
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (objGlobaldata.GetCurrentUserSession().Risk.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Risk" ? "active" : "")">
                            <a>
                                Risk Mgmt
                            </a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("ChangeManagementList", "ChangeManagement", null)' onclick="HyperLinkProgressIconFunction()">
                                        Change Management(Moc)
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Parties" ? "active" : "")">
                                    <a href='@Url.Action("PartiesList", "Parties", null)' onclick="HyperLinkProgressIconFunction()">
                                        Internal/External Parties
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Issues" ? "active" : "")">
                                    <a href='@Url.Action("IssuesList", "Issues", null)' onclick="HyperLinkProgressIconFunction()">
                                        Internal/External Issues
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Risk" ? "active" : "")">
                                    <a href='@Url.Action("RiskList", "RiskMgmt", null)' onclick="HyperLinkProgressIconFunction()">
                                        Risk Management
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Risk" ? "active" : "")">
                                    <a href='@Url.Action("RiskRegisterActivityList", "RiskRegisterActivity",new { View = "1"})' onclick="HyperLinkProgressIconFunction()">
                                        Environment/Hazard Risk Register
                                    </a>
                                </li>
                                @*<li class="@(ViewBag.SubMenutype == "Risk" ? "active" : "")">
                                    <a href='@Url.Action("RiskRegisterActivityList", "RiskRegisterActivity", new { View = "2"})' onclick="HyperLinkProgressIconFunction()">
                                        Environment Risk Register
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Risk" ? "active" : "")">
                                    <a href='@Url.Action("RiskRegisterActivityList", "RiskRegisterActivity",new { View = "3"})' onclick="HyperLinkProgressIconFunction()">
                                        Hazard Risk Register
                                    </a>
                                </li>*@
                            </ul>
                        </li>

                    }

                    @if (objGlobaldata.GetCurrentUserSession().HR.ToLower() == "1")
                    {

                        <li class="dropdown @(ViewBag.Menutype == "Employee" ? "active" : "")">
                            <a>
                                Human Resources
                            </a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("EmployeeList", "EmployeeDetails", null)' onclick="HyperLinkProgressIconFunction()">
                                        Employee Mgmt
                                    </a>
                                </li>

                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("EmployeePerformanceEvalList", "EmployeePerformanceEval", null)' onclick="HyperLinkProgressIconFunction()">
                                        Performance Evaluation
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("EmployeeCompetenceEvalList", "EmployeeCompetenceEval", null)' onclick="HyperLinkProgressIconFunction()">
                                        Competancy Evaluation
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("OrgChart", "EmployeeDetails", null)' onclick="HyperLinkProgressIconFunction()">
                                        Organization Chart
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("ManPowerList", "ManHour", null)' onclick="HyperLinkProgressIconFunction()">
                                        Man Hour
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("ExitEmployeeList", "EmployeeDetails", null)' onclick="HyperLinkProgressIconFunction()">
                                        Exit Employees
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("VisitorList", "EmployeeDetails", null)' onclick="HyperLinkProgressIconFunction()">
                                        Visitors
                                    </a>
                                </li>

                            </ul>

                        </li>

                    }
                    @if (objGlobaldata.GetCurrentUserSession().LeaveApply.ToLower() == "1")
                    {

                        <li class="dropdown @(ViewBag.Menutype == "LeaveApply" ? "active" : "")">

                            <a><b>Leave</b></a>
                            <ul style="background: #0793DA;">

                                <li class="@(ViewBag.SubMenutype == "AddLeaveSheet" ? "active" : "")">

                                    <a href='@Url.Action("AddLeaveSheetList", "LeaveManagement", null)' onclick="HyperLinkProgressIconFunction()">
                                        Apply Leave
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }

                    @if (objGlobaldata.GetCurrentUserSession().LeaveMgmt.ToLower() == "1")
                    {

                        <li class="dropdown @(ViewBag.Menutype == "LeaveManagement" ? "active" : "")">

                            <a><b>Leave Mgmt</b></a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "MasterLeaveDetails" ? "active" : "")">
                                    <a href='@Url.Action("MasterLeaveList", "LeaveManagement", null)' onclick="HyperLinkProgressIconFunction()">
                                        Leave Master
                                    </a>
                                </li>
                                @if (objGlobaldata.GetMultiRolesNameById(role).Contains("Admin"))
                                {

                                    <li class="@(ViewBag.SubMenutype == "Certificates" ? "active" : "")">
                                        <a href='@Url.Action("Holiday", "HolidayAdd", null)' onclick="HyperLinkProgressIconFunction()">
                                            Holidays
                                        </a>
                                    </li>
                                }

                            </ul>

                        </li>
                    }

                    @if (objGlobaldata.GetCurrentUserSession().LeaveMgmt.ToLower() == "1")
                    {

                        <li class="dropdown @(ViewBag.Menutype == "" ? "active" : "")">

                            <a><b>Leave Mgmt</b></a>
                            <ul style="background: #0793DA;">
                                @if (objGlobaldata.GetMultiRolesNameById(role).Contains("Admin"))
                                {

                                    <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                        <a href='@Url.Action("LeaveCreditList", "LeaveMgmt", null)' onclick="HyperLinkProgressIconFunction()">
                                            Annual Leave Credit
                                        </a>
                                    </li>
                                }
                                @if (objGlobaldata.GetMultiRolesNameById(role).Contains("Admin"))
                                {

                                    <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                        <a href='@Url.Action("LeaveAdjustmentList", "LeaveMgmt", null)' onclick="HyperLinkProgressIconFunction()">
                                            Leave Adjustment
                                        </a>
                                    </li>
                                }
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("MasterLeaveList", "LeaveMgmt", null)' onclick="HyperLinkProgressIconFunction()">
                                        Leave Master
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("AddLeaveSheet", "LeaveMgmt", null)' onclick="HyperLinkProgressIconFunction()">
                                        Apply Leave
                                    </a>
                                </li>
                                @if (objGlobaldata.GetMultiRolesNameById(role).Contains("Admin"))
                                {

                                    <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                        <a href='@Url.Action("Holiday", "HolidayAdd", null)' onclick="HyperLinkProgressIconFunction()">
                                            Holidays
                                        </a>
                                    </li>
                                }
                            </ul>

                        </li>
                    }

                    <li class="dropdown @(ViewBag.Menutype == "ActionTrackingRegister" ? "active" : "")">

                        <a><b>Actions</b></a>
                        <ul style="background: #0793DA;">

                            <li class="@(ViewBag.SubMenutype == "ActionTrackingRegister" ? "active" : "")">
                                <a href='@Url.Action("ActionTrackingRegisterList", "ActionTrackingRegister", null)' onclick="HyperLinkProgressIconFunction()">
                                    Action Tracking Register
                                </a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "ActionTrackingRegister" ? "active" : "")">
                                <a href='@Url.Action("HSEActionsTrackingRegisterList", "HSEActionsTrackingRegister", null)' onclick="HyperLinkProgressIconFunction()">
                                    HSE Actions Tracking Register
                                </a>
                            </li>
                        </ul>

                    </li>


                    @if (objGlobaldata.GetCurrentUserSession().Meeting.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Meeting" ? "active" : "")">
                            <a>Meetings</a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "MeetingType" ? "active" : "")">
                                    <a href='@Url.Action("AddMeetingType", "Meeting", null)' onclick="HyperLinkProgressIconFunction()">
                                        Meeting Type / Agenda
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "MeetingType" ? "active" : "")">
                                    <a href='@Url.Action("MeetingList", "Meeting", null)' onclick="HyperLinkProgressIconFunction()">
                                        Schedule Meeting
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Meeting" ? "active" : "")">
                                    <a href='@Url.Action("AddMeetingNow", "Meeting", null)' onclick="HyperLinkProgressIconFunction()">
                                        Unplanned Meeting
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }

                    @if (objGlobaldata.GetCurrentUserSession().Supplier.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Supplier" ? "active" : "")">
                            <a>
                                Suppliers
                            </a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "Supplier" ? "active" : "")">
                                    <a href='@Url.Action("SupplierList", "Supplier")' onclick="HyperLinkProgressIconFunction()">
                                        Ext Provider/Supplier
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "DiscrepancyLog" ? "active" : "")">
                                    <a href='@Url.Action("DiscrepancyLogList", "Supplier")' onclick="HyperLinkProgressIconFunction()">
                                        Discrepancy Log
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "SupplierPerformance" ? "active" : "")">
                                    <a href='@Url.Action("SupplierPerformanceList", "SupplierPerformance", null)' onclick="HyperLinkProgressIconFunction()">
                                        Supplier Performance
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("SupplierReport", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                                        Appr Ext Provider List
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }


                    @if (objGlobaldata.GetCurrentUserSession().CustomerMgmt.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Feedback" ? "active" : "")">
                            <a>Customer</a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("CustomerVisitList", "CustomerVisit", null)' onclick="HyperLinkProgressIconFunction()">
                                        Visits
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "CustomerList" ? "active" : "")">
                                    <a href='@Url.Action("CustomerList", "CustomerMgmt")' onclick="HyperLinkProgressIconFunction()">
                                        Add Customer/Send Feedback
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Compliant" ? "active" : "")">
                                    <a href='@Url.Action("CustomerComplaintList", "CustComplaint", null)' onclick="HyperLinkProgressIconFunction()">
                                        Complaints
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Survey" ? "active" : "")">
                                    <a href='@Url.Action("AddSurvey", "Survey", null)' onclick="HyperLinkProgressIconFunction()">
                                        Survey Questions
                                    </a>
                                </li>

                                <li class="@(ViewBag.SubMenutype == "CustomerList" ? "active" : "")">
                                    <a href='@Url.Action("CustomerSurveyList", "Survey")' onclick="HyperLinkProgressIconFunction()">
                                        Upload Survey
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "MgmtDocuments" ? "active" : "")">
                                    <a href='@Url.Action("BiddingList", "Bidding", null)' onclick="HyperLinkProgressIconFunction()">
                                        Bidding
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }

                    @if (objGlobaldata.GetCurrentUserSession().TrainingOrientation.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Training Orientation" ? "active" : "")">
                            <a>
                                Induction Training
                            </a>
                            <ul style="background: #0793DA;">

                                <li class="@(ViewBag.SubMenutype == "Training Orientation" ? "active" : "")">
                                    <a href='@Url.Action("AddOrientationDetails", "TrainingOrientation", null)' onclick="HyperLinkProgressIconFunction()">Add Topic</a>
                                </li>

                                <li class="@(ViewBag.SubMenutype == "Training Orientation" ? "active" : "")">
                                    <a href='@Url.Action("AddEmployeeTrainingOrientation", "TrainingOrientation", null)' onclick="HyperLinkProgressIconFunction()">
                                        Perform Training
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Training Orientation" ? "active" : "")">
                                    <a href='@Url.Action("EmployeeTrainingOrientationList", "TrainingOrientation", null)' onclick="HyperLinkProgressIconFunction()">
                                        Training Lists
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }


                    @if (objGlobaldata.GetCurrentUserSession().Audit.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Audit" ? "active" : "")">
                            <a>Audits</a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "InternalAuditList" ? "active" : "")">
                                    <a href='@Url.Action("InternalAuditList", "Audit", null)' onclick="HyperLinkProgressIconFunction()">
                                        Internal Audit
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "ExternalAuditList" ? "active" : "")">
                                    <a href='@Url.Action("ExternalAuditList", "ExternalAudit", null)' onclick="HyperLinkProgressIconFunction()">
                                        External Audit
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "ExternalAuditList" ? "active" : "")">
                                    <a href='@Url.Action("AddExternalAuditWithNoFindings", "ExternalAudit", null)' onclick="HyperLinkProgressIconFunction()">
                                        External Audit Report
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "CustomerAuditList" ? "active" : "")">
                                    <a href='@Url.Action("CustomerAuditList", "CustomerAudit", null)' onclick="HyperLinkProgressIconFunction()">
                                        Customer Audit
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "NCRCAPAList" ? "active" : "")">
                                    <a href='@Url.Action("NCRCAPAList", "NCRCAPA", null)' onclick="HyperLinkProgressIconFunction()">
                                        Raise Nc
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "NCRCAPAList" ? "active" : "")">
                                    <a href='@Url.Action("InternalAuditChecklist", "Audit", null)' onclick="HyperLinkProgressIconFunction()">
                                        Internal Audit Checklist(With Upload)
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "NCRCAPAList" ? "active" : "")">
                                    <a href='@Url.Action("AuditChecklistList", "GenerateAuditChecklist", null)' onclick="HyperLinkProgressIconFunction()">
                                        Audit Checklist & Perform Audit
                                    </a>
                                </li>
                                @*       <li class="@(ViewBag.SubMenutype == "NCRCAPAList" ? "active" : "")">
                        <a href='@Url.Action("AuditChecklistList", "SupplierAuditChecklist", null)' onclick="HyperLinkProgressIconFunction()">SUPPLIER AUDIT CHECKLIST & PERFORM AUDIT</a>
                    </li>*@

                            </ul>
                        </li>

                    }



                    @if (objGlobaldata.GetCurrentUserSession().HSE.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "HSEReport" ? "active" : "")">
                            <a>HSE</a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("IncidentReportList", "IncidentReport", null)' onclick="HyperLinkProgressIconFunction()">
                                        Incident Reports
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("NearMissList", "NearMiss", null)' onclick="HyperLinkProgressIconFunction()">
                                        Near Miss Reporting
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("EmergencyPlanNRecordList", "EmergencyPlanNRecord", null)' onclick="HyperLinkProgressIconFunction()">
                                        Emergency Plan And Record
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("ToolboxTalkList", "ToolboxTalk", null)' onclick="HyperLinkProgressIconFunction()">
                                        Toolbox Talks Log And Report
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("SafetyViolationLogList", "SafetyViolationLog", null)' onclick="HyperLinkProgressIconFunction()">
                                        Safety Violation Log And Report
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("PPEIssueLogList", "PPEIssueLog", null)' onclick="HyperLinkProgressIconFunction()">
                                        PPE Issue Log
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Inspection" ? "active" : "")">
                                    <a href='@Url.Action("InspectionList", "Inspection", null)' onclick="HyperLinkProgressIconFunction()">
                                        HSE Inspection
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("QualitySurveyList", "QualitySurvey", null)' onclick="HyperLinkProgressIconFunction()">
                                        Air/Water/Noise Quality Survey
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("WasteManagementList", "WasteManagement", null)' onclick="HyperLinkProgressIconFunction()">
                                        Waste Management
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("SafetyObservationList", "SafetyObservation", null)' onclick="HyperLinkProgressIconFunction()">
                                        Safety Observation Card
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("HseIndList", "HseInd", null)' onclick="HyperLinkProgressIconFunction()">
                                        HSE Induction
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("FirstAidBoxList", "FirstAidBox", null)' onclick="HyperLinkProgressIconFunction()">
                                        First Aid Box
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("FireEquipInspectionList", "FireEquipInspection", null)' onclick="HyperLinkProgressIconFunction()">
                                        Fire Equipment Inspection
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }

                    <li class="dropdown @(ViewBag.SubMenutype == "ProjectMgmt" ? "active" : "")">
                        <a href='@Url.Action("ProjectList", "ProjectMgmt", null)' onclick="HyperLinkProgressIconFunction()">Projects</a>
                    </li>

                    @if (objGlobaldata.GetCurrentUserSession().Equipment.ToLower() == "1")
                    {

                        <li class="dropdown @(ViewBag.Menutype == "Equipment" ? "active" : "")">
                            <a>Equipments</a>
                            <ul style="background: #0793DA;">

                                <li class="@(ViewBag.SubMenutype == "Equipment" ? "active" : "")">
                                    <a href='@Url.Action("EquipmentList", "Equipment", null)' onclick="HyperLinkProgressIconFunction()">
                                        Maintenance
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Calibration" ? "active" : "")">
                                    <a href='@Url.Action("CalibrationList", "Equipment", null)' onclick="HyperLinkProgressIconFunction()">
                                        Calibration
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }
                                 

                    @if (objGlobaldata.GetCurrentUserSession().LegalRegister.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "LegalRegister" ? "active" : "")">
                            <a>
                                Compliance
                            </a>
                            <ul style="background: #0793DA;">

                                <li class="@(ViewBag.SubMenutype == "LegalRegisterList" ? "active" : "")">
                                    <a href='@Url.Action("ComplianceList", "LegalRegister", null)' onclick="HyperLinkProgressIconFunction()">
                                        Legal Register
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "Certificates" ? "active" : "")">
                                    <a href='@Url.Action("Certificate", "Certificates", null)' onclick="HyperLinkProgressIconFunction()">
                                        Certificates
                                    </a>
                                </li>

                                @*<li class="@(ViewBag.SubMenutype == "AddLegalRegister" ? "active" : "")">
                        <a href='@Url.Action("AddLegalRegister", "LegalRegister", null)' onclick="HyperLinkProgressIconFunction()">ADD LEGAL REGISTER </a>
                    </li>
                    <li class="@(ViewBag.SubMenutype == "LegalRegisterList" ? "active" : "")">
                        <a href='@Url.Action("LegalRegisterList", "LegalRegister", null)' onclick="HyperLinkProgressIconFunction()">LEGAL REGISTER DETAIL</a>
                    </li>*@
                            </ul>
                        </li>
                    }



                    @*@if (objGlobaldata.GetCurrentUserSession().KnowledgBase.ToLower() == "1")
        {
            <li class="dropdown @(ViewBag.Menutype == "Employee Details List" ? "active" : "")">
                <a>
                    Knowledge Mgmt
                </a>
                <ul style="background: #0793DA;">

                    <li class="@(ViewBag.SubMenutype == "AddKnowledgeBase" ? "active" : "")">
                        <a href='@Url.Action("AddKnowledgeBase", "KnowledgeBase", null)' onclick="HyperLinkProgressIconFunction()">
                            Add Knowledge Base
                        </a>
                    </li>

                    <li class="@(ViewBag.SubMenutype == "DisplayKnowledgeAdmin" ? "active" : "")">
                        <a href='@Url.Action("DisplayKnowledgeAdmin", "KnowledgeBase", null)' onclick="HyperLinkProgressIconFunction()">
                            Knowledge List
                        </a>
                    </li>
                </ul>
            </li>
        }*@


                    <li class="dropdown @(ViewBag.Menutype == "Training" ? "active" : "")">
                        <a>
                            Trainings
                        </a>
                        <ul style="background: #0793DA;">

                            <li class="@(ViewBag.SubMenutype == "Trainings" ? "active" : "")">
                                <a href='@Url.Action("TrainingsList", "Trainings", null)' onclick="HyperLinkProgressIconFunction()">
                                    Training List
                                </a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                <a href='@Url.Action("TrainingProgramList", "TrainingProgram", null)' onclick="HyperLinkProgressIconFunction()">
                                    Training Calender
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="dropdown @(ViewBag.Menutype == "CRM" ? "active" : "")">
                        <a>CRM</a>
                        <ul style="background: #0793DA;">

                            <li class="@(ViewBag.SubMenutype == "Customer" ? "active" : "")">
                                <a href='@Url.Action("CustomerList", "CRM", null)' onclick="HyperLinkProgressIconFunction()">Add Customer</a>
                            </li>
                            @if (objGlobaldata.GetMultiRolesNameById(role).Contains("CEO") || objGlobaldata.GetMultiRolesNameById(role).Contains("COO"))
                            {
                                <li class="@(ViewBag.SubMenutype == "Product" ? "active" : "")">
                                    <a href='@Url.Action("ProductList", "CRM", null)' onclick="HyperLinkProgressIconFunction()">Add Product</a>
                                </li>
                            }
                            <li class="@(ViewBag.SubMenutype == "CustomerVisit" ? "active" : "")">
                                <a href='@Url.Action("CustomerVisitList", "CRM", null)' onclick="HyperLinkProgressIconFunction()">Add Customer Visit</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "AddEnquiry" ? "active" : "")">
                                <a href='@Url.Action("EnquiryList", "CRM", null)' onclick="HyperLinkProgressIconFunction()">Add Enquiry</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "AddEnquiry" ? "active" : "")">
                                <a href='@Url.Action("DashboardReport", "CRM", null)' onclick="HyperLinkProgressIconFunction()">Dashboard Report</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "AddEnquiry" ? "active" : "")">
                                <a href='@Url.Action("EnquiryReport", "CRM", null)' onclick="HyperLinkProgressIconFunction()">Enquiry Report</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "Enquiry" ? "active" : "")">
                                <a href='@Url.Action("CustEnquiryList", "CustEnquiry", null)' onclick="HyperLinkProgressIconFunction()">Cust Enquiry Report</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "Enquiry" ? "active" : "")">
                                <a href='@Url.Action("QuotationList", "CustEnquiry", null)' onclick="HyperLinkProgressIconFunction()"> Quotation </a>
                            </li>
                        </ul>
                    </li>


                    @*   <li class="dropdown @(ViewBag.Menutype == "TUV" ? "active" : "")">
              <a>TUV</a>
              <ul style="background: #0793DA;">

                  <li class="@(ViewBag.SubMenutype == "TUV" ? "active" : "")">
                      <a href='@Url.Action("CustomerList", "TUV", null)' onclick="HyperLinkProgressIconFunction()">ADD CUSTOMER</a>
                  </li>
                   <li class="@(ViewBag.SubMenutype == "TUV" ? "active" : "")">
                      <a href='@Url.Action("ProjectList", "TUV", null)' onclick="HyperLinkProgressIconFunction()">ADD SUPPLIER</a>
                  </li>
                   <li class="@(ViewBag.SubMenutype == "TUV" ? "active" : "")">
                      <a href='@Url.Action("AuditList", "TUV", null)' onclick="HyperLinkProgressIconFunction()">AUDIT</a>
                  </li>
                   <li class="@(ViewBag.SubMenutype == "TUV" ? "active" : "")">
                      <a href='@Url.Action("GenerateAuditQuestion", "TUV", null)' onclick="HyperLinkProgressIconFunction()">GENERATE AUDIT QUESTIONS</a>
                  </li>
              </ul>
        </li>*@
                    @if (objGlobaldata.GetCurrentUserSession().MgmtReports.ToLower() == "1")
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Report" ? "active" : "")">
                            <a>Reports</a>
                            <ul style="background: #0793DA;">
                                <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                    <a href='@Url.Action("ReportList", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                                        Reports
                                    </a>
                                </li>
                                @*   <li class="@(ViewBag.SubMenutype == "AuditLogReport" ? "active" : "")">
                        <a href='@Url.Action("AuditLogReport", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                            Audit Log
                        </a>
                    </li>*@
                                @*   <li class="@(ViewBag.SubMenutype == "AuditSummaryReport" ? "active" : "")">
                        <a href='@Url.Action("AuditSummaryReport", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                            Audit Summary
                        </a>
                    </li>*@
                                @* <li class="@(ViewBag.SubMenutype == "MgmtMasterListDocumentReport" ? "active" : "")">
                        <a href='@Url.Action("MasterDocumentPrintPdf", "Reports", new { View = "1" })' onclick="HyperLinkProgressIconFunction()">
                            Master Documents
                        </a>
                    </li>*@
                                @*  <li class="@(ViewBag.SubMenutype == "ObjectivesReport" ? "active" : "")">
                        <a href='@Url.Action("ObjectivesReport", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                            Objectives
                        </a>
                    </li>*@

                                @*   <li class="@(ViewBag.SubMenutype == "ObjectivesReport" ? "active" : "")">
                        <a href='@Url.Action("KPIReport", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                            KPI Reports
                        </a>
                    </li>*@
                                <li class="@(ViewBag.SubMenutype == "ObjectivesReport" ? "active" : "")">
                                    <a href='@Url.Action("MISReports", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                                        Dashboard Reports
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "ObjectivesReport" ? "active" : "")">
                                    <a href='@Url.Action("DashboardReports", "Reports", null)' onclick="HyperLinkProgressIconFunction()">
                                        MIS Reports
                                    </a>
                                </li>
                                @*  <li class="@(ViewBag.SubMenutype == "HSEReport" ? "active" : "")">
                        <a href='@Url.Action("HSEReports", "HSEReports", null)' onclick="HyperLinkProgressIconFunction()">
                            Dashboard HSE Reports
                        </a>
                    </li>*@

                                @*    <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                        <a href='@Url.Action("HSEStatisticsReport", "HSEStatistics", null)' onclick="HyperLinkProgressIconFunction()">
                            HSE Statistics Reports
                        </a>
                    </li>*@


                            </ul>
                        </li>

                    }


                    <li class="dropdown @(ViewBag.Menutype == "" ? "active" : "")">
                        <a>Stock Mgmt</a>
                        <ul style="background: #0793DA;">
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("MaterialList", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Material Master</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("AddStock", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Receive Stock</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("IssueStock", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Issue Stock</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("ReturnList", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Return Stock</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("AddChemical", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Receive Chemicals/Paints</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("ChemicalIssue", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Issue Chemicals/Paints</a>
                            </li>
                              <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("ReturnChemicalList", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Return Chemicals/Paints</a>
                            </li>

                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("RoundbarList", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Receive Rounbbar</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("RoundbarIssueList", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Issue Rounbbar</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("RoundbarMasterList", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Stock Balance</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("LogList", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Stock Log</a>
                            </li>
                   
                        </ul>
                    </li>

                    
                    <li class="dropdown @(ViewBag.Menutype == "" ? "active" : "")">
                        <a>Stock Report</a>
                        <ul style="background: #0793DA;">
                         
                              <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("YearEndStockReport", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Yearly/Daily/Monthly Stock Report</a>
                            </li>
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("PurchasedStockReport", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Stock issue Report</a>
                            </li>
                              <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("SupplierAnalysisReport", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Supplier Analysis Report</a>
                              </li>
                             <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("UsageReport", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Usage Report</a>
                              </li>
                              <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("OutofStockReport", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Out Of Stock Report</a>
                              </li>
                             <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("PriceComparisonReport", "Emmet", null)' onclick="HyperLinkProgressIconFunction()">Price Comparison Report</a>
                              </li>
                        </ul>
                    </li>
                      <li class="dropdown @(ViewBag.Menutype == "Work Permit" ? "active" : "")">
                        <a>Work Permit</a>
                        <ul style="background: #0793DA;">
                            <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("AccessPermitList", "WorkPermit", null)' onclick="HyperLinkProgressIconFunction()">Access Work Permit</a>
                            </li> 
                             <li class="@(ViewBag.SubMenutype == "" ? "active" : "")">
                                <a href='@Url.Action("WorkPermitList", "WorkPermit", null)' onclick="HyperLinkProgressIconFunction()">Work Permit</a>
                            </li> 
                        </ul>
                     
                    </li>

                    @if (objGlobaldata.GetMultiRolesNameById(role).Contains("Admin"))
                    {
                        <li class="dropdown @(ViewBag.Menutype == "Settings" ? "active" : "")">
                            <a>Settings</a>
                            <ul style="background: #0793DA; margin-left: -70px;">
                                <li class="@(ViewBag.SubMenutype == "Company" ? "active" : "")">
                                    <a href='@Url.Action("CompanyDetails", "Company", null)' onclick="HyperLinkProgressIconFunction()">
                                        Company Profile
                                    </a>
                                </li>
                                @*<li class="@(ViewBag.SubMenutype == "CustomerList" ? "active" : "")">
                        <a href='@Url.Action("CustomerList", "CustomerMgmt")' onclick="HyperLinkProgressIconFunction()">Customer Profile
                        </a>
                    </li>*@
                                @* <li class="@(ViewBag.SubMenutype == "Survey" ? "active" : "")">
                        <a href='@Url.Action("AddSurvey", "Survey", null)' onclick="HyperLinkProgressIconFunction()">Manage Customer Survey</a>
                    </li>*@
                                <li class="@(ViewBag.SubMenutype == "Department" ? "active" : "")">
                                    <a href='@Url.Action("AddDepartment", "Company", null)' onclick="HyperLinkProgressIconFunction()">
                                        Department
                                    </a>
                                </li>
                                @*<li class="@(ViewBag.SubMenutype == "Targets" ? "active" : "")">
                        <a href='@Url.Action("AddTargets", "FlexifloTargets", null)' onclick="HyperLinkProgressIconFunction()">
                            Targets
                        </a>
                    </li>*@
                                <li class="@(ViewBag.SubMenutype == "Employee" ? "active" : "")">
                                    <a href='@Url.Action("EmployeeList", "Employee", null)' onclick="HyperLinkProgressIconFunction()">
                                        User Profile
                                    </a>
                                </li>
                                <li class="@(ViewBag.SubMenutype == "DropDownItems" ? "active" : "")">
                                    <a href='@Url.Action("AddItems", "DropDownItems")' onclick="HyperLinkProgressIconFunction()">
                                        Mgmt Dropdown Data
                                    </a>
                                </li>

                                <li class="@(ViewBag.SubMenutype == "Access Privileges" ? "active" : "")">
                                    <a href='@Url.Action("AccessPrivilegesList", "AccessPrivileges")' onclick="HyperLinkProgressIconFunction()">
                                        Manage Access Privileges
                                    </a>
                                </li>

                                <li class="@(ViewBag.SubMenutype == "Settings" ? "active" : "")">
                                    <a href='@Url.Action("ISOStdList", "Company")' onclick="HyperLinkProgressIconFunction()">
                                        ISO Standards
                                    </a>
                                </li>

                                
                                @*<li class="dropdown @(ViewBag.Menutype == "Import" ? "active" : "")">
                        <a href='@Url.Action("ImportToExcel", "ImportToExcel", null)' onclick="HyperLinkProgressIconFunction()">
                            File Upload
                        </a>
                    </li>*@
                            </ul>
                        </li>
                    }

                </ul>
            </nav>
        </div>
        <!--Menu End -->

    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">

            <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none;">
                <p style="position: absolute; top: 30%; left: 45%; color: White;">
                    <img src="@Url.Content("~/Images/Loading_icon.gif")" style="width: 50%;" />
                    <br />
                    Please wait...
                </p>
            </div>

            @RenderBody()
        </section>
    </div>
   
    <footer class="footer">
        
        
        
     &copy;@DateTime.Now.Year AL MANAL MANAGEMENT SYSTEM. All rights reserved  MSME @ViewBag.VerNo





    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajax")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/datatables")
      @Scripts.Render("~/bundles/charts")
    @RenderSection("scripts", required: false)

    <!-- News picker -->
    @*<script src="http://code.jquery.com/jquery-1.8.2.js" type="text/javascript"></script>

        <script type="text/javascript">
            $(function () {
                $('#js-news').ticker();
            });
        </script>*@


    <!-- jQuery with fallback to the 1.* for old IE -->
    <!--[if lt IE 9]>
                <script src="js/jquery-1.11.0.min.js"></script>
            <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src='@Url.Content("~/Content/js/jquery-2.1.0.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/jquery-ui.custom.min.js")'></script>
    <!--<![endif]-->
    <script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
  
    <script type="text/javascript" src='@Url.Content("~/Content/js/bootstrap-timepicker.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/moment.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/daterangepicker.js")'></script>
    <!-- Responsive Tabs JS -->
    <script src='@Url.Content("~/Content/js/jquery.responsiveTabs.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Content/js/bootstrap-select.min.js")'></script>
    <script src='@Url.Content("~/Content/js/mask.js")'></script>
    <script src='@Url.Content("~/Content/js/custom.js")'></script>

    <script src='@Url.Content("~/Content/js/jquery.validate.min.js")'></script>

    <!--Choosen Specific -->
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @*<script src="~/Content/js/jquery.ticker.js"></script>*@

    <script>

        jQuery.ajax({
            url: '@Url.Action("FunGetTotalPendingForApproval", "Home")',
            type: 'POST',
            dataType: "json",
            success: function (result) {
                if (result != "") {

                    document.getElementById("cntapprv").innerHTML = result.apprv;
                    document.getElementById("cntreview").innerHTML = result.review;
                    if (result.apprv > 0 || result.review > 0) {
                        document.getElementById("penaprev").setAttribute("class", "button");
                    }
                }
            }
        });
        function ProgressIconFunction(formid) {
            var $form = $(formid);
           
            //var ret=$form.valid();
            // $form.validate();
            //var $form = document.forms["AddNewBranch"];
            if ($form.valid()) {
                // var url = '@Url.Action("LoadingProgress", "CustomerMgmt")';
                $("#divLoading").show();
                //$.post(url, null,
                //        function (data) {
                //            $("#divLoading").hide();
                //        });
            }
            else {
                $("#divLoading").hide();
            }
        }

        function HyperLinkProgressIconFunction() {
            $("#divLoading").show();
        }

        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

    </script>


   
</body>
</html>
