@model ISOStd.Models.RiskMgmtModels

@{
    ViewBag.Title = "";

    ISOStd.Models.RiskMgmtModelsList objMitList = new ISOStd.Models.RiskMgmtModelsList();
    int icnt = 0;
    if (ViewBag.objMitList != null)
    {
        objMitList = ViewBag.objMitList;
        icnt = objMitList.lstRiskMgmtModels.Count;
    }
    DateTime today = DateTime.Now;
}

<script src='@Url.Content("~/global_assets/js/demo_pages/Riskmit_form_wizard.js")'></script>

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("RiskList", "RiskMgmt", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">
                            Quality Related Risk
                        </span>
                    </a>
                    <span class="breadcrumb-item active">Risk Mitigation</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}
<!-- Basic setup -->
<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">Risk Mitigation</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">

            <form class="wizard-form steps-validation" action="@Url.Action("AddRiskMitigation", "RiskMgmt")" data-fouc id="form1">
                <input type="hidden" id="risk_id" name="risk_id" value="@ViewBag.risk_id" />
                <input type="hidden" id="impact_id" name="impact_id" value="@Model.impact_id" />
                <input type="hidden" id="like_id" name="like_id" value="@Model.like_id" />
                <input type="hidden" id="itemcnt" name="itemcnt" value="@icnt" />
                <h6>Risk Mitigation</h6>
                <fieldset>
                    <table class="table table-lg">
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.risk_refno)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.risk_refno)
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.risk_desc)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.risk_desc)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    Risk Rating
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    <input class="form-control" type="text" id="rating" name="rating" style="display:none;" readonly />
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.branch_id)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.branch_id)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.dept)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.dept)
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Location)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.Location)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.source_id)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.source_id)
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Issue)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.Issue)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Risk_Type)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.Risk_Type)
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.consequences)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.consequences)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.risk_owner)
                                </div>
                            </td>
                            <td class="col-xs-3 col-md-3">
                                <div class="editor-field">
                                    @Html.DisplayFor(model => model.risk_owner)
                                </div>
                            </td>
                        </tr>
                    </table>
                    <fieldset class="border p-2">
                        <legend class="font-weight-semibold text-success">Add Mitigation</legend>
                        <table class="table table-lg">
                            <tr class="row">

                                <td class="col-xs-3 col-md-3">
                                    <div class="editor-label">
                                        Mitigation Measure
                                    </div>
                                </td>
                                <td class="col-xs-3 col-md-3">
                                    <div class="editor-field">
                                        <input class="form-control" type="text" id="measure" name="measure" />
                                        <span class="field-validation-error">
                                            <label id="measure-message" class="validation-invalid-label" style="display: none" for="basic">This field is required.</label>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-xs-3 col-md-3">
                                    <div class="editor-label">
                                        Person Responsible
                                    </div>
                                </td>
                                <td class="col-xs-3 col-md-3">
                                    <div class="editor-field">
                                        <select class="select-search1" data-fouc id="pers_resp" name="pers_resp">
                                            <option value='' hidden>Select</option>
                                            @if (ViewBag.EmpList != null)
                                            {
                                                foreach (var item in ViewBag.EmpList)
                                                {
                                                   <option value='@item.Value'>@item.Text</option>                                                  
                                                }
                                            }
                                        </select>
                                        <span class="field-validation-error">
                                            <label id="pers_resp-message" class="validation-invalid-label" style="display: none" for="basic">This field is required.</label>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-xs-3 col-md-3">
                                    <div class="editor-label">
                                        Target Date
                                    </div>
                                </td>
                                <td class="col-xs-3 col-md-3">
                                    <div class="editor-field">
                                        <input class="form-control" type="date" id="target_date" name="target_date" value="@today.ToString("yyyy-MM-dd")"/>
                                        <span class="field-validation-error">
                                            <label id="target_date-message" class="validation-invalid-label" style="display: none" for="basic">This field is required.</label>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-xs-3 col-md-5">
                                    <input type="button" value="Add" class="btn btn-success" onclick="AddMitigation()" /> <span class="text-primary font-italic">(Please click ADD button to add multiple entries)</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <div class="card">
                        <div class="card-body">
                            <div class="card card-table table-responsive shadow-0 mb-0">
                                <table class="table" id="team-list">
                                    <tr class="bg-blue">
                                        <th>Action</th>
                                        <th>Mitigation Measure</th>
                                        <th>Person Responsible</th>
                                        <th>Target Date</th>
                                    </tr>
                                    @if (objMitList.lstRiskMgmtModels != null && objMitList.lstRiskMgmtModels.Count > 0)
                                    {
                                        for (int index = 0; index < objMitList.lstRiskMgmtModels.Count; index++)
                                        {
                                            <tr>
                                                <td>
                                                    <span class="badge badge-info" onclick='deleteRow(this)' style='cursor:pointer;'>Delete</span>
                                                    <input type='hidden' id='mit_id @index' name="mit_id @index" value='@objMitList.lstRiskMgmtModels[index].mit_id' />
                                                </td>
                                                <td>
                                                    <input class='form-control' type='text' required id='measure @index' name="measure @index" value='@objMitList.lstRiskMgmtModels[index].measure'>
                                                </td>
                                                <td>
                                                    <select class="select-search1" data-fouc required id='pers_resp @index' name="pers_resp @index">
                                                        <option value='' hidden>Select</option>
                                                        @if (ViewBag.EmpList != null)
                                                        {
                                                            foreach (var item in ViewBag.EmpList)
                                                            {
                                                                if (item.Value == objMitList.lstRiskMgmtModels[index].pers_resp)
                                                                {
                                                                    <option value='@item.Value' selected>@item.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='@item.Value'>@item.Text</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    @if (objMitList.lstRiskMgmtModels[index].target_date != null && objMitList.lstRiskMgmtModels[index].target_date > Convert.ToDateTime("01/01/0001"))
                                                    {
                                                        <input class="form-control required" type="date" id='target_date @index' name="target_date @index" value="@objMitList.lstRiskMgmtModels[index].target_date.ToString("yyyy-MM-dd")" />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control required" type="date" id='target_date @index' name="target_date @index" required />
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>

                            </div>
                        </div>
                    </div>
                    <table class="table table-lg">
                        <tr class="row">
            <td class="col-xs-3 col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.approved_by)<text style="color:red;">*</text>
                </div>
            </td>
            <td class="col-xs-3 col-md-3">
                <div class="editor-field">
                    <select class="select-search1" data-fouc id="approved_by"  name="approved_by" required>
                        <option value='' hidden>Select</option>
                        @if (ViewBag.Approver != null)
                        {
                            foreach (var item in ViewBag.Approver)
                            {
                                if (item.Value == Model.approved_by)
                                {
                                    <option value='@item.Value' selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value='@item.Value'>@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </td>
            <td class="col-xs-3 col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.reeval_due_date)<text style="color:red;">*</text>
                </div>
            </td>
            <td class="col-xs-3 col-md-3">
                <div class="editor-field">
                    @if (Model.reeval_due_date != null && Model.reeval_due_date > Convert.ToDateTime("01/01/0001"))
                    {
                        <input class="form-control required" type="date" id="reeval_due_date" name="reeval_due_date" value="@Model.reeval_due_date.ToString("yyyy-MM-dd")" />
                    }
                    else
                    {
                        <input class="form-control required" type="date" id="reeval_due_date" name="reeval_due_date" />
                    }
                </div>
            </td>
        </tr>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                <div class="editor-label">
                                    @Html.DisplayNameFor(model => model.mit_notified_to)<text style="color: red;">*</text>
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <select class="select-search1" data-fouc id="mit_notified_to" name="mit_notified_to" required>
                                        <option value='' hidden>Select</option>
                                        @if (ViewBag.EmpList != null)
                                        {
                                            foreach (var item in ViewBag.EmpList)
                                            {
                                                if (item.Value == Model.mit_notified_to)
                                                {
                                                    <option value='@item.Value' selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value='@item.Value'>@item.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </fieldset>

            </form>
        </div>
    </div>
</div>
<!-- /basic setup -->

<script src='@Url.Content("~/global_assets/js/plugins/forms/wizards/steps2.min.js")'></script>
<script>
       var summary = {
           summaryUrl: '@Url.Action("AddRiskMitigations", "RiskMgmt")'

       };
       var $ = jQuery.noConflict();
</script>

@section Scripts {
    <script>
        var impact = document.getElementById("impact_id").value;
        var like = document.getElementById("like_id").value;

        if (impact != "" && like != "") {

            jQuery.ajax({
                url: '@Url.Action("FunGetRiskRating", "RiskMgmt")',
                type: 'POST',
                dataType: "json",
                //data: { impact: impact, like: like },
                data: { like: like, impact: impact },
                success: function (result) {
                    if (result != null) {
                        document.getElementById("rating").style.display = 'block';
                        document.getElementById("rating").value = result.RiskRating;
                        document.getElementById("rating").style.backgroundColor = result.color_code;
                    }

                }
            });

        }
        var showClass = 'is-visible';
        var hideClass = 'invisible';

        function Validation() {
            var validflg = true;
            var ssnMessage = "";

            if (document.getElementById("measure").value == "") {
                ssnMessage = $('#measure-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#measure-message');
                ssnMessage.hide();
            }
            if (document.getElementById("pers_resp").value == "") {
                ssnMessage = $('#pers_resp-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#pers_resp-message');
                ssnMessage.hide();
            }
            if (document.getElementById("target_date").value == "") {
                ssnMessage = $('#target_date-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#target_date-message');
                ssnMessage.hide();
            }
            return validflg;
        }
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
        function AddMitigation() {
            if (Validation() == true) {

                var cnt = document.getElementById("itemcnt").value;

                document.getElementById("itemcnt").value = cnt;
                // Find a <table> element with id="myTable":
                var table = document.getElementById("team-list");

                // Create an empty <tr> element and add it to the 1st position of the table:
                var row = table.insertRow();


                // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                var cell0 = row.insertCell(0);
                var cell1 = row.insertCell(1);
                var cell2 = row.insertCell(2);
                var cell3 = row.insertCell(3);

                var measure = $('#measure').val();
                var target_date = $('#target_date').val();
                var pers_resp = $('#pers_resp').val();
                var pers_resp_val = document.getElementById("pers_resp");
                var pers_resp_text = pers_resp_val.options[pers_resp_val.selectedIndex].text;


                 cell0.innerHTML = "<span class='badge badge-info' onclick='deleteRow(this)' style='cursor:pointer;'>Delete</span>";
                cell1.innerHTML = "<input class='form-control' type='text' required id='measure " + cnt + "' name='measure " + cnt + "' value='" + measure + "'/>" ;
                //cell2.innerHTML = "<input class='form-control' type='text' id='pers_resp " + cnt + "' name='pers_resp " + cnt + "' value='" + pers_resp + "' />";
                cell2.innerHTML = "<select id='pers_resp " + cnt + "' name='pers_resp " + cnt + "' style='width:200px' ><option value='" + pers_resp + "' selected>" + pers_resp_text + "</option>@if (ViewBag.EmpList != null)
                {
                    foreach (var item in ViewBag.EmpList)
                    { <option value='@item.Value'>@item.Text</option> }
                    }</select>";
                cell3.innerHTML = "<input class='form-control required' type='date' id='target_date " + cnt + "' name='target_date " + cnt + "' value='" + target_date+ "' />";

                cnt++;
                document.getElementById("itemcnt").value = cnt;

                //document.getElementById("hidden card").classList.remove(hideClass);
                //document.getElementById("hidden card").classList.add(showClass);

                document.getElementById("measure").value = "";
                $("#pers_resp").val('').trigger('change');
                document.getElementById("target_date").value = "";

                ssnMessage = $('#measure-message');
                ssnMessage.hide();
                ssnMessage = $('#pers_resp-message');
                ssnMessage.hide();
                ssnMessage = $('#target_date-message');
                ssnMessage.hide();
            }

        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}