@model ISOStd.Models.MgmtExternalDocumentModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">External Documents Info</h4>
    </div>
    <div class="card-body">
        <p>
            Division:<code>
                @Html.DisplayFor(model => model.branch)
            </code><br />
            Department:<code>@Html.DisplayFor(model => model.DeptId)</code><br />

            Location:<code> @Html.DisplayFor(model => model.Location) </code><br />

            Document Name:<code>
                @Html.DisplayFor(model => model.DocName)
            </code><br />
            Document Reference:<code>
                @Html.DisplayFor(model => model.DocRef)
            </code><br />
            Document Origin:<code>
                @Html.DisplayFor(model => model.Doc_Origin)
            </code><br />
            Issue No:<code>
                @Html.DisplayFor(model => model.IssueNo)
            </code><br />
            @*<p><label><b>Revision No:</b></label>@Html.DisplayFor(model => model.RevNo)</p>
        <p><label><b>Department:</b></label>@Html.DisplayFor(model => model.DeptId)</p>*@

            Date of Issue:
            @if (Model.DocDate != null && Model.DocDate > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.DocDate.ToString("dd/MM/yyyy")
                </code><br />
            }

            Expiry Date:
            @if (Model.Eve_Date != null && Model.Eve_Date > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.Eve_Date.ToString("dd/MM/yyyy")
                </code><br />
            }

            Person Responsible:<code>
                @Html.DisplayFor(model => model.Person_Responsible)
            </code><br />

            Remarks:<code>
                @Html.DisplayFor(model => model.Remarks)
            </code><br />
            Notification Period:<code>@Html.DisplayFor(model => model.NotificationValue) @Html.DisplayFor(model => model.NotificationPeriod) </code><br />

            Division:<code> @Html.DisplayFor(model => model.branch) </code><br />
        </p>

    </div>
</div>
