@using PagedList;
@using PagedList.Mvc;

@model List<ISOStd.Models.HealthSafetyModels>

    @{
        ViewBag.Title = "";
        ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    }

    @section featured {

        <div class="page-header page-header-light">

            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">

                        <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                            <span class="breadcrumb-item"> Home</span>
                        </a>
                        <a href="@Url.Action("HazardList", "HealthSafety", null)" class="breadcrumb-item">
                            <span class="breadcrumb-item">Hazard List</span>
                        </a>
                        <span class="breadcrumb-item active"> Risk History</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                @*<div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">


                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                                Settings
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">

                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    }
    <style>
        .hidden {
            display: none !important;
        }
    </style>
    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Hazard History List</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>

        <div>
            <div class="card-header bg-white header-elements-sm-inline">

                <div class="header-elements">
                    @Html.ActionLink("Back to List", "HazardList", null, new { @class = "btn btn-outline bg-orange text-orange border-orange", onclick = "HyperLinkProgressIconFunction()" })
                </div>
            </div>
        </div>

        <div class="card-body">
       
            <table class="table table-bordered table-striped table-hover datatable-responsive" id="risk">
                <thead>
                    <tr>
                        <th>
                            Sl No
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().activity_type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().consequences)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().impact_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().like_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().evaluated_by)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().RiskRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().evaluation_date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().reeval_due_date)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i = i + 1;
                            <tr>
                                <td>
                                    @Html.ActionLink(i.ToString(), "HazardHistoryDetails", new { id_hazard_trans = item.id_hazard_trans.ToString() }, new { onclick = "HyperLinkProgressIconFunction()" })
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.activity_type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.consequences)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.impact_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.like_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.evaluated_by)
                                </td>

                                <td style="background-color:@item.color_code;font-weight: bold;">
                                    @Html.DisplayFor(modelItem => item.RiskRating)
                                </td>
                                <td>
                                    @if (item.evaluation_date > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @item.evaluation_date.ToString("dd/MM/yyyy")
                                    }
                                </td>
                                <td>
                                    @if (item.reeval_due_date > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @item.reeval_due_date.ToString("dd/MM/yyyy")
                                    }
                                </td>
                               
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    @section scripts {

        <script type="text/javascript">



                       //----zzz
    $(document).ready(function () {

        @if (TempData["alertdata"] != null ) {

           @: new Noty({
           @:     text: '@TempData["alertdata"]',
           @:     type: 'error'
           @: }).show();
        }

        @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
         @:       text: '@TempData["Successdata"]',
         @:       type: 'success'
         @:   }).show();
        }
    });
    //zzz----


            var risk = function () {


                //
                // Setup module components
                //

                // Basic Datatable examples
                var _componentDatatableBasic = function () {
                    if (!$().DataTable) {
                        console.warn('Warning - datatables.min.js is not loaded.');
                        return;
                    }

                    //Setting datatable defaults
                    $.extend($.fn.dataTable.defaults, {
                        autoWidth: false,
                        responsive: true,
                        //columnDefs: [{
                        //    orderable: false,
                        //    width: 100,
                        //    targets: [6, 8, 9]
                        //}],

                        colReorder: false,
                        dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                        //dom: 'lBfrtip',
                        language: {
                            search: '<span>Filter:</span> _INPUT_',
                            searchPlaceholder: 'Type to filter...',
                            lengthMenu: '<span>Show:</span> _MENU_',
                            paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                        }
                    });

             var myClass = "";
                var Delclass= @(Obj.GetCurrentUserSession().Risk.Contains("4") ? "true" : "false");
                if (Delclass == false) { myClass = 'hidden'  };

                    var table = $('#risk').DataTable({

                        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        colReorder: {
                            fixedColumnsLeft: 1
                        },
                        stateSave: true,
                        stateSaveParams: function (settings, data) {
                            for (var i = 0, ien = data.columns.length; i < ien; i++) {
                                delete data.columns[i].visible;
                                delete data.columns[i].search;
                            }
                        },

                        scrollY: '350px',
                        scrollCollapse: true,


                        keys: {
                            className: 'focus focus-success'
                        },

                        buttons: {
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk History Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'excelHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk History Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },

                                },
                                {
                                    extend: 'pdfHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk History Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'csvHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk History Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'print',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk History Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },

                                {
                                    extend: 'colvis',
                                    text: '<i class="icon-three-bars"></i>',
                                    className: 'btn bg-blue btn-icon dropdown-toggle',
                                    columns: ':visible:not(.not-export-column)'
                                }
                            ]
                        }




                    });
                    // Adjust columns on window resize
                    setTimeout(function () {
                        $(window).on('resize', function () {
                            table.columns.adjust();
                        });
                    }, 100);


                    //Redraw table on click toggle. -------table.columns.adjust doesn't work properly upon calling after toggle (width increase/decrease = redraw table.).
                    $('.sidebar-control').on('click', function () {

                        setTimeout(function () {
                            //alert("gii");

                            table.columns.adjust().draw();
                            $("#risk").resize();
                        }, 100);

                    });
                    //}

                    $('#risk').on('page.dt', function () {
                        //table.draw();
                        //alert("zzz1");
                        $("#risk").resize();

                    });

                    $('#risk').on('column-visibility.dt', function () {
                        //table.draw();
                        //alert("zzz2");
                        $("#risk").resize();

                    });

                    $('#risk').on('order.dt', function () {
                        //table.draw();
                        //alert("zzz3");
                        $("#risk").resize();

                    });


                    $('#risk').on('responsive-display.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#risk").resize();

                    });


                    $('#risk').on('responsive-resize.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#risk").resize();

                    });






                };






                // Select2 for length menu styling
                var _componentSelect2 = function () {
                    if (!$().select2) {
                        console.warn('Warning - select2.min.js is not loaded.');
                        return;
                    }

                    // Initialize
                    $('.dataTables_length select').select2({
                        minimumResultsForSearch: Infinity,
                        dropdownAutoWidth: true,
                        width: 'auto'
                    });
                };


                //
                // Return objects assigned to module
                //

                return {
                    init: function () {
                        _componentDatatableBasic();
                        _componentSelect2();
                    }
                }
            }();


            // Initialize module
            // ------------------------------

            document.addEventListener('DOMContentLoaded', function () {
                risk.init();
            });


        </script>

    }
