@model ISOStd.Models.SafetyViolationLogModels
@{
    Layout = null;
}


<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Safety Violation Report Info</h4>
    </div>

    <div class="card-body">
        <p>
            Division:<code>
                @Html.DisplayFor(model => model.branch)
            </code>
            Location:<code>@Html.DisplayFor(model => model.Location)</code>
        </p>
        <p>
            Reported On:
            @if (Model.Reported_On != null && Model.Reported_On > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.Reported_On.ToString("dd/MM/yyyy")
                </code>
            }
            Unasafe Act Occurred On and Timing:
            @if (Model.UnasafeAct_OccurredOn != null && Model.UnasafeAct_OccurredOn > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.UnasafeAct_OccurredOn.ToString("dd/MM/yyyy HH:mm")
                </code>
            }
        </p>
        <p>
            Unsafe Act Reported By:<code>
                @Html.DisplayFor(model => model.UnsafeAct_ReportedBy)
            </code>
            Unsafe Act Issued By:<code>@Html.DisplayFor(model => model.IssuedBy)</code>
        </p>
        <p>
            Approved By:<code> @Html.DisplayFor(model => model.ApprovedBy)</code>
            Personnel Involved in the Unsafe Act:<code>@Html.DisplayFor(model => model.UnsafeAct_Personnel)</code>
        </p>
        <p>
            Why it is Unsafe Act?:<code>
                @Html.DisplayFor(model => model.UnsafeAct_Why)
            </code>
            Report No:<code>@Html.DisplayFor(model => model.Report_No)</code>
        </p>
        <p>
            Voilation Type:<code>
                @Html.DisplayFor(model => model.VoilationType)
            </code>
            Action To be taken:<code>@Html.DisplayFor(model => model.Action_taken)</code>
        </p>
        <p>
            Voilation Warning:<code>
                @Html.DisplayFor(model => model.Violation_warning)
            </code>
            Department:<code>@Html.DisplayFor(model => model.Dept)</code>
        </p>
        <p>
            HSE Observation:<code>
                @Html.DisplayFor(model => model.HSE_observation)
            </code>
            Employee statement:<code> @Html.DisplayFor(model => model.Emp_statement)</code>
        </p>
        <p>
            Supervisor:<code> @Html.DisplayFor(model => model.Supervisor)</code>
            Other Supervisor:<code> @Html.DisplayFor(model => model.Other_supervisor)</code>
        </p>


    </div>
</div>

