@model ISOStd.Models.ImprovementActionModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Improvement Action Info</h4>
    </div>
    <div class="card-body">

        <p>
            CA No:<code>@Html.DisplayFor(model => model.ca_no)</code>

            Date:
            @if (Model.actoin_date != null && Model.actoin_date > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.actoin_date.ToString("dd/MM/yyyy")
                </code>
            }
        </p>
        <p>
            Division :<code>
                @Html.DisplayFor(model => model.branch)
            </code>
            Department:<code>
                @Html.DisplayFor(model => model.Department)
            </code>
        </p>
        <p>
            Location:<code>
                @Html.DisplayFor(model => model.Location)
            </code>
            Complaint/Adverse Remarks/Non-conformance:<code>
                @Html.DisplayFor(model => model.complaint)
            </code>
        </p>
        <p>
            Description:<code>
                @Html.DisplayFor(model => model.complaint_desc)
            </code>
            Reference:<code>@Html.DisplayFor(model => model.reference)</code>
        </p>

        <p>
            Non Conference / Complaint Details::<code>
                @Html.DisplayFor(model => model.non_conf)
            </code>
            Risk due to complaint/Consequenes (Brief description):<code>@Html.DisplayFor(model => model.risk_complaint)</code>
        </p>
        <p>
            Received/Recorded By:<code>
                @Html.DisplayFor(model => model.receivedby)
            </code>
            Serverity of Risk:<code>@Html.DisplayFor(model => model.severity)</code>
        </p>
        <p>
            Disposition/Remedial Action:<code>
                @Html.DisplayFor(model => model.disposition)
            </code>
            Quality Co-ordinator:<code>@Html.DisplayFor(model => model.qty_coordinator)</code>
        </p>
        <h2 class="bg-dark pl-sm-2">Corrective Action</h2>
        <p>
            Analysis/Investigation to find root-cause:<code>
                @Html.DisplayFor(model => model.analysis)
            </code>
            Corrective Action:<code>@Html.DisplayFor(model => model.corrective_action)</code>
        </p>
        <p>
            Quality Co-ordinator:<code>
                @Html.DisplayFor(model => model.qty_coordinator1)
            </code>
            Quality Co-ordinator:<code>@Html.DisplayFor(model => model.qty_coordinator2)</code>
        </p>
        <p>
            The resultant consequences:<code>
                @Html.DisplayFor(model => model.consequence)
            </code>
            Date:
            @if (Model.completion_date != null && Model.completion_date > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.completion_date.ToString("dd/MM/yyyy")
                </code>
            }
        </p>
        <p>
            Monitoring Period:<code>
                @Html.DisplayFor(model => model.monitoring_value)
                @Html.DisplayFor(model => model.monitoring_period)
            </code>
            On Completion of Action:<code>@Html.DisplayFor(model => model.compeltion_action)</code>
        </p>
        <p>
            Assesed Risk Level:<code>@Html.DisplayFor(model => model.assesed_risk)</code>
        </p>
        <h2 class="bg-dark pl-sm-2">Implementaion Check</h2>
        <p>
            Closed Out Date:
            @if (Model.closedout_date != null && Model.closedout_date > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.closedout_date.ToString("dd/MM/yyyy")
                </code>
            }
            Verification By:<code>@Html.DisplayFor(model => model.verifiedby)</code>
        </p>





    </div>
</div>
