@model ISOStd.Models.AuditProcessModels
@{
    Layout = null;
    //ViewBag.Title = "AuditProcessInfo";
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Audit Info</h4>
    </div>
    <div class="card-body">
        <p>
            Directorate:<code>
                @Html.DisplayFor(model => model.division)
            </code>

            Planned By:<code>@Html.DisplayFor(model => model.PlannedBy)</code>
        </p>
        <p>
            Group:<code>
                @Html.DisplayFor(model => model.dept)
            </code>

            Location:<code>@Html.DisplayFor(model => model.location)</code>
        </p>
        <p>
            Audit No:<code>
                @Html.DisplayFor(model => model.Audit_no)
            </code>
            Audit Date:
            @if (Model.AuditDate != null && Model.AuditDate > Convert.ToDateTime("01/01/0001"))
            {
                <code>
                    @Model.AuditDate.ToString("dd/MM/yyyy")
                </code>
            }
        </p>

        <p>
            Audit Planned On:
            @if (Model.AuditPlanDate != null && Model.AuditPlanDate > Convert.ToDateTime("01/01/0001"))
            {
                <code>

                    @Model.AuditPlanDate.ToString("dd/MM/yyyy")
                </code>
            }
            Audit Criteria:<code>
                @Html.DisplayFor(model => model.Audit_criteria)
            </code>
        </p>

        <p>
            Audit Status:<code>
                @Html.DisplayFor(model => model.Audit_Status)
            </code>
            Notified To:<code>
                @Html.DisplayFor(model => model.Notified_To)
            </code>
        </p>

        <p>
            Check List:<code>
                @Html.DisplayFor(model => model.checklist)
            </code>
            Internal Audit Team:<code>
                @Html.DisplayFor(model => model.internal_audit_team)
            </code>

        </p>
        <p>
            To Timing:<code>
                @Html.DisplayFor(model => model.ToPlanTimeInHour)
            </code>
            From Timing:<code>
                @Html.DisplayFor(model => model.FromPlanTimeInHour)
            </code>
        </p>
        @if (Model.Audit_Status == "Rescheduled")
        {
            <p>
                Reasons for Reschedule:<code>
                    @Html.DisplayFor(model => model.Reasons_Reschedule)
                </code>
            </p>
        }
    </div>
</div>