@model ISOStd.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to MANAL</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <!-- Global stylesheets -->
    <link href='@Url.Content("~/Content/css/css.css?family=Roboto")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/global_assets/css/icons/icomoon/styles.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/bootstrap.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/bootstrap_limitless.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/layout.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/components.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/colors.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/custom.css")' rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src='@Url.Content("~/global_assets/js/main/jquery.min.js")'></script>
    <script src='@Url.Content("~/global_assets/js/main/bootstrap.bundle.min.js")'></script>
    <script src='@Url.Content("~/global_assets/js/plugins/loaders/blockui.min.js")'></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src='@Url.Content("~/global_assets/js/plugins/forms/validation/validate.min.js")'></script>
    <script src='@Url.Content("~/global_assets/js/plugins/forms/styling/uniform.min.js")'></script>
    <script src='@Url.Content("~/assets/js/app.js")'></script>
    <script src='@Url.Content("~/global_assets/js/demo_pages/login_validation.js")'></script>
    <!-- /theme JS files -->
</head>
<body>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none;">
        <p style="position: absolute; top: 30%; left: 45%; color: White;">
            <img src="@Url.Content("~/Images/Loading_icon.gif")" style="width: 50%;" />
            <br />
            Please wait...
        </p>
    </div>
    <!-- Main navbar -->
    <!-- Removed -->
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login card -->

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "form1", name = "form1", @class = "login-form form-validate" }))
                {
                    @Html.AntiForgeryToken()
                  

                <div class="card mb-0">
                    <div class="ribbon-container">
                        <div class="ribbon2 bg-dark-alpha">
                            <img src='@Url.Content("~/Images/ManalLogo.png")' width="40" height="40" />
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <img class="icon-2x text-slate-300 border-slate-300 p-3 mb-3 mt-1 w-75" src='@Url.Content("~/Images/companylogo.png")' />

                            <h5 class="mb-0">Welcome to MSME - Management System Made Easy</h5>
                            <span class="d-block text-muted">Your credentials</span>
                        </div>


                        <div id="divmsg">
                            @if (TempData["alertdata"] != null)
                            {
                                <div class="alert alert-danger alert-styled-left alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                                    <span class="font-weight-semibold">Oh snap!</span> @TempData["alertdata"].
                                </div>
                            }
                            @if (TempData["Successdata"] != null)
                            {


                                <div class="alert alert-success border-0 alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                                    <span class="font-weight-semibold">Well done!</span> @TempData["Successdata"]
                                </div>
                            }
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input id="emailAddress" type="email" class="form-control" name="emailAddress" placeholder="Enter a valid email address" required>
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="password" class="form-control" id="Pwd" name="Pwd" placeholder="Password" required>
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center">


                            <a href="@Url.Action("ForgotPassword", "Employee")" class="ml-auto" onclick="HyperLinkProgressIconFunction()">Forgot password?</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" onclick="ProgressIconFunction('#form1')" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
                        </div>



                    </div>
                </div>

                }
                <!-- /login card -->
            </div>
            <!-- /content area -->
            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>
                <div class="navbar-collapse collapse justify-content-center" id="navbar-footer">
                    <span class="text-center navbar-text ">
                        &copy;@DateTime.Now.Year Al Manal Management System. All rights reserved  MSME @ViewBag.VerNo
                    </span>
                   
                </div>
            </div>
            <!-- /footer -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->

    <script>
        function ProgressIconFunction(formid) {
            var $form = $(formid);

            if ($form.valid()) {
                $("#divLoading").show();
            }
            else {
                $("#divLoading").hide();
            }
        }
        function HyperLinkProgressIconFunction() {
            $("#divLoading").show();
        }
    </script>
</body>

</html>

