@model ISOStd.Models.ManHourModels
@{
                /**/

                Layout = null;
                ViewBag.Title = "ManPowerInfo";
}
<h4 style="text-align:center;border-bottom:1px solid #808080">Resource Consumption Info</h4>
<p>
    <label><b>Month:</b></label>@Html.DisplayFor(model => model.t_month)
    <label><b>Year:</b></label> @Html.DisplayFor(model => model.t_year)
</p>

<p>
    <label><b>Location:</b></label>@Html.DisplayFor(model => model.location)
    <label><b>Project:</b></label>@Html.DisplayFor(model => model.project)
</p>
<p>
    <label><b>Numbers of Employees:</b></label>@Html.DisplayFor(model => model.man_power)
    <label><b>Total hrs worked (Regular) Hrs/Days:</b></label>@Html.DisplayFor(model => model.man_hour)
</p>
<p>
    <label><b>Total hrs worked (OT) Hrs/Days:</b></label>@Html.DisplayFor(model => model.man_hour_ot)
    <label><b>Restricted /Modified Days:</b></label>@Html.DisplayFor(model => model.restrict_days)
</p>
<p>
    <label><b>Fuel Consumption:</b></label>@Html.DisplayFor(model => model.fuel_consump)@Html.DisplayFor(model => model.fuelunit)
    <label><b>Water Consumption:</b></label>@Html.DisplayFor(model => model.water_consump)@Html.DisplayFor(model => model.waterunit)
</p>

<p>
    <label><b>Paper Consumption:</b></label>@Html.DisplayFor(model => model.paper_consump)@Html.DisplayFor(model => model.paperunit)
    <label><b>Qty of solid based:</b></label>@Html.DisplayFor(model => model.qty_solid)@Html.DisplayFor(model => model.solidunit)
</p>

<p>
    <label><b>Electricity Consumption:</b></label>@Html.DisplayFor(model => model.electricity_consump)
   
</p>
<p>
    <label><b>Prepared By:</b></label>@Html.DisplayFor(model => model.preparedby)
    <label><b>Reviewed By:</b></label>@Html.DisplayFor(model => model.reviewedby)
</p>

<p>
    <label><b>Comments:</b></label>@Html.DisplayFor(model => model.comments)   
</p>






