@model ISOStd.Models.QHSEPlannerModels
@{
    Layout = null;
}
<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Event Planner Info</h4>
    </div>

    @*<p><label><b>Standard(s):</b></label>@Html.DisplayFor(model => model.QHSE_name)</p>*@
    <div class="card-body">
        <p>
            Activity:<code>@Html.DisplayFor(model => model.Activity_name)</code>
            Planned On:<code>
                @if (Model.Planned_date != null && Model.Planned_date > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.Planned_date.ToString("dd/MM/yyyy")
                }
            </code>

        </p><p>
            Target Date:<code>
                @if (Model.Target_date != null && Model.Target_date > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.Target_date.ToString("dd/MM/yyyy")
                }
            </code>
        </p><p>
            Actual Date:<code>
                @if (Model.Actual_date != null && Model.Actual_date > Convert.ToDateTime("01/01/0001"))
                {
                    @Model.Actual_date.ToString("dd/MM/yyyy")
                }
            </code>
        </p><p>
            Person Responsible:<code>@Html.DisplayFor(model => model.Person_responsible)</code>
        </p><p>
            Status:<code> @Html.DisplayFor(model => model.Status)</code>

            Remarks:<code>@Html.DisplayFor(model => model.Remarks)</code>

        </p>
    </div>
</div>
