@model ISOStd.Models.HSEActionsTrackingRegisterModels
@{
    Layout = null;
}
<h4 style="text-align:center;border-bottom:1px solid #808080">HSE Action Tracking Register Info</h4>
<p>
    <label><b>Division:</b></label>@Html.DisplayFor(model => model.branch)
 </p>
<p>
    <label><b>Responsible Department:</b></label>@Html.DisplayFor(model => model.Resp_Dept)
    <label><b>Location:</b></label>@Html.DisplayFor(model => model.Applicable_Site)
</p>

<p>
    <label><b>HSE Record No:</b></label>@Html.DisplayFor(model => model.Action_No)
    <label><b>Action Initiated On:</b></label>
    @if (Model.Action_Initiated_On != null && Model.Action_Initiated_On > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Action_Initiated_On.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>Immediate action taken:</b></label>@Html.DisplayFor(model => model.Action_Taken)
    <label><b>Short Fall Gap/Recommendation:</b></label>@Html.DisplayFor(model => model.Reason_Initiating_Action)
</p>
<p>
    <label><b>Reported By:</b></label>@Html.DisplayFor(model => model.Initiated_By)
    <label><b>Personnel Resp. to take the Action:</b></label>@Html.DisplayFor(model => model.Personnel_Resp)
</p>
<p>
    <label><b>Due Date:</b></label>
    @if (Model.Due_Date != null && Model.Due_Date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Due_Date.ToString("dd/MM/yyyy")
    }
    <label><b>Current Status:</b></label>@Html.DisplayFor(model => model.Action_Status)
</p>
<p>
    <label><b>Report Date:</b></label>
    @if (Model.Report_date != null && Model.Report_date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.Report_date.ToString("dd/MM/yyyy")
    }
    <label><b>Short Fall Source:</b></label>@Html.DisplayFor(model => model.Short_Fall_Source)
</p>
<p>

    <label><b>Category:</b></label>@Html.DisplayFor(model => model.Category)
    <label><b>Responsible Section:</b></label>@Html.DisplayFor(model => model.Resp_Section)

</p>
<p>
    <label><b>Risk Rank:</b></label> @Html.DisplayFor(model => model.Risk_Rank)
    <label><b>KPI Completion Date:</b></label>
    @if (Model.KPI_Completion_Date != null && Model.KPI_Completion_Date > Convert.ToDateTime("01/01/0001"))
    {
        @Model.KPI_Completion_Date.ToString("dd/MM/yyyy")
    }
</p>
<p>
    <label><b>Endorsed By:</b></label> @Html.DisplayFor(model => model.EndorsedBy)
    <label><b>Approved By:</b></label>@Html.DisplayFor(model => model.ApprovedBy)
</p>
<p>
    <label><b>Reviewed By:</b></label> @Html.DisplayFor(model => model.ReviewedBy)
    <label><b>Remarks:</b></label>@Html.DisplayFor(model => model.Remarks)
</p>
