@{
    ViewBag.Title = "IncidentReportPrint";
    ISOStd.Models.clsGlobal obj = new ISOStd.Models.clsGlobal();
    ISOStd.Models.IncidentReportModels objModel = new ISOStd.Models.IncidentReportModels();
    //ISOStd.Models.SecurityRelatedModelsList objSecurity = new ISOStd.Models.SecurityRelatedModelsList();
    ISOStd.Models.IncidentLTIModelsList objIncidentLTIList = new ISOStd.Models.IncidentLTIModelsList();
    ISOStd.Models.IncidentReportModelsList objincidentreport = new ISOStd.Models.IncidentReportModelsList();
   

   

    if (ViewBag.objIncidentLTIList != null)
    {
        objIncidentLTIList = ViewBag.objIncidentLTIList;
        
    }

    if(ViewBag.IC != null)
    {
        objModel = ViewBag.IC;
    }

    Layout = "~/Views/Shared/_PrintLayout.cshtml";

}

<br />
<br />

<div style="max-width: 100%;">
    @if (objIncidentLTIList.lstIncidentLTIModels != null && objIncidentLTIList.lstIncidentLTIModels.Count > 0)
    {
        <div id="Items">
            <div class="editor-label">
                <label for="Details" style="background-color: #4cc4dd; width: 100%; color: white; padding-left: 5px; align-content:center">Incident Report Details</label>
            </div>
            <br />
            <table id="team-list" align="center">
                <tr>
                    <td>Incident No.</td>
                    <td>@objModel.Incident_Num</td>


                    <td>Reported On</td>
                    <td>@objModel.Reported_On.ToString("dd/MM/yyyy")</td>
                </tr>

                <tr>
                    <td> Prepared By</td>
                    <td>@objModel.PreparedBy</td>

                    <td>Incident Type</td>
                    <td>@objModel.Incident_Type</td>

                </tr>

                <tr>
                    <td>Injuries</td>
                    <td>@objModel.Injuries</td>

                </tr>

                <tr>

                    <td>Incident Date &Timing</td>
                    <td>@objModel.Incident_Datetime.ToString("dd/MM/yyyy HH:mm")</td>

                    <td>Location</td>
                    <td>@objModel.Location</td>
                </tr>

                <tr>

                    <td>Is incident occurred while on job?</td>
                    <td>@objModel.Occurred_onJob</td>

                    <td>Is incident occurred within the work premises?</td>
                    <td>@objModel.InWork_Premises</td>

                </tr>

                <tr>
                    <td>Incident witnessed by</td>
                    <td>@objModel.WitnessedBy</td>

                    @*<td>Upload the witness statement</td>
            <td>@objModel.Witness_StmtDoc</td>*@
                </tr>


                <tr>
                    <td>Description of an Incident</td>
                    <td>@objModel.Incident_Desc</td>

                    <td>Consequences of an Incident:</td>
                    <td>@objModel.Consequences</td>


                </tr>

                <tr>
                    <td>Any damages to the property</td>
                    <td>@objModel.Damages</td>

                    <td>Nature of Injury</td>
                    <td>@objModel.Injury_Nature</td>
                </tr>

                <tr>
                    <td> Number of fatalities</td>
                    <td>@objModel.FatalitiesNo</td>

                    <td>Immediate actions taken</td>
                    <td>@objModel.Actions_Taken</td>
                </tr>

                <tr>
                    <td>Reasons for Incident Occurrence</td>
                    <td>@objModel.Incident_Reasons</td>

                    <td>Corrective measures proposed</td>
                    <td>@objModel.Corrective_Measures</td>
                </tr>


                <tr>
                    <td>Corrective measures reviewed and approved by</td>
                    <td>@objModel.Corrective_ApprovedBy_ReviewedBy</td>

                    <td>Due date for the implementation of Corrective measures</td>
                    <td>@objModel.DueDate.ToString("dd/MM/yyyy")</td>

                </tr>

                <tr>
                    <td> Report closed on</td>
                    <td>@objModel.ClosedOn.ToString("dd/MM/yyyy")</td>

                    <td>Logged By</td>
                    <td>@objModel.LoggedBy</td>
                </tr>

                <tr>
                    <td>CAPA</td>
                    <td>@objModel.CAPA</td>

                    <td>CAPA Status</td>
                    <td>@objModel.CAPA_Status</td>
                </tr>

                <tr>
                    <td>Incident Cost</td>
                    <td>@objModel.incident_cost</td>

                    <td>Incident Report To HSE</td>
                    <td>@objModel.ReportToHSE</td>
                </tr>


                <tr>
                    <td>Incident Injured Body Part</td>
                    <td>@objModel.Body_Part</td>

                    <td>Name</td>
                    <td>@objModel.Name</td>
                </tr>

                <tr>
                    <td>ANG/ANR/RC No.</td>
                    <td>@objModel.ANG_ANR_RC_No</td>

                    <td>Supervisor</td>
                    <td>@objModel.Supervisor</td>
                </tr>

                <tr>
                    <td>If Investigated Root Cause</td>
                    <td>@objModel.Root_Cause</td>

                    <td>If Investigated Action taken</td>
                    <td>@objModel.Action_taken</td>
                </tr>

                <tr>
                    <td>Investigated By</td>
                    <td>@objModel.Investigated_By</td>
                </tr>

                <tr>
   

                <tr>
                    <th style="width: 300px; min-width: 300px; max-width: 300px;">Accident Type</th>
                    <th style="width: 300px; min-width: 300px; max-width: 300px;">Name</th>
                    <th style="width: 300px; min-width: 300px; max-width: 300px;">LTI (Hrs)</th>
                </tr>

                @for (int index = 0; index < objIncidentLTIList.lstIncidentLTIModels.Count; index++)
                {
                    <tr>
                        <td style="width: 300px; min-width: 300px; max-width: 300px;">@objIncidentLTIList.lstIncidentLTIModels[index].AccidentType</td>
                        <td style="width: 300px; min-width: 300px; max-width: 300px;">@objIncidentLTIList.lstIncidentLTIModels[index].Emp_Id</td>
                        <td style="width: 300px; min-width: 300px; max-width: 300px;">@objIncidentLTIList.lstIncidentLTIModels[index].LTI_Hrs</td>
                    </tr>
                }

            </table>


        </div>
    }
        
    

    </div>









