@model ISOStd.Models.CalibrationModels
@{
    Layout = null;
}

<h4 style="text-align:center;border-bottom:1px solid #808080">Tools & Gauges Info</h4>
<p><label><b>Equipment Description:</b></label>@Html.DisplayFor(model => model.Equipment_Id)
<label><b>Calibrated by:</b></label>@Html.DisplayFor(model => model.calibration_by)</p>
<p><label><b>Method of Calibration:</b></label>@Html.DisplayFor(model => model.method_of_calibration)
<label><b>Accuracy:</b></label>@Html.DisplayFor(model => model.accuracy)</p>
<p><label><b>Status:</b></label>@Html.DisplayFor(model => model.calibration_status)
<label><b>Person Responsible for Calibration:</b></label>@Html.DisplayFor(model => model.Person_Responsible)</p>
<p><label><b>Due Date:</b></label>
    @if (Model.due_date != null && Model.due_date > Convert.ToDateTime("01/01/0001"))
             {
                 @Model.due_date.ToString("dd/MM/yyyy")
             }
<label><b>Remarks:</b></label>@Html.DisplayFor(model => model.Remarks)</p>
<p><label><b>Reference No:</b></label>@Html.DisplayFor(model => model.Ref_no)</p>
