@model ISOStd.Models.ExternalAuditorModels

@{
    ViewBag.Title = "ExternalAuditorDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">External Auditor Details </span>
</div>

<div class = "ActionLink">
    @Html.ActionLink("Edit", "ExternalAuditorEdit", new {  Auditor_name = Model.Auditor_name}, new { @class = "ActionLink" })
    @Html.ActionLink("Back to List", "ExternalAuditorList", null, new { @class = "ActionLink" })
</div>
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
</div>
<br /><br />

<fieldset>
    <legend>ExternalAuditorModels</legend>
    <table style="width: 100%">
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Auditor_name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Auditor_name)
                </div>
            </td>
            <td>

                <div class="display-label">
                    @Html.Display("Certificate Name")
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CertID)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.emailaddress)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.emailaddress)
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
            </td>
        </tr>
    </table>
</fieldset>

