@model ISOStd.Models.RecordsRetentionModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Record Management Info</h4>
    </div>
    <div class="card-body">
        <p>
            Division:<code>@Html.DisplayFor(model => model.branch)</code><br />
            Department:<code>
                @Html.DisplayFor(model => model.Dept_id)
            </code><br />
            Location:<code>
                @Html.DisplayFor(model => model.Work_Location)
            </code><br />
            Managment system:<code>
                @Html.DisplayFor(model => model.Records_Type)
            </code><br />
            Document Name:<code>
                @Html.DisplayFor(model => model.Doc_name)
            </code><br />
            Record Name:<code>
                @Html.DisplayFor(model => model.Record_Title)
            </code><br />
            Retention Period:<code>
                @Html.DisplayFor(model => model.Retention_Period)
            </code><br />
            Generated On:<code>
                @if (Model.Generated_On != null && Model.Generated_On > Convert.ToDateTime("01/01/0001"))
                {

                    @Model.Generated_On.ToString("dd/MM/yyyy")
                }
            </code><br />
            Record Related To:<code>@Html.DisplayFor(model => model.Jobno)</code><br />
            Criteria for Retention:<code>@Html.DisplayFor(model => model.retention_criteria)</code><br />

        </p>


    </div>
</div>