@model ISOStd.Models.SalaryStatementModels

@{
    ViewBag.Title = "SalaryStatementDetails";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Edit Salary Statement Details </span>
</div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green;">@TempData["Successdata"]</span>
        }
    </div>
<br /><br />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
<fieldset>
    <legend>SalaryStatementModels</legend>

    <div id="content">
        <input type="hidden" id="SalaryStmtId" name="SalaryStmtId" value="@Model.SalaryStmtId" />
        <table id="tabcontent">
            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Emp_Code)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Emp_Code)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Emp_info_no)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Emp_info_no)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.emp_firstname)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.emp_firstname)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Designation)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Designation)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Basic_Salary)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Basic_Salary)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Acc_allow)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Acc_allow)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Other_allow)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Other_allow)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Food_allow)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Food_allow)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Transport_allow)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Transport_allow)
                    </div>
                </td>
                <td>


                    <div class="display-label">
                        @Html.LabelFor(model => model.SalaryFor_Month)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                         @Model.SalaryFor_Month.ToString("MMM yyyy")
                        <input type="hidden" id="SalaryFor_Month" name="SalaryFor_Month" value="@Model.SalaryFor_Month.ToString("MMM yyyy")" />
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Salary_Days)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Salary_Days)
                    </div>
                </td>
                    
         
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Other_Earnings)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Other_Earnings)
                        @Html.ValidationMessageFor(model => model.Other_Earnings)
                    </div>
                </td>
     </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Bonus)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Bonus)
                        @Html.ValidationMessageFor(model => model.Bonus)
                    </div>
                </td>
           
                
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Leave_Days)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Leave_Days)
                        @Html.ValidationMessageFor(model => model.Leave_Days)
                    </div>
                </td>
            </tr>

            <tr>
                <td>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Normal_OT_Hrs)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Normal_OT_Hrs)
                        @Html.ValidationMessageFor(model => model.Normal_OT_Hrs)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Friday_OT_Hrs)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Friday_OT_Hrs)
                        @Html.ValidationMessageFor(model => model.Friday_OT_Hrs)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Public_Holiday_OT_Hrs)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Public_Holiday_OT_Hrs)
                         @Html.ValidationMessageFor(model => model.Public_Holiday_OT_Hrs)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.LabelFor(model => model.Other_Income)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Other_Income)
                         @Html.ValidationMessageFor(model => model.Other_Income)
                    </div>
                </td>
            </tr>

            <tr>
                 <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Misslliance_Deduction)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Misslliance_Deduction)
                        @Html.ValidationMessageFor(model => model.Misslliance_Deduction)
                    </div>
                </td>
                <td>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Salary_Adv)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.EditorFor(model => model.Salary_Adv)
                        @Html.ValidationMessageFor(model => model.Salary_Adv)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
        </table>
    </div>
    <br />
      <div style="width: 100%; text-align: center;">
            @Html.ActionLink("Back to List", "SalaryStatementList", new { SalaryFor_Month = @Model.SalaryFor_Month.ToString("MMMM yyyy") })
            <input type="submit" value="Update" />
        </div>
</fieldset>
}