@model ISOStd.Models.TrainingEffectivenessModels
@{
    Layout = null;
    ViewBag.Title = "TrainingEffectivenessInfo";

    ISOStd.Models.TrainingEffectivenessModelsList objList = new ISOStd.Models.TrainingEffectivenessModelsList();

    if (ViewBag.PerformanceElement != null)
    {
        objList = ViewBag.PerformanceElement;
    }

}
<h4 style="text-align:center;border-bottom:1px solid #808080">Training Effectiveness Evaluation Information</h4>
<p>
    <label><b>Report Number:</b></label>@Html.DisplayFor(model => model.report_no)
    <label><b>Performance Monitoring Period:</b></label>@Html.DisplayFor(model => model.perf_monitor_period)
</p>
<p>
    <label><b>Training Topic:</b></label>@Html.DisplayFor(model => model.Training_Topic)
    <label><b>Source Of Training:</b></label>@Html.DisplayFor(model => model.Sourceof_Training)
</p>
<p>
    <label><b>Employee Name:</b></label>@Html.DisplayFor(model => model.emp_name)
    <label><b>Is employee performance improved?:</b></label>@Html.DisplayFor(model => model.emp_perf_improved)
</p>
<p>
    <label><b>Was training effective to achieve the planned objective(s)?:</b></label>@Html.DisplayFor(model => model.planned_objective)
</p>


<table style="width: 90%;">
    <tr>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Sr. No.
        </th>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Questions
        </th>
        <th style="background-color: #e5eafe; color: #0099ff;">
            Rating
        </th>
    </tr>
    @if (ViewBag.PerformanceElement != null)
    {
        int iSrno = 0;
        foreach (var item in objList.TrainList)
        {
            iSrno = iSrno + 1;           
            <tr>
                <td>
                    @iSrno
                </td>
                <td>
                    @item.SQId
                </td>
                <td>
                    @item.SQ_OptionsId
                </td>
            </tr>
        }
    }
</table>


