@model ISOStd.Models.SafetyObservationModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Safety Observation Card Info</h4>
    </div>
    <div class="card-body">
        <p>
            Date and Timing:
            @if (Model.observation_date != null && Model.observation_date > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.observation_date.ToString("dd/MM/yyyy HH:mm")
                </code>
            }
            Observation Type:<code>@Html.DisplayFor(model => model.type_observation)</code>
        </p>
        <p>
            Location:<code>
                @Html.DisplayFor(model => model.location)
            </code>
            Project:<code>@Html.DisplayFor(model => model.project)</code>
        </p>
        <p>
            Report No:<code>
                @Html.DisplayFor(model => model.report_no)
            </code>
            Status:<code>@Html.DisplayFor(model => model.status)</code>
        </p>
        <p>
            Observed By:<code>
                @Html.DisplayFor(model => model.observed_by)
            </code>
            Reported By:<code>@Html.DisplayFor(model => model.reported_by)</code>
        </p>
        <p>
           Department:<code>
                @Html.DisplayFor(model => model.dept)
            </code>
           Responsible Person:<code>@Html.DisplayFor(model => model.resp_person)</code>
        </p>
        <p>
            Action Agreed:<code>
                @Html.DisplayFor(model => model.action_taken)
            </code>

            Observation Description:<code>@Html.DisplayFor(model => model.desc_observation)</code>
        </p>
        <p>
            Comments:<code>@Html.DisplayFor(model => model.comments)</code>
        </p>


    </div>
</div>