@model IEnumerable<ISOStd.Models.PartiesModel>
    @{
        Layout = null;
    }

    <div class="card alpha-success border-success">
        <div class="card-header bg-info text-white">
            <h4 class="text-center">Needs & Expectations- Interested Parties Info</h4>
        </div>

        <div class="card-body">

            @foreach (var item in Model)
            {

                <p>
                    Division:<code>
                        @item.branch

                    </code>                  
                </p> <p>
                    Department:<code>
                        @item.Department

                    </code>
                    Location:<code>
                        @item.Location
                    </code>
                </p>
                <p>
                    Party Name:<code>
                        @item.PartyName

                    </code>
                    Party Type:<code>
                        @item.PartyType
                    </code>
                </p>@*
            <p><label><b>Standard:</b></label> @item.Isostd</p>*@
                <p>
                    Needs and Expectations:<code>
                        @item.Expectations
                    </code>
                </p>@*
            <p><label><b>MS Requirements:</b></label> @item.Impact</p>*@
                <p>
                    Issue arising out of meeting needs and expectations:<code>
                        @item.Issues
                    </code>
                </p>
                <p>
                    Priority:<code>
                        @item.priority
                    </code>
                    Interest:<code>
                        @item.interest_level
                    </code>
                </p>

                <p>
                    Monitoring Mechanism:<code>
                        @item.monit_mech
                    </code>
                    PI Rank Value:<code>
                        @item.pi_rank
                    </code>
                </p>
            }
        </div>

    </div>

