@using PagedList;
@using PagedList.Mvc;

@model List<ISOStd.Models.ExternalAuditModels>

    @{
        ViewBag.Title = "ExternalAuditList";
        ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    }
    @{

        var ShowEdit = Obj.GetCurrentUserSession().ExterAudit.Contains("3") ? true : false;
        var ShowDownld = Obj.GetCurrentUserSession().ExterAudit.Contains("4") ? true : false;
        var ShowDel = Obj.GetCurrentUserSession().ExterAudit.Contains("5") ? true : false;

    }
    @section featured {

        <div class="page-header page-header-light">

            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                            <span class="breadcrumb-item">Home</span>
                        </a>
                        <span class="breadcrumb-item active">Raise NC List</span>
                    </div>
                </div>
            </div>
        </div>

    }

    <style>
        .hidden {
            display: none !important;
        }
    </style>


    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Raise NC List</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-hover datatable-responsive" id="table1">
            <thead>
                <tr>
                    <th>
                        Sl No
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().audit_no)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().audit_start_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().entity_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().auditor_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().branch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().dept_name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.First().team)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.First().location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().audit_status_date)
                    </th>              
                    <th data-priority="2" class="text-center not-export-column">Actions</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i = i + 1;
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.audit_no)
                            </td>
                            <td>
                                @if (item.audit_start_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    @item.audit_start_date.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.entity_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.auditor_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.branch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dept_name)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.team)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.location)
                            </td>
                            <td>
                                @if (item.audit_status_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    @item.audit_status_date.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="list-icons-item dropdown">
                                        <a href="#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-gear mr-2"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            @if (Convert.ToInt32(item.major_nc) != item.cnt_major || Convert.ToInt32(item.minor_nc) != item.cnt_minor || Convert.ToInt32(item.no_observation) != item.cnt_potential || Convert.ToInt32(item.no_noteworthy) != item.cnt_note || Convert.ToInt32(item.no_ci) != item.cnt_ci)
                                            {
                                            <a class="dropdown-item" href='@Url.Action("RaiseNonconformity", "ExternalAudit", new { id_external_audit = item.id_external_audit })' title="Audit Finding">
                                                <i class="icon-pencil7"></i>Raise NC Report
                                            </a>     
                                            }
                                            <a class="dropdown-item" href='@Url.Action("NonconformityList", "ExternalAudit", new {id_external_audit = item.id_external_audit })' title="Audit Finding List">
                                                <i class="icon-pencil7"></i>NC List
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            @*<td>

                                    <a href='@Url.Action("ExternalAuditEdit", "ExternalAudit", new { AuditID = item.AuditID })' title="Edit External Audit details"
                                       onclick="HyperLinkProgressIconFunction()">
                                        <span class="badge badge-info">Edit</span>
                                    </a>


                                </td>
                                <td>


                                    <span class="badge badge-danger" title="Delete QHSE Planner" onclick="DeleteItems(@item.AuditID)" style="cursor:pointer;">Delete</span>
                                </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @section scripts {
        <script>
            $(document).ready(function () {

                @if (TempData["alertdata"] != null)
                                {
                                    @: new Noty({
                                                            @:     text: '@TempData["alertdata"]',
                                                        @:     type: 'error'
                                                        @: }).show();
                                       }
                @if (@TempData["Successdata"] != null)
                       {

                           @:new Noty({
                                                   @:text: '@TempData["Successdata"]',
                                               @: type: 'success'
                                               @:}).show();
                                       }
            });

          

            var table1 = function () {
                var ShowEdit = @(Obj.GetCurrentUserSession().ExterAudit.Contains("3") ? "true" : "false");
                var ShowDownld = @(Obj.GetCurrentUserSession().ExterAudit.Contains("4") ? "true" : "false");
                var ShowDel = @(Obj.GetCurrentUserSession().ExterAudit.Contains("5") ? "true" : "false");

                // Basic Datatable examples
                var _componentDatatableBasic = function () {
                    if (!$().DataTable) {
                        console.warn('Warning - datatables.min.js is not loaded.');
                        return;
                    }

                    //Setting datatable defaults
                    $.extend($.fn.dataTable.defaults, {
                        autoWidth: false,
                        responsive:true,
                        columnDefs: [{
                            orderable: false,
                            //width: 100,
                            targets: 'not-export-column'

                        }],
                        responsivePriority: 2, targets: -1,
                        colReorder: false,
                        dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                        //dom: 'lBfrtip',
                        language: {
                            search: '<span>Filter:</span> _INPUT_',
                            searchPlaceholder: 'Type to filter...',
                            lengthMenu: '<span>Show:</span> _MENU_',
                            paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                        }
                    });

                    var myClass = "";
                    var Delclass= @(Obj.GetCurrentUserSession().ExterAudit.Contains("4") ? "true" : "false");
                    if (Delclass == false) { myClass = 'hidden'  };

                    var table = $('#table1').DataTable({
                        drawCallback: function () {
                            
                            var dropdownMenu;

                            // and when you show it, move it to the body
                            $('.datatable-responsive').on('show.bs.dropdown', function (e) {

                                // grab the menu
                                dropdownMenu = $(e.target).find('.dropdown-menu');

                                // detach it and append it to the body
                                $('body').append(dropdownMenu.detach());

                                // grab the new offset position
                                var eOffset = $(e.target).offset();

                                // make sure to place it where it would normally go (this could be improved)
                                dropdownMenu.css({
                                    'display': 'block',
                                    'top': eOffset.top + $(e.target).outerHeight(),
                                    'left': eOffset.left
                                });
                            });

                            // and when you hide it, reattach the drop down, and hide it normally
                            $('.datatable-responsive').on('hide.bs.dropdown', function (e) {
                                $(e.target).append(dropdownMenu.detach());
                                dropdownMenu.hide();
                            });

                        },

                        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        colReorder: {
                            fixedColumnsLeft: 1
                        },
                        //stateSave: true,
                        //stateSaveParams: function (settings, data) {
                        //    for (var i = 0, ien = data.columns.length; i < ien; i++) {
                        //        delete data.columns[i].visible;
                        //        delete data.columns[i].search;
                        //    }
                        //},
                        scrollY: '350px',
                        scrollCollapse: true,

                        keys: {
                            className: 'focus focus-success'
                        },

                        buttons: {
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    className: myClass,//className: 'btn btn-light',
                                    title: 'Internal Document History Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'excelHtml5',
                                    className: myClass,//className: 'btn btn-light',
                                    title: 'Internal Document  Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },

                                },
                                {
                                    extend: 'pdfHtml5',
                                    className: myClass,//className: 'btn btn-light',
                                    title: 'Internal Document  Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'csvHtml5',
                                    className: myClass,//className: 'btn btn-light',
                                    title: 'Internal Document  Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'print',
                                    className: myClass,//className: 'btn btn-light',
                                    title: 'Internal Document  Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },

                                {
                                    extend: 'colvis',
                                    text: '<i class="icon-three-bars"></i>',
                                    className: 'btn bg-blue btn-icon dropdown-toggle',
                                    columns: ':visible:not(.not-export-column)'
                                }
                            ]
                        }

                    });
                    // Adjust columns on window resize
                    setTimeout(function () {
                        $(window).on('resize', function () {
                            table.columns.adjust();
                        });
                    }, 100);


                    //Redraw table on click toggle. -------table.columns.adjust doesn't work properly upon calling after toggle (width increase/decrease = redraw table.).
                    $('.sidebar-control').on('click', function () {

                        setTimeout(function () {
                            //alert("gii");

                            table.columns.adjust().draw();
                            $("#table1").resize();
                        } , 100);

                    });
                    //}

                    $('#table1').on('page.dt', function () {
                        //table.draw();
                        //alert("zzz1");
                        $("#table1").resize();

                    });

                    $('#table1').on('column-visibility.dt', function () {
                        //table.draw();
                        //alert("zzz2");
                        $("#table1").resize();

                    });

                    $('#table1').on('order.dt', function () {
                        //table.draw();
                        //alert("zzz3");
                        $("#table1").resize();

                    });


                    $('#table1').on('responsive-display.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#table1").resize();

                    });


                    $('#table1').on('responsive-resize.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#table1").resize();

                    });


                    //.on('order.dt', function () {
                    //    table.columns.adjust().draw();
                    //    $("#qhse").resize(); })
                    //.on('search.dt', function () {
                    //    table.columns.adjust().draw();
                    //    $("#qhse").resize(); })

                    //.on('column-visibility.dt', function () {
                    //    table.columns.adjust().draw();
                    //    $("#qhse").resize();
                    //})
                };

                // Select2 for length menu styling
                var _componentSelect2 = function () {
                    if (!$().select2) {
                        console.warn('Warning - select2.min.js is not loaded.');
                        return;
                    }

                    // Initialize
                    $('.dataTables_length select').select2({
                        minimumResultsForSearch: Infinity,
                        dropdownAutoWidth: true,
                        width: 'auto'
                    });
                };


                //
                // Return objects assigned to module
                //

                return {
                    init: function () {
                        _componentDatatableBasic();
                        _componentSelect2();
                    }
                }
            }();


            // Initialize module
            // ------------------------------

            document.addEventListener('DOMContentLoaded', function () {
                table1.init();
            });



            function DeleteItems(id_external_audit) {
                bootbox.confirm({
                    title: 'Confirm dialog',
                    message: 'Are you Sure you want to Delete the current Record?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-primary'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-link'
                        }
                    },
                    callback: function (r) {
                        if (r == true) {
                            jQuery.ajax({
                                url: '@Url.Action("ExternalAuditDocDelete", "ExternalAudit")',
                                data: { Id: id_external_audit },
                                type: 'POST',
                                dataType: "json",
                                success: function (result) {
                                    //// Add new params to the querystring dictionary
                                    window.location.href =
                                        window.location.protocol + "//" +
                                        window.location.host +
                                        window.location.pathname

                                }
                            });
                            return true;
                        }
                        else if (r == false) {
                            bootbox.hideAll();
                            return false;
                        }

                    }
                });
            }

            function getDetails() {
                var branch_name = document.getElementById("branch_name").value;
                var params = {
                    branch_name: branch_name
                };
                queryString = $.param(params);

                window.location.href =
                    window.location.protocol + "//" +
                    window.location.host +
                    window.location.pathname +
                   '?' + queryString;
            }
        </script>

    }
