@model ISOStd.Models.DieselEquipmentModels

@{
    ViewBag.Title = "AddDieselEuipment";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Vehicle / Equipment details</span>
</div>
<div class = "ActionLink">
        @Html.ActionLink("Edit", "DieselEuipmentEdit", new { Diesel_Equip_Id = Model.Diesel_Equip_Id.ToString() }, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
        @Html.ActionLink("Back to List", "DieselEuipmentList", null, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()"})
    </div>
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
</div>

<fieldset>
    <input type="hidden" id="Diesel_Equip_Id" name="Diesel_Equip_Id" value="@Model.Diesel_Equip_Id"/>
    <legend>DieselEquipmentModels</legend>
    <table id="tabcontent">
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Equip_No)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Equip_No
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Description)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Description
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Make)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Make
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Capacity)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Capacity
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Model)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Model
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Chasis_No)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Chasis_No
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Engine_No)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Engine_No"
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Date_Of_Purchase)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (Model.Date_Of_Purchase > Convert.ToDateTime("01/01/0001"))
                    {
                        @Model.Date_Of_Purchase.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Reg_Issued_Date)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (Model.Reg_Issued_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @Model.Reg_Issued_Date.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Reg_Expr_Date)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (Model.Reg_Expr_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @Model.Reg_Expr_Date.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Index_no)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Index_no
                </div>
            </td>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Plate_no)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Plate_no
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Insurance_ExpDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @if (Model.Insurance_ExpDate > Convert.ToDateTime("01/01/0001"))
                    {
                        @Model.Insurance_ExpDate.ToString("dd/MM/yyyy")
                    }
                </div>
            </td>
        </tr>
    </table>
</fieldset>   
     