@model ISOStd.Models.MeetingModels
@using System.Data
@{
    ViewBag.Title = "AddMeeting";
    DataSet dsSource = new DataSet();
    if (ViewBag.items != null)
    {
        dsSource = ViewBag.items;
    }
}
 
@section featured {
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("MeetingList", "Meeting", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Meetings Schedule</span>
                    </a>
                    <span class="breadcrumb-item active">Update Action Status</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

           
        </div>
    </div>
}
@using (Html.BeginForm("StatusUpdate", "Meeting", FormMethod.Post,
               new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Update Action Status</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <input type="hidden" id="meeting_id" name="meeting_id" value="@Model.meeting_id" />
                <table class="table table-lg">

                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            @Html.DisplayNameFor(model => model.agenda_id)
                        </td>
                        <td class="col">
                            <p class="bg-grey-300 py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.agenda_id)
                            </p>
                        </td>
                      
                    </tr>
                   

                </table>

                @if (dsSource != null && dsSource.Tables.Count > 0 && dsSource.Tables[0].Rows.Count > 0)
                {
                    <br />
                  
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr class="bg-brown">
                                    <th>Actions agreed</th>
                                    <th>Due date </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0, j = 1; i < dsSource.Tables[0].Rows.Count; i++, j++)
                                {
                                    <tr>

                                        <td>
                                            @dsSource.Tables[0].Rows[i]["action_agreed"].ToString()
                                        </td>
                                        <td>
                                            @if (dsSource.Tables[0].Rows[i]["due_date"].ToString() != null && Convert.ToDateTime(dsSource.Tables[0].Rows[i]["due_date"].ToString()) > Convert.ToDateTime("01/01/0001"))
                                            {
                                                @Html.Label(Convert.ToDateTime(dsSource.Tables[0].Rows[i]["due_date"].ToString()).ToString("dd/MM/yyyy"))
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            @Html.LabelFor(model => model.action_status)<text style="color: red;">*</text>
                        </td>
                        <td class="col">
                            <select class="form-control select-search select2-hidden-accessible" data-fouc id="action_status" name="action_status" required>
                                <option value='' hidden>Select</option>
                                @if (ViewBag.Status != null)
                                {
                                    foreach (var item in ViewBag.Status)
                                    {
                                        if (item.Value == Model.action_status)
                                        {
                                            <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            @Html.LabelFor(model => model.status_update_on)<text style="color: red;">*</text>
                        </td>
                        <td class="col">

                            @if (Model.status_update_on > Convert.ToDateTime("01/01/0001"))
                            {
                                <input type="date" id="status_update_on" name="status_update_on" value="@Model.status_update_on.ToString("yyyy-MM-dd")" class="form-control" />
                            }
                            else
                            {
                                <input type="date" id="status_update_on" name="status_update_on" required class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            }

                        </td>
                    </tr>
                   
                </table>
            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                @Html.ActionLink("Back to List", "MeetingList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })
                <button type="submit" id="btnCreate" value="Save" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Save</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        //----zzz


        $(document).ready(function () {

            @if (TempData["alertdata"] != null)
    {

        @: new Noty({
                                        @:     text: '@TempData["alertdata"]',
                                        @:     type: 'error'
                                        @:     }).show();

                            }

            @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
                                        @:       text: '@TempData["Successdata"]',
                                        @:       type: 'success'
                                        @:        }).show();

                            }
        });



    </script>

}