@model ISOStd.Models.FireEquipInspectionModels
@{
    Layout = null;
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Fire Equip Inspection Info</h4>
    </div>
    <div class="card-body">

        <p>
            Date and Timing:
            @if (Model.Fire_DateTime != null && Model.Fire_DateTime > Convert.ToDateTime("01/01/0001"))
            {
            <code> @Model.Fire_DateTime.ToString("dd/MM/yyyy HH:mm") </code>
            }
        </p>
        <p>
            Location:<code>
                @Html.DisplayFor(model => model.Location)
            </code>
            Project:<code>@Html.DisplayFor(model => model.Project) </code>
        </p>
        <p>
            Report No:<code>@Html.DisplayFor(model => model.ReportNo) </code>
        </p>
        <p>
            Date of Next Fire Inspection:
            @if (Model.FireNext_DateTime != null && Model.FireNext_DateTime > Convert.ToDateTime("01/01/0001"))
            {<code>
                    @Model.FireNext_DateTime.ToString("dd/MM/yyyy")
                </code>
            }


        </p>
        <p>
            Number of Smoke Detector:<code>
                @Html.DisplayFor(model => model.Smoke_Detector)
            </code>

            Remarks:<code>@Html.DisplayFor(model => model.Smoke_Detector_Remarks) </code>
        </p>
        <p>
            Number of Fire Alarm:<code>
                @Html.DisplayFor(model => model.Fire_Alarm)
            </code>

            Remarks:<code>@Html.DisplayFor(model => model.Fire_Alarm_Remarks) </code>
        </p>
        <p>
            Number of Fire Water Pumps:<code>
                @Html.DisplayFor(model => model.Fire_Water_Pumps)
            </code>

            Remarks:<code>@Html.DisplayFor(model => model.Fire_Water_Pumps_Remarks) </code>
        </p>

        <p>
            Fire Box Number:<code>
                @Html.DisplayFor(model => model.Fire_Box_No)
            </code>

            Remarks:<code>@Html.DisplayFor(model => model.Fire_Box_No_Remarks) </code>
        </p>

        <p>
            Fire Box Type:<code>
                @Html.DisplayFor(model => model.Fire_Box_No_Type)
            </code>

            Remarks:<code>@Html.DisplayFor(model => model.Fire_Box_No_Type_Remarks) </code>
        </p>

        <p>
            Fire Box Location:<code>@Html.DisplayFor(model => model.Fire_Box_No_Location) </code>


            Number of Fire Hydrants :<code>@Html.DisplayFor(model => model.Fire_Hydrants) </code>
        </p>
        <p>
            Remarks:<code>@Html.DisplayFor(model => model.Fire_Hydrants_Remarks) </code>
        </p>



    </div>
</div>
