@model ISOStd.Models.LegalRegisterModel
@using System.Data

@{
    ViewBag.Title = "LegalRegisterDetails";
    DataSet dsFindingsDetails = ViewBag.FindingsDetails;
    
 
}
<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Legal Register</span>
</div>
<div class = "ActionLink">
        @Html.ActionLink("Edit",  "LegalRegisterEdit", new { LegalRequirement_Id = Model.LegalRequirement_Id }, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
        @Html.ActionLink("Back to List", "LegalRegisterList", null, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })
    </div>
 <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>
<br /><br />
<fieldset>
    <legend>LegalRegisterModel</legend>

    <div>
        <table style="width: 100%">
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.lawNo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.lawNo)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.lawTitle)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.lawTitle)
                    </div>
                </td>
           

                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.origin_of_requirement)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.origin_of_requirement)
                    </div>
                </td>
                 </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.document_storage_location)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.document_storage_location)
                    </div>
                </td>
           

                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.frequency_of_evaluation)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.frequency_of_evaluation)
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.activeStatus)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.activeStatus)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.initialdevelopmentdate)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                    @Html.Label(Model.initialdevelopmentdate.ToString("dd/MM/yyyy"))
                </div>
                </td>
                <td>
                        <div class="editor-label">
                            @Html.DisplayNameFor(model => model.updatedByName)
                        </div>
                    </td>
                 <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.updatedByName)
                    </div>
                </td>
                     <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.reviewedBy)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.reviewedBy)
                    </div>
                </td>
                </tr>
            <tr>
                <td>
                        <div class="editor-label">
                            @Html.DisplayNameFor(model => model.approvedBy)
                        </div>
                    </td>
                 <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.approvedBy)
                    </div>
                </td>
                  <td>
                        <div class="editor-label">
                            @Html.DisplayNameFor(model => model.reviewstatus)
                        </div>
                    </td>
                 <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.reviewstatus)
                    </div>
                </td>
                 <td>
                        <div class="editor-label">
                            @Html.DisplayNameFor(model => model.approvestatus)
                        </div>
                    </td>
                 <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.approvestatus)
                    </div>
                </td>
                </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.updatedOn)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                          @Html.Label(Model.updatedOn.ToString("dd/MM/yyyy"))
                    </div>
                </td>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.upload)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                         @if (Model.upload != "")
                                    {
                                        <a href='@Url.Action("DisplayDocument", "Reports", new { Document = Model.upload })' target="_blank">Preview</a>                            
                                    } 
                    </div>
                </td>
            </tr>
           
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
               

                
            }
            
        </table>
    </div>
</fieldset>

@if (dsFindingsDetails!= null && dsFindingsDetails.Tables.Count >0 && dsFindingsDetails.Tables[0].Rows.Count > 0)
{
    <div id="Items">
        <div class="editor-label">
            <label for="Register Details" style="background-color: #4cc4dd; width: 100%; color: white; padding-left: 5px;">Register Details</label>
        </div>
        <table id="team-list">
            <tr>
                 <th>Article</th>
                <th>Article Details On</th>
                <th> Is it Applicable ?</th>
                <th>If Nonapplicable ,justify</th>
                <th>Updated By</th>
                <th>Updated By Position</th>                
                <th>Updated By Dept</th>
                <th>Updated Date</th>
                <th>Procedure Reference</th>
                <th>monitoring requirements</th>
                <th>Evaluation</th>

            </tr>
            @for (int i = 0; i < dsFindingsDetails.Tables[0].Rows.Count; i++)
            {
                <tr>
                    
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["article"].ToString()
                    </td>
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["requirements"].ToString()
                    </td>
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["applicable"].ToString()
                    </td>
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["nonapplicablejustify"].ToString()
                    </td>
                   
                  
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["updatedBynametrans"].ToString()
                    </td>
                       <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["updatedByposition"].ToString()
                    </td>
                   
                  
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["updatedByDept"].ToString()
                    </td>
                    <td>
                        @Convert.ToDateTime(dsFindingsDetails.Tables[0].Rows[i]["updatedDate"].ToString()).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["reference"].ToString()
                    </td>
                    <td>
                        @dsFindingsDetails.Tables[0].Rows[i]["monitoring"].ToString()
                    </td>
                    <td>
                        <a href='@Url.Action("AddLegalRegisterEvaluation", "LegalRegister", new { id_requirements=dsFindingsDetails.Tables[0].Rows[i]["id_requirements"].ToString() })'>
                         <img src="@Url.Content("~/Images/icon_add.png")" title="Evaluation"/></a>
                        <a href='@Url.Action("LegalRegisterEvaluationList", "LegalRegister", new { id_requirements=dsFindingsDetails.Tables[0].Rows[i]["id_requirements"].ToString(), LegalRequirement_Id= Model.LegalRequirement_Id })'>
                         <img src="@Url.Content("~/Images/icon_list.png")" title="Evaluation"/></a>
                    </td>
                </tr>
            }
        </table>
    </div>
}


         
        
