@model ISOStd.Models.AuditLogModels

@{
    ViewBag.Title = "AddCA";
    DateTime TodayDate = DateTime.Now;
    string[] NotifiedtoArray = new string[0];
    string[] ReportedByArray = new string[0];
    int itemcnt1 = 0, itemcnts=0;

    if (ViewBag.ReportedByArray != null)
    {
        ReportedByArray = ViewBag.ReportedByArray;
        itemcnt1 = ReportedByArray.Length;
    }

    if (ViewBag.NotifiedtoArray != null)
    {
        NotifiedtoArray = ViewBag.NotifiedtoArray;
        itemcnts = NotifiedtoArray.Length;
    }

    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    ISOStd.Models.AuditLogModelsList CAList = new ISOStd.Models.AuditLogModelsList();
    int itemcount = 0;

    if (ViewBag.CorrectiveAction != null)
    {
        CAList = ViewBag.CorrectiveAction;
        itemcount = CAList.LogList.Count;
    }
}

<script src='@Url.Content("~/global_assets/js/demo_pages/Audit_NC_Verification_form_wizard.js")'></script>

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("AuditLogList", "AuditLog", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Audit Log List</span>
                    </a>
                    <span class="breadcrumb-item active">Verification</span>
                </div>
               
            </div>

          
        </div>
    </div>
}
<!-- Basic setup -->
<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">Verification </h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @*<table class="container-fluid">*@

        <form class="wizard-form steps-validation" action="@Url.Action("AddVerification", "AuditLog")" data-fouc id="form1">
            <input type="hidden" id="id_nc" name="id_nc" value="@Model.id_nc" />
            <h6>Verification </h6>
            <fieldset>
                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.Audit_no)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="text" class="form-control" id="Audit_no" name="Audit_no" value="@Model.Audit_no" readonly />
                            </div>
                        </td>

                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.AuditDate)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.AuditDate != null && Model.AuditDate > Convert.ToDateTime("01/01/0001"))
                                {
                                    <input class="form-control required" type="date" id="AuditDate" name="AuditDate" value="@Model.AuditDate.ToString("yyyy-MM-dd")" readonly />
                                }
                                else
                                {
                                    <input class="form-control required" type="date" id="AuditDate" name="AuditDate" readonly />
                                }
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.nc_no)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="text" class="form-control" id="nc_no" name="nc_no" value="@Model.nc_no" readonly />
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.finding_category)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="text" class="form-control" id="finding_category" name="finding_category" value="@Model.finding_category" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.branch)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="text" class="form-control" id="branch" name="branch" value="@Model.branch" readonly />
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.group_name)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="text" class="form-control" id="group_name" name="group_name" value="@Model.group_name" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        @*<td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.team)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="text" class="form-control" id="team" name="team" value="@Model.team" readonly />
                            </div>
                        </td>*@
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.location)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <input type="text" class="form-control" id="location" name="location" value="@Model.location" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.finding_details)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="finding_details" name="finding_details" readonly> @Model.finding_details</textarea>
                            </div>
                        </td>
                    </tr>
                </table>
                <div><b> Verification Details</b></div>
                <br />

                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_implement)
                            </div>
                        </td>
                        <td class="col">
                            <select class="form-control-select3" data-fouc id="v_implement" name="v_implement">
                                <option value='' hidden>Select</option>
                                @if (ViewBag.Action != null)
                                {
                                    foreach (var item in ViewBag.Action)
                                    {
                                        if (item.Value == Model.v_implement)
                                        {
                                            <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_implement_explain)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="v_implement_explain" name="v_implement_explain"> @Model.v_implement_explain</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_rca)
                            </div>
                        </td>
                        <td class="col">
                            <select class="form-control-select3" data-fouc id="v_rca" name="v_rca">
                                <option value='' hidden>Select</option>
                                @if (ViewBag.YesNo != null)
                                {
                                    foreach (var item in ViewBag.YesNo)
                                    {
                                        if (item == Model.v_rca)
                                        {
                                            <option value='@item' selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_rca_explain)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="v_rca_explain" name="v_rca_explain"> @Model.v_rca_explain</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_discrepancies)
                            </div>
                        </td>
                        <td class="col">
                            <select class="form-control-select3" data-fouc id="v_discrepancies" name="v_discrepancies">
                                <option value='' hidden>Select</option>
                                @if (ViewBag.YesNo != null)
                                {
                                    foreach (var item in ViewBag.YesNo)
                                    {
                                        if (item == Model.v_discrepancies)
                                        {
                                            <option value='@item' selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_discrep_explain)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="v_discrep_explain" name="v_discrep_explain"> @Model.v_discrep_explain</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                       
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_eleminate_root_cause)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control-select3" data-fouc id="v_eleminate_root_cause" name="v_eleminate_root_cause" required>
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.Causes != null)
                                    {
                                        foreach (var item in ViewBag.Causes)
                                        {
                                            if (item == Model.v_eleminate_root_cause)
                                            {
                                                <option value='@item' selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value='@item'>@item</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_risk_reduce)
                            </div>
                        </td>
                        <td class="col">
                            <select class="form-control-select3" data-fouc id="v_risk_reduce" name="v_risk_reduce" required onchange="checkRiskReduce()">
                                <option value='' hidden>Select</option>
                                @if (ViewBag.YesNo != null)
                                {
                                    foreach (var item in ViewBag.YesNo)
                                    {
                                        if (item == Model.v_risk_reduce)
                                        {
                                            <option value='@item' selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_risk_reduce_reason)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="v_risk_reduce_reason" name="v_risk_reduce_reason"> @Model.v_discrep_explain</textarea>
                            </div>
                        </td>
                      
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_document_amended)
                            </div>
                        </td>
                        <td class="col">
                            <select class="form-control-select3" data-fouc id="v_document_amended" name="v_document_amended" required onchange="docCheck()">
                                <option value='' hidden>Select</option>
                                @if (ViewBag.YesNo != null)
                                {
                                    foreach (var item in ViewBag.YesNo)
                                    {
                                        if (item == Model.v_document_amended)
                                        {
                                            <option value='@item' selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_process_amended)
                            </div>
                        </td>
                        <td class="col">
                            <select class="form-control-select3" data-fouc id="v_process_amended" name="v_process_amended" required>
                                <option value='' hidden>Select</option>
                                @if (ViewBag.YesNo != null)
                                {
                                    foreach (var item in ViewBag.YesNo)
                                    {
                                        if (item == Model.v_process_amended)
                                        {
                                            <option value='@item' selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                       
                    </tr>
                    </table>
                <table class="table table-lg" id="doc1" style="display:none">
                    <tr class="row">
                        <td class="col">
                            @Html.LabelFor(model => model.v_amend_docref)
                        </td>
                        <td class="col">
                            @Html.LabelFor(model => model.v_amend_docname)

                        </td>
                        <td class="col-xs-3 col-md-4">
                            @Html.LabelFor(model => model.v_amend_docdate)
                        </td>                      
                    </tr>
                    <tr class="row">
                        <td class="col">
                            <input type="text" class="form-control" id="v_amend_docref" name="v_amend_docref" value="@Model.v_amend_docref"/>
                        </td>
                        <td class="col">
                            <input type="text" class="form-control" id="v_amend_docname" name="v_amend_docname" value="@Model.v_amend_docname" />
                        </td>
                        <td class="col-xs-3 col-md-4">
                            @if (Model.v_amend_docdate != null && Model.v_amend_docdate > Convert.ToDateTime("01/01/0001"))
                            {
                                <input type="date" class="form-control" id="v_amend_docdate" name="v_amend_docdate" value="@Model.v_verified_date.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" class="form-control" id="v_amend_docdate" name="v_amend_docdate" value="@TodayDate.ToString("yyyy-MM-dd")" />
                            }
                           
                        </td>


                    </tr>

                </table>

                 <div style="display:none" id="hidden_card_count">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Verification Details</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <input type="hidden" id="itemcount" name="itemcount" value="@itemcount" />
                        <div class="card card-table table-responsive shadow-0 mb-0">
                            <table class="table" id="team-list-count">
                                <tr class="bg-blue">
                                    <th>Action</th>
                                    <th>Division</th>
                                    <th>Location</th>
                                    <th>Department</th>
                                    <th>Corrective Action</th>
                                    <th>Implementation Status</th>
                                    <th>Is CA effective?</th>
                                    <th>If No, reasons</th>
                                </tr>
                                @if (CAList.LogList != null && CAList.LogList.Count > 0)
                                {
                                    for (int index = 0; index < CAList.LogList.Count; index++)
                                    {
                                        <tr>
                                            <td>
                                                <img src='@Url.Content("~/images/cancel.png")' onclick='deleteRow1(@CAList.LogList[index].id_audit_nc_ca)' style='cursor:pointer; padding-right: 5px;' />Remove
                                                <input type='hidden' id='id_audit_nc_ca @index' name="id_audit_nc_ca @index" value='@CAList.LogList[index].id_audit_nc_ca' />
                                            </td>
                                            <td>
                                                <input type='hidden' id='ca_div @index' name="ca_div @index" value='@CAList.LogList[index].ca_div'>@Obj.GetCompanyBranchNameById(CAList.LogList[index].ca_div)
                                            </td>
                                            <td>
                                                <input type='hidden' id='ca_loc @index' name="ca_loc @index" value='@CAList.LogList[index].ca_loc'>@Obj.GetDivisionLocationById(CAList.LogList[index].ca_loc)
                                            </td>
                                            <td>
                                                <input type='hidden' id='ca_dept @index' name="ca_dept @index" value='@CAList.LogList[index].ca_dept'>@Obj.GetMultiDeptNameById(CAList.LogList[index].ca_dept)
                                            </td>
                                            <td>
                                                <input type='hidden' id='ca_ca @index' name="ca_ca @index" value='@CAList.LogList[index].ca_ca'>@(CAList.LogList[index].ca_ca)
                                            </td>
                                            <td>
                                                @if (CAList.LogList[index].implement_status  != null && @CAList.LogList[index].implement_status != "")
                                                {
                                                    <textarea class="form-control" id='implement_status @index' name="implement_status @index">@CAList.LogList[index].implement_status</textarea>
                                                }
                                                else
                                                {
                                                    <textarea class="form-control" id='implement_status @index' name="implement_status @index"> </textarea>
                                                }
                                            </td>
                                            <td>
                                                @*<input type='text' id='ca_effective @index' name="ca_effective @index" value='@CAList.LogList[index].ca_effective'>@CAList.LogList[index].ca_effective*@
                                                <select class="form-control-select3" data-fouc id="ca_effective @index" name="ca_effective @index">
                                                    <option value='' hidden>Select</option>
                                                    @if (ViewBag.YesNo != null)
                                                    {
                                                        foreach (var item in ViewBag.YesNo)
                                                        {
                                                            if (item == CAList.LogList[index].ca_effective)
                                                            {
                                                                <option value='@item' selected>@item</option>
                                                            }
                                                            else
                                                            {
                                                                <option value='@item'>@item</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                @if (CAList.LogList[index].reason != null && CAList.LogList[index].reason != "")
                                                {
                                                    <textarea class="form-control" id='reason @index' name="reason @index"> @CAList.LogList[index].reason</textarea>
                                                }
                                                else
                                                {
                                                    <textarea class="form-control" id='reason @index' name="reason @index"></textarea>  
                                                }
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>

                <table class="table table-lg">

                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            @Html.LabelFor(model => model.v_upload)
                        </td>                       
                        <td class="col">
                            <input type="file" name="v_upload" id="v_upload" title="Documents" multiple="multiple" onchange="FileFormatValidation(this)" accept=".pdf, .doc, .docx, .jpg, .jpeg,.png,.xls,.xlsx,image/*" @*class="bootstrap-uploader"*@ />
                            <span class="form-text text-muted"><code>(Hold Ctrl Key in case of multiple files)</code></span>
                            @if (Model.v_upload != null && Model.v_upload != "" && Model.v_upload.Length > 0)
                            {
                                <div class="editor-label">
                                    <p style="font-weight: bold; margin: 0px;"> Docs. List:</p>
                                </div>
                                <p style="font-size: 11px; margin: 0px; color: red;">(Uncheck in case to remove a uploaded file)</p>
                                foreach (var docs in Model.v_upload.Trim(',').Split(','))
                                {
                                    <p style="margin: 0px;">
                                        <input type="checkbox" id="QCDocsVal" name="QCDocsVal" class="QCDocsVal" value="@docs.Trim(',')" checked title="Uncheck in case to remove a uploaded file" />
                                        <input type="hidden" id="QCDocsValselectall" name="QCDocsValselectall" />
                                        <span class="bg-dark py-1 px-2 rounded">
                                            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs})' target="_blank">Preview</a>
                                        </span>
                                    </p>
                                }
                            }
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_status)
                            </div>
                        </td>
                        <td class="col">
                            <select class="form-control-select3" data-fouc id="v_status" name="v_status" onchange="checkStatus()" required>
                                <option value='' hidden>Select</option>
                                @if (ViewBag.OpenClose != null)
                                {
                                    foreach (var item in ViewBag.OpenClose)
                                    {
                                        if(item == Model.v_status)
                                        {
                                            <option value='@item' selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value='@item'>@item</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    
                        <td class="col-xs-3 col-md-2">
                            @Html.DisplayNameFor(model => model.v_closed_date)
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.v_closed_date != null && Model.v_closed_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <input type="date" class="form-control" id="v_closed_date" name="v_closed_date" value="@Model.v_closed_date.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="v_closed_date" name="v_closed_date" value="@TodayDate.ToString("yyyy-MM-dd")"/>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.v_ncr_reason)
                            </div>
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <textarea maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position" id="v_ncr_reason" name="v_ncr_reason"> @Model.v_ncr_reason</textarea>
                            </div>
                        </td>
                    </tr>
                </table>


                @*Proposed by*@
                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            @Html.DisplayNameFor(model => model.v_verifiedto)
                        </td>
                        <td class="col-xs-6 col-md-4">
                            <div class="editor-field">
                                <select class="form-control-select3" data-fouc id="v_verifiedto" name="v_verifiedto" onchange="GetReportedByDetails()">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.EmpList != null)
                                    {
                                        foreach (var item in ViewBag.EmpList)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
              
                <div id="ReportedBydiv" style="display:none">
                    <div class="card-body">
                        <input type="hidden" id="itemcnt1" name="itemcnt1" value="@itemcnt1" />

                        <div class="card card-table table-responsive shadow-0 mb-0">
                            <table class="table" id="team-list1">
                                <tr class="bg-blue">
                                    <th>Action</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Division</th>
                                    <th>Location</th>
                                    <th>Department</th>
                                    <th>Email</th>
                                </tr>
                                @if (ViewBag.ReportedByArray != null && ReportedByArray != null && ReportedByArray.Length > 0)
                                {
                                    for (int index = 0; index < ReportedByArray.Length; index++)
                                    {
                                        //string[] sEmp = @objIncidentLTIList.lstIncidentLTIModels[index].Emp_Id.Split(';');
                                        <tr>
                                            <td>
                                                <span class='badge badge-info' onclick='deleteRow(this)' style='cursor:pointer;'>Delete</span>
                                                @*<img src='@Url.Content("~/images/cancel.png")' onclick='deleteRow1(this)' style='cursor:pointer; padding-right: 5px;' />Remove*@
                                                <input type='hidden' id='aempno @index' name="aempno @index" value='@ReportedByArray[index]' />
                                            </td>
                                            <td>
                                                <input type='hidden' id='aempid @index' name="aempid @index" readonly>@Obj.GetEmpIDByEmpNo(ReportedByArray[index])
                                            </td>
                                            <td>
                                                <input type='hidden' id='aempname @index' name="aempname @index" readonly>@Obj.GetEmpHrNameById(ReportedByArray[index])
                                            </td>
                                            <td>
                                                <input type='hidden' id='aempdiv @index' name="aempdiv @index" readonly>@Obj.GetCompanyBranchNameById(Obj.GetDivisionIdByHrEmpId(ReportedByArray[index]))
                                            </td>
                                            <td>
                                                <input type='hidden' id='aemploc @index' name="aemploc @index" readonly>@Obj.GetDivisionLocationById(Obj.GetWorkLocationIdByHrEmpId(ReportedByArray[index]))
                                            </td>
                                            <td>
                                                <input type='hidden' id='aempdept @index' name="aempdept @index" readonly>@Obj.GetDeptNameById(Obj.GetDeptIdByHrEmpId(ReportedByArray[index]))
                                            </td>
                                            <td>
                                                <input type='hidden' id='aempemail @index' name="aempemail @index" readonly>@Obj.GetHrEmpEmailIdById(ReportedByArray[index])
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>

                    </div>
                </div>

                @*NotifiedTo*@
                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            @Html.DisplayNameFor(model => model.v_notifiedto)
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                <select class="form-control-select3" data-fouc id="v_notifiedto" name="v_notifiedto" onchange="GetNotifiedToDetails()">
                                    <option value='' hidden>Select</option>
                                    @if (ViewBag.EmpList != null)
                                    {
                                        foreach (var item in ViewBag.EmpList)
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-2">
                            @Html.DisplayNameFor(model => model.v_verified_date)
                        </td>
                        <td class="col">
                            <div class="editor-field">
                                @if (Model.v_verified_date != null && Model.v_verified_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    <input type="date" class="form-control" id="v_verified_date" name="v_verified_date" value="@Model.v_verified_date.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                    <input type="date" class="form-control" id="v_verified_date" name="v_verified_date" value="@TodayDate.ToString("yyyy-MM-dd")" />
                                }
                            </div>
                        </td>
                    </tr>
                </table>
               
                <div id="NotifiedTodiv" style="display:none">
                    <div class="card-body">
                        <input type="hidden" id="itemcnts" name="itemcnts" value="@itemcnts" />

                        <div class="card card-table table-responsive shadow-0 mb-0">
                            <table class="table" id="team-lists">
                                <tr class="bg-blue">
                                    <th>Action</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Division</th>
                                    <th>Location</th>
                                    <th>Department</th>
                                    <th>Email</th>
                                </tr>
                                @if (ViewBag.NotifiedtoArray != null && NotifiedtoArray != null && NotifiedtoArray.Length > 0)
                                {
                                    for (int index = 0; index < NotifiedtoArray.Length; index++)
                                    {
                                        //string[] sEmp = @objIncidentLTIList.lstIncidentLTIModels[index].Emp_Id.Split(';');
                                        <tr>
                                            <td>
                                                <span class='badge badge-info' onclick='deleteRow(this)' style='cursor:pointer;'>Delete</span>
                                                @*<img src='@Url.Content("~/images/cancel.png")' onclick='deleteRow1(this)' style='cursor:pointer; padding-right: 5px;' />Remove*@
                                                <input type='hidden' id='nempno @index' name="nempno @index" value='@NotifiedtoArray[index]' />
                                            </td>
                                            <td>
                                                <input type='hidden' id='nempid @index' name="nempid @index" readonly>@Obj.GetEmpIDByEmpNo(NotifiedtoArray[index])
                                            </td>
                                            <td>
                                                <input type='hidden' id='nempname @index' name="nempname @index" readonly>@Obj.GetEmpHrNameById(NotifiedtoArray[index])
                                            </td>
                                            <td>
                                                <input type='hidden' id='nempdiv @index' name="nempdiv @index" readonly>@Obj.GetCompanyBranchNameById(Obj.GetDivisionIdByHrEmpId(NotifiedtoArray[index]))
                                            </td>
                                            <td>
                                                <input type='hidden' id='nemploc @index' name="nemploc @index" readonly>@Obj.GetDivisionLocationById(Obj.GetWorkLocationIdByHrEmpId(NotifiedtoArray[index]))
                                            </td>
                                            <td>
                                                <input type='hidden' id='nempdept @index' name="nempdept @index" readonly>@Obj.GetDeptNameById(Obj.GetDeptIdByHrEmpId(NotifiedtoArray[index]))
                                            </td>
                                            <td>
                                                <input type='hidden' id='nempemail @index' name="nempemail @index" readonly>@Obj.GetHrEmpEmailIdById(NotifiedtoArray[index])
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>

              
            </fieldset>
        </form>
        @*</table>*@
    </div>
</div>
<!-- /basic setup -->

<script src='@Url.Content("~/global_assets/js/plugins/forms/wizards/steps2.min.js")'></script>
<script>
       var summary = {
           summaryUrl: '@Url.Action("AddVerification", "AuditLog")'
       };

       var $ = jQuery.noConflict();
</script>


@section Scripts {
    <script>

    $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });
        var doc_val = $('#v_document_amended').val();
        if (doc_val == "Yes") {
            document.getElementById("doc1").style.display = "block";
           
            document.getElementById("v_amend_docref").required = true;
            document.getElementById("v_amend_docname").required = true;
            document.getElementById("v_amend_docdate").required = true;

        }
        function checkStatus()
        {
            var nc_status = $("#v_status option:selected").text();
            if (nc_status == "Open") {
                document.getElementById("v_ncr_reason").required = true;
            }
            else {
                document.getElementById("v_ncr_reason").required = false;
            }
        }
        function docCheck()
        {
            var doc_val = $('#v_document_amended').val();
          
            if (doc_val == "Yes") {
                document.getElementById("doc1").style.display = "block";
           
                document.getElementById("v_amend_docref").required = true;
                document.getElementById("v_amend_docname").required = true;
                document.getElementById("v_amend_docdate").required = true;

            }
            else {
                document.getElementById("v_amend_docref").value = "";
                document.getElementById("v_amend_docname").value = "";
                document.getElementById("v_amend_docdate").value = "";
                document.getElementById("doc1").style.display = "none";
               
            }
        }
        function checkRiskReduce()
        {  
            var risk_val = $('#v_risk_reduce').val();
           
            if (risk_val == "No") {
                document.getElementById("v_risk_reduce_reason").required = true;

            }
            else {
                document.getElementById("v_risk_reduce_reason").required = false;
            }
        }
    if (@itemcnt1 > 0) {
         document.getElementById("ReportedBydiv").style.display = "block";
        }

        if (@itemcnts > 0) {
            document.getElementById("NotifiedTodiv").style.display = "block";
        }

        if (@itemcount > 0) {
            document.getElementById("hidden_card_count").style.display = "block";
        }

  

    var showClass = 'is-visible';
    var hideClass = 'invisible';

        function FileFormatValidation(file) {
            var ext = file.value.split(".").pop().toLowerCase();
            if ($.inArray(ext, ["pdf", "xlsx", "xls", "doc", "docx", "jpg", "jpeg", "gif", ".png"]) == -1) {
                file.value = "";
                bootbox.alert({
                    title: 'File type',
                    message: 'Invalid file format, please upload only doc, pdf, docx, xls, xls,jpg, jpeg, gif, png format'
                });
            }
        }

        $("#QCDocsVal").click(function () {
            if ($("#QCDocsVal").prop('checked')) {
                {
                    $(this).prop('checked', true);
                }
            }
            else {
                $(this).prop('checked', false);
                document.getElementById("QCDocsValselectall").value = "DeleteQC";
            }
        });

        function checkDate() {

            var dt1 = document.getElementById("evaluation_date").value;
            if (new Date(dt1).getTime() > new Date().getTime()) {
                bootbox.alert({
                    title: 'Evaluation Date',
                    message: 'Evaluation cannot be greater then today.'
                });
                $('#evaluation_date').val("");
            }
        }


         function reformatDate(dateStr) {
             dArr = dateStr.split("-");  // ex input 2010-01-18
             return dArr[2] + "/" + dArr[1] + "/" + dArr[0]; //ex out: 2018/01/10
         }


    function GetNotifiedToDetails() {
        var v_notifiedto = $('#v_notifiedto').val();
        if (v_notifiedto != "" && v_notifiedto != null) {
                jQuery.ajax({
                    url: '@Url.Action("FunGetEmpDetails", "AuditLog")',
                    type: 'POST',
                    dataType: "json",
                    data: { 'semp_no': v_notifiedto },
                    success: function (result) {
                        if (result != null) {
                            document.getElementById("NotifiedTodiv").style.display = "block";

                            var nempno = $('#v_notifiedto option:selected').val();
                            var nempid= result.emp_id;
                            var nempname = result.empname;
                            var nempdiv = result.division;
                            var nempdept = result.department;
                            var nemploc = result.location;
                            var nempemail = result.EmailId;


            if (nempid != null && nempid != "") {
        var cnt = document.getElementById("itemcnts").value;

        document.getElementById("itemcnts").value = cnt;
        // Find a <table> element with id="myTable":
        var table = document.getElementById("team-lists");

        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = table.insertRow();


        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        var cell4 = row.insertCell(4);
        var cell5 = row.insertCell(5);
        var cell6 = row.insertCell(6);

        cell0.innerHTML = "<span class='badge badge-info' onclick='deleteRow(this)' style='cursor:pointer;'>Delete</span> <input type = 'hidden' id = 'nempno " + cnt + "' name = 'nempno " + cnt + "' value = '" + nempno + "'>";
        cell1.innerHTML = "<input type='hidden' id='nempid " + cnt + "' name='nempid " + cnt + "' value='" + nempid + "'>" + nempid;
        cell2.innerHTML = "<input type='hidden' id='nempname " + cnt + "' name='nempname " + cnt + "' value='" + nempname + "'>" + nempname;
        cell3.innerHTML = "<input type='hidden' id='nempdiv " + cnt + "' name='nempdiv " + cnt + "' value='" + nempdiv + "'>" + nempdiv;
        cell4.innerHTML = "<input type='hidden' id='nemploc " + cnt + "' name='nemploc " + cnt + "' value='" + nemploc + "'>" + nemploc;
        cell5.innerHTML = "<input type='hidden' id='nempdept " + cnt + "' name='nempdept " + cnt + "' value='" + nempdept + "'>" + nempdept;
        cell6.innerHTML = "<input type='hidden' id='nempemail " + cnt + "' name='nempemail " + cnt + "' value='" + nempemail + "'>" + nempemail;

        cnt++;
        document.getElementById("itemcnts").value = cnt;

        $("#v_notifiedto").val('').trigger('change');

                      }
                    }
                }
            });
        }
    }

      function GetReportedByDetails() {
          var v_verifiedto = $('#v_verifiedto').val();
          if (v_verifiedto != "" && v_verifiedto != null) {
                jQuery.ajax({
                    url: '@Url.Action("FunGetEmpDetails", "AuditLog")',
                    type: 'POST',
                    dataType: "json",
                    data: { 'semp_no': v_verifiedto },
                    success: function (result) {
                        if (result != null) {
                            document.getElementById("ReportedBydiv").style.display = "block";

                            var aempno = $('#v_verifiedto option:selected').val();
                            var aempid = result.emp_id;
                            var aempname = result.empname;
                            var aempdiv = result.division;
                            var aempdept = result.department;
                            var aemploc = result.location;
                            var aempemail = result.EmailId;

    if (aempid != null && aempid != "") {
        var cnt = document.getElementById("itemcnt1").value;

        document.getElementById("itemcnt1").value = cnt;
        // Find a <table> element with id="myTable":
        var table = document.getElementById("team-list1");

        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = table.insertRow();

        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        var cell4 = row.insertCell(4);
        var cell5 = row.insertCell(5);
        var cell6 = row.insertCell(6);

        cell0.innerHTML = "<span class='badge badge-info' onclick='deleteRow(this)' style='cursor:pointer;'>Delete</span> <input type = 'hidden' id = 'aempno " + cnt + "' name = 'aempno " + cnt + "' value = '" + aempno + "'>";
        cell1.innerHTML = "<input type='hidden' id='aempid " + cnt + "' name='aempid " + cnt + "' value='" + aempid + "'>" + aempid;
        cell2.innerHTML = "<input type='hidden' id='aempname " + cnt + "' name='aempname " + cnt + "' value='" + aempname + "'>" + aempname;
        cell3.innerHTML = "<input type='hidden' id='aempdiv " + cnt + "' name='aempdiv " + cnt + "' value='" + aempdiv + "'>" + aempdiv;
        cell4.innerHTML = "<input type='hidden' id='aemploc " + cnt + "' name='aemploc " + cnt + "' value='" + aemploc + "'>" + aemploc;
        cell5.innerHTML = "<input type='hidden' id='aempdept " + cnt + "' name='aempdept " + cnt + "' value='" + aempdept + "'>" + aempdept;
        cell6.innerHTML = "<input type='hidden' id='aempemail " + cnt + "' name='aempemail " + cnt + "' value='" + aempemail + "'>" + aempemail;

        cnt++;
        document.getElementById("itemcnt1").value = cnt;

        $("#v_verifiedto").val('').trigger('change');
                            }
                          }
                      }
                  });
          }
        }

  @*function AddCAInfo() {

        if (Validation() == true) {

            var cnt = document.getElementById("itemcount").value;

            document.getElementById("itemcount").value = cnt;
            // Find a <table> element with id="myTable":
            var table = document.getElementById("team-list-count");

            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow();

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            var cell5 = row.insertCell(5);
            var cell6 = row.insertCell(6);

            var ca_div = $('#ca_div').val();
            var ca_divText = $("#ca_div option:selected").text();
            var ca_loc = $('#ca_loc').val();
            var ca_locText = $("#ca_loc option:selected").text();
            var ca_dept = $('#ca_dept').val();
            var ca_deptText = $("#ca_dept option:selected").text();
            var ca_rootcause = $('#ca_rootcause').val();
            var ca_ca = $('#ca_ca').val();
            var ca_resource = $('#ca_resource').val();
            var ca_target_date = reformatDate($("#ca_target_date").val());
            var ca_resp_person = $('#ca_resp_person').val();
            var ca_resp_personText = $("#ca_resp_person option:selected").text();

            cell0.innerHTML = " <img src='@Url.Content("~/images/cancel.png")' onclick='deleteRow1(this)' style='cursor:pointer; padding-right: 5px;'/>Remove";
            cell1.innerHTML = "<input type='hidden' id='ca_div " + cnt + "' name='ca_div " + cnt + "' value='" + ca_div + "'>" + ca_divText;
            cell2.innerHTML = "<input type='hidden' id='ca_loc " + cnt + "' name='ca_loc " + cnt + "' value='" + ca_loc + "'>" + ca_locText;
            cell3.innerHTML = "<input type='hidden' id='ca_dept " + cnt + "' name='ca_dept " + cnt + "' value='" + ca_dept + "'>" + ca_deptText;
            cell4.innerHTML = "<input type='hidden' id='ca_rootcause " + cnt + "' name='ca_rootcause " + cnt + "' value='" + ca_rootcause + "'>" + ca_rootcause;
            cell5.innerHTML = "<input type='hidden' id='ca_ca " + cnt + "' name='ca_ca " + cnt + "' value='" + ca_ca + "'>" + ca_ca;
            cell6.innerHTML = "<input type='hidden' id='ca_resource " + cnt + "' name='ca_resource " + cnt + "' value='" + ca_resource + "'>" + ca_resource;
            cell7.innerHTML = "<input type='hidden' id='ca_target_date " + cnt + "' name='ca_target_date " + cnt + "' value='" + ca_target_date + "'>" + ca_target_date;
            cell8.innerHTML = "<input type='hidden' id='ca_resp_person " + cnt + "' name='ca_resp_person " + cnt + "' value='" + ca_resp_person + "'>" + ca_resp_personText;

            cnt++;
            document.getElementById("itemcount").value = cnt;

            document.getElementById("hidden_card_count").classList.remove(hideClass);
            document.getElementById("hidden_card_count").classList.add(showClass);
            //document.getElementById("hidden_card1").style.display = "";
            ResetControl();
            }

        }

        function Validation() {
            var validflg = true;
            var ssnMessage = "";

            if (document.getElementById("ca_div").value == "") {
                ssnMessage = $('#ca_div-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_div-message');
                ssnMessage.hide();
            }

            if (document.getElementById("ca_loc").value == "") {
                ssnMessage = $('#ca_loc-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_loc-message');
                ssnMessage.hide();
            }

            if (document.getElementById("ca_dept").value == "") {
                ssnMessage = $('#ca_dept-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_dept-message');
                ssnMessage.hide();
            }

            if (document.getElementById("ca_rootcause").value == "") {
                ssnMessage = $('#ca_rootcause-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_rootcause-message');
                ssnMessage.hide();
            }

            if (document.getElementById("ca_ca").value == "") {
                ssnMessage = $('#ca_ca-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_ca-message');
                ssnMessage.hide();
            }

            if (document.getElementById("ca_resource").value == "") {
                ssnMessage = $('#ca_resource-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_resource-message');
                ssnMessage.hide();
            }
            if (document.getElementById("ca_target_date").value == "") {
                ssnMessage = $('#ca_target_date-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_target_date-message');
                ssnMessage.hide();
            }

            if (document.getElementById("ca_resp_person").value == "") {
                ssnMessage = $('#ca_resp_person-message');
                ssnMessage.show();
                validflg = false;
            }
            else {
                ssnMessage = $('#ca_resp_person-message');
                ssnMessage.hide();
            }

            return validflg;
        }

        function ResetControl() {
            //$("#injury_type").val('').trigger("chosen:updated");
            $("#ca_div").val('').trigger('change');
            $("#ca_loc").val('').trigger('change');
            $("#ca_dept").val('').trigger('change');
            document.getElementById("ca_rootcause").value = "";
            document.getElementById("ca_ca").value = "";
            document.getElementById("ca_resource").value = "";
            document.getElementById("ca_target_date").value = "";
            $("#ca_resp_person").val('').trigger('change');
        }*@

        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

         function deleteRow1(id_audit_nc_ca) {
            bootbox.confirm({
                title: 'Confirm dialog',
                message: 'Are you Sure you want to Delete the current Record?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-link'
                    }
                },
                callback: function (r) {
                    if (r == true) {
                    jQuery.ajax({
                        url: '@Url.Action("CADocDelete", "AuditLog")',
                        data: { id_audit_nc_ca: id_audit_nc_ca },
                        type: 'POST',
                        dataType: "json",
                        success: function (result) {

                            var id_audit_process_perform = $("#id_audit_process_perform").val();
                            var params = {
                                id_audit_process_perform: id_audit_process_perform
                            };
                            queryString = $.param(params);
                            //// Add new params to the querystring dictionary
                            window.location.href =
                                window.location.protocol + "//" +
                                window.location.host +
                                window.location.pathname +
                                '?' + queryString;
                        }
                    });
                    return true;
                }
                else if (r == false) {
                        bootbox.hideAll();
                        return false;
                    }
                }
               });
           }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}