@using PagedList;
@using PagedList.Mvc;

@model List<ISOStd.Models.ObjectivesModels>

@{
    ViewBag.Title = "ObjectivesList";
    ISOStd.Models.clsGlobal objGlobaldata = new ISOStd.Models.clsGlobal();
}
@{
    var ShowEdit = objGlobaldata.GetCurrentUserSession().Objectives.Contains("3") ? true : false;
    var ShowDownld = objGlobaldata.GetCurrentUserSession().Objectives.Contains("4") ? true : false;
    var ShowDel = objGlobaldata.GetCurrentUserSession().Objectives.Contains("5") ? true : false;
}
@*<div class = "ActionLink">@Html.ActionLink("Add New", "AddObjectives", null,null, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })</div>*@
@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    @if (Session["state"].ToString() == "1")
                    {
                       <span class="breadcrumb-item active">Quality Objectives </span>
                    }
                    else if (Session["state"].ToString() == "2")
                    {
                        <span class="breadcrumb-item active">Health & Safety Objectives </span>
                    }
                    else if (Session["state"].ToString() == "3")
                    {
                        <span class="breadcrumb-item active">Environment Objectives </span>
                    }
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">

                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}

<style>
    .hidden {
        display: none !important;
    }
</style>

<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        @if (Session["state"].ToString() == "1")
        {
           <h5 class="card-title">Quality Objectives</h5>
        }
        else if (Session["state"].ToString() == "2")
        {
           <h5 class="card-title"> Health & Safety Objectives</h5>
        }
        else if (Session["state"].ToString() == "3")
        {
           <h5 class="card-title">Environment Objectives</h5>
        }

        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>

            </div>
        </div>
    </div>
    <div class="card-body">

        @if (objGlobaldata.GetCurrentUserSession().Objectives.Contains("3"))
        {
            if (Session["state"].ToString() == "1")
            {
                <a class="btn btn-outline bg-orange text-orange border-orange btn-ladda btn-ladda-progress ladda-button" data-style="radius" href='@Url.Action("AddObjectives", "Objectives", new { View = 1 })' title="Add New">
                    <span class="ladda-label">Add Quality Objective</span>
                    <span class="ladda-spinner"></span>
                </a>
            }
            else if (Session["state"].ToString() == "2")
            {
                <a class="btn btn-outline bg-orange text-orange border-orange btn-ladda btn-ladda-progress ladda-button" data-style="radius" href='@Url.Action("AddObjectives", "Objectives", new { View = 2 })' title="Add New">
                    <span class="ladda-label">Add Health & Safety Objective</span>
                    <span class="ladda-spinner"></span>
                </a>
            }
            else if (Session["state"].ToString() == "3")
            {
                <a class="btn btn-outline bg-orange text-orange border-orange btn-ladda btn-ladda-progress ladda-button" data-style="radius" href='@Url.Action("AddObjectives", "Objectives", new { View = 3 })' title="Add New">
                    <span class="ladda-label">Add Environment Objective</span>
                    <span class="ladda-spinner"></span>
                </a>
            }
        }
        <br />
        <hr />
        @using (Html.BeginForm("ObjectivesList", "Objectives", FormMethod.Post, new { id = "form1", name = "form1", style = "width:20em;" }))
        {
            if (ViewBag.Branch != null)
            {
                <select class="form-control select-search select2-hidden-accessible" data-fouc id="branch_name" name="branch_name" onchange="getDetails()">
                    <option value='' hidden>Division</option>
                    @if (ViewBag.Branch != null)
                    {
                        foreach (var item in ViewBag.Branch)
                        {
                            if (item.Value == ViewBag.Branch_name)
                            {
                                <option value='@item.Value' selected>@item.Text</option>
                            }
                            else
                            {
                                <option value='@item.Value'>@item.Text</option>
                            }
                        }
                    }
                </select>
            }
        }


    </div>

    <input type="hidden" id="view" name="view" value="@ViewBag.View" />
    <table class="table table-bordered table-striped table-hover datatable-responsive" id="objective">
        <thead>
            <tr>
                <th class="not-export-column">
                    Sl No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Obj_Ref)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Obj_Estld_On)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Objectives_val)
                </th>
                <th>Baseline Value</th>
                <th>Source of Baseline Data</th>
                <th>File Upload</th>
                <th>Target Value</th>
                <th>Accepted Value</th>
                <th>Unit of measurement</th>
                <th>Target Date to Achieve</th>
                <th>Frequency of Evaluation</th>
                <th>Monitoring Parameter</th>
                <th>Objective In line with</th>
                <th>Risk, if not achieved</th>
                <th>Approved by</th>
                <th>Approval Status</th>
                <th data-priority="2" class="text-center not-export-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                int i = 0;
                foreach (var item in Model)
                {
                    i = i + 1;
            <tr>
                <td>
                    @Html.ActionLink(i.ToString(), "ObjectivesDetails", new { Objectives_Id = item.Objectives_Id.ToString(), ObjectivesTrans_Id = item.ObjectivesTrans_Id.ToString(), View = Session["state"].ToString() }, new { data_toggle = "popover", data_trigger = "hover", id = item.ObjectivesTrans_Id, onclick = "HyperLinkProgressIconFunction()" })
                </td>
                <td> @Html.DisplayFor(modelItem => item.Obj_Ref)</td>
                <td>
                    @if (item.Obj_Estld_On > Convert.ToDateTime("01/01/0001"))
                    {
                        @item.Obj_Estld_On.ToString("dd/MM/yyyy")
                    }
                </td>
                <td> @Html.DisplayFor(modelItem => item.Objectives_val)</td>
                <td> @Html.DisplayFor(modelItem => item.Base_Line_Value)</td>
                <td> @Html.DisplayFor(modelItem => item.baseline_data)</td>
                <td>
                  
@if (item.Action_Plan != null && item.Action_Plan != "" && item.Action_Plan.Length > 0)
{
    foreach (var docs in item.Action_Plan.Trim(',').Split(','))
    {
        <span class="bg-dark py-1 px-2 rounded">
            <a href='@Url.Action("DisplayDocument", "Reports", new { Document = docs})' target="_blank">Preview</a>
        </span>
    }
}
else
{
                        <span class="badge badge-info">No File attached</span>
                    }
                </td>
                <td> @Html.DisplayFor(modelItem => item.Obj_Target)</td>
                <td> @Html.DisplayFor(modelItem => item.Accepted_Value)</td>
                <td> @Html.DisplayFor(modelItem => item.unit)</td>
                <td>
                    @if (item.Target_Date > Convert.ToDateTime("01/01/0001"))
                    {
                        @item.Target_Date.ToString("dd/MM/yyyy")
                    }
                </td>
                <td> @Html.DisplayFor(modelItem => item.Freq_of_Eval)</td>
                <td> @Html.DisplayFor(modelItem => item.Monitoring_Mechanism)</td>
                <td> @Html.DisplayFor(modelItem => item.obj_inline)</td>
                <td> @Html.DisplayFor(modelItem => item.Risk_ifObjFails)</td>
                <td> @Html.DisplayFor(modelItem => item.Approved_By)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved_Status)
                    @if (item.ApprovedDate > Convert.ToDateTime("01/01/0001"))
                    {
                       <br /><text> Date:</text>@item.ApprovedDate.ToString()
                    }
                </td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="list-icons-item dropdown">
                            <a href="#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear mr-2"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                @if (ShowEdit)
                                {
                                    if (item.Approved_Status_id.Contains("0") || item.Approved_Status_id.Contains("2") || item.Approved_Status_id == "")
                                    {
                                        <a class="dropdown-item" href='@Url.Action("ObjectivesEdit", "Objectives",new { Objectives_Id = item.Objectives_Id,ObjectivesTrans_Id = item.ObjectivesTrans_Id,View =Session["state"].ToString()})' title="Update Objective details" onclick="HyperLinkProgressIconFunction()">
                                            <i class="icon-pencil7"></i>Edit
                                        </a>
                                    }
                                    <a class="dropdown-item" href='@Url.Action("AddObjectivePotential", "Objectives",new { ObjectivesTrans_Id = item.ObjectivesTrans_Id ,View =Session["state"].ToString()})' title="Add Potential Causes for failure" onclick="HyperLinkProgressIconFunction()">
                                        <i class="icon-pencil7"></i>PCFF
                                    </a>
                                    if (item.Approved_Status_id.Contains("1"))
                                    {
                                        <a class="dropdown-item" href='@Url.Action("AddObjectiveActionPlan", "Objectives",new { ObjectivesTrans_Id = item.ObjectivesTrans_Id ,View =Session["state"].ToString()})' title="Add Objective ActionPlan" onclick="HyperLinkProgressIconFunction()">
                                            <i class="icon-pencil7"></i>Action Plan
                                        </a>
                                        <a class="dropdown-item" href='@Url.Action("AddObjectiveActionPlanStatus", "Objectives",new { ObjectivesTrans_Id = item.ObjectivesTrans_Id ,View =Session["state"].ToString()})' title="Add Objective ActionPlan" onclick="HyperLinkProgressIconFunction()">
                                            <i class="icon-pencil7"></i>Action Plan Status
                                        </a>
                                        <a class="dropdown-item" href='@Url.Action("AddObjectiveEvaluation", "Objectives",new { ObjectivesTrans_Id = item.ObjectivesTrans_Id ,View =Session["state"].ToString()})' title="Add Evaluation" onclick="HyperLinkProgressIconFunction()">
                                            <i class="icon-pencil7"></i>Evaluation
                                        </a>
                                        using (Html.BeginForm("ObjectivesPDF", "Objectives", FormMethod.Post, new { id = "form1", name = "form1" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" id="Objectives_Id" name="Objectives_Id" value="@item.Objectives_Id" />
                                            <input type="hidden" id="ObjectivesTrans_Id" name="ObjectivesTrans_Id" value="@item.ObjectivesTrans_Id" />
                                            <input type="hidden" id="View" name="View" value="@Session["state"].ToString()" />

                                            <button class="dropdown-item">
                                                <i class="icon-printer2"></i> Report
                                            </button>
                                        }
                                    }

                                }

                                @*<div class="dropdown-divider"></div>*@
                                @if (ShowDel)
                                {
                                    <span class="dropdown-item text-center" title="Delete" onclick="DeleteItems(@item.ObjectivesTrans_Id)" style="cursor:pointer;"><i class="icon-bin"></i>Delete</span>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
                }
            }          

        </tbody>
    </table>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">


                                  //----zzz
    $(document).ready(function () {

        @if (TempData["alertdata"] != null ) {

           @: new Noty({
           @:     text: '@TempData["alertdata"]',
           @:     type: 'error'
           @: }).show();
        }

        @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
         @:       text: '@TempData["Successdata"]',
         @:       type: 'success'
         @:   }).show();
        }
    });
    //zzz----

         function setData(id) {

                var set_data = '';
                var element = $(this);
                var id = element.attr("id");
               $.ajax({
                      url: '@Url.Action("ObjectivesInfo", "Objectives")',
                    methos: "post",
                    async: false,
                    data: { id: id },
                    success: function (data) {
                        set_data = data;
                    }
                });

                return set_data;
            }



       var objective = function () {

             var ShowEdit = @(objGlobaldata.GetCurrentUserSession().Objectives.Contains("3") ? "true" : "false");
                var ShowDownld = @(objGlobaldata.GetCurrentUserSession().Objectives.Contains("4") ? "true" : "false");
                var ShowDel = @(objGlobaldata.GetCurrentUserSession().Objectives.Contains("5") ? "true" : "false");
                //
                // Setup module components
                //

                // Basic Datatable examples
                var _componentDatatableBasic = function () {
                    if (!$().DataTable) {
                        console.warn('Warning - datatables.min.js is not loaded.');
                        return;
                    }

                    //Setting datatable defaults
                    $.extend($.fn.dataTable.defaults, {
                        autoWidth: false,
                        responsive: true,
                        columnDefs: [{
                            orderable: false,
                            //width: 100,
                            targets: 'not-export-column'

                        }],
                        responsivePriority: 2, targets: -1,
                        colReorder: false,
                        dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                        //dom: 'lBfrtip',
                        language: {
                            search: '<span>Filter:</span> _INPUT_',
                            searchPlaceholder: 'Type to filter...',
                            lengthMenu: '<span>Show:</span> _MENU_',
                            paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                        }
                    });


                var myClass = "";
                var Delclass= @(objGlobaldata.GetCurrentUserSession().Objectives.Contains("4") ? "true" : "false");
                if (Delclass == false) { myClass = 'hidden'  };

                    var table = $('#objective').DataTable({
                        drawCallback: function () {
                            $('[data-toggle="popover"]').popover({
                                html: true,
                                content: setData,
                                container: 'body'
                            });
                            var dropdownMenu;

                            // and when you show it, move it to the body
                            $('.datatable-responsive').on('show.bs.dropdown', function (e) {

                                // grab the menu
                                dropdownMenu = $(e.target).find('.dropdown-menu');

                                // detach it and append it to the body
                                $('body').append(dropdownMenu.detach());

                                // grab the new offset position
                                var eOffset = $(e.target).offset();

                                // make sure to place it where it would normally go (this could be improved)
                                dropdownMenu.css({
                                    'display': 'block',
                                    'top': eOffset.top + $(e.target).outerHeight(),
                                    'left': eOffset.left
                                });
                            });

                            // and when you hide it, reattach the drop down, and hide it normally
                            $('.datatable-responsive').on('hide.bs.dropdown', function (e) {
                                $(e.target).append(dropdownMenu.detach());
                                dropdownMenu.hide();
                            });
                        },
                        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        colReorder: {
                            fixedColumnsLeft: 1
                        },
                        stateSave: true,
                        //stateSaveParams: function (settings, data) {
                        //    for (var i = 0, ien = data.columns.length; i < ien; i++) {
                        //        delete data.columns[i].visible;
                        //        delete data.columns[i].search;
                        //    }
                        //},
                        //scrollY: '350px',
                        scrollCollapse: true,


                        keys: {
                            className: 'focus focus-success'
                        },

                        buttons: {
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Objective Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'excelHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Objective Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },

                                },
                                {
                                    extend: 'pdfHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Objective Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'csvHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Objective Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'print',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Objective Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },

                                {
                                    extend: 'colvis',
                                    text: '<i class="icon-three-bars"></i>',
                                    className: 'btn bg-blue btn-icon dropdown-toggle',
                                    columns: ':visible:not(.not-export-column)'
                                }
                            ]
                        }
                    });
                    // Adjust columns on window resize
                    setTimeout(function () {
                        $(window).on('resize', function () {
                            table.columns.adjust();
                        });
                    }, 100);


                    //Redraw table on click toggle. -------table.columns.adjust doesn't work properly upon calling after toggle (width increase/decrease = redraw table.).
                    $('.sidebar-control').on('click', function () {

                        setTimeout(function () {
                            //alert("gii");

                            table.columns.adjust().draw();
                            $("#objective").resize();
                        }, 100);

                    });
                    //}

                    $('#objective').on('page.dt', function () {
                        //table.draw();
                        //alert("zzz1");
                        $("#objective").resize();

                    });

                    $('#objective').on('column-visibility.dt', function () {
                        //table.draw();
                        //alert("zzz2");
                        $("#objective").resize();

                    });

                    $('#objective').on('order.dt', function () {
                        //table.draw();
                        //alert("zzz3");
                        $("#objective").resize();

                    });


                    $('#objective').on('responsive-display.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#objective").resize();

                    });


                    $('#objective').on('responsive-resize.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#objective").resize();

                    });
                };

                // Select2 for length menu styling
                var _componentSelect2 = function () {
                    if (!$().select2) {
                        console.warn('Warning - select2.min.js is not loaded.');
                        return;
                    }

                    // Initialize
                    $('.dataTables_length select').select2({
                        minimumResultsForSearch: Infinity,
                        dropdownAutoWidth: true,
                        width: 'auto'
                    });
                };


                return {
                    init: function () {
                        _componentDatatableBasic();
                        _componentSelect2();
                    }
                }
            }();


            // Initialize module
            // ------------------------------

            document.addEventListener('DOMContentLoaded', function () {
                objective.init();
            });

        function DeleteItems(ObjectivesTrans_Id) {
            bootbox.confirm({
                title: 'Confirm dialog',
                message: 'Are you Sure you want to Delete the current Record?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-link'
                    }
                },
                callback: function (r) {
                    if (r == true) {
                        var branch_name = document.getElementById("branch_name").value;
                        var sView = document.getElementById("view").value;

                      jQuery.ajax({
                           url: '@Url.Action("ObjectiveDocDelete", "Objectives")',
                           type: 'POST',
                           dataType: "json",
                          data: { 'ObjectivesTrans_Id': ObjectivesTrans_Id },
                        success: function (result) {

                            var params = {
                                branch_name: branch_name,
                                View: sView
                            };
                            queryString = $.param(params);


                            window.location.href =
                                window.location.protocol + "//" +
                                window.location.host +
                                window.location.pathname +
                                '?' + queryString;

                        }
                    });
                    return true;
                }
                else if (r == false) {
                        bootbox.hideAll();
                        return false;
                    }
                }
            });
        }

        function getDetails() {
            var branch_name = document.getElementById("branch_name").value;
            var sView = document.getElementById("view").value;
            var params = {
                branch_name: branch_name,
                View:sView
            };
            queryString = $.param(params);

            window.location.href =
                window.location.protocol + "//" +
                window.location.host +
                window.location.pathname +
                '?' + queryString;
        }


            @*function getDetails() {
                var branch_name = document.getElementById("branch_name").value;
                var sView = document.getElementById("view").value;
                
                   jQuery.ajax({
                                url: '@Url.Action("ObjectivesList", "Objectives")',
                        type: 'POST',
                        dataType: "json",
                        data: { 'branch_name': branch_name },
                        success: function (result) {
                            var params = {
                                branch_name: branch_name,
                                View:sView
                            };
                            queryString = $.param(params);

                            window.location.href =
                                window.location.protocol + "//" +
                                window.location.host +
                                window.location.pathname +
                               '?' + queryString;

                        }
                    });
            }*@
    </script>
}
