@using System.Data;
@{
    ViewBag.Title = "EditInspectionDetails";
    System.Data.DataSet dsrating = new System.Data.DataSet();
    DataSet dsInspection = new DataSet();

    if (ViewBag.InspectionRating != null)
    {
        dsrating = ViewBag.InspectionRating;
    }

    if (ViewBag.dsInspection != null)
    {
        dsInspection = ViewBag.dsInspection;

    }

    Dictionary<string, string> dicInspectionElements = new Dictionary<string, string>();
    if (ViewBag.dicInspectionElement != null)
    {
        dicInspectionElements = ViewBag.dicInspectionElement;
    }

    var z = ""; var QId = 0;
    int y = 0; int x = 0;
}

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>

                    <a href="@Url.Action("InspectionList", "Inspection", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Audit Checklists</span>
                    </a>


                    <span class="breadcrumb-item active"> Update Inspection</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">


                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>



                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}


@using (Html.BeginForm("InspectionChecklistEdit", "Inspection", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()


    <input type="hidden" id="id_inspection_checklist" name="id_inspection_checklist" value="@ViewBag.id_inspection_checklist" />
    <input type="hidden" id="branchs" name="branchs" value="@ViewBag.branch" />

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Update Inspection</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">

                <table class="table table-lg">
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">


                            @* @Html.LabelFor(model => ViewBag.Category)<text style="color:red;">*</text>*@
                            Category

                        </td>
                        <td class="col">

                            <input class="form-control" type="text" id="Category" name="Category" value="@ViewBag.Category" readonly />

                        </td>
                        <td class="col-xs-3 col-md-2">


                            @*@Html.LabelFor(model => ViewBag.Inspection_date)<text style="color: red;">*</text>*@
                            Inspection Date

                        </td>
                        <td class="col">

                            <input class="form-control" type="date" id="Inspection_date" name="Inspection_date" value="@ViewBag.Inspection_date.ToString("yyyy-MM-dd")" />

                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">
                            Division
                        </td>
                        <td class="col">
                            <input class="form-control" type="text" id="branch" name="branch" value="@ViewBag.branchName" readonly />
                            @*<select class="form-control select-fixed-multiple" data-fouc id="branch" name="branch" readonly style="background-color:lightgrey" @*onchange="GetDeptList()" multiple="multiple">

            @if (ViewBag.BranchList != null)
            {
                foreach (var item in ViewBag.BranchList)
                {
                    if (Array.IndexOf(Model.branch.ToString().Split(','), item.Value) >= 0)
                    {
                        <option value='@item.Value' selected>@item.Text</option>
                    }
                    else
                    {
                        <option value='@item.Value'>@item.Text</option>
                    }
                }
            }
        </select>*@
                        </td>
                        <td class="col-xs-3 col-md-2">
                            Department
                        </td>
                        <td class="col">
                            <select class="form-control select-fixed-multiple" data-fouc id="Department" name="Department" multiple="multiple">

                                @if (ViewBag.DepartmentList != null)
                                {
                                    foreach (var item in ViewBag.DepartmentList)
                                    {
                                        if (Array.IndexOf(ViewBag.Department.ToString().Split(','), item.Value) >= 0)
                                        {
                                            <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">

                            Inspection By
                            @*@Html.LabelFor(model => ViewBag.Inspection_by)<text style="color: red;">*</text>*@

                        </td>
                        <td class="col">
                            <select class="form-control select-search select2-hidden-accessible" data-fouc id="Inspection_by" name="Inspection_by" required>
                                <option value='' hidden>Select</option>
                                @if (ViewBag.EmpLists != null)
                                {
                                    foreach (var item in ViewBag.EmpLists)
                                    {
                                        if (item.Text == ViewBag.Inspection_by)
                                        {
                                            <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td class="col-xs-3 col-md-2">
                           Location
                        </td>                        
                        <td class="col">
                            <select class="form-control select-fixed-multiple"  data-fouc id="Location" name="Location" multiple="multiple">
                                
                                @if (ViewBag.LocationList != null)
                                {
                                    foreach (var item in ViewBag.LocationList)
                                    {
                                        if (Array.IndexOf(ViewBag.Location.ToString().Split(','), item.Value) >= 0)
                                        {
                                            <option value='@item.Value' selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value='@item.Value'>@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">

                            @* @Html.LabelFor(model => ViewBag.Project)*@
                            Project

                        </td>
                        <td class="col">

                            @* @Html.EditorFor(model => ViewBag.Project)*@
                            <input class="form-control" type="text" id="Project" name="Project" value="@ViewBag.Project" />

                        </td>
                        <td class="col-xs-3 col-md-2">

                            @* @Html.LabelFor(model => ViewBag.TagNo)*@
                            Tag No

                        </td>
                        <td class="col">

                            @* @Html.EditorFor(model => ViewBag.TagNo)*@
                            <input class="form-control" type="text" id="TagNo" name="TagNo" value="@ViewBag.TagNo" />

                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-2">

                            @* @Html.LabelFor(model => ViewBag.TagNo)*@
                            Comment

                        </td>
                        <td class="col">

                            @* @Html.EditorFor(model => ViewBag.TagNo)*@
                            <textarea id="Comment" name="Comment" maxlength="2000" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 96px;" rows="4" cols="4" class="form-control elastic maxlength-badge-position">  @ViewBag.Comment</textarea>

                        </td>


                    </tr>

                </table>
                <div class="card">
                    <div class="card-body table-responsive">
                        <table class="table table-bordered table-striped table-hover datatable-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        Sr. No.
                                    </th>
                                    <th>
                                        Items
                                    </th>
                                    @if (dsrating.Tables.Count > 0 && dsrating.Tables[0].Rows.Count > 0)
                                    {
                                        for (int item = 0; item < dsrating.Tables[0].Rows.Count; item++)
                                        {
                                            <th>
                                                @dsrating.Tables[0].Rows[item]["inspection_rating"].ToString()
                                            </th>
                                        }
                                    }
                                    <th>Actions</th>
                                    <th>Action By</th>
                                    <th>
                                        Upload
                                    </th>

                                </tr>

                            </thead>
                            <tbody>
                                @{
                                    int ncount = dsInspection.Tables[0].Rows.Count;
                                    int n = 0, c = 0;
                                }
                                @if (ViewBag.InspectionQuestions != null)
                                {
                                    int iSrno = 0, itmctn = 0;

                                    foreach (var item in ViewBag.InspectionQuestions)
                                    {
                                        iSrno = iSrno + 1;
                                        itmctn = itmctn + 1;


                                        if (ncount >= 1)
                                        {

                                            ncount--;
                                        }
                                        else
                                        {
                                            n = 1;
                                            c = 2;
                                        }
                                        foreach (var data in ViewBag.SectionQuestions)
                                        {

                                            if (QId <= Convert.ToInt32(data.Value) || QId == 0)
                                            {
                                                if (z == "")
                                                {
                                                    <tr>
                                                        <td colspan="2">@data.Text</td>
                                                        @*<td class="d-none"></td>*@
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>

                                                    </tr>
                                                    z = data.Text;
                                                    break;
                                                }
                                                else if (Convert.ToInt32(data.Value) != QId && z != data.Text)
                                                {
                                                    <tr>
                                                        <td colspan="2">@data.Text</td>
                                                        @*<td class="d-none"></td>*@
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                        <td class="d-none"></td>
                                                    </tr>
                                                    z = data.Text;
                                                    break;
                                                }
                                                else if (Convert.ToInt32(data.Value) != QId && z == data.Text)
                                                {
                                                    break;
                                                }
                                            }
                                        }
                                        <tr>
                                            @if (n == c)
                                            {

                                                <td>
                                                    @iSrno
                                                </td>
                                                <td>
                                                    @item.Text
                                                    <input type="hidden" id="InspectionQuestions @item.Value" name="InspectionQuestions @item.Value" value="@item.Value" />
                                                </td>


                                                if (dsrating.Tables.Count > 0 && dsrating.Tables[0].Rows.Count > 0)
                                                {

                                                    if (dicInspectionElements.ContainsKey(item.Value))
                                                    {
                                                        for (int rating = 0; rating < dsrating.Tables[0].Rows.Count; rating++)
                                                        {
                                                            <td>
                                                                @if (ViewBag.InspectionElement != null)
                                                                {

                                                                    if (dicInspectionElements[item.Value] == dsrating.Tables[0].Rows[rating]["id_inspection_rating"].ToString())
                                                                    {
                                                                        <input type="radio" id="id_inspection_rating @item.Value" name="id_inspection_rating @item.Value" required class="id_inspection_rating @item.Value"
                                                                               value="@dsrating.Tables[0].Rows[rating]["id_inspection_rating"].ToString()" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="radio" id="id_inspection_rating @item.Value" name="id_inspection_rating @item.Value" required class="id_inspection_rating @item.Value"
                                                                               value="@dsrating.Tables[0].Rows[rating]["id_inspection_rating"].ToString()" />
                                                                    }
                                                                    @*<input type="hidden" id="id_inspection_checklist_trans @item.Value" name="id_inspection_checklist_trans @item.Value" value="@item.Value"/>*@
                                                                }

                                                            </td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        for (int rating = 0; rating < dsrating.Tables[0].Rows.Count; rating++)
                                                        {
                                                            <td>
                                                                @if (ViewBag.InspectionElement != null)
                                                                {
                                                                    <input type="radio" id="id_inspection_rating @item.Value" name="id_inspection_rating @item.Value" required class="id_inspection_rating @item.Value"
                                                                           value="@dsrating.Tables[0].Rows[rating]["id_inspection_rating"].ToString()" />
                                                                }

                                                            </td>
                                                        }
                                                    }
                                                }
                                            

                                                <td>
                                                    <input class="form-control" type="text" id="Action @itmctn" name="Action @itmctn" value="@dsInspection.Tables[0].Rows[n]["Action"].ToString()" />
                                                </td>
                                                <td>
                                                    <div class="editor-field">
                                                        <select @*class="form-control"*@ class="select-fixed-single" data-fouc id="ActionBy @itmctn" name="ActionBy @itmctn">
                                                            <option value='' hidden>Select</option>
                                                            @if (ViewBag.EmpLists != null)
                                                            {
                                                                foreach (var data in ViewBag.EmpLists)
                                                                {
                                                                    if (data.Value == dsInspection.Tables[0].Rows[n]["ActionBy"].ToString())
                                                                    {
                                                                        <option value='@data.Value' selected>@data.Text</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value='@data.Value'>@data.Text</option>
                                                                    }

                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="file" name="Upload @itmctn" id="Upload @itmctn" value="@dsInspection.Tables[0].Rows[n]["Upload"].ToString()" onchange="FileFormatValidation(this,@itmctn)" accept=".pdf" />

                                                    @if (dsInspection.Tables[0].Rows[n]["Upload"].ToString() != "")
                                                    {
                                                        <a href='@Url.Action("DisplayDocument", "Reports", new { Document = dsInspection.Tables[0].Rows[n]["Upload"].ToString() })' target="_blank">
                                                            <i class="icon-file-stats icon-2x text-pink-300 top-0"></i>
                                                            Preview
                                                        </a>
                                                    }

                                                </td>
                                                <td style="display:none">
                                                    <input type="hidden" id="id_inspection_checklist_trans @itmctn" name="id_inspection_checklist_trans @itmctn" value="@dsInspection.Tables[0].Rows[n]["id_inspection_checklist_trans"].ToString()" />
                                                </td>
                                            }
                                            @{
                                                c = c + 1;
                                                n = n + 1;
                                            }
                                        </tr>
                                                    QId = Convert.ToInt32(item.Value);
                                                }
                                    <div>
                                        <input type="hidden" id="itmctn" name="itmctn" value="@itmctn" />
                                    </div>
                                }

                            <tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer bg-white d-flex justify-content-between align-items-center">


                    @Html.ActionLink("Back to List", "InspectionChecklistList", null, new { Category = ViewBag.Category }, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })



                    <button class="btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400" type="submit" value="Update" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Save</button>






                </div>

            </div>


        </div>

    </div>
    <div id="dvItems" style="overflow: auto; display: none;">
        <table id="team-list" style="width: 100%">
            <tr>
                <th>Evidence</th>

            </tr>
        </table>
    </div>
}

@section Scripts {
    <script>



          //----zzz
    $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
    });
    //zzz----

         function FileFormatValidation(file, cnt) {

             var ext = file.value.split(".").pop().toLowerCase();
             if ($.inArray(ext, ["doc", "pdf", "docx", "jpg", "jpeg", "gif"]) == -1) {
                 file.value = "";
                 bootbox.alert({
                     title: 'File type',
                     message: 'Invalid file format, please upload only pdf format.'
                 });
             }
             else {

                 AddEvidence(cnt)
             }

        }

         function AddEvidence(cnt) {

             var table = document.getElementById("team-list");
             var row = table.insertRow();
             var cell0 = row.insertCell(0);
             var n = "Upload" + " " + cnt;
             var Upload = document.getElementById(n).value;

             evidence_uploadServerPath = UploadDocument(cnt);
             cell0.innerHTML = "<input type='hidden' id='Upload" + cnt + "' name='Upload" + cnt + "' value='" + evidence_uploadServerPath + "'>" + Upload;

         }

         function UploadDocument(ind) {

             var Upload = ($("#Upload" + " " + ind)).files; //$('#testfile').file;

             var formData = new FormData();

             var totalFiles = document.getElementById("Upload" + " " + ind).files.length;

             for (var i = 0; i < totalFiles; i++) {
                 var file = document.getElementById("Upload" + " " + ind).files[i];
                 formData.append("Upload", file);
             }
             jQuery.ajax({
                 url: '@Url.Action("UploadDocument", "Inspection")',
                     type: 'POST',
                     contentType: false,
                     processData: false,
                     data: formData,
                     success: function (result) {
                         //document.getElementById("evidence_upload" + " " + ind).value = result;
                         document.getElementById("Upload" + ind).value = result;
                         evidence_uploadServerPath = result;
                         return result;
                     }
                 });
        }

           function GetDeptList() {
            var selectedValues = [];
            $("#branch :selected").each(function () {
                selectedValues.push($(this).val());
            });  
                jQuery.ajax({
                    url: '@Url.Action("FunGetAllDeptList", "EmployeeDetails")',
                    type: 'POST',
                    dataType: "json",
                    data: { 'branch': selectedValues },
                    success: function (result) {
                        GetLocList(selectedValues);
                        $("#Department").children('option').remove();
                        $("#Department").trigger('change');
                        if (result != null && result.length > 0) {
                            $.each(result, function (index, item) {
                                $("#Department").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                                $("#Department").trigger('change');
                            });
                            return;
                        }
                        //else {
                        //    bootbox.alert({
                        //        title: 'Department List',
                        //        message: 'No Department exists.'
                        //    });
                        //}
                    }
                });          
        }


        function GetLocList(selectedValues) {                   
            jQuery.ajax({
                url: '@Url.Action("FunGetAllLocList", "EmployeeDetails")',
                type: 'POST',
                dataType: "json",
                data: { 'branch': selectedValues },
                success: function (result) {
                    $("#Location").children('option').remove();
                    $("#Location").trigger('change');
                    if (result != null && result.length > 0) {
                        $.each(result, function (index, item) {
                            $("#Location").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            $("#Location").trigger('change');
                        });
                        return;
                    }
                    //else {
                    //    bootbox.alert({
                    //        title: 'Location List',
                    //        message: 'No Location exists.'
                    //    });
                    //}
                }
            });       
        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
