@model ISOStd.Models.SupplierAuditChecklistModels

@{
    ViewBag.Title = "Auditchecklist";
}
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/adapters/jquery.js"></script>

<div style="max-width: 80%; padding-left: 200px;">

    <div class="groupedassets margin10">
        <span class="groupedassetshead margin10 onestphdcolor">Edit Audit Checklist Details</span>
    </div>

    <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>

    @using (Html.BeginForm("AuditChecklistEdit", "SupplierAuditChecklist", FormMethod.Post,
                         new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
             <input type="hidden" id="itemcnt" name="itemcnt" value="0"/> 
            <legend>EditDocumentChangeRequest</legend>
            <input type="hidden" id="id_AuditChecklist" name="id_AuditChecklist" value="@Model.id_AuditChecklist" />
            <table id="tabcontent">
                  <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Itemno)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="text" id="Itemno" name="Itemno" value="@Model.Itemno"  readonly />
                        </div>

                    </td>
                   <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Department)<text style="color:red;">*</text>
                        </div>

                    </td>
                   <td>
                        <div class="editor-field">
                             <select id="Department" name="Department" onchange="GetQuestions()" required>
                                <option value='' hidden>Select</option>
                                @if (ViewBag.Department != null)
                                {
                                    foreach (var data in ViewBag.Department)
                                    {
                                        if (data.Text == Model.Department)
                                        {
                                            <option value='@data.Value' selected>@data.Text</option>
                                        }
                                        else
                                        {
                                            <option value='@data.Value'>@data.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                    </td>

               </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.AuditCriteria)<text style="color:red;">*</text>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="AuditCriteria" name="AuditCriteria" multiple style="height: 100px; width: 200px;" required>
                                <option value='' hidden>Select</option>
                                @if (ViewBag.AuditCriteria != null)
                                {
                                    foreach (var data in ViewBag.AuditCriteria)
                                    {
                                        if (Model.AuditCriteria.Contains(data.Text))
                                        {
                                            <option value='@data.Value' selected>@data.Text</option>
                                        }
                                        else
                                        {
                                            <option value='@data.Value'>@data.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </td>
                   
                </tr>
              
            </table>
        <table id="tblMeetingList" style="width: 90%;">
                 <tr>
                      <th colspan="2" style="background-color: #e5eafe; color: #0099ff;width:20px;text-align:center">Audit Questions
                </th>
                 </tr>
            <tr>
                
                <th style="background-color: #e5eafe; color: #0099ff;width:20px">Sl No
                </th>
                <th style="background-color: #e5eafe; color: #0099ff;">Element
                </th>
            </tr>
            @if (ViewBag.AuditElements != null)
            {
                int iSrno = 0;
                foreach (var item in ViewBag.AuditElements)
                {
                    if (Model.Questions.Contains(item.Value))
                    {
                    iSrno = iSrno + 1;
                <tr>
                    <td style="width:20px">
                        @iSrno
                    </td>
                    <td style="width: 500px; min-width: 500px; max-width: 500px;">
                        @item.Text
                        <input type="hidden" id="Audit_Elements @item.Value" name="Audit_Elements @item.Value" value="@item.Value"/>
                    </td>
                </tr>
                    }
                }
            }
        </table>
        </fieldset>
    
        <div style="width: 100%; text-align: center;">
             @Html.ActionLink("Back to List", "AuditChecklistList", null, new {@class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
            <input type="submit" value="Save"  onclick="ProgressIconFunction('#form1')"/>
        </div>
    }

</div>

@section Scripts {
     <script>
       

         function GetQuestions() {
             var Department = $('#Department').val();
             if (Department != "") {
                 jQuery.ajax({
                     url: '@Url.Action("GetQuestions", "SupplierAuditChecklist")',
                     type: 'POST',
                     dataType: "json",
                     data: { 'Department': Department },
                     success: function (result) {

                         var table = document.getElementById("tblMeetingList");

                         var cnt = result.length;
                         document.getElementById("itemcnt").value = cnt;
                         //document.getElementById("divAgendasTitle").style.display = "";


                         while (table.rows.length > 0) {
                             table.deleteRow(0);
                         }

                         if (result != "") {

                             document.getElementById("tblMeetingList").style.display = "";

                             var thTitleRow = table.insertRow();
                             thTitleRow.style = "background-color: #4cc4dd; color: #fff; font-weight: bold; font-size: 14px; height: 30px;";
                             var cellTitle0 = thTitleRow.insertCell(0);

                             cellTitle0.innerHTML = "Audit Questions";
                             table.rows[0].cells[0].colSpan = 2;
                             table.rows[0].cells[0].style = "color:#fff";


                             var theaderRow = table.insertRow();

                             theaderRow.style = "background-color: #e5eafe; font-weight: bold; font-size: 14px";
                             var cellth0 = theaderRow.insertCell(0);
                             var cellth1 = theaderRow.insertCell(1);




                             cellth0.innerHTML = "<th>Sl.No</th>";
                             cellth1.innerHTML = "<th>Questions</th>";


                             table.rows[1].cells[0].style = "color:#0099ff; width:5px";
                             table.rows[1].cells[1].style = "color:#0099ff";


                             var list = result;

                             for (var i = 0,j=1; i < result.length; i++,j++) {

                                 // Create an empty <tr> element and add it to the 1st position of the table:
                                 var row = table.insertRow();

                                 // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                                 var cell0 = row.insertCell(0);
                                 var cell1 = row.insertCell(1);


                                 var Id = result[i].Value;

                                 cell0.innerHTML = " <input type='hidden' id='slno " + j + "' name='slno " + j + "'>" + j;
                                 cell1.innerHTML = " <input type='hidden' id='Audit_Elements " + i + "' name='Audit_Elements " + i + "' value='" + Id + "'>" + result[i].Text;

                             }

                         }
                         else {
                             document.getElementById("tblMeetingList").style.display = "none";
                             jAlert("No Questions exists, please add Questions and then try again");
                         }

                     }
                 });
             }
         }
        

        
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    
}

