<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to MANAL</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="alert, confirm, prompt, demo" />
   

   @Styles.Render("~/Content/css")
   


    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->

     <link href='@Url.Content("~/Content/menu/css/menustyle.css")' rel="stylesheet">
     <link href='@Url.Content("~/Content/css/style.css")' rel="stylesheet">
   
    
    
	<link href='@Url.Content("~/Content/site.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/css/bootstrap.min.css")' rel="stylesheet">
     <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/css/font-awesome.min.css")' />
    <link type="text/css" rel="stylesheet" href='@Url.Content("~/Content/css/font-awesome.min.css")' />
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/css/bootstrap-select.css")'>
    <link rel="stylesheet" href='@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")'>
    <link href='@Url.Content("~/Content/css/dropzone.css")' rel="stylesheet">
    <script type="text/javascript"  src='@Url.Content("~/Content/js/jquery.leanModal.min.js")'></script>
    <script type="text/javascript"  src='@Url.Content("~/Content/js/jspdf.min.js")'></script>

    <script src='@Url.Content("~/Content/js/jquery.js")' type="text/javascript"></script>
		<script src='@Url.Content("~/Content/js/jquery.ui.draggable.js")' type="text/javascript"></script>
		
		<!-- Core files -->
		<script src='@Url.Content("~/Content/js/jquery.alerts.js")' type="text/javascript"></script>
		<link href='@Url.Content("~/Content/css/jquery.alerts.css")' rel="stylesheet" type="text/css" media="screen" />

    
</head>
<body>
    <header class=" ">
        @*@model ISOStd.Models.UserCredentials*@
        @{
            ISOStd.Models.UserCredentials objUser = null;
            ISOStd.Models.clsGlobal objGlobaldata = new ISOStd.Models.clsGlobal();
            if(HttpContext.Current.Session["UserCredentials"] != null)
            {
                objUser = (ISOStd.Models.UserCredentials)HttpContext.Current.Session["UserCredentials"];
            }
            else
            {

                Layout = null;
                Session.Abandon();

                Response.Redirect("~/account/login");
            }            
        }
        <div class="container" id="topbar">
            <div style="float: left;">
            <a href="http://almanalmgt.com/" style="background: none;" target="_blank">
                <img src="@Url.Content("~/images/ManalLogo.png")"></a>
            <a href="" target="_blank">
               <img style=" width:170px; height:70px;" src='@Url.Content("~/Images/companylogo.jpg")'/></a>
                </div>
            <div class="nav-no-collapse header-nav">
                @*<a href="@Url.Action("index", "Home", null)" style="float:right"><img src="@Url.Content("~/images/home-icon.png")" class="user-avtar"></a>*@
                <ul class="nav navbar-nav pull-right">                   
                   
                </ul>
            </div>
        </div>
        
    </header>
    <div id="body">
        @RenderSection("featured", required: false)       
        <section class="content-wrapper main-content clear-fix">          
            @RenderBody()            
        </section>
    </div>
     <footer class="footer">&copy;@DateTime.Now.Year AL MANAL MANAGEMENT SYSTEM. All rights reserved </footer>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
      @Scripts.Render("~/bundles/datetime")
    @RenderSection("scripts", required: false)

    <!-- jQuery with fallback to the 1.* for old IE -->
    <!--[if lt IE 9]>
                <script src="js/jquery-1.11.0.min.js"></script>
            <![endif]-->
    <!--[if gte IE 9]><!-->
     <script src='@Url.Content("~/Content/js/jquery-2.1.0.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/jquery-ui.custom.min.js")'></script>
    <!--<![endif]-->
    <script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/bootstrap-timepicker.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/moment.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/daterangepicker.js")'></script>
    <!-- Responsive Tabs JS -->
    <script src='@Url.Content("~/Content/js/jquery.responsiveTabs.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Content/js/bootstrap-select.min.js")'></script>
    <script src='@Url.Content("~/Content/js/mask.js")'></script>
    <script src='@Url.Content("~/Content/js/custom.js")'></script>
</body>
</html>
