
@{
    ViewBag.Title = "DashboardSetting";
}

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("Dashboard", "Dashboard", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Dashboard</span>
                    </a>
                    <span class="breadcrumb-item active">Dashboard Setting</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i>All settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("UploadChartData", "Dashboard", FormMethod.Post,
                     new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Upload Chart Data</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">

                <table class="table table-lg">

                    <tbody>
                        <tr class="row">
                            <td class="col-xs-3 col-md-2">
                                File: <text style="color:red;">*</text>
                            </td>
                            <td class="col">
                                <input type="file" name="fileUploader" id="file" onchange="FileFormatValidation(this)" accept=".pdf,.xlsx,.xls,.doc,.docx" required class="bootstrap-uploader" data-fouc />

                                <br />
                                @*@Html.ValidationMessageFor(m => m.DocUploadPath, "Please enter student name.")*@
                                @Html.ValidationMessage("fileUploader", "This field is required")
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*<div style="width: 100%; text-align: center;">
                @Html.ActionLink("Back to List", "MgmtDocumentsList", null, new { Class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })
                <input type="submit" value="Save" onclick="ProgressIconFunction('#form1')" />
            </div>*@
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">


            <button class="btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400" type="submit" value="Save" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Save</button>

        </div>

    </div>

}


@section scripts {
}