@model ISOStd.Models.EmployeeModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html style=" background-image: url(@Url.Content("~/Images/bg.png")); background-repeat: no-repeat; background-size: cover;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to MANAL</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
     <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
	
    @Styles.Render("~/Content/css")
   
     <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href='@Url.Content("~/Content/css/css.css?family=Roboto")' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
	
     <!-- start: Below lines of code is required for Autocomplete, Spinner and Custom JAlert scripts to work,  -->
    <!-- be cautious before changing-->
    <script src='@Url.Content("~/Content/js/jquery.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Content/js/jquery.ui.draggable.js")' type="text/javascript"></script>

    <!-- start: Core files for JAlert -->
    <script src='@Url.Content("~/Content/js/jquery.alerts.js")' type="text/javascript"></script>
    <link href='@Url.Content("~/Content/css/jquery.alerts.css")' rel="stylesheet" type="text/css" media="screen" />
    <!-- JAlert ends -->

    <script src='@Url.Content("~/Content/js/jquery-1.11.1.min.js")'></script>

    <script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")'></script>

    <!--Order Ends -->

	<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap-select.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")">
    <link href="@Url.Content("~/Content/css/dropzone.css")" rel="stylesheet">
</head>
<body style=" background-image: url(@Url.Content("~/Images/bg.png")); background-repeat: no-repeat; background-size: cover;">
    <div>
        <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none;">
                <p style="position: absolute; top: 30%; left: 45%; color: White;">
                    <img src="@Url.Content("~/Images/Loading_icon.gif")" style="width: 50%;"/>
                    <br />
                    Please wait...
                </p>
            </div>
        @using (Html.BeginForm("ForgotPassword", "Employee", FormMethod.Post, new { id = "form1", name = "form1" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

             <div class="container">

            <div class="row" id="login">
                <div class="col-md-6 col-md-offset-3" style="text-align: center;">
                    <div class="panel panel-default" style="margin-top: 75px;">
                        <div class="panel-body">
                            <div class="text-center">
                                <img style="margin-left: -22px; width:128px; height:45px;" src='@Url.Content("~/Images/ManalLogo.png")'/>
                            </div>
                            <br>
                            <div class="login-head text-center">
                                <h4 id="logintop">
                                    <b>Welcome to Manal ISO MSME</b>
                                </h4>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <div id="divmsg">
                                        @if (TempData["alertdata"] != null)
                                        {
                                            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
                                        }
                                        @if (TempData["Successdata"] != null)
                                        {
                                            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
                                        }
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="emailAddress" type="email" name="emailAddress" value="" placeholder="Enter Your Email" class="form-control input-md" required/>
                                    </div>
                                </div>
                                <div style="width: 100%; text-align: center;">
                                    <input type="submit" value="Send" onclick="ProgressIconFunction('#form1')"/>
                                   @Html.ActionLink("Login", "Login", "Account",null, new { onclick="HyperLinkProgressIconFunction()"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                 </div>
        }
    </div>
    <footer class="footer">&copy;@DateTime.Now.Year AL MANAL MANAGEMENT SYSTEM. All rights reserved </footer>   
      <script src='@Url.Content("~/Content/js/jquery.validate.min.js")'></script>
    <script>
        function ProgressIconFunction(formid) {
            var $form = $(formid);

            if ($form.valid()) {
                $("#divLoading").show();
            }
            else {
                $("#divLoading").hide();
            }
        }
        function HyperLinkProgressIconFunction() {
            $("#divLoading").show();
        }
    </script>
</body>
</html>
