@model List<ISOStd.Models.RiskMitigationModels>

    @{
        ViewBag.Title = "MitigationHistoryList";
        ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    }

    <div class="groupedassets margin10">
        <span class="groupedassetshead margin10 onestphdcolor">Mitigation History List </span>
    </div>
    <br />

    @section featured {

        <div class="page-header page-header-light">

            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

                </div>
            </div>           
                    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                        <div class="d-flex">
                            <div class="breadcrumb">

                                <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                                    <span class="breadcrumb-item"> Home</span>
                                </a>

                                <a href="@Url.Action("RiskList", "RiskMgmt", null)" class="breadcrumb-item">
                                    <span class="breadcrumb-item">
                                        Quality Related Risk
                                    </span>
                                </a>
                                <span class="breadcrumb-item active"> Risk Mitigation History</span>
                            </div>



                            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                        </div>

                        @*<div class="header-elements d-none">
                            <div class="breadcrumb justify-content-center">


                                <div class="breadcrumb-elements-item dropdown p-0">
                                    <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-gear mr-2"></i>
                                        Settings
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">

                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            }

        <style>
            .hidden {
                display: none !important;
            }
        </style>

            <div class="card">
                <div class="card-header header-elements-inline bg-primary">
                    <h5 class="card-title">Risk Mitigation List</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card-header bg-white header-elements-sm-inline">
                        <div class="header-elements">
                            @Html.ActionLink("Back to List", "RiskList", null, new { @class = "btn btn-outline bg-orange text-orange border-orange", onclick = "HyperLinkProgressIconFunction()" })
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <table class="table table-bordered table-striped table-hover datatable-responsive" id="mitigation">
                        <thead>
                            <tr>
                                <th>
                                    Sl.No
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().eval_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().effort_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().TargetDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().current_solution)
                                </th>
                                <th class="not-export-column">
                                    @Html.DisplayNameFor(model => model.First().DocUpload)
                                </th>

                            </tr>
                            </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.eval_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.effort_id)
                                        </td>
                                        <td>
                                            @item.TargetDate.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.current_solution)
                                        </td>
                                        <td>
                                            @if (item.DocUpload != "")
                                            {
                                                <a href='@Url.Action("DisplayDocument", "Reports", new { Document = item.DocUpload })' class="text-orange" target="_blank">Preview</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>   
@section scripts {

    <script type="text/javascript">


                       //----zzz
    $(document).ready(function () {

        @if (TempData["alertdata"] != null ) {

           @: new Noty({
           @:     text: '@TempData["alertdata"]',
           @:     type: 'error'
           @: }).show();
        }

        @if (@TempData["Successdata"] != null ) {

        @:    new Noty({
         @:       text: '@TempData["Successdata"]',
         @:       type: 'success'
         @:   }).show();
        }
    });
    //zzz----


            var mitigation = function () {


                var ShowDownld = @(Obj.GetCurrentUserSession().Risk.Contains("4") ? "true" : "false");
                

                // Basic Datatable examples
                var _componentDatatableBasic = function () {
                    if (!$().DataTable) {
                        console.warn('Warning - datatables.min.js is not loaded.');
                        return;
                    }

                    //Setting datatable defaults
                    $.extend($.fn.dataTable.defaults, {
                        autoWidth: false,
                        responsive: true,
                        columnDefs: [{
                            orderable: false,
                            width: 100,
                            targets: [5]
                        }, {
                                'targets': [5],
                                'visible': ShowDownld
                            }],

                        colReorder: false,
                        dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                        //dom: 'lBfrtip',
                        language: {
                            search: '<span>Filter:</span> _INPUT_',
                            searchPlaceholder: 'Type to filter...',
                            lengthMenu: '<span>Show:</span> _MENU_',
                            paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                        }
                    });

  var myClass = "";
                var Delclass= @(Obj.GetCurrentUserSession().Risk.Contains("4") ? "true" : "false");
                if (Delclass == false) { myClass = 'hidden'  };

                    var table = $('#mitigation').DataTable({

                        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        colReorder: {
                            fixedColumnsLeft: 1
                        },
                        stateSave: true,
                        stateSaveParams: function (settings, data) {
                            for (var i = 0, ien = data.columns.length; i < ien; i++) {
                                delete data.columns[i].visible;
                                delete data.columns[i].search;
                            }
                        },
                        scrollY: '350px',
                        scrollCollapse: true,


                        keys: {
                            className: 'focus focus-success'
                        },

                        buttons: {
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk Mitigation Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'excelHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk Mitigation Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },

                                },
                                {
                                    extend: 'pdfHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk Mitigation Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'csvHtml5',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk Mitigation Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },
                                {
                                    extend: 'print',
                                    className: myClass,
                                    //className: 'btn btn-light',
                                    title: 'Risk Mitigation Data export',
                                    exportOptions: {
                                        columns: ':visible :not(.not-export-column)'
                                    },
                                },

                                {
                                    extend: 'colvis',
                                    text: '<i class="icon-three-bars"></i>',
                                    className: 'btn bg-blue btn-icon dropdown-toggle',
                                    columns: ':visible:not(.not-export-column)'
                                }
                            ]
                        }
                    });

                    // Adjust columns on window resize
                    setTimeout(function () {
                        $(window).on('resize', function () {
                            table.columns.adjust();
                        });
                    }, 100);


                    //Redraw table on click toggle. -------table.columns.adjust doesn't work properly upon calling after toggle (width increase/decrease = redraw table.).
                    $('.sidebar-control').on('click', function () {

                        setTimeout(function () {
                            //alert("gii");

                            table.columns.adjust().draw();
                            $("#mitigation").resize();
                        }, 100);

                    });
                    //}

                    $('#mitigation').on('page.dt', function () {
                        //table.draw();
                        //alert("zzz1");
                        $("#mitigation").resize();

                    });

                    $('#mitigation').on('column-visibility.dt', function () {
                        //table.draw();
                        //alert("zzz2");
                        $("#mitigation").resize();

                    });

                    $('#mitigation').on('order.dt', function () {
                        //table.draw();
                        //alert("zzz3");
                        $("#mitigation").resize();

                    });

                    $('#mitigation').on('responsive-display.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#mitigation").resize();

                    });

                    $('#mitigation').on('responsive-resize.dt', function () {
                        //table.draw();
                        //alert("zzz4");
                        $("#mitigation").resize();

                    });
                };


                // Select2 for length menu styling
                var _componentSelect2 = function () {
                    if (!$().select2) {
                        console.warn('Warning - select2.min.js is not loaded.');
                        return;
                    }

                    // Initialize
                    $('.dataTables_length select').select2({
                        minimumResultsForSearch: Infinity,
                        dropdownAutoWidth: true,
                        width: 'auto'
                    });
                };


                //
                // Return objects assigned to module
                //

                return {
                    init: function () {
                        _componentDatatableBasic();
                        _componentSelect2();
                    }
                }
            }();


            // Initialize module
            // ------------------------------

            document.addEventListener('DOMContentLoaded', function () {
                mitigation.init();
            });


    </script>

}


