@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ISOStd.Models.HolidayAddModel>
    @{
        ViewBag.Title = "Holiday";
    }
    <div class="groupedassets margin10">
        <span class="groupedassetshead margin10 onestphdcolor">Holiday</span>
    </div>
    @*<div class = "ActionLink">@Html.ActionLink("Add New", "AddMgmtDocuments", null, new { @class = "ActionLink", onclick="HyperLinkProgressIconFunction()" })</div>*@

    <div id="divmsg">
        @if (TempData["alertdata"] != null)
        {
            <span class="errMsg" style="color: red;font-weight: bold;">@TempData["alertdata"]</span>
        }
        @if (TempData["Successdata"] != null)
        {
            <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
        }
    </div>
    <br />
    @using (Html.BeginForm("Holiday", "HolidayAdd", FormMethod.Post, new { id = "form1", name = "form1" }))
    {
        <div class="editor-field" style="padding-left:180px;">
            <p>
                <span id="tab" style="color:#31b0d5;font-weight: bold;margin-left:20px">
                    <input type="checkbox" value="All" id="chkAll" name="chkAll" title="Select in case to see all records" />All
                </span>

                <span style="margin-left: 20px">
                    <select class="chosen-select" id="year" name="year" required="" style="width:130px">
                        <option value='' selected>Select</option>
                        @if (ViewBag.Year != null && ViewBag.YearVal != null)
                        {
                            foreach (var item in ViewBag.Year)
                            {
                                if (item.Text == ViewBag.YearVal)
                                {
                                    <option value='@item.Text' selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value='@item.Text'>@item.Text</option>
                                }
                            }

                        }
                        else if (ViewBag.Year != null)
                        {
                            foreach (var item in ViewBag.Year)
                            {
                                <option value='@item.Text'>@item.Text</option>
                            }
                        }
                    </select>
                    </span>
                    <button type="submit" class="btn btn-info" onclick="ProgressIconFunction('#form1')">
                        <span class="glyphicon glyphicon-search"></span>Search
                    </button>

                    <span style="margin-left: 20px"> <img src="@Url.Content("~/Images/excel.png")" title="Export as Excel" style="cursor:pointer; " id="downloadLink" />Download</span>

</div>
    }
    <div>
        @using (Html.BeginForm("AddHoliday", "HolidayAdd", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1", name = "form1" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @*<p>
                    <b style="color: #31b0d5; font-weight: bold;">Certificate Name</b>
                    <input type="text" id="certName" name="certName" required />
                </p>
                    <p><b style="color: #31b0d5; font-weight: bold;">Document Path</b><input type="file" name="file" id="file" onchange="FileFormatValidation(this)" accept=".pdf" style="height: 38px;" required /></p>
                    <input type="submit" value="Upload" onclick="ProgressIconFunction('#form1')" />*@
            <div>
                <table style="width:70%;margin-left:15%;margin-right:15%;">
                    <tr>
                        <td>Holiday Name<text style="color:red;"> *</text></td>
                        <td colspan="3"> <input type="text" id="Name" name="Name" style="width:300px" required /></td>

                    </tr>
                    <tr>
                        <td>From Date<text style="color:red;"> *</text></td>
                        <td>
                            <div class="editor-field">
                                <input type="text" id="Frdate" name="Frdate" style="width:100px" readonly required />
                            </div>
                        </td>

                        <td>To Date<text style="color:red;"> *</text></td>
                        <td>
                            <div class="editor-field">
                                <input type="text" id="Todate" name="Todate" style="width:100px" readonly required />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: 100%; text-align: center;">
                <input type="submit" value="Save" onclick="ProgressIconFunction('#form1')" />
            </div>
        }
    </div>
    <br />
    <div>

        <div id="content">
            <table id="table1" style="width:70%;margin-left:15%;margin-right:15%;">
                <thead>
                    <tr>

                        <th style="width:60px;min-width:60px; max-width:60px;">
                            Sl.No
                        </th>
                        <th style="width:350px;min-width:350px; max-width:350px;">
                            Name
                        </th>
                        <th style="width:100px;min-width:100px; max-width:100px;">
                            From Date
                        </th>
                        <th style="width:100px;min-width:100px; max-width:100px;">
                            To Date
                        </th>
                        <th style="width: 100px; min-width: 100px; max-width: 100px;">Edit</th>
                        @if (ViewBag.DeleteFlg != null && ViewBag.DeleteFlg == true)
                        {
                            <th style="width: 100px; min-width: 100px; max-width: 100px;">Delete</th>
                        }
                    </tr>
                </thead>
                <tbody style="display:block">
                    @if (Model != null && Model.Count() > 0)
                    {
                        int sl = 0;
                        foreach (var item in Model)
                        {
                            sl = sl + 1;
                            <tr>
                                <td style="width:60px;min-width:60px; max-width:60px;">@sl</td>
                                <td style="width:350px;min-width:350px; max-width:350px;">@Html.DisplayFor(modelItem => item.Name)</td>

                                <td style="width:100px;min-width:100px; max-width:100px;">
                                    @if (item.Frdate != null && item.Frdate > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @Html.Label(item.Frdate.ToString("dd/MM/yyyy"))
                                    }
                                </td>
                                <td style="width:100px;min-width:100px; max-width:100px;">
                                    @if (item.Todate != null && item.Todate > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @Html.Label(item.Todate.ToString("dd/MM/yyyy"))
                                    }
                                </td>
                                <td style="width:100px; min-width:100px; max-width:100px;word-wrap:break-word">

                                    <a href='@Url.Action("HolidayEdit", "HolidayAdd", new { Id_holiday = item.Id_holiday })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                                        <span class="glyphicon glyphicon glyphicon-edit iocnstatus-edit"></span>
                                    </a>
                                </td>
                                @if (ViewBag.DeleteFlg != null && ViewBag.DeleteFlg == true)
                                {
                                    <td style="width: 100px; min-width: 100px; max-width: 100px;">

                                        @*<a href='@Url.Action("CustomerEnquiryDelete", "CustomerEnquiry", new { enquiry_id = item.Enquiry_id.ToString() })' title="Delete Enquiry" >*@
                                        <img src="@Url.Content("~/Images/delete.png")" title="Delete Chart" onclick="DeleteItems(@item.Id_holiday)" style="cursor:pointer;" />
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12">
                                <div style="text-align: center;">
                                    <h4 style="color: grey;">No data exists</h4>
                                </div>
                            </td>
                        </tr>
                    }

            </table>
        </div>

    </div>
    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

            $(function () {
                
                $("#year").chosen();
                $.validator.setDefaults({ ignore: ":hidden:not('.chosen-select')" });

            $('#Frdate').datepicker({
                dateFormat: "dd/mm/yy",
                buttonImageOnly: true,
                buttonImage: '../Images/Calender.png',
                showOn: 'both',
                changeMonth: true,
                changeYear: true,
            });
            $("#Frdate").datepicker("setDate", new Date());



            $('#Todate').datepicker({
                dateFormat: "dd/mm/yy",
                buttonImageOnly: true,
                buttonImage: '../Images/Calender.png',
                showOn: 'both',
                changeMonth: true,
                changeYear: true,
            });
            $("#Todate").datepicker("setDate", new Date());



        });




            function DeleteItems(Id_holiday) {
            jConfirm('Do you want to delete?', 'Are you Sure?', function (r) {
                if (r == true) {
                    jQuery.ajax({
                        url: '@Url.Action("HolidayDelete", "HolidayAdd")',
                        type: 'POST',
                        dataType: "json",
                        data: { 'Id_holiday': Id_holiday },
                        success: function (result) {
                            var params = {
                                View: 1
                            };

                            //// Add new params to the querystring dictionary
                            queryString = $.param(params);

                            window.location.href =
                                window.location.protocol + "//" +
                                window.location.host +
                                window.location.pathname +
                               '?' + queryString;
                        }
                    });
                    return true;
                }
                else if (r == false) {
                    return false;
                }
            });
        }
            function downloadInnerHtml(filename, elId) {
                var $table = $('#table1');
                $rows = $table.find('tr');

                var csvData = "";

                for (var i = 0; i < $rows.length; i++) {
                    var $cells = $($rows[i]).children('th,td'); //header or content cells

                    for (var y = 0; y < $cells.length; y++) {
                        if (y > 0) {
                            csvData += ",";
                        }

                        var txt = ($($cells[y]).text()).toString().trim();

                        if (txt.indexOf(',') >= 0 || txt.indexOf('\"') >= 0 || txt.indexOf('\n') >= 0) {
                            txt = "\"" + txt.replace(/\"/g, "\"\"") + "\"";
                        }
                        csvData += txt;
                    }
                    csvData += '\n';
                }


                var elHtml = csvData;
                var link = document.createElement('a');
                mimeType = 'application/csv;charset=utf-8';

                link.setAttribute('download', filename);
                link.setAttribute('href', 'data:' + mimeType + ';charset=utf-8,' + encodeURIComponent(elHtml));
                link.click();
            }
            var fileName = 'Holiday.csv'; // You can use the .txt extension if you want

            $('#downloadLink').click(function () {
                downloadInnerHtml(fileName, 'content');
            });

        </script>

    }
