<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to MANAL</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="alert, confirm, prompt, demo" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/ckeditor")*@

    <!-- Choosen Specific -->
    <link href="~/Content/choosen/chosen.min.css" rel="stylesheet" />
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    @*<link href='@Url.Content("~/Content/menu/css/menustyle.css")' rel="stylesheet">
        <link href='@Url.Content("~/Content/css/style.css")' rel="stylesheet">*@


    <!-- news picker -->
    @*<link href='@Url.Content("~/Content/css/c_style.css")' rel="stylesheet">
        <link href='@Url.Content("~/Content/css/ticker-style.css")' rel="stylesheet">*@



    <!-- start: Below lines of code is required for Autocomplete, Spinner and Custom JAlert scripts to work,  -->
    <!-- be cautious before changing-->
    @*<script src='@Url.Content("~/Content/js/jquery.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Content/js/jquery.ui.draggable.js")' type="text/javascript"></script>*@

    <!-- start: Core files for JAlert -->
    @*<script src='@Url.Content("~/Content/js/jquery.alerts.js")' type="text/javascript"></script>
        <link href='@Url.Content("~/Content/css/jquery.alerts.css")' rel="stylesheet" type="text/css" media="screen" />*@
    <!-- JAlert ends -->
    @*<script src='@Url.Content("~/Content/js/jquery-1.11.1.min.js")'></script>

        <script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")'></script>
        <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")'></script>*@

    <!--Order Ends -->
    @*<link href='@Url.Content("~/Content/site.css")' rel="stylesheet">
        <link href='@Url.Content("~/Content/css/bootstrap.min.css")' rel="stylesheet">
        <link type="text/css" rel="stylesheet" href='@Url.Content("~/Content/css/font-awesome.min.css")' />
        <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/css/bootstrap-select.css")'>
        <link rel="stylesheet" href='@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")'>
        <link href='@Url.Content("~/Content/css/dropzone.css")' rel="stylesheet">
        <script type="text/javascript" src='@Url.Content("~/Content/js/jquery.leanModal.min.js")'></script>
        <script type="text/javascript" src='@Url.Content("~/Content/js/jspdf.min.js")'></script>*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/global_assets/css/icons/icomoon/styles.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/bootstrap.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/bootstrap_limitless.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/layout.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/components.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/colors.min.css")' rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/assets/css/custom.css")' rel="stylesheet" type="text/css">


</head>
<body>
    <header class=" ">
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>