@model ISOStd.Models.AccidentReportModels
@{
    ViewBag.Title = "AccidentReportDetails";
    ISOStd.Models.clsGlobal Obj = new ISOStd.Models.clsGlobal();
    ISOStd.Models.AccidentReportModelsList objAccTypeList = new ISOStd.Models.AccidentReportModelsList();
    ISOStd.Models.AccidentReportModelsList objReporterList = new ISOStd.Models.AccidentReportModelsList();

    if (ViewBag.objAccTypeList != null)
    {
        objAccTypeList = ViewBag.objAccTypeList;
    }
    if (ViewBag.objReporterList != null)
    {
        objReporterList = ViewBag.objReporterList;
    }
}

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item"> Home</span>
                    </a>
                    <a href="@Url.Action("AccidentList", "AccidentReport", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Incident Report</span>
                    </a>
                    <span class="breadcrumb-item active">Incident Report Details</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                   
                    @using (Html.BeginForm("AccidentReportDetails", "AccidentReport", FormMethod.Post, new { id = "form1", name = "form1" }))
                    {
                    @Html.AntiForgeryToken()
                    <div class="breadcrumb-elements-item dropdown p-0">
                        <input type="hidden" id="id_accident_rept" name="id_accident_rept" value="@Model.id_accident_rept" />

                        <button type="submit" class="dropdown-item">
                            <i class="icon-printer2"></i> Report
                        </button>

                    </div>
                    }

                    @*<div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header header-elements-inline bg-primary">
        <h5 class="card-title">
            Incident Report Details
        </h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div>
        <div class="card-header bg-white header-elements-sm-inline">
            <div class="header-elements">
                    <a class="btn bg-orange btn-labeled btn-labeled-left" data-style="radius" href='@Url.Action("AccidentReportEdit", "AccidentReport", new { id_accident_rept = Model.id_accident_rept.ToString()  })' title="Edit" onclick="HyperLinkProgressIconFunction()">
                        <b>  <i class="icon-add-to-list"></i></b> Edit
                    </a>                
                @Html.ActionLink("Back to List", "AccidentList", null, new { @class = "btn btn-outline bg-orange text-orange border-orange ml-3", onclick = "HyperLinkProgressIconFunction()" })
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="container-fluid">
            <table class="table table-dark table-bordered table-striped table-hover bg-blue-800">
                <thead></thead>
                <tbody>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.branch)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.branch)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Department)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Department)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.report_no)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.report_no)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.invest_reportno)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.invest_reportno)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.acc_date)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.acc_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Model.acc_date.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </p>

                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.reported_date)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">

                                @if (Model.reported_date > Convert.ToDateTime("01/01/0001"))
                                {
                                    @Model.reported_date.ToString("dd/MM/yyyy")
                                }
                            </p>

                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.reported_by)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.reported_by)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.location)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.location)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.details)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.details)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.damage)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.damage)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.invest_need)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.invest_need)
                            </p>
                        </td>
                        @if (Model.invest_need == "Yes")
                        {
                            <td class="col-xs-3 col-md-3">
                                <p class="bg-brown py-1 px-2 rounded">
                                    @Html.DisplayNameFor(model => model.justify)
                                </p>
                            </td>
                            <td class="col">
                                <p class="bg-dark py-1 px-2 rounded">
                                    @Html.DisplayFor(model => model.justify)
                                </p>
                            </td>
                        }
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.upload)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @if (Model.upload != null && Model.upload != "")
                                {
                                    <a href='@Url.Action("DisplayDocument", "Reports", new { Document = Model.upload })' target="_blank" style="color: orange;">
                                        Preview
                                    </a>
                                }
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.accident_place)
                            </p>
                        </td>
                        <td class="col">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.accident_place)
                            </p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Incident_Type)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Incident_Type)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-brown py-1 px-2 rounded">
                                @Html.DisplayNameFor(model => model.Actions_Taken)
                            </p>
                        </td>
                        <td class="col-xs-3 col-md-3">
                            <p class="bg-dark py-1 px-2 rounded">
                                @Html.DisplayFor(model => model.Actions_Taken)
                            </p>
                        </td>
                    </tr>


</table>

            @if (objAccTypeList.AccidentList != null && objAccTypeList.AccidentList.Count > 0)
            {
                <h2 class="bg-dark pl-sm-2">  Accident Details</h2>
                <div class="table-responsive">
                    <table class="table-sm table-dark table-bordered table-striped table-hover bg-orange-800">

                        <thead>
                            <tr class="bg-brown">
                                <th>Accident Type</th>
                                <th>Number of Person</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int index = 0; index < objAccTypeList.AccidentList.Count; index++)
                            {
                                <tr>
                                    <td>@objAccTypeList.AccidentList[index].injury_type</td>
                                    <td>@objAccTypeList.AccidentList[index].no_person</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }

            @if (objReporterList.AccidentList != null && objReporterList.AccidentList.Count > 0)
            {
                <h2 class="bg-dark pl-sm-2">  Accident Report Details</h2>
                <div class="table-responsive">
                    <table class="table-sm table-dark table-bordered table-striped table-hover bg-orange-800">

                        <thead>
                            <tr class="bg-brown">
                                <th>Reported To</th>
                                <th>Reported Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int index = 0; index < objReporterList.AccidentList.Count; index++)
                            {
                            <tr>
                                <td>@objReporterList.AccidentList[index].reported_to</td>
                                <td>
                                    @if (objReporterList.AccidentList[index].reportedon_date > Convert.ToDateTime("01/01/0001"))
                                    {
                                        @objReporterList.AccidentList[index].reportedon_date.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                               </td>
                              <td>@objReporterList.AccidentList[index].comments</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">            


     $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
        @:     text: '@TempData["alertdata"]',
        @:     type: 'error'
        @: }).show();
    }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
        @:       text: '@TempData["Successdata"]',
        @:       type: 'success'
        @:   }).show();
    }
        });

    </script>
}


