@model ISOStd.Models.EmployeeModels
@{
    ViewBag.Title = "ResetPassword";
}

@section featured {
    <div class="page-header page-header-light">

        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">MSME - Management System Made Easy</span></h4>

            </div>
        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">

                    <a href="@Url.Action("Index", "Home", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">Home</span>
                    </a>
                    <a href="@Url.Action("EmployeeList", "Employee", null)" class="breadcrumb-item">
                        <span class="breadcrumb-item">User List</span>
                    </a>
                    <span class="breadcrumb-item active">Reset Password</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            @*<div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                    <div class="breadcrumb-elements-item dropdown p-0">
                        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gear mr-2"></i>
                            Settings
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i>All settings</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div class="card">
        <div class="card-header header-elements-inline bg-primary">
            <h5 class="card-title">Reset Password</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            
                <div class="container-fluid">
                    <input type="hidden" name="EmpID" id="EmpID" value="@ViewBag.EmpID" />
                    <table class="table table-dark table-bordered table-striped table-hover bg-blue-800" style="width:50%;">
                        <tr class="row">
                            <td class="col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Pwd)
                                </div>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <input type="text" class="form-control" id="Pwd" name="Pwd" required />
                                    @Html.ValidationMessageFor(model => model.Pwd)
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col">
                                <p class="editor-label">
                                    @Html.LabelFor(model => model.ConfirmPwd)
                                </p>
                            </td>
                            <td class="col">
                                <div class="editor-field">
                                    <input type="text" class="form-control" id="ConfirmPwd" name="ConfirmPwd" required />
                                    @Html.ValidationMessageFor(model => model.ConfirmPwd)
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
         
            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                @Html.ActionLink("Back to List", "EmployeeList", null, new { @class = "btn btn-outline bg-indigo-400 text-indigo-400 border-indigo-400", onclick = "HyperLinkProgressIconFunction()" })

                <button type="submit" value="Set" class="btn bg-indigo-400" onclick="ProgressIconFunction('#form1')"><i class="icon-checkmark3 mr-2"></i> Submit</button>
            </div>
        </div>
}
@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Set Password Form</legend>
            <input type="hidden" name="EmpID" id="EmpID" value="@ViewBag.EmpID" />
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Pwd)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Pwd)
                            @Html.ValidationMessageFor(model => model.Pwd)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmPwd)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ConfirmPwd)
                            @Html.ValidationMessageFor(model => model.ConfirmPwd)
                        </div>
                    </td>
                </tr>
            </table>
            <div style="width: 100%; text-align: center;">
                @Html.ActionLink("Back to List", "EmployeeList")
                <input type="submit" value="Set" />
            </div>
        </fieldset>
    }*@


@section scripts {
    <script>
        //----zzz


        $(document).ready(function () {

    @if (TempData["alertdata"] != null)
    {

        @: new Noty({
                                                @:     text: '@TempData["alertdata"]',
                                                @:     type: 'error'
                                                @: }).show();
                                                                                             }

    @if (@TempData["Successdata"] != null)
    {

        @:    new Noty({
                                                @:       text: '@TempData["Successdata"]',
                                                @:       type: 'success'
                @:}).show();
                                                        }
                });

    </script>


}