@model ISOStd.Models.EmmetModels
@using System.Data

@{
    ViewBag.Title = "";
    int icnts = 0;
    DataSet dsStock = new DataSet();
    ISOStd.Models.clsGlobal obj = new ISOStd.Models.clsGlobal();
    if (ViewBag.dsStock != null)
    {
        dsStock = ViewBag.dsStock;
    }
    
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Issue Chemicals/Paints</span>
</div>
<div id="divmsg">
    @if (TempData["alertdata"] != null)
    {
        <span class="errMsg" style="color: red; font-weight: bold;">@TempData["alertdata"]</span>
    }
    @if (TempData["Successdata"] != null)
    {
        <span class="errMsg" style="color: green; font-weight: bold;">@TempData["Successdata"]</span>
    }
</div>

<div>
       @using (Html.BeginForm("ChemicalIssue", "Emmet", FormMethod.Post,
    new { enctype = "multipart/form-data", id = "form2", name = "form2" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div >
           
            <table id="tabcontent">
                
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.added_date)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="text" id="issue_date" name="issue_date" style="width: 150px;" required />
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.jobno)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="text" id="jobno" name="jobno"  required />
                        </div>
                    </td>
                 
                </tr>
                <tr>
                     <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.po)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="text" id="po" name="po" />
                        </div>
                    </td>
                </tr>
             
            </table>
        </div>
        <div>
            <table style=" width: 100%;">

                <tr style="background-color: #4cc4dd; color: #fff;">
                    <th colspan="8" style="font-size: 14px; font-weight: bold;">issue Stock</th>
                </tr>
                <tr style="background-color: #4cc4dd; color: #fff;">
                       <th style="font-size: 14px; font-weight: bold;">Employee</th>
                    <th style="font-size: 14px; font-weight: bold;">Category</th>
                    <th style="font-size: 14px; font-weight: bold;">Material</th>
                    <th style="font-size: 14px; font-weight: bold;">Expiry Date</th>
                    <th style="font-size: 14px; font-weight: bold;">Qty</th>
                    <th style="font-size: 14px; font-weight: bold;">Issue Qty</th>
                    <th colspan="2" style="font-weight: bold;">Action</th>
                </tr>
                <tr>
                          <td>
                       <select class="chosen-select" id="empid" name="empid">
                            <option value='' hidden>Select</option>
                            @if (ViewBag.Emplist != null)
                            {
                                foreach (var item in ViewBag.Emplist)
                                {
                                <option value='@item.Value'>@item.Text</option>
                                }
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.empid)
                        <span class="field-validation-error"><span id="empid-message" style="display: none;">Please Enter</span></span>
                    </td>
                      <td>
                           <select class="chosen-select" id="category" name="category" onchange="GetMaterialList()">
                            <option value='' hidden>Select</option>
                            @if (ViewBag.category != null)
                            {
                                foreach (var item in ViewBag.category)
                                {
                                <option value='@item.Value'>@item.Text</option>
                                }
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.category)
                        <span class="field-validation-error"><span id="category-message" style="display: none;">Please Enter</span></span>
                    </td>
                    <td>
                        <select class="chosen-select" id="material" name="material" onchange="getDate()">
                            <option value='' hidden>Select</option>                         
                        </select>
                        @Html.ValidationMessageFor(model => model.material)
                        <span class="field-validation-error"><span id="material-message" style="display: none;">Please Enter</span></span>
                    </td>
                    <td>
                       <select class="chosen-select" id="expiry_date" name="expiry_date" onchange="getQty()">
                            <option value='' hidden>Select</option>
                         
                        </select>
                        @Html.ValidationMessageFor(model => model.expiry_date)
                        <span class="field-validation-error"><span id="expiry_date-message" style="display: none;">Please Enter</span></span>
                    </td>
                    <td>
                        <input type="number" id="qty" name="qty" readonly />
                     
                    </td>
                    <td>
                        <input type="number" id="issue_qty" name="issue_qty" min="1" onchange="CheckQty()" />
                        @Html.ValidationMessageFor(model => model.issue_qty)
                        <span class="field-validation-error"><span id="issue_qty-message" style="display: none;">Please Enter</span></span>
                    </td>
                  
                    <td colspan="2">
                        <img src='@Url.Content("~/images/icon_add.png")' onclick='AddData()' style='cursor:pointer; padding-right: 5px;' />Add
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <p style="font-size: 11px; margin: 0px; text-align: center;">Please click Plus button</p>
                    </td>
                </tr>
            </table>

        </div>


        <div style=" width: 100%; text-align: center;">
           @* @Html.ActionLink("Back to List", "RoundbarIssueList", null, new { Class = "ActionLink", onclick = "HyperLinkProgressIconFunction()" })*@
            <input type="submit" id="btnCreate" style="display: none;" value="submit" onclick="ProgressIconFunction('#form2')" />
        </div>

        <br />
        <br />
        
        
        <div id="Welfare">
            <input type="hidden" id="itemcnts" name="itemcnts" value="@icnts" />

            <table id="team-list1">
                <tr>
                    <th colspan="8" style="background-color: #4cc4dd; color: white">List
                    </th>
                </tr>
                <tr>
                    <th style="width: 50px; min-width: 50px; max-width: 50px;">Delete</th>
                      <th style="width: 200px; min-width: 200px; max-width: 200px;">Employee</th>
                     <th style="width: 200px; min-width: 200px; max-width: 200px;">Category</th>
                    <th style="width: 200px; min-width: 200px; max-width: 200px;">Material</th>
                    <th style="width: 200px; min-width: 200px; max-width: 200px;">Expiry Date</th>
                    <th style="width: 200px; min-width: 200px; max-width: 200px;">Qty</th>
                    <th style="width: 200px; min-width: 200px; max-width: 200px;">Issue Qty</th>
                   
                </tr>
            </table>
        </div>
      
    }
</div>
      @section Scripts {
     <script>
         $(function () {

             $("#material").chosen();
             $("#empid").chosen();
             $("#expiry_date").chosen();
             $("#category").chosen();
            
             $.validator.setDefaults({ ignore: ":hidden:not('.chosen-select')" });

             $('#issue_date').datepicker({
                 dateFormat: "dd/mm/yy",
                 buttonImageOnly: true,
                 buttonImage: '../Images/Calender.png',
                 showOn: 'both',
                 changeMonth: true,
                 changeYear: true,
             });

             $("#issue_date").datepicker("setDate", new Date());

             $('#issue_qty').on('change keyup', function () {
                 var sanitized = $(this).val().replace(/[^0-9]/g, '');
                 $(this).val(sanitized);
             });
         });
       
         function deleteCoseRow(btn, material, issue_qty, expiry_dateText) {
             var row = btn.parentNode.parentNode;
             row.parentNode.removeChild(row);
             updateQty(material, issue_qty, expiry_dateText);
             ResetControl();
         }
         function GetMaterialList() {
             document.getElementById("issue_qty").value = "";
             var category = $('#category').chosen().val();
             jQuery.ajax({
                 url: '@Url.Action("FunGetMaterialList", "Emmet")',
                type: 'POST',
                dataType: "json",
                data: { 'category': category },
                success: function (result) {

                    if (result != null && result.length > 0) {


                        $('#material').children('option').remove();
                        $("#material").trigger("chosen:updated");

                        $.each(result, function (index, item) {

                            $("#material").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            $("#material").trigger("chosen:updated");

                        });
                        $('#material').trigger('change');
                        return;
                    }
                    else {
                        jAlert("No Material exists.");
                        $('#material').children('option').remove();
                        $("#material").trigger("chosen:updated");
                        return;
                    }
                }
            });
        }
         function Validation() {
             var validflg = true;
             var ssnMessage = "";

             if (document.getElementById("empid").value == "") {
                 ssnMessage = $('#empid-message');
                 ssnMessage.show();
                 validflg = false;
             }
             else {
                 ssnMessage = $('#empid-message');
                 ssnMessage.hide();
             }

             if (document.getElementById("category").value == "") {
                 ssnMessage = $('#category-message');
                 ssnMessage.show();
                 validflg = false;
             }
             else {
                 ssnMessage = $('#category-message');
                 ssnMessage.hide();
             }

             if (document.getElementById("material").value == "") {
                 ssnMessage = $('#material-message');
                 ssnMessage.show();
                 validflg = false;
             }
             else {
                 ssnMessage = $('#material-message');
                 ssnMessage.hide();
             }

             if (document.getElementById("expiry_date").value == "") {
                 ssnMessage = $('#expiry_date-message');
                 ssnMessage.show();
                 validflg = false;
             }
             else {
                 ssnMessage = $('#expiry_date-message');
                 ssnMessage.hide();
             }

             if (document.getElementById("issue_qty").value == "") {
                 ssnMessage = $('#issue_qty-message');
                 ssnMessage.show();
                 validflg = false;
             }
             else {
                 ssnMessage = $('#issue_qty-message');
                 ssnMessage.hide();
             }

             
             return validflg;
         }


         function AddData() {

             if (Validation() == true) {

                 document.getElementById("Welfare").style.display = "";
                 var cnt = document.getElementById("itemcnts").value;

                 document.getElementById("itemcnts").value = cnt;
                 // Find a <table> element with id="myTable":
                 var table = document.getElementById("team-list1");

                 // Create an empty <tr> element and add it to the 1st position of the table:
                 var row = table.insertRow();

                 // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                 var cell0 = row.insertCell(0);
                 var cell1 = row.insertCell(1);
                 var cell2 = row.insertCell(2);
                 var cell3 = row.insertCell(3);
                 var cell4 = row.insertCell(4);
                 var cell5 = row.insertCell(5);
                 var cell6 = row.insertCell(6);
              

                 cell0.style = "width: 50px; min-width: 50px; max-width: 50px;";
                 cell1.style = "width: 200px; min-width: 200px; max-width: 200px;word-wrap:break-word";
                 cell2.style = "width: 200px; min-width: 200px; max-width: 200px;word-wrap:break-word";
                 cell3.style = "width: 200px; min-width: 200px; max-width: 200px;word-wrap:break-word";
                 cell4.style = "width: 200px; min-width: 200px; max-width: 200px;word-wrap:break-word";
                 cell5.style = "width: 200px; min-width: 200px; max-width: 200px;word-wrap:break-word";
                 cell6.style = "width: 200px; min-width: 200px; max-width: 200px;word-wrap:break-word";
                
                 document.getElementById("btnCreate").style.display = "";
                
                 var qty = $('#qty').val();
                 var issue_qty = $('#issue_qty').val();
              
                 var empid = [];
                 var empidText = $.map($("#empid option:selected"), function (el, i) {
                     return $(el).text();
                 });
                 var empidVal = $('#empid').val();

                 var category = [];
                 var categoryText = $.map($("#category option:selected"), function (el, i) {
                     return $(el).text();
                 });
                 var categoryVal = $('#category').val();

                 var material = [];
                 var materialText = $.map($("#material option:selected"), function (el, i) {
                     return $(el).text();
                 });
                 var materialVal = $('#material').val();


                 var expiry_date = [];
                 var expiry_dateText = $.map($("#expiry_date option:selected"), function (el, i) {
                     return $(el).text();
                 });
                 var expiry_dateVal = $('#expiry_date').val();

                 cell0.innerHTML = " <img src='@Url.Content("~/images/cancel.png")' onclick='deleteCoseRow(this," + materialVal + "," + issue_qty + "," + expiry_dateVal + ")' style='cursor:pointer; padding-right: 5px;'/><input type='hidden' id='id_stock" + cnt + "' name='id_stock" + cnt + "' value='" + expiry_dateVal + "'>";
                 cell1.innerHTML = "<input type='hidden' id='empid" + cnt + "' name='empid" + cnt + "' value='" + empidVal + "'>" + empidText;
                 cell2.innerHTML = "<input type='hidden' id='category" + cnt + "' name='category" + cnt + "' value='" + categoryVal + "'>" + categoryText;
                 cell3.innerHTML = "<input type='hidden' id='material" + cnt + "' name='material" + cnt + "' value='" + materialVal + "'>" + materialText;
                 cell4.innerHTML = "<input type='hidden' id='expiry_date" + cnt + "' name='expiry_date" + cnt + "' value='" + expiry_dateText + "'>" + expiry_dateText;
                 cell5.innerHTML = "<input type='hidden' id='qty" + cnt + "' name='qty" + cnt + "' value='" + qty + "'>" + qty;
                 cell6.innerHTML = "<input type='hidden' id='issue_qty" + cnt + "' name='issue_qty" + cnt + "' value='" + issue_qty + "'>" + issue_qty;


                cnt++;
                document.getElementById("itemcnts").value = cnt;
             
                setQty(materialVal,expiry_dateText, issue_qty);
                ResetControl();
            }

        }

        function ResetControl() {
            document.getElementById("qty").value = "";
            document.getElementById("issue_qty").value = "";
            $("#empid").val('').trigger("chosen:updated");
            $("#expiry_date").val('').trigger("chosen:updated");
            $("#category").val('').trigger("chosen:updated");
            $("#material").val('').trigger("chosen:updated");
            $('#material').children('option').remove();
            $("#material").trigger("chosen:updated");
            $('#expiry_date').children('option').remove();
            $("#expiry_date").trigger("chosen:updated");
        }
        function getQty() {
            document.getElementById("issue_qty").value = "";
            document.getElementById("qty").value = "";
            var expiry_date = $('#expiry_date').chosen().val();
            jQuery.ajax({
                url: '@Url.Action("FunGetStockQtyByExpiryDate", "Emmet")',
                type: 'POST',
                dataType: "json",
                data: { 'id_stock': expiry_date },
                success: function (result) {
                  
                    document.getElementById("qty").value = result;

                }
            });
        }
         function getDate() {
             document.getElementById("issue_qty").value = "";
             document.getElementById("qty").value = "";
             var material = $('#material').chosen().val();
             jQuery.ajax({
                 url: '@Url.Action("FunGetMaterialExpiryDateList", "Emmet")',
                type: 'POST',
                dataType: "json",
                data: { 'material': material },
                success: function (result) {
                    if (result != null && result.length > 0) {


                        $('#expiry_date').children('option').remove();
                        $("#expiry_date").trigger("chosen:updated");

                        $.each(result, function (index, item) {

                            $("#expiry_date").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            $("#expiry_date").trigger("chosen:updated");

                        });
                        $('#expiry_date').trigger('change');
                        return;
                    }
                    else {
                        $('#expiry_date').children('option').remove();
                        $("#expiry_date").trigger("chosen:updated");
                    }
                }
            });
         }
         function CheckQty() {
             var expiry_date = $('#expiry_date').chosen().val();
             if (expiry_date != '') {
                 var qty = document.getElementById("qty").value;
                 var issue_qty = document.getElementById("issue_qty").value;
                 if (parseFloat(issue_qty) > parseFloat(qty)) {
                     jAlert("Issued Qty is greater than stock");
                     document.getElementById("issue_qty").value = "";
                 }
                 if (parseFloat(issue_qty) <= 0) {
                     jAlert("Issued Qty should be greater than zero");
                     document.getElementById("issue_qty").value = "";
                 }
             }
             else {
                 jAlert("Select Date");
                 document.getElementById("issue_qty").value = "";
             }

            
         }
        
         function setQty(material,expiry_dateText, issue_qty) {

             jQuery.ajax({
                 url: '@Url.Action("FunSetChemicalQty", "Emmet")',
                type: 'POST',
                dataType: "json",
                data: { 'material': material, 'expiry_date': expiry_dateText, 'issue_qty': issue_qty },
                success: function (result) {

                }
            });
         }
         function updateQty(material, issue_qty, expiry_dateText) {

             jQuery.ajax({
                 url: '@Url.Action("FunUpdateChemicalQty", "Emmet")',
                type: 'POST',
                dataType: "json",
                data: { 'material': material, 'expiry_date': expiry_dateText, 'issue_qty': issue_qty },
                success: function (result) {


                }
            });
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}